﻿@model VnEduPlus.DM_NhanXetMau_CuoiKyNam

<form id="formAdd">
   @* <div style="float:left; width:150px">Mã nhận xét</div>
    <div style="float:right; width:320px"><input type="text" style="border:1px dashed black; text-align:left;" name="MaNhanXet" id="MaNhanXet" value="" /><a style="color:red">(*)</a></div>*@
    <div style="float: left; width: 150px; margin-top:5px">Câu nhận xét mẫu</div>
    <div style="float: right; width: 320px; margin-top: 5px"><input type="text" style="border:1px dashed black; text-align:left;" name="TenNhanXet" id="TenNhanXet" value="" /><a style="color:red">(*)</a></div>
    <div style="float:left; width:150px; margin-top:5px">Mặc định</div>
    <div style="float: right; width: 320px; margin-top: 5px"><input type="checkbox" name="isDefault" id="isDefault" value="0" /></div>

</form>