﻿@model VnEduPlus.DM_NhanXetMau_GVCN

<form id="formAdd">
   
    <div style="float: left; width: 200px; margin-top:5px">Câu nhận xét mẫu</div>
    <div style="float: right; width: 460px; margin-top: 5px">
    <input type="text" style="border:1px dashed black; text-align:left;width: 430px;" name="TenNhanXet" id="TenNhanXet" value="" /><a style="color:red">(*)</a></div>
    <input type="checkbox" style="display:none;" name="isDefault" id="isDefault" value="0" />
</form>