﻿@model VnEduPlus.DM_NhanXetMau_CuoiKyNam

@{
    if(Model!=null)
    {
        string check="";
        if (Model.isDefault) { check = "checked"; }
        string idNhanXet="id_"+Model.MaNhanXet.Trim();
        string tenNhanXet = "ten_" + Model.MaNhanXet;
        string isdefault = "isdefault_" + Model.MaNhanXet;
        <form id="formEdit">
            @*<div style="float:left; width:150px">Mã Nhận Xét</div>*@
            <div style="float:right; display:none; width:320px"><input type="text" style="border:1px dashed black; text-align:left;" readonly="readonly" name="maNhanXet" id="@idNhanXet" value="@Model.MaNhanXet" /><a style="color:red">(*)</a></div>
            <div style="float: left; width: 150px; margin-top:5px">Câu nhận xét mẫu</div>
            <div style="float: right; width: 320px; margin-top: 5px"><input type="text" style="border:1px dashed black; text-align:left;" name="tenNhanXet" id="@tenNhanXet" value="@Model.TenNhanXet" /><a style="color:red">(*)</a></div>
            <div style="float:left; width:150px; margin-top:5px">Mặc định</div>
            <div style="float: right; width: 320px; margin-top: 5px"><input type="checkbox" name="isDefault" id="@isdefault" @check value="0"/></div>
    
        </form>
    }
}
