﻿@model IList<VnEduPlus.DM_NhanXetMau_GVCN>
@{
    ViewBag.Title = "Mâu Nhận xet chủ nhiệm";
}

 <style type="text/css">
        .transItems
        {
            border: 0;
            background: transparent;
            width:28px;
        }
        .row
        {
            background-color:#eee;
        }
        .altrow
        {
            background-color:#fff;
        }
        
       .selected {
        background:#FECBE0;
         }

        .ui-dialog-titlebar-close {
            background: url("../../css/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            border: medium none;
        }

            .ui-dialog-titlebar-close:hover {
                background: url("../../css/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            }
    </style>
    
 
    <script type="text/javascript">
        $(document).ready(function () {
            
            $('.close').click(function() {
             var maKhoi = $('#makhoi').val(),
                 type =$('#danhMucTieuChi').val(),
                 thang =$('#thang').val(),
                 idTruong = $('#idtruong').val();
                // alert(maKhoi);

                  $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("hienDanhSachNhanXet", "GiaoVienChuNhiem")',
                data: { idTruong: idTruong, type: type, thang: thang},
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },
                
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });

                 debugger;
            });
         
             $('#thuvienmau').click(function () {
                var loaiMauCau = $('#danhMucTieuChi').val(),
                    thang = $('#thang').val(),
                    maKhoi =$('#makhoi').val();
                 debugger;
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("danhSachThuVienMauCau", "GiaoVienChuNhiem")',
                    data: {maKhoi: maKhoi, loaiNX: loaiMauCau, thang: thang},
                    success: function (data) {
                        $("#danhSachMauCauNX").empty();
                        $("#danhSachMauCauNX").html(data);
                        $('#danhSachMauNX').dataTable({
                            "sPaginationType": "full_numbers",
                            "bPaginate": true,
                            "bSort": false,
                            "bSortable": false,
                            "bFilter": false,
                            "bSearchable": false,
                            "bInfo": false,
                        });
                                 
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });
            });

            $('#addNew').click(function () { 

                $("#TieuChiForm").dialog({
                    autoOpen: true,
                    position: { my: "center", at: "top+350", of: window },
                    width: 500,
                    resizable: false,
                    title: 'Thêm câu nhận xét mẫu',
                    modal: true,
                    open: function () {
                        $(this).load('@Url.Action("AddNhanXet", "GiaoVienChuNhiem")');
                    },
                    buttons: {
                        "Thêm mới": function () {
                            addTieuChiInfo();
                            $("#TieuChiForm").dialog("close");

                        }

                    }
                });

                return false;

            });


            // procesing action for editing button

            $('.btn.btn-warning').click(function () {
                var maNhanXet = $(this).attr("id").trim();
                var thang = $('#thang').val();
                var loaiNX = $('#danhMucTieuChi').val();
                var idTruong = $('#idtruong').val();

                $("#TieuChiForm").load('@Url.Action("EditNhanXet", "GiaoVienChuNhiem")?loaiNhanXet=' + loaiNX + '&manx=' + maNhanXet + '&thang=' + thang + '&idTruong=' + idTruong).dialog({
                    autoOpen: true,
                    position: { my: "center", at: "top+350", of: window },
                    width: 500,
                    resizable: false,
                    title: 'Cập nhật câu nhận xét mẫu',
                    modal: true,
                    open: function () {

                    },
                    buttons: {
                        "Cập nhật": function () {
                            updateTieuChiInfo(loaiNX, maNhanXet, idTruong, thang);
                            $("#TieuChiForm").dialog("close");
                        }
                    }
                });
                
                return false;
            })


        });          // end document.ready


        function updateTieuChiInfo(type, maNhanXet, idTruong, thang) {
       
            var tenNhanXet = $('#ten_' + maNhanXet).val();
            var isDefault = false;
            if ($('#isdefault_' + maNhanXet).is(":checked")) {
                isDefault = true;
            }
             
            $.ajax({
                url: '@Url.Action("UpdateNhanXet", "GiaoVienChuNhiem")',
                dataType: 'json',
                type: 'GET',
                //data: $("#formAdd").serialize(),
                data: { type: type, maNhanXet: maNhanXet, tenNhanXet: tenNhanXet, isdefault: isDefault, thang: thang, idtruong: idTruong },
                success: function (data) {
                    if (data) {

                        if (data == "OK") {
                            alert("Cập nhật nhận xét thành công!");
                            $('#TieuChiForm').dialog("close");
                            $('#TieuChiForm').dialog('destroy').remove();                                                      
                            hienDanhSachNhanXet(idTruong, thang, type);
                            
                        }
                        else {
                            alert(data);
                        }
                    }
                }
            });

        }

        function addTieuChiInfo() {

            var idTruong = $('#idtruong').val();
            var tenNhanXet = $('#TenNhanXet').val();
            var maNhanXet = $('#MaNhanXet').val();
            var type = $('#danhMucTieuChi').val();
            var isDefault = false;
            if ($('#isDefault').is(":checked")) {
                isDefault = true;
            }

            var thang = $('#thang').val();
            if (tenNhanXet.trim().length > 0) {

                $.ajax({
                    url: '@Url.Action("ThemMoiNhanXet", "GiaoVienChuNhiem")',
                    dataType: 'json',
                    type: 'GET',
                    data: { type: type, maNhanXet: maNhanXet, tenNhanXet: tenNhanXet, isdefault: isDefault, thang: thang, idtruong: idTruong },
                    success: function (data) {
                        if (data) {

                            if (data == "OK") {
                                alert("Thêm mới tiêu chí thành công!");
                                $('#TieuChiForm').dialog("close");
                                $('#TieuChiForm').dialog('destroy').remove();
                                hienDanhSachNhanXet(idTruong, thang, type);
                            }
                            else {
                                alert(data);
                            }
                        }
                    }
                });
            }

        }


        function hienDanhSachNhanXet(idTruong, thang, type) {
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("hienDanhSachNhanXet", "GiaoVienChuNhiem")',
                data: { idTruong: idTruong, type: type, thang: thang },
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

//-------------------------------- Delete--------------------------------------------------------

        $('.btn.btn-danger').click(function () {
            if (confirm('Bạn có chắc chắn muốn xóa bản ghi đã chọn hay không?')) {
                var thang = $('#thang').val();
                var maNhanXet = $(this).attr("id");
                var idTruong = $('#idtruong').val();
                var type = $('#danhMucTieuChi').val();

                $.ajax({
                    url: '@Url.Action("DeleteNhanXet", "GiaoVienChuNhiem")',
                    dataType: 'json',
                    type: 'GET',
                    data: { type: type, maNhanXet: maNhanXet, thang: thang, idtruong: idTruong },
                    success: function (data) {
                        if (data) {

                            if (data == "OK") {
                                alert("Đã xóa tiêu chí tiêu chí thành công!");

                                hienDanhSachNhanXet(idTruong, thang, type);
                            }
                            else {
                                alert(data);
                            }
                        }
                    }
                });
            }
        })


    </script>
     
 <div class="container" style="margin-top: 150px;">
   
 
 <button type="button" id="addNew" class="btn btn-primary btn-sm" data-toggle="modal">Thêm câu nhận xét</button>
 <button type="button" id="thuvienmau" class="btn btn-primary btn-sm" data-toggle="modal" data-value="" data-target="#thuVienMauCauNhanXet" >Chọn từ mẫu nhận xét</button>
  
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 5%; text-align: center;">#</th>      
        <th style="width: 70%;">Nội dung</th>      
        <th style="width: 15%; text-align: center;">Chức năng</th>
      </tr>
    </thead>
    <tbody>
     @{
        
         for (int i = 0; i < Model.Count(); i++)
         {
             string maNhanXet = Model[i].MaNhanXet;            
             
            <tr>
            <td style="text-align: center;">@(i + 1)</td>        
            <td>@Model[i].TenNhanXet</td>       
            <td style="text-align: center;"><button type="button" class="btn btn-warning btn-sm" id="@maNhanXet">Sửa chữa</button>
            <button type="button" class="btn btn-danger btn-sm" id="@maNhanXet">Xóa</button></td>
            </tr>
         }
         
      }
      
    </tbody>
  </table>

  
 <!-- Modal -->
  <div id="TieuChiForm" style="display:none">
  </div>

    <div id="formMau" style="display:none">
  </div>
 
</div> 
 
  <!---modal phản hồi của phụ huynh học sinh-->

 <div class="modal fade modalCenter" id="thuVienMauCauNhanXet" role="dialog">
    <div class="modal-dialog" style="width:95%">
      <!-- Modal content-->
      <div class="modal-content" style="background: #e5e5e5;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>     
        <div class="row">
        <div class="col-sm-12" style="width:100%" id="danhSachMauCauNX"></div>
        </div>
      </div>
     </div>
 </div>
