﻿@model List<VnEduPlus.ThuVien_NhanXetMauGVCN>

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <!-- import css bootstrap css and js ( bat buoc phai co)-->
 <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
 <link href="@Url.Content("~/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="@Url.Content("~/css/common.css")">

  
</head>
  <div class="container" id="content_">  
    <table id="ketQuaTimKiemMauNX" class="table table-striped table-bordered" style="table-layout: auto;" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="width: 4%;">STT</th>                             
                <th style="width: 96%;">Nội dung nhận xét</th>             
            </tr>
        </thead>
        <tbody>
            @{
                 for (int i = 0; i < Model.Count(); i++)
                 {
                    
                     string STT = (i+1).ToString();
                    string noiDungNX = Model[i].Noidung;
                     <tr>
                        <td align="center">@STT</td> 
                        <td>@noiDungNX</td>
                        
                    </tr> 
                }
            }
        </tbody>
    </table>
    </div>

 