﻿@model VnEduPlus.Models.MauCauNhanXet
@{
    ViewBag.Title = "Mâu câu Nhận xet tháng chủ nhiệm";
}
 
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <!-- import css bootstrap css and js ( bat buoc phai co)-->
 <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
 <link href="@Url.Content("~/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="@Url.Content("~/css/giaovienchunhiemnhanxet.css")">
 <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
 <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
</head>


    <script type="text/javascript">
        $(document).ready(function () {

            $('#malop, #thang').change(function () {
                var $thang = $('#thang').val();
                var lopHoc = $('#malop').val();
             
                if (validator($thang) && validator(lopHoc)) {
                    showDanhSachNhanXet($thang, lopHoc);
                }
            });


        });                                               // end document.ready 


        function showDanhSachNhanXet(thang, lopHoc) {
            var idTruong = $('#idtruong').val();
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("hienDanhSachNhanXetSoChuNhiem", "GiaoVienChuNhiemVaLopHoc")',
                data: { idTruong: idTruong, thang: thang, maLop: lopHoc },
                success: function (data) {
                    $("#content").empty();
                    $("#content").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

        function validator(value) {
            if (value == '-1') {
                // alert(element + ' phải có được lựa chọn');
                return false;
            } else return true;

        }        

    </script>
    
    <table class="sochunhiem">
    
      <tbody>

           <tr><td colspan="2" class="sochunhiem-label">Trường : @ViewBag.tenTruong</td></tr>
           <tr><td colspan="2" class="sochunhiem-label" > Sổ chủ nhiệm</td></tr>
           <tr><td colspan="2" style="text-align:center"><strong>năm học</strong>: @ViewBag.namhoc</td></tr>

            <tr><td colspan="2" style="text-align:center"><strong>Họ tên</strong>: @ViewBag.tenuser </td></tr>
        <tr>
            <td data-field="id" style="text-align:right"> Chọn lớp: @Html.DropDownListFor(x=>Model.malop, new SelectList(ViewBag.lopHoc, "maLop", "tenLop"))</td>
            <td data-field="name" style="text-align:center">Chọn tháng : @Html.DropDownListFor(x=> Model.thang, new SelectList(ViewBag.danhMucThang, "id", "name"))</td>
             
        </tr>
      </tbody>
</table>
 

 <div class="container" id="content"> 
  
 <button type="button" class="btn btn-primary bentrai">Tổng số: <span class="badge">@Model.hocSinhNhanXetNhom.Count</span> học sinh </button>
  <table id="thongTinSoChuNhiem" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th style="width: 2%;">STT</th>
        <th style="width: 3%;"><input type="checkbox" name="isDefault" id="isDefault" value="0" /></th>
        <th style="width: 15%;">Tên học sinh</th>
        <th style="width: 10%;">Ngày sinh</th>
        <th style="width: 23%;">NX Kiến thức</th>
        <th style="width: 23%;">NX Năng lực</th>
        <th style="width: 23%;">NX Phẩm chất</th>
      </tr>
    </thead>
    <tbody>
     @{ 
        
         for (int i = 0; i < Model.hocSinhNhanXetNhom.Count(); i++)
         {
             string maHocSinh = Model.hocSinhNhanXetNhom[i].maHocSinh;
             string tenHocSinh = Model.hocSinhNhanXetNhom[i].tenHocSinh;
             string idKT = maHocSinh + "KT";
             string idNL = maHocSinh + "NL";
             string idPC = maHocSinh + "PC";
             string idHoTen = maHocSinh + "HT";
             
            <tr>
            <td align="center">@(i + 1)</td>
            <td><input type="checkbox" name="isDefault" id="@maHocSinh" value="0" class="boxing" /></td>
            <td id="@idHoTen">@tenHocSinh</td>
            <td class="mahocsinh">@String.Format("{0:dd/MM/yyyy}", Model.hocSinhNhanXetNhom[i].ngaySinh)</td>
            <td><input type="text" id="@idKT" value ="@Model.hocSinhNhanXetNhom[i].nhanXetKienThuc"  class="contentNhanXet KienThuc" /></td>
            <td><input type="text" id="@idNL" value ="@Model.hocSinhNhanXetNhom[i].nhanXetNangLuc" class="contentNhanXet NangLuc"/></td>
            <td><input type="text" id="@idPC" value ="@Model.hocSinhNhanXetNhom[i].nhanXetPhamChat" class="contentNhanXet PhamChat" /></td>
            </tr>
         }
         
      }
      
    </tbody>
  </table>

  
  
</div> 
 
  
   
