﻿@model VnEduPlus.Models.FormNhanXet
@{
    ViewBag.Title = "Mẫu nhận xét tháng chủ nhiệm";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<!-- bootstrap ---------------------------------------------------------------->
<link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
<script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
<!------------------------------------------------------------------------------>


<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/swfobject.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
   
	
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>

     <style type="text/css">
        .transItems
        {
            border: 0;
            background: transparent;
            width:28px;
        }
        .row
        {
            background-color:#eee;
        }
        .altrow
        {
            background-color:#fff;
        }
        
       .selected {
        background:#FECBE0;
         }

        .ui-dialog-titlebar-close {
            background: url("../../css/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            border: medium none;
        }

            .ui-dialog-titlebar-close:hover {
                background: url("../../css/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            }
    </style>
    
    
</head>
  
    <script type="text/javascript">
    //Todo
        $(document).ready(function () {

            $('#thang, #danhMucTieuChi').change(function () {

                var $thang = $('#thang').val();
                var $type = $('#danhMucTieuChi').val();
                if (validator($thang, 'Tháng') && validator($type, 'Nhận xét')) {
                    showDanhSachNhanXet($type, $thang);
                }
            });             

        });     //end document

        function showDanhSachNhanXet(type,thang) {
            var idTruong = $('#idtruong').val();
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("hienDanhSachNhanXet", "GiaoVienChuNhiem")',
                data: { idTruong: idTruong, type: type, thang: thang},
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },
                
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }
               
        // Validator element
        function validator(value,element) {
          if(value=='-1')
          {
            //alert(element + ' phải có được lựa chọn');
            return false;
          } else return true;
        
        }


    </script>
<body >

 @RenderPage("~/Views/Shared/_MainMenu.cshtml");

        
        <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
        <input type="hidden" id="namhocht" name="namhocht" value="@ViewBag.namhientai" />

    <table width="100%" style="border: 0px; background: #fff; z-index: 3;  position: fixed; left: 0; width: 100%;">
     <tr> <td style="border: 0px; padding: 45px 0px 0px 0px; font-size:16px; font-weight: bolder; text-transform: uppercase" colspan="10" align=center> Mẫu nhận xét Giáo viên chủ nhiệm</td></tr>
          <tr>
		<td style="border: 0px; padding: 10px;" colspan="10" align=center>	
			<strong>  &nbsp;&nbsp;&nbsp;Người đăng nhập: @ViewBag.tenuser  &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;   Năm học: @ViewBag.namhoc</strong>
		</td>
	</tr>
     
            <tr>
                <td style="border: 0px; padding: 10px 0px" colspan="30" id="fisrtline">
                    <table width="100%" border="0" style=" background: #fff">
                        <tr valign="top">
                            <td style="border: 0px; height: 10px; width: 33%; text-align: center;">Khối: @Html.DropDownList("makhoi", "Chọn khối")</td>
                            <td style="border: 0px; height: 10px; width: 33%; text-align: center;">
                                Chọn Tiêu chí: &nbsp;
                                @Html.DropDownListFor(x => Model.danhMucTieuChi, new SelectList(ViewBag.danhMucTieuChi, "id", "name"))

                            </td>
                            <td style="border: 0px; width: 44%; text-align: center;">
                                Chọn tháng: &nbsp;@Html.DropDownListFor(x => Model.thang, new SelectList(ViewBag.danhMucThang, "id", "name"))

                                 </td>
                            <td style="border: 0px; text-align: left;">
                               
                            </td>
                            <td style="border: 0px;">
                              </td>
                            <td style="border: 0px;">
                               
                            </td>
                            <td style="border: 0px;"> 
                            </td>
                            <td style="border: 0px;" colspan="11">
                            </td>
                            <td style="border: 0px;" colspan="9">
                                
                                
                            </td>
                            <td style="border: 0px;" id="exportExcel" onclick="exportExcel()">
                                
                            </td>
							 
                        </tr>
                    </table>
                </td>
            </tr>
			
			</table>
			
			<table style=" width: 100%; margin-top: 2px">
            <tr>
				<td style="border: 0px" colspan="30" id="container">

                </td>
           </tr>
           
           </table>
     </body>
</html>
