﻿@model VnEduPlus.Models.FormNhanXet
@{
    ViewBag.Title = "Mẫu nhận xét cuối kỳ - năm";
}
 
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <!-- bootstrap ---------------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
    <link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>
   <!------------------------------------------------------------------------------>
 
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
    
     <style type="text/css">
        .transItems
        {
            border: 0;
            background: transparent;
            width:28px;
        }
        .row
        {
            background-color:#eee;
        }
        .altrow
        {
            background-color:#fff;
        }
        
       .selected {
        background:#FECBE0;
         }

        .ui-dialog-titlebar-close {
            background: url("../../css/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            border: medium none;
        }

            .ui-dialog-titlebar-close:hover {
                background: url("../../css/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            }
    </style>
    
</head>
  
    <script type="text/javascript">
    //Todo
        $(document).ready(function () {

            $('#danhMucTieuChi').change(function () {
                var value = $(this).val();
                if (value == "1") // Hiện thị các môn học lên 
                {
                    hienMonHoc();
                    anPhamChat();
                    anNangLuc();

                } else if (value == "2") // Hiện năng lực lên 
                {
                    hienNangLuc();
                    anMonHoc();
                    anPhamChat();

                } else if (value == "3") // Hiện phẩm chất
                {
                    hienPhamChat();
                    anMonHoc();
                    anNangLuc();
                }

            });


            $('#hocKy, #danhMucTieuChi, #monHoc, #dmNangLuc, #dmPhamChat').change(function () {

                var $hocKy = $('#hocKy').val();
                var $type = $('#danhMucTieuChi').val();
                var $monHoc = $('#monHoc').val();
                var $nangLuc = $('#nangLuc').val();
                var $phamChat = $('#phamChat').val();
                var maMonHoc = $type == '1' ? $monHoc : $type == '2' ? $nangLuc : $type == '3' ? $phamChat : '-1';
                var idTruong = $('#idtruong').val();

                if (validator($hocKy) && validator($type) && validator(maMonHoc)) {
                    hienDanhSachNhanXetTheoHocKy(idTruong, $type, $hocKy, maMonHoc);
                }  

            });

        });                         //end document


        // Hiện môn học
        function hienMonHoc() {
            $('#dmMonHoc').show();
            $('#monhoc').show();
        }

        // ẩn môn học 
        function anMonHoc() {
            $('#dmMonHoc').hide();
            $('#monhoc').hide();
        }

        // Hiện năng lực
        function hienNangLuc() {
            $('#dmNangLuc').show();
            $('#nangluc').show();
        }

        // ẩn năng lực 
        function anNangLuc() {
            $('#dmNangLuc').hide();
            $('#nangluc').hide();
        }

        // Hiện phẩm chất
        function hienPhamChat() {
            $('#dmPhamChat').show();
            $('#phamchat').show();
        }

        // ẩn phẩm chất 
        function anPhamChat() {
            $('#dmPhamChat').hide();
            $('#phamchat').hide();
        }

        //--- hiện thị danh sách của phần nhận xét của kiến thức 

        // Validator element
        function validator(value) {
            return value=='-1' ? false: true;
        }

        // Hiện thị nhận xét theo loại kiến thức
        function hienDanhSachNhanXetTheoHocKy(idTruong, type, hocKy, monHoc) {
              $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("hienDanhSachNhanXetTheoHocKy", "GiaoVienChuNhiem")',
                data: { idTruong: idTruong, type: type, hocKy: hocKy, maMonHoc: monHoc },
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        
        }

        
    </script>
<body >

 @RenderPage("~/Views/Shared/_MainMenu.cshtml");

        <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
        <input type="hidden" id="namhocht" name="namhocht" value="@ViewBag.namhientai" />
         
    <table style="border: 0px; background: #fff; position: fixed; left: 0; width: 100%;  z-index: 3; " >
    <tr> <td  style="border: 0px; padding: 45px 0px 0px 0px; font-size:16px; font-weight: bolder; text-transform: uppercase"  colspan="10" align=center>Mẫu nhận xét cuối kỳ - năm</td></tr>
    <tr>
		<td style="border: 0px; padding: 10px;" colspan="10" align=center>	
			<strong>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Người đăng nhập: @ViewBag.tenuser  &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;   Năm học: @ViewBag.namhoc</strong>
		</td>
	</tr>
     
            <tr>
                <td style="border: 0px;" colspan="30" id="fisrtline">
                    <table width="100%" border="0" style=" background: #fff">
                        <tr valign="top">
                            <td style="border: 0px; height: 10px; width: 33.33%; text-align: center;">
                                <div style="font-weight: bolder; padding-bottom: 5px;">Chọn Tiêu chí: </div>
                                                      
                            @Html.DropDownListFor(x => Model.danhMucTieuChi,new SelectList(ViewBag.danhMucTieuChi, "id", "name"))

                            </td>

                            <td style="border: 0px; height: 50px; width: 33.33%; text-align: center;">
                                <label id="monhoc" style="display:none">Chọn môn học: &nbsp;</label> 
                                <label id="nangluc" style="display:none"> Chọn năng lực: &nbsp;</label>
                                <label id="phamchat" style="display:none"> Chọn phẩm chất: &nbsp;</label>
                           
                               <center id="dmMonHoc" style="display:none">
                               @Html.DropDownListFor(x => Model.monHoc, new SelectList(ViewBag.danhmucMonHoc, "maMonHoc", "tenMonHoc"))
                               </center>
                               
                                <center id="dmNangLuc" style="display:none">
                                @Html.DropDownListFor(x => Model.nangLuc, new SelectList(ViewBag.nangLuc, "maNangLuc", "tenNangLuc"))
                                </center>

                                 <center id="dmPhamChat" style="display:none">
                                 @Html.DropDownListFor(x => Model.phamChat, new SelectList(ViewBag.phamChat, "maPhamChat", "tenPhamChat"))
                                </center>
                                               

                            </td>

                            <td style="border: 0px; width: 33.33%; text-align: center;">
                                <div style="font-weight: bolder; padding-bottom: 5px;">Chọn học kỳ:</div>
                            
                             @Html.DropDownListFor(x => Model.hocKy, new SelectList(ViewBag.hocKy, "maHocKy", "tenHocKy"))
                             </td>
                            <td style="border: 0px;">
                               
                            </td>
                            <td style="border: 0px;">
                              </td>
                            <td style="border: 0px;">
                               
                            </td>
                            <td style="border: 0px;"> 
                            </td>
                            <td style="border: 0px;" colspan="11">
                            </td>
                            <td style="border: 0px;" colspan="9">
                                
                                
                            </td>
                            <td style="border: 0px;" id="exportExcel" onclick="exportExcel()">
                                
                            </td>
							 
                        </tr>
                    </table>
                </td>
            </tr>
			
			</table>
			
			<table style=" width: 100%; margin-top: 2px">
            <tr>
				<td style="border: 0px" colspan="30" id="container">

                </td>
           </tr>
           
           </table>


          
    
  
     </body>
</html>
