﻿@model VnEduPlus.Models.MauCauNhanXet
@{
    ViewBag.Title = "Mâu câu Nhận xet tháng chủ nhiệm";
}
 
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <!-- import css bootstrap css and js ( bat buoc phai co)-->
 <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
 <link href="@Url.Content("~/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
 <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
 <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
</head>
    
 <div class="container"> 
  <input type="hidden" id="giaoVienCNGiangDay" value="@ViewBag.giaoVienChuNhiems" />
 @*<button type="button" class="btn btn-primary bentrai">Tổng số: <span class="badge">@Model.hocSinhNhanXetNhom.Count</span> học sinh </button>*@
  <table id="thongTinSoChuNhiem" class="table table-striped table-bordered" style="table-layout: fixed;" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th style="width: 4%; text-align: center;">STT</th>
        @*<th style="width: 3%;"><input type="checkbox" name="isDefault" id="isDefault" value="0" /></th>*@
        <th style="width: 17%; text-align: center;">Tên học sinh</th>
        <th style="width: 10%; text-align: center;">Ngày sinh</th>
        <th style="width: 23%; text-align: center;">NX Kiến thức</th>
        <th style="width: 23%; text-align: center;">NX Năng lực</th>
        <th style="width: 23%; text-align: center;">NX Phẩm chất</th>
      </tr>
    </thead>
    <tbody>
     @{ 
        
         for (int i = 0; i < Model.hocSinhNhanXetNhom.Count(); i++)
         {
             string maHocSinh = Model.hocSinhNhanXetNhom[i].maHocSinh;
             string tenHocSinh = Model.hocSinhNhanXetNhom[i].tenHocSinh;
             string idKT = maHocSinh + "KT";
             string idNL = maHocSinh + "NL";
             string idPC = maHocSinh + "PC";
             string idHoTen = maHocSinh + "HT";
             
            <tr>
            <td align="center">@(i + 1)</td>
            @*<td><input type="checkbox" name="isDefault" id="@maHocSinh" value="0" class="boxing" /></td>*@
            <td id="@idHoTen">@tenHocSinh</td>
            <td align="center" class="mahocsinh">@String.Format("{0:dd/MM/yyyy}", Model.hocSinhNhanXetNhom[i].ngaySinh)</td>
            <td style="word-wrap:break-word">@Model.hocSinhNhanXetNhom[i].nhanXetKienThuc</td>
            <td style="word-wrap:break-word">@Model.hocSinhNhanXetNhom[i].nhanXetNangLuc</td>
            <td style="word-wrap:break-word">@Model.hocSinhNhanXetNhom[i].nhanXetPhamChat</td>
            </tr>
         }
         
      }
      
    </tbody>
  </table>

  
  
</div> 
 
  
   
