﻿@model VnEduPlus.Models.MauCauNhanXet
@{
    ViewBag.Title = "Mâu câu Nhận xet tháng chủ nhiệm";
}
 
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <!-- import css bootstrap css and js ( bat buoc phai co)-->
 <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
 <link href="@Url.Content("~/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
 
 <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
 <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
</head>


    <script type="text/javascript">
        $(document).ready(function () {

            // set mặc định cho tháng

            $('#thang option[value=@ViewBag.thang]').attr("selected", "selected");
            $('#malop option[value=@ViewBag.maLop]').attr("selected", "selected");
            
            $('#malop, #thang').change(function () {
                var $thang = $('#thang').val();
                var lopHoc = $('#malop').val();
             
                if (validator($thang) && validator(lopHoc)) {
                    showDanhSachNhanXet($thang, lopHoc);
                }
            });

           
              // process export excell, dowload excel you have to user window.location
            $('.XuatExcell').off("click").on("click",function () {
                 debugger;
                
                var maLop = $('#malop').val();
                var thang = $('#thang').val();
                debugger;
                window.location = '@Url.Action("SoChuNhiemXuatExcell", "GiaoVienChuNhiemVaLopHoc")?maLop=' + maLop + '&thang=' + thang;

            });


        });                                               // end document.ready 


        function showDanhSachNhanXet(thang, lopHoc) {
            var idTruong = $('#idtruong').val();
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("hienDanhSachNhanXetSoChuNhiem", "GiaoVienChuNhiemVaLopHoc")',
                data: { idTruong: idTruong, thang: thang, maLop: lopHoc },
                success: function (data) {
                    $("#content").empty();
                    $("#content").html(data);
                    $("#hotenGVCN").text($("#giaoVienCNGiangDay").val());
                    $('#thongTinSoChuNhiem').dataTable({
                            "sPaginationType": "full_numbers",
                            "bPaginate": true,
                            "bSort": false,
                            "bSortable": false,
                            "bFilter": false,
                            "bSearchable": false,
                            "bInfo": false,
                        });
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

        function validator(value) {
            if (value == '-1') {
                // alert(element + ' phải có được lựa chọn');
                return false;
            } else return true;

        }        

    </script>
    
    
    <table class="sochunhiem" style="width: 100%">
    
          <tbody>

               <tr>
					<td style="padding: 5px 0px 10px 0px;border-bottom: 1px solid #ccc; width: 33.33%;font-size: 12px; font-weight: bold; text-align:center; text-transform: uppercase;">@ViewBag.PhongGiaoDuc<br/>@ViewBag.tenTruong</td>
					<td style="padding: 5px 0px 10px 0px;border-bottom: 1px solid #ccc; width: 33.33%;font-size: 16px; font-weight: bold; text-align:center; text-transform: uppercase; vertical-align: top;">SỔ THEO DÕI CHẤT LƯỢNG GIÁO DỤC</td>
					<td style="padding: 5px 0px 10px 0px;border-bottom: 1px solid #ccc; width: 33.33%;font-size: 12px; font-weight: bold; text-align:center; text-transform: uppercase;"><strong>Họ và tên</strong>: <span id="hotenGVCN">@ViewBag.tenusers </span><strong><br>Năm học</strong>: @ViewBag.namhoc</td>
			</tr>

          </tbody>
    </table>
	
	<table class="sochunhiem" style="width: 50%; margin: 0 25%;">
    
          <tbody>

               <tr>
                 <td data-field="id" style="text-align:center; padding-bottom: 10px"> Chọn lớp: @Html.DropDownListFor(x=>Model.malop, new SelectList(ViewBag.lopHoc, "maLop", "tenLop"))</td>
                <td data-field="name" style="text-align:center; padding-bottom: 10px">Chọn tháng : @Html.DropDownListFor(x=> Model.thang, new SelectList(ViewBag.danhMucThang, "id", "name"))</td>
				<td><button type="button" id="ExportExcell" class="btn XuatExcell" style="color: #efefef; background-color:#0E5DA2; border-style:none; margin-top: -10px;">Xuất Excel</button></td>
            </tr>
		
		
			  </table>
 <div class="container" id="content"> 
  
 @* <button type="button" class="btn btn-primary bentrai">Tổng số: <span class="badge">@Model.hocSinhNhanXetNhom.Count</span> học sinh </button> *@
  <table id="thongTinSoChuNhiem" class="table table-striped table-bordered" style="table-layout: fixed;" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th style="width: 4%; text-align: center;">STT</th>
       @* <th style="width: 3%;"><input type="checkbox" name="isDefault" id="isDefault" value="0" /></th>*@
        <th style="width: 17%; text-align: center;">Tên học sinh</th>
        <th style="width: 10%; text-align: center;">Ngày sinh</th>
        <th style="width: 23%; text-align: center;">NX Kiến thức</th>
        <th style="width: 23%; text-align: center;">NX Năng lực</th>
        <th style="width: 23%; text-align: center;">NX Phẩm chất</th>
      </tr>
    </thead>
    <tbody>
     @{ 
        
         for (int i = 0; i < Model.hocSinhNhanXetNhom.Count(); i++)
         {
             string maHocSinh = Model.hocSinhNhanXetNhom[i].maHocSinh;
             string tenHocSinh = Model.hocSinhNhanXetNhom[i].tenHocSinh;
             string idKT = maHocSinh + "KT";
             string idNL = maHocSinh + "NL";
             string idPC = maHocSinh + "PC";
             string idHoTen = maHocSinh + "HT";
             
            <tr>
            <td align="center">@(i + 1)</td>
           @* <td><input type="checkbox" name="isDefault" id="@maHocSinh" value="0" class="boxing" /></td> *@
            <td id="@idHoTen">@tenHocSinh</td>
            <td align="center" class="mahocsinh">@String.Format("{0:dd/MM/yyyy}", Model.hocSinhNhanXetNhom[i].ngaySinh)</td>
            <td style="word-wrap:break-word">@Model.hocSinhNhanXetNhom[i].nhanXetKienThuc</td>
            <td style="word-wrap:break-word">@Model.hocSinhNhanXetNhom[i].nhanXetNangLuc</td>
            <td style="word-wrap:break-word">@Model.hocSinhNhanXetNhom[i].nhanXetPhamChat</td>
            </tr>
         }
         
      }
      
    </tbody>
  </table>

  
  
</div> 
 
  
   
