﻿@model VnEduPlus.Models.FormNhanXet
@{
    ViewBag.Title = "Mẫu câu nhận xét tháng chủ nhiệm";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<!-- bootstrap ---------------------------------------------------------------->
<script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
<!-------------edu css-------------------------------------------------------->
<link rel="stylesheet" href="@Url.Content("~/css/giaovienchunhiemnhanxet.css")">


<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/swfobject.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
   
	
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>
     
</head>
  
    <script type="text/javascript">
    //Todo
        $(document).ready(function () {
            debugger;
            $('select[id="hocKy"]').find('option[value="GHK1"]').attr("selected", true);
            $('select[id="lopHoc"]').find('option[value="@ViewBag.maLopMacDinh"]').attr("selected", true);
            showDanhSachNhanXetMacDinh('GHK1', '@ViewBag.maLopMacDinh');

            $('#lopHoc, #hocKy').change(function () {
                debugger;
                var $hocKy = $('#hocKy').val();
                var lopHoc = $('#lopHoc').val();
                $('#hsduocchon').val(''); // reset lại biến chứa các danh sách các mã học sinh

                if (validator($hocKy) && validator(lopHoc)) {
                    showDanhSachNhanXet($hocKy, lopHoc);
                }
            });
        });           //end document

        function showDanhSachNhanXet(hocKy, lopHoc) {
            var idTruong = $('#idtruong').val();
            var thang;
            if (hocKy == "GHK1") {
                thang = 10;
            } else if (hocKy == "HK1") {
                thang = 12;
            } else if (hocKy == "GHK2") {
                thang = 3;
            } else if (hocKy == "HK2") {
                thang = 5;
            }
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("hienDanhSachNhanXetDinhKy", "GiaoVienChuNhiemVaLopHoc")',
                data: { idTruong: idTruong, thang: thang, maLop: lopHoc},
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },
                
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

        function showDanhSachNhanXetMacDinh(hocKy, lopHoc) {
            debugger
            var idTruong = $('#idtruong').val();
            var thang;
            if (hocKy == "GHK1") {
                thang = 10;
            } else if (hocKy == "HK1") {
                thang = 12;
            } else if (hocKy == "GHK2") {
                thang = 3;
            } else if (hocKy == "HK2") {
                thang = 5;
            }
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("hienDanhSachNhanXetDinhKy", "GiaoVienChuNhiemVaLopHoc")',
                data: { idTruong: idTruong, thang: thang, maLop: lopHoc},
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }
               
        // Validator element
        function validator(value) {
          if(value=='-1')
          {
           // alert(element + ' phải có được lựa chọn');
            return false;
          } else return true;
        
        }


    </script>
<body >

 @RenderPage("~/Views/Shared/_MainMenu.cshtml");

        
        <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
        <input type="hidden" id="namhocht" name="namhocht" value="@ViewBag.namhientai" />
       
    
    <table width="100%" style="border: 0px; background: #fff; z-index: 3; position: fixed; left: 0; width: 100%; ">
      <tr> <td style="border: 0px; padding: 45px 0px 0px 0px; font-size:16px; font-weight: bolder; text-transform: uppercase" colspan="10" align="center">GVCN nhận xét thường xuyên</td></tr>
     <tr>
		<td style="border: 0px; padding: 10px;" colspan="10" align=center>	
			<strong>&nbsp;&nbsp;&nbsp;Người đăng nhập: @ViewBag.tenuser  &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;   Năm học: @ViewBag.namhoc</strong>
		</td>
	</tr>
     
            <tr>
                <td style="border: 0px;" colspan="30" id="fisrtline">
                    <table width="100%" border="0" style=" background: #fff">
                        <tr valign="top">
                           
                            <td style="border: 0px; width: 33.33%; text-align: center;">
                               Chọn lớp:&nbsp;
                            
                            @Html.DropDownListFor(x => Model.lopHoc, new SelectList(ViewBag.lopHoc, "maLop", "tenLop"))
                              </td>

                          
                            <td style="border: 0px; width: 33.33%; text-align: center;">
                                Chọn học kì: &nbsp;

                             @Html.DropDownListFor(x => Model.hocKy, new SelectList(ViewBag.hocKy, "maHocKy", "tenHocKy"))
                            </td>
                           
                            <td style="border: 0px; width: 33.33%; text-align: center;"> 
                            <button type="button" id="nhomNX" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Chọn nhóm nhận xét</button>
                            <button type="button" id="luuNX" class="btn btn-primary btn-sm" >Lưu</button>
                            </td>
                            <td style="border: 0px;">
                               
                            </td>
                            <td style="border: 0px;"> 
                            
                            </td>
                              <td style="border: 0px; height: 50px;">
                               
                            </td>
                            <td style="border: 0px;" colspan="11">
                            </td>
                            <td style="border: 0px;" colspan="9">
                                
                                
                            </td>
                            <td style="border: 0px;" id="exportExcel" onclick="exportExcel()">
                                
                            </td>
							 
                        </tr>
                    </table>
                </td>
            </tr>
			
			</table>
			
			<table style=" width: 100%; margin-top: -15px">
            <tr>
				<td style="border: 0px" colspan="30" id="container">

                </td>
           </tr>
           
           </table>
     </body>
  
</html>
