.table-bordered .contentNhanXet 
{
    border:0px solid; 
    width:100%;    
}

.benphai
{
  float:right;   
}

.bentrai
{
  float:left;   
}

.modalWidth
{
    width:85%;    
}

.modalCenter 
{
    position: fixed; 
    top:20%; 
}

.textboxDialog 
{
    width:100%;
}

.modalWidthTongHop 
{
    width:50%;  
}

.HoTenColumn 
{
    width:auto;
}

.sochunhiem 
{
      
    /*max-width: 96%;
    margin-left: 52px;*/
    margin-bottom: 20px;
}  

.sochunhiem-label 
{
    font-size:large;
    text-align:center;
} 
.diem{
	width: 6%;
	text-align: center;
}

.tonghop-nhanXet 
{
    padding-left:0px;
    padding-right:0px;
}

.col-sm-3.danhsachhocsinh 
{
    height: 600px;
    padding-right: 0;    
    overflow-y: auto;
         
}
    

a .disabledLink {
   pointer-events: none;
   cursor: default;
}
