 .edu-hocsinh 
 {
     cursor:auto;
     
 } 
  
  .edu-hocsinh hover 
  {
      color:Blue;
  }
  
 .kehoach_header 
 {
     float: left;
     top: 30px;
     min-height: 50px; 
     margin-top: 60px;
     width: 100%;
 }
 
 .kehoach_header .lophoc 
 { 
     float: left;
     width: auto;
 }
 
 .kehoach_header .namhoc 
 {
     width: 100%;
     text-align:center;
     display:inline-block;
 } 
 
 .noidung_kehoach 
  {
      
      width: 100%;
        
  }
  
  .buttons 
  {
    margin-left: 40%;
    margin-top: 10px;
    float:left;
   }
   
   .selected 
   {
       color:Blue;       
       font-weight:bold;
       text-decoration: none;
   }
   
   .nav-tabs>li>a 
   {
       text-decoration: none;
   }
   
   .column1 
   {
       width:50%;
       float:left;
       /*margin-left:128px;*/
   }
   
   .column2 
   {
       width:40%;
       float:left;
       /*margin-left: -200px;*/
   }
   
   .tinhhinhdaunam
   {
       width:100%;
   }
   
    .tieude 
   {
       width:25%;
        
       float:left;
   }
   
   .inputValues 
   {
       width:25%;
       display: inline-block;
       float:left;
   }
   
   .thongtinthongke 
   {
       width: 100%;       
       margin-bottom: 10px;
       float:left;
   }
   
    .column2.thongtinthongke
    {
        float: right;
    }
    
    .danhSachBanDaiDien 
    {
        width:100%;
        min-height:200px;
    }
     
    #bandaidienphuhuynh .odd 
    {
        background-color:white;
    }
    
    #bandaidienphuhuynh .even 
    {         
      background-color: #eceeef;
    } 
    
    #thongbao 
    {
        width: 100%;
        text-align: center;
        color:Red;
    }
    
    .dataTables_length label , #bandaidienphuhuynh_paginate
    {
        float:right;
        
    }
    
    .chonmaucau 
    {
        text-align:center;
    }
    
    .luuymaucau 
    {
        position: absolute;
        margin-left: 400px;
        width: 100%;
    }
    
    .footer 
    {
      text-align: center;      
    }
     
    .footer [type="button"] 
    {
        margin-top:0px !important;        
    }
    
    .noiDungCaNam 
    {
        display:none;
    } 