﻿@*@Model System.Data.DataTable*@
<script type="text/javascript">

    $(document).ready(function () {

       
    });


</script>
<style>
    .rotate {

    }
    .Table{
        text-align:center;
        border:1px solid #000;
    }

</style>
<table style="margin-top:5px; font-family: Arial; font-size: 11px;">
<!--
    <tr>
        <td style="width:50%" colspan="16" align=center><strong>@ViewBag.CapQuanLy</strong></td>
        <td style="width:50%" colspan="16" align=center><strong>THỐNG KÊ ĐIỂM KIỂM TRA @ViewBag.HocKy</strong></td>
    </tr>
    <tr>
        <td style="width:50%; padding-bottom: 10px;" colspan="16" align=center><strong>@ViewBag.TenTruong</strong></td>
        <td style="width:50%; padding-bottom: 10px;" colspan="16" align=center><strong>NĂM HỌC: @ViewBag.NamHoc</strong></td>
    </tr>
-->
    <tr>
        <td rowspan="3" class="Table">&nbsp;</td>
        <td rowspan="3" class="rotate Table"><strong>Tổng<br />số<br />học<br />sinh</strong></td>
        <td colspan="6" class="Table" style="height: 25px"><strong>Lớp 1</strong></td>
        <td colspan="6" class="Table"><strong>Lớp 2</strong></td>
        <td colspan="6" class="Table"><strong>Lớp 3</strong></td>
        <td colspan="6" class="Table"><strong>Lớp 4</strong></td>
        <td colspan="6" class="Table"><strong>Lớp 5</strong></td>
    </tr>
    <tr>
        @*Lớp 1*@
        <td rowspan="2" class="rotate Table"><strong>Tổng số</strong></td>
        <td colspan="5" class="Table" style="height: 25px"><strong>Trong tổng số</strong></td>
        @*Lớp 2*@
        <td rowspan="2" class="rotate Table"><strong>Tổng số</strong></td>
        <td colspan="5" class="Table"><strong>Trong tổng số</strong></td>
        @*Lớp 3*@
        <td rowspan="2" class="rotate Table"><strong>Tổng số</strong></td>
        <td colspan="5" class="Table"><strong>Trong tổng số</strong></td>
        @*Lớp 4*@
        <td rowspan="2" class="rotate Table"><strong>Tổng số</strong></td>
        <td colspan="5" class="Table"><strong>Trong tổng số</strong></td>
        @*Lớp 5*@
        <td rowspan="2" class="rotate Table"><strong>Tổng số</strong></td>
        <td colspan="5" class="Table"><strong>Trong tổng số</strong></td>
    </tr>
    <tr style="height:100px">
        @*Lớp 1*@
        <td class="rotate Table">Nữ</td>
        <td class="rotate Table">Dân<br />tộc</td>
        <td class="rotate Table">Nữ<br />dân<br />tộc</td>
        <td class="rotate Table">Lớp<br />ghép</td>
        <td class="rotate Table">Khuyết<br />tật</td>
        @*Lớp 2*@
        <td class="rotate Table">Nữ</td>
        <td class="rotate Table">Dân<br />tộc</td>
        <td class="rotate Table">Nữ<br />dân<br />tộc</td>
        <td class="rotate Table">Lớp<br />ghép</td>
        <td class="rotate Table">Khuyết<br />tật</td>
        @*Lớp 3*@
        <td class="rotate Table">Nữ</td>
        <td class="rotate Table">Dân<br />tộc</td>
        <td class="rotate Table">Nữ<br />dân<br />tộc</td>
        <td class="rotate Table">Lớp<br />ghép</td>
        <td class="rotate Table">Khuyết<br />tật</td>
        @*Lớp 4*@
        <td class="rotate Table">Nữ</td>
        <td class="rotate Table">Dân<br />tộc</td>
        <td class="rotate Table">Nữ<br />dân<br />tộc</td>
        <td class="rotate Table">Lớp<br />ghép</td>
        <td class="rotate Table">Khuyết<br />tật</td>
        @*Lớp 5*@
        <td class="rotate Table">Nữ</td>
        <td class="rotate Table">Dân<br />tộc</td>
        <td class="rotate Table">Nữ<br />dân<br />tộc</td>
        <td class="rotate Table">Lớp<br />ghép</td>
        <td class="rotate Table">Khuyết<br />tật</td>
    </tr>
    <tr>
        <td style="width: 10.1%" class="Table"><strong>I. Kết quả học tập </strong></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
    </tr>
        @{
            if (Model != null && Model.Tables != null && Model.Tables[0].Rows != null && Model.Tables[0].Rows.Count > 0)
            {
                for (int i = 0; i < Model.Tables[0].Rows.Count; i++)
                {
                    <tr>
                        <td class="Table" style="text-align:left!important"><strong>@(i + 1).@Model.Tables[0].Rows[i]["TenMonHoc"]</strong></td>
                        <td class="Table">@Model.Tables[0].Rows[i]["TongSoHocSinhDanhGia"]</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK1HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK1HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK1CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK1HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK1HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK1CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK1HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK1HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK1CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK1HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK1HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK1CHT"]))</td>
                        <td class="Table"></td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK1HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK1HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK1CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK2HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK2HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK2CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK2HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK2HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK2CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK2HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK2HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK2CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK2HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK2HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK2CHT"]))</td>
                        <td class="Table"></td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK2HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK2HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK2CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK3HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK3HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK3CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK3HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK3HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK3CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK3HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK3HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK3CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK3HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK3HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK3CHT"]))</td>
                        <td class="Table"></td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK3HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK3HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK3CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK4HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK4HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK4CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK4HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK4HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK4CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK4HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK4HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK4CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK4HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK4HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK4CHT"]))</td>
                        <td class="Table"></td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK4HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK4HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK4CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK5HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK5HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK5CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK5HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK5HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuK5CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK5HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK5HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhDanTocK5CHT"]))</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK5HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK5HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK5CHT"]))</td>
                        <td class="Table"></td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK5HTT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK5HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK5CHT"]))</td>
                    </tr>
                    <tr style="text-align:center;">

                        <td class="Table">Hoàn thành tốt</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK1HTT"])+ Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK2HTT"])+ Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK3HTT"])+ Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK4HTT"])+ Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK5HTT"]))</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK1HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK1HTT"])</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK1HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK1HTT"])</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK1HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK1HTT"])</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK1HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK1HTT"])</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK1HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK1HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK2HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK2HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK2HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK2HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK2HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK2HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK2HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK2HTT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK2HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK2HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK3HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK3HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK3HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK3HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK3HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK3HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK3HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK3HTT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK3HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK3HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK4HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK4HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK4HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK4HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK4HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK4HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK4HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK4HTT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK4HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK4HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK5HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK5HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK5HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK5HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK5HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK5HTT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK5HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK5HTT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK5HTT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK5HTT"] )</td>
                    </tr>
                    <tr style="text-align:center;">

                        <td class="Table">Hoàn thành</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK1HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK2HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK3HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK4HT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK5HT"]))</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK1HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK1HT"])</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK1HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK1HT"])</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK1HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK1HT"])</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK1HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK1HT"])</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK1HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK1HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK2HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK2HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK2HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK2HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK2HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK2HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK2HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK2HT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK2HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK2HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK3HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK3HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK3HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK3HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK3HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK3HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK3HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK3HT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK3HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK3HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK4HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK4HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK4HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK4HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK4HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK4HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK4HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK4HT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK4HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK4HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK5HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK5HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK5HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK5HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK5HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK5HT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK5HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK5HT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK5HT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK5HT"] )</td>
                    </tr>
                    <tr style="text-align:center;">

                        <td class="Table">Chưa hoàn thành</td>
                        <td class="Table">@(Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK1CHT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK2CHT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK3CHT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK4CHT"]) + Convert.ToInt32(Model.Tables[0].Rows[i]["SoHocSinhK5CHT"]))</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK1CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK1CHT"])</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK1CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK1CHT"])</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK1CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK1CHT"])</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK1CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK1CHT"])</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK1CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK1CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK2CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK2CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK2CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK2CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK2CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK2CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK2CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK2CHT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK2CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK2CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK3CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK3CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK3CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK3CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK3CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK3CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK3CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK3CHT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK3CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK3CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK4CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK4CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK4CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK4CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK4CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK4CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK4CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK4CHT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK4CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK4CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhK5CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhK5CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuK5CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuK5CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhDanTocK5CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhDanTocK5CHT"] )</td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK5CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhNuDanTocK5CHT"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK5CHT"] == 0 ? "" : Model.Tables[0].Rows[i]["SoHocSinhKhuyetTatK5CHT"] )</td>
                    </tr>
                }
                <tr>
                    <td style="width: 10.1%" class="Table"><strong>II. Năng lực </strong></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                </tr>
                System.Data.DataRow[] dr = Model.Tables[1].Select("PhanLoai='TPVTQ'");
                if (dr != null && dr.Count() > 0)
                {
                    <tr>
                        <td style="width: 10.1%;" class="Table"><strong>1. Tự phục vụ, tự quản </strong></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                    </tr>
                    for (int j = 0; j < dr.Count(); j++)
                    {
                        <tr style="text-align:center;">

                            <td class="Table">@dr[j]["XepLoai"]</td>
                            <td class="Table">@(Convert.ToInt32(dr[j]["SoHocSinhK1"])+ Convert.ToInt32(dr[j]["SoHocSinhK2"])+ Convert.ToInt32(dr[j]["SoHocSinhK3"])+ Convert.ToInt32(dr[j]["SoHocSinhK4"])+ Convert.ToInt32(dr[j]["SoHocSinhK5"]))</td>
                            <td class="Table">@(dr[j]["SoHocSinhK1"].ToString() == "0" ? "" : dr[j]["SoHocSinhK1"])</td>
                            <td class="Table">@(dr[j]["SoHocSinhNuK1"].ToString() == "0" ? "" : dr[j]["SoHocSinhNuK1"])</td>
                            <td class="Table">@(dr[j]["SoHocSinhDanTocK1"].ToString() == "0" ? "" : dr[j]["SoHocSinhDanTocK1"])</td>
                            <td class="Table">@(dr[j]["SoHocSinhNuDanTocK1"].ToString() == "0" ? "" : dr[j]["SoHocSinhNuDanTocK1"])</td>
                            <td class="Table"></td>
                            <td class="Table">@(dr[j]["SoHocSinhKhuyetTatK1"].ToString() == "0" ? "" : dr[j]["SoHocSinhKhuyetTatK1"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhK2"].ToString() == "0" ? "" : dr[j]["SoHocSinhK2"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhNuK2"].ToString() == "0" ? "" : dr[j]["SoHocSinhNuK2"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhDanTocK2"].ToString() == "0" ? "" : dr[j]["SoHocSinhDanTocK2"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhNuDanTocK2"].ToString() == "0" ? "" : dr[j]["SoHocSinhNuDanTocK2"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(dr[j]["SoHocSinhKhuyetTatK2"].ToString() == "0" ? "" : dr[j]["SoHocSinhKhuyetTatK2"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhK3"].ToString() == "0" ? "" : dr[j]["SoHocSinhK3"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhNuK3"].ToString() == "0" ? "" : dr[j]["SoHocSinhNuK3"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhDanTocK3"].ToString() == "0" ? "" : dr[j]["SoHocSinhDanTocK3"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhNuDanTocK3"].ToString() == "0" ? "" : dr[j]["SoHocSinhNuDanTocK3"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(dr[j]["SoHocSinhKhuyetTatK3"].ToString() == "0" ? "" : dr[j]["SoHocSinhKhuyetTatK3"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhK4"].ToString() == "0" ? "" : dr[j]["SoHocSinhK4"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhNuK4"].ToString() == "0" ? "" : dr[j]["SoHocSinhNuK4"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhDanTocK4"].ToString() == "0" ? "" : dr[j]["SoHocSinhDanTocK4"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhNuDanTocK4"].ToString() == "0" ? "" : dr[j]["SoHocSinhNuDanTocK4"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(dr[j]["SoHocSinhKhuyetTatK4"].ToString() == "0" ? "" : dr[j]["SoHocSinhKhuyetTatK4"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhK5"].ToString() == "0" ? "" : dr[j]["SoHocSinhK5"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhNuK5"].ToString() == "0" ? "" : dr[j]["SoHocSinhNuK5"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhDanTocK5"].ToString() == "0" ? "" : dr[j]["SoHocSinhDanTocK5"] )</td>
                            <td class="Table">@(dr[j]["SoHocSinhNuDanTocK5"].ToString() == "0" ? "" : dr[j]["SoHocSinhNuDanTocK5"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(dr[j]["SoHocSinhKhuyetTatK5"].ToString() == "0" ? "" : dr[j]["SoHocSinhKhuyetTatK5"] )</td>
                        </tr>
                    }
                }
                System.Data.DataRow[] drHT = Model.Tables[1].Select("PhanLoai='HT'");
                if (drHT!=null && drHT.Count() > 0)
                {
                    <tr>
                        <td style="width: 10.1%; text-align:left!important" class="Table"><strong>2. Hợp tác </strong></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                    </tr>
                    for (int l = 0; l < drHT.Count(); l++)
                    {
                        <tr style="text-align:center;">

                            <td class="Table">@drHT[l]["XepLoai"]</td>
                            <td class="Table">@(Convert.ToInt32(drHT[l]["SoHocSinhK1"]) + Convert.ToInt32(drHT[l]["SoHocSinhK2"]) + Convert.ToInt32(drHT[l]["SoHocSinhK3"]) + Convert.ToInt32(drHT[l]["SoHocSinhK4"]) + Convert.ToInt32(drHT[l]["SoHocSinhK5"]))</td>
                            <td class="Table">@(drHT[l]["SoHocSinhK1"].ToString() == "0" ? "" : drHT[l]["SoHocSinhK1"])</td>
                            <td class="Table">@(drHT[l]["SoHocSinhNuK1"].ToString() == "0" ? "" : drHT[l]["SoHocSinhNuK1"])</td>
                            <td class="Table">@(drHT[l]["SoHocSinhDanTocK1"].ToString() == "0" ? "" : drHT[l]["SoHocSinhDanTocK1"])</td>
                            <td class="Table">@(drHT[l]["SoHocSinhNuDanTocK1"].ToString() == "0" ? "" : drHT[l]["SoHocSinhNuDanTocK1"])</td>
                            <td class="Table"></td>
                            <td class="Table">@(drHT[l]["SoHocSinhKhuyetTatK1"].ToString() == "0" ? "" : drHT[l]["SoHocSinhKhuyetTatK1"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhK2"].ToString() == "0" ? "" : drHT[l]["SoHocSinhK2"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhNuK2"].ToString() == "0" ? "" : drHT[l]["SoHocSinhNuK2"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhDanTocK2"].ToString() == "0" ? "" : drHT[l]["SoHocSinhDanTocK2"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhNuDanTocK2"].ToString() == "0" ? "" : drHT[l]["SoHocSinhNuDanTocK2"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drHT[l]["SoHocSinhKhuyetTatK2"].ToString() == "0" ? "" : drHT[l]["SoHocSinhKhuyetTatK2"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhK3"].ToString() == "0" ? "" : drHT[l]["SoHocSinhK3"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhNuK3"].ToString() == "0" ? "" : drHT[l]["SoHocSinhNuK3"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhDanTocK3"].ToString() == "0" ? "" : drHT[l]["SoHocSinhDanTocK3"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhNuDanTocK3"].ToString() == "0" ? "" : drHT[l]["SoHocSinhNuDanTocK3"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drHT[l]["SoHocSinhKhuyetTatK3"].ToString() == "0" ? "" : drHT[l]["SoHocSinhKhuyetTatK3"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhK4"].ToString() == "0" ? "" : drHT[l]["SoHocSinhK4"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhNuK4"].ToString() == "0" ? "" : drHT[l]["SoHocSinhNuK4"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhDanTocK4"].ToString() == "0" ? "" : drHT[l]["SoHocSinhDanTocK4"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhNuDanTocK4"].ToString() == "0" ? "" : drHT[l]["SoHocSinhNuDanTocK4"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drHT[l]["SoHocSinhKhuyetTatK4"].ToString() == "0" ? "" : drHT[l]["SoHocSinhKhuyetTatK4"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhK5"].ToString() == "0" ? "" : drHT[l]["SoHocSinhK5"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhNuK5"].ToString() == "0" ? "" : drHT[l]["SoHocSinhNuK5"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhDanTocK5"].ToString() == "0" ? "" : drHT[l]["SoHocSinhDanTocK5"] )</td>
                            <td class="Table">@(drHT[l]["SoHocSinhNuDanTocK5"].ToString() == "0" ? "" : drHT[l]["SoHocSinhNuDanTocK5"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drHT[l]["SoHocSinhKhuyetTatK5"].ToString() == "0" ? "" : drHT[l]["SoHocSinhKhuyetTatK5"] )</td>
                        </tr>
                    }
                }
                System.Data.DataRow[] drTH = Model.Tables[1].Select("PhanLoai='THGQVD'");
                if (drTH!=null && drTH.Count() > 0)
                {
                    <tr>
                        <td style="width: 10.1%; text-align:left!important" class="Table"><strong>3. Tự học và giải quyết vấn đề </strong></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                    </tr>
                    for (int k = 0; k < drTH.Count(); k++)
                    {
                        <tr style="text-align:center;">

                            <td class="Table">@drTH[k]["XepLoai"]</td>
                            <td class="Table">@(Convert.ToInt32(drTH[k]["SoHocSinhK1"]) + Convert.ToInt32(drTH[k]["SoHocSinhK2"]) + Convert.ToInt32(drTH[k]["SoHocSinhK3"]) + Convert.ToInt32(drTH[k]["SoHocSinhK4"]) + Convert.ToInt32(drTH[k]["SoHocSinhK5"]))</td>
                            <td class="Table">@(drTH[k]["SoHocSinhK1"].ToString() == "0" ? "" : drTH[k]["SoHocSinhK1"])</td>
                            <td class="Table">@(drTH[k]["SoHocSinhNuK1"].ToString() == "0" ? "" : drTH[k]["SoHocSinhNuK1"])</td>
                            <td class="Table">@(drTH[k]["SoHocSinhDanTocK1"].ToString() == "0" ? "" : drTH[k]["SoHocSinhDanTocK1"])</td>
                            <td class="Table">@(drTH[k]["SoHocSinhNuDanTocK1"].ToString() == "0" ? "" : drTH[k]["SoHocSinhNuDanTocK1"])</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTH[k]["SoHocSinhKhuyetTatK1"].ToString() == "0" ? "" : drTH[k]["SoHocSinhKhuyetTatK1"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhK2"].ToString() == "0" ? "" : drTH[k]["SoHocSinhK2"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhNuK2"].ToString() == "0" ? "" : drTH[k]["SoHocSinhNuK2"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhDanTocK2"].ToString() == "0" ? "" : drTH[k]["SoHocSinhDanTocK2"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhNuDanTocK2"].ToString() == "0" ? "" : drTH[k]["SoHocSinhNuDanTocK2"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTH[k]["SoHocSinhKhuyetTatK2"].ToString() == "0" ? "" : drTH[k]["SoHocSinhKhuyetTatK2"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhK3"].ToString() == "0" ? "" : drTH[k]["SoHocSinhK3"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhNuK3"].ToString() == "0" ? "" : drTH[k]["SoHocSinhNuK3"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhDanTocK3"].ToString() == "0" ? "" : drTH[k]["SoHocSinhDanTocK3"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhNuDanTocK3"].ToString() == "0" ? "" : drTH[k]["SoHocSinhNuDanTocK3"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTH[k]["SoHocSinhKhuyetTatK3"].ToString() == "0" ? "" : drTH[k]["SoHocSinhKhuyetTatK3"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhK4"].ToString() == "0" ? "" : drTH[k]["SoHocSinhK4"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhNuK4"].ToString() == "0" ? "" : drTH[k]["SoHocSinhNuK4"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhDanTocK4"].ToString() == "0" ? "" : drTH[k]["SoHocSinhDanTocK4"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhNuDanTocK4"].ToString() == "0" ? "" : drTH[k]["SoHocSinhNuDanTocK4"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTH[k]["SoHocSinhKhuyetTatK4"].ToString() == "0" ? "" : drTH[k]["SoHocSinhKhuyetTatK4"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhK5"].ToString() == "0" ? "" : drTH[k]["SoHocSinhK5"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhNuK5"].ToString() == "0" ? "" : drTH[k]["SoHocSinhNuK5"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhDanTocK5"].ToString() == "0" ? "" : drTH[k]["SoHocSinhDanTocK5"] )</td>
                            <td class="Table">@(drTH[k]["SoHocSinhNuDanTocK5"].ToString() == "0" ? "" : drTH[k]["SoHocSinhNuDanTocK5"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTH[k]["SoHocSinhKhuyetTatK5"].ToString() == "0" ? "" : drTH[k]["SoHocSinhKhuyetTatK5"] )</td>
                        </tr>
                    }
                }
                <tr>
                    <td style="width: 10.1%" class="Table"><strong>III. Chất lượng </strong></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                </tr>
                System.Data.DataRow[] drCHCL = Model.Tables[2].Select("PhanLoai='CHCL'");
                if (drCHCL!=null && drCHCL.Count() > 0)
                {
                    <tr>
                        <td style="width: 10.1%; text-align:left!important" class="Table"><strong>1. Chăm học, chăm làm </strong></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                    </tr>
                    for (int m = 0; m < drCHCL.Count(); m++)
                    {
                        <tr style="text-align:center;">

                            <td class="Table">@drCHCL[m]["XepLoai"]</td>
                            <td class="Table">@(Convert.ToInt32(drCHCL[m]["SoHocSinhK1"]) + Convert.ToInt32(drCHCL[m]["SoHocSinhK2"]) + Convert.ToInt32(drCHCL[m]["SoHocSinhK3"]) + Convert.ToInt32(drCHCL[m]["SoHocSinhK4"]) + Convert.ToInt32(drCHCL[m]["SoHocSinhK5"]))</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhK1"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhK1"])</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhNuK1"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhNuK1"])</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhDanTocK1"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhDanTocK1"])</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhNuDanTocK1"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhNuDanTocK1"])</td>
                            <td class="Table"></td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhKhuyetTatK1"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhKhuyetTatK1"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhK2"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhK2"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhNuK2"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhNuK2"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhDanTocK2"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhDanTocK2"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhNuDanTocK2"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhNuDanTocK2"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhKhuyetTatK2"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhKhuyetTatK2"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhK3"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhK3"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhNuK3"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhNuK3"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhDanTocK3"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhDanTocK3"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhNuDanTocK3"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhNuDanTocK3"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhKhuyetTatK3"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhKhuyetTatK3"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhK4"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhK4"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhNuK4"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhNuK4"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhDanTocK4"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhDanTocK4"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhNuDanTocK4"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhNuDanTocK4"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhKhuyetTatK4"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhKhuyetTatK4"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhK5"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhK5"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhNuK5"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhNuK5"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhDanTocK5"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhDanTocK5"] )</td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhNuDanTocK5"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhNuDanTocK5"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drCHCL[m]["SoHocSinhKhuyetTatK5"].ToString() == "0" ? "" : drCHCL[m]["SoHocSinhKhuyetTatK5"] )</td>
                        </tr>
                    }
                }
                System.Data.DataRow[] drTTTN = Model.Tables[2].Select("PhanLoai='TTTN'");
                if (drTTTN!=null && drTTTN.Count() > 0)
                {
                    <tr>
                        <td style="width: 10.1%; text-align:left!important" class="Table"><strong>2. Tự tin, trách nhiệm </strong></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                    </tr>
                    for (int n = 0; n < drTTTN.Count(); n++)
                    {
                        <tr style="text-align:center;">

                            <td class="Table">@drTTTN[n]["XepLoai"]</td>
                            <td class="Table">@(Convert.ToInt32(drTTTN[n]["SoHocSinhK1"]) + Convert.ToInt32(drTTTN[n]["SoHocSinhK2"]) + Convert.ToInt32(drTTTN[n]["SoHocSinhK3"]) + Convert.ToInt32(drTTTN[n]["SoHocSinhK4"]) + Convert.ToInt32(drTTTN[n]["SoHocSinhK5"]))</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhK1"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhK1"])</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhNuK1"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhNuK1"])</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhDanTocK1"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhDanTocK1"])</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhNuDanTocK1"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhNuDanTocK1"])</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhKhuyetTatK1"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhKhuyetTatK1"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhK2"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhK2"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhNuK2"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhNuK2"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhDanTocK2"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhDanTocK2"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhNuDanTocK2"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhNuDanTocK2"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhKhuyetTatK2"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhKhuyetTatK2"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhK3"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhK3"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhNuK3"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhNuK3"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhDanTocK3"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhDanTocK3"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhNuDanTocK3"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhNuDanTocK3"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhKhuyetTatK3"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhKhuyetTatK3"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhK4"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhK4"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhNuK4"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhNuK4"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhDanTocK4"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhDanTocK4"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhNuDanTocK4"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhNuDanTocK4"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhKhuyetTatK4"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhKhuyetTatK4"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhK5"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhK5"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhNuK5"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhNuK5"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhDanTocK5"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhDanTocK5"] )</td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhNuDanTocK5"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhNuDanTocK5"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTTTN[n]["SoHocSinhKhuyetTatK5"].ToString() == "0" ? "" : drTTTN[n]["SoHocSinhKhuyetTatK5"] )</td>
                        </tr>
                    }
                }
                System.Data.DataRow[] drTTKL = Model.Tables[2].Select("PhanLoai='TTKL'");
                if (drTTKL!=null && drTTKL.Count() > 0)
                {
                    <tr>
                        <td style="width: 10.1%; text-align:left!important" class="Table"><strong>3. Trung thực, kỉ luật </strong></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                    </tr>
                    for (int o = 0; o < drTTKL.Count(); o++)
                    {
                        <tr style="text-align:center;">

                            <td class="Table">@drTTKL[o]["XepLoai"]</td>
                            <td class="Table">@(Convert.ToInt32(drTTKL[o]["SoHocSinhK1"]) + Convert.ToInt32(drTTKL[o]["SoHocSinhK2"]) + Convert.ToInt32(drTTKL[o]["SoHocSinhK3"]) + Convert.ToInt32(drTTKL[o]["SoHocSinhK4"]) + Convert.ToInt32(drTTKL[o]["SoHocSinhK5"]))</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhK1"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhK1"])</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhNuK1"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhNuK1"])</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhDanTocK1"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhDanTocK1"])</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhNuDanTocK1"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhNuDanTocK1"])</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhKhuyetTatK1"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhKhuyetTatK1"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhK2"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhK2"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhNuK2"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhNuK2"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhDanTocK2"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhDanTocK2"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhNuDanTocK2"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhNuDanTocK2"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhKhuyetTatK2"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhKhuyetTatK2"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhK3"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhK3"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhNuK3"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhNuK3"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhDanTocK3"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhDanTocK3"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhNuDanTocK3"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhNuDanTocK3"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhKhuyetTatK3"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhKhuyetTatK3"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhK4"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhK4"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhNuK4"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhNuK4"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhDanTocK4"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhDanTocK4"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhNuDanTocK4"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhNuDanTocK4"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhKhuyetTatK4"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhKhuyetTatK4"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhK5"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhK5"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhNuK5"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhNuK5"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhDanTocK5"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhDanTocK5"] )</td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhNuDanTocK5"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhNuDanTocK5"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drTTKL[o]["SoHocSinhKhuyetTatK5"].ToString() == "0" ? "" : drTTKL[o]["SoHocSinhKhuyetTatK5"] )</td>
                        </tr>
                    }
                }
                System.Data.DataRow[] drDKYT = Model.Tables[2].Select("PhanLoai='DKYT'");
                if (drDKYT!=null && drDKYT.Count() > 0)
                {
                    <tr>
                        <td style="width: 10.1%; text-align:left!important" class="Table"><strong>4. Đoàn kết, yêu thương </strong></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                        <td style="width: 2.9%" class="Table"></td>
                    </tr>
                    for (int p = 0; p < drDKYT.Count(); p++)
                    {
                        <tr style="text-align:center;">

                            <td class="Table">@drDKYT[p]["XepLoai"]</td>
                            <td class="Table">@(Convert.ToInt32(drDKYT[p]["SoHocSinhK1"]) + Convert.ToInt32(drDKYT[p]["SoHocSinhK2"]) + Convert.ToInt32(drDKYT[p]["SoHocSinhK3"]) + Convert.ToInt32(drDKYT[p]["SoHocSinhK4"]) + Convert.ToInt32(drDKYT[p]["SoHocSinhK5"]))</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhK1"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhK1"])</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhNuK1"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhNuK1"])</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhDanTocK1"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhDanTocK1"])</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhNuDanTocK1"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhNuDanTocK1"])</td>
                            <td class="Table"></td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhKhuyetTatK1"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhKhuyetTatK1"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhK2"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhK2"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhNuK2"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhNuK2"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhDanTocK2"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhDanTocK2"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhNuDanTocK2"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhNuDanTocK2"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhKhuyetTatK2"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhKhuyetTatK2"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhK3"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhK3"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhNuK3"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhNuK3"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhDanTocK3"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhDanTocK3"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhNuDanTocK3"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhNuDanTocK3"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhKhuyetTatK3"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhKhuyetTatK3"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhK4"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhK4"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhNuK4"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhNuK4"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhDanTocK4"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhDanTocK4"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhNuDanTocK4"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhNuDanTocK4"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhKhuyetTatK4"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhKhuyetTatK4"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhK5"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhK5"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhNuK5"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhNuK5"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhDanTocK5"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhDanTocK5"] )</td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhNuDanTocK5"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhNuDanTocK5"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drDKYT[p]["SoHocSinhKhuyetTatK5"].ToString() == "0" ? "" : drDKYT[p]["SoHocSinhKhuyetTatK5"] )</td>
                        </tr>
                    }
                }
                <tr>
                    <td style="width: 10.1%" class="Table"><strong>IV. Khen thưởng </strong></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                </tr>
                System.Data.DataRow[] drKT = Model.Tables[3].Select("XepLoai='KT'");
                if (drKT!=null && drKT.Count() > 0)
                {
                    for (int q = 0; q < drKT.Count(); q++)
                    {
                        <tr style="text-align:center;">

                            <td class="Table" style="text-align:left!important">- Khen cuối năm học</td>
                            <td class="Table">@(Convert.ToInt32(drKT[q]["TongSoK1"]) + Convert.ToInt32(drKT[q]["TongSoK2"]) + Convert.ToInt32(drKT[q]["TongSoK3"]) + Convert.ToInt32(drKT[q]["TongSoK4"]) + Convert.ToInt32(drKT[q]["TongSoK5"]))</td>
                            <td class="Table">@(drKT[q]["TongSoK1"].ToString() == "0" ? "" : drKT[q]["TongSoK1"])</td>
                            <td class="Table">@(drKT[q]["TongSoNuK1"].ToString() == "0" ? "" : drKT[q]["TongSoNuK1"])</td>
                            <td class="Table">@(drKT[q]["DanTocK1"].ToString() == "0" ? "" : drKT[q]["DanTocK1"])</td>
                            <td class="Table">@(drKT[q]["DanTocNuK1"].ToString() == "0" ? "" : drKT[q]["DanTocNuK1"])</td>
                            <td class="Table"></td>
                            <td class="Table">@(drKT[q]["KhuyetTatK1"].ToString() == "0" ? "" : drKT[q]["KhuyetTatK1"] )</td>
                            <td class="Table">@(drKT[q]["TongSoK2"].ToString() == "0" ? "" : drKT[q]["TongSoK2"] )</td>
                            <td class="Table">@(drKT[q]["TongSoNuK2"].ToString() == "0" ? "" : drKT[q]["TongSoNuK2"] )</td>
                            <td class="Table">@(drKT[q]["DanTocK2"].ToString() == "0" ? "" : drKT[q]["DanTocK2"] )</td>
                            <td class="Table">@(drKT[q]["DanTocNuK2"].ToString() == "0" ? "" : drKT[q]["DanTocNuK2"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drKT[q]["KhuyetTatK2"].ToString() == "0" ? "" : drKT[q]["KhuyetTatK2"] )</td>
                            <td class="Table">@(drKT[q]["TongSoK3"].ToString() == "0" ? "" : drKT[q]["TongSoK3"] )</td>
                            <td class="Table">@(drKT[q]["TongSoNuK3"].ToString() == "0" ? "" : drKT[q]["TongSoNuK3"] )</td>
                            <td class="Table">@(drKT[q]["DanTocK3"].ToString() == "0" ? "" : drKT[q]["DanTocK3"] )</td>
                            <td class="Table">@(drKT[q]["DanTocNuK3"].ToString() == "0" ? "" : drKT[q]["DanTocNuK3"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drKT[q]["KhuyetTatK3"].ToString() == "0" ? "" : drKT[q]["KhuyetTatK3"] )</td>
                            <td class="Table">@(drKT[q]["TongSoK4"].ToString() == "0" ? "" : drKT[q]["TongSoK4"] )</td>
                            <td class="Table">@(drKT[q]["TongSoNuK4"].ToString() == "0" ? "" : drKT[q]["TongSoNuK4"] )</td>
                            <td class="Table">@(drKT[q]["DanTocK4"].ToString() == "0" ? "" : drKT[q]["DanTocK4"] )</td>
                            <td class="Table">@(drKT[q]["DanTocNuK4"].ToString() == "0" ? "" : drKT[q]["DanTocNuK4"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drKT[q]["KhuyetTatK4"].ToString() == "0" ? "" : drKT[q]["KhuyetTatK4"] )</td>
                            <td class="Table">@(drKT[q]["TongSoK5"].ToString() == "0" ? "" : drKT[q]["TongSoK5"] )</td>
                            <td class="Table">@(drKT[q]["TongSoNuK5"].ToString() == "0" ? "" : drKT[q]["TongSoNuK5"] )</td>
                            <td class="Table">@(drKT[q]["DanTocK5"].ToString() == "0" ? "" : drKT[q]["DanTocK5"] )</td>
                            <td class="Table">@(drKT[q]["DanTocNuK5"].ToString() == "0" ? "" : drKT[q]["DanTocNuK5"] )</td>
                            <td class="Table"></td>
                            <td class="Table">@(drKT[q]["KhuyetTatK5"].ToString() == "0" ? "" : drKT[q]["KhuyetTatK5"] )</td>
                        </tr>
                    }
                }
                <tr>
                    <td style="width: 10.1%" class="Table"><strong>V. HSDT Được trợ giãng </strong></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                </tr>

                System.Data.DataRow[] drKTKDG = Model.Tables[3].Select("XepLoai='KTKDG'");
                if (drKTKDG!=null && drKTKDG.Count() > 0)
                {
                    <tr style="text-align:center;">

                        <td class="Table"><strong>VI. HS.K.Tật không ĐG</strong></td>
                        <td class="Table">@(Convert.ToInt32(drKTKDG[0]["TongSoK1"]) + Convert.ToInt32(drKTKDG[0]["TongSoK2"]) + Convert.ToInt32(drKTKDG[0]["TongSoK3"]) + Convert.ToInt32(drKTKDG[0]["TongSoK4"]) + Convert.ToInt32(drKTKDG[0]["TongSoK5"]))</td>
                        <td class="Table">@(drKTKDG[0]["TongSoK1"].ToString() == "0" ? "" : drKTKDG[0]["TongSoK1"])</td>
                        <td class="Table">@(drKTKDG[0]["TongSoNuK1"].ToString() == "0" ? "" : drKTKDG[0]["TongSoNuK1"])</td>
                        <td class="Table">@(drKTKDG[0]["DanTocK1"].ToString() == "0" ? "" : drKTKDG[0]["DanTocK1"])</td>
                        <td class="Table">@(drKTKDG[0]["DanTocNuK1"].ToString() == "0" ? "" : drKTKDG[0]["DanTocNuK1"])</td>
                        <td class="Table"></td>
                        <td class="Table">@(drKTKDG[0]["KhuyetTatK1"].ToString() == "0" ? "" : drKTKDG[0]["KhuyetTatK1"] )</td>
                        <td class="Table">@(drKTKDG[0]["TongSoK2"].ToString() == "0" ? "" : drKTKDG[0]["TongSoK2"] )</td>
                        <td class="Table">@(drKTKDG[0]["TongSoNuK2"].ToString() == "0" ? "" : drKTKDG[0]["TongSoNuK2"] )</td>
                        <td class="Table">@(drKTKDG[0]["DanTocK2"].ToString() == "0" ? "" : drKTKDG[0]["DanTocK2"] )</td>
                        <td class="Table">@(drKTKDG[0]["DanTocNuK2"].ToString() == "0" ? "" : drKTKDG[0]["DanTocNuK2"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(drKTKDG[0]["KhuyetTatK2"].ToString() == "0" ? "" : drKTKDG[0]["KhuyetTatK2"] )</td>
                        <td class="Table">@(drKTKDG[0]["TongSoK3"].ToString() == "0" ? "" : drKTKDG[0]["TongSoK3"] )</td>
                        <td class="Table">@(drKTKDG[0]["TongSoNuK3"].ToString() == "0" ? "" : drKTKDG[0]["TongSoNuK3"] )</td>
                        <td class="Table">@(drKTKDG[0]["DanTocK3"].ToString() == "0" ? "" : drKTKDG[0]["DanTocK3"] )</td>
                        <td class="Table">@(drKTKDG[0]["DanTocNuK3"].ToString() == "0" ? "" : drKTKDG[0]["DanTocNuK3"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(drKTKDG[0]["KhuyetTatK3"].ToString() == "0" ? "" : drKTKDG[0]["KhuyetTatK3"] )</td>
                        <td class="Table">@(drKTKDG[0]["TongSoK4"].ToString() == "0" ? "" : drKTKDG[0]["TongSoK4"] )</td>
                        <td class="Table">@(drKTKDG[0]["TongSoNuK4"].ToString() == "0" ? "" : drKTKDG[0]["TongSoNuK4"] )</td>
                        <td class="Table">@(drKTKDG[0]["DanTocK4"].ToString() == "0" ? "" : drKTKDG[0]["DanTocK4"] )</td>
                        <td class="Table">@(drKTKDG[0]["DanTocNuK4"].ToString() == "0" ? "" : drKTKDG[0]["DanTocNuK4"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(drKTKDG[0]["KhuyetTatK4"].ToString() == "0" ? "" : drKTKDG[0]["KhuyetTatK4"] )</td>
                        <td class="Table">@(drKTKDG[0]["TongSoK5"].ToString() == "0" ? "" : drKTKDG[0]["TongSoK5"] )</td>
                        <td class="Table">@(drKTKDG[0]["TongSoNuK5"].ToString() == "0" ? "" : drKTKDG[0]["TongSoNuK5"] )</td>
                        <td class="Table">@(drKTKDG[0]["DanTocK5"].ToString() == "0" ? "" : drKTKDG[0]["DanTocK5"] )</td>
                        <td class="Table">@(drKTKDG[0]["DanTocNuK5"].ToString() == "0" ? "" : drKTKDG[0]["DanTocNuK5"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(drKTKDG[0]["KhuyetTatK5"].ToString() == "0" ? "" : drKTKDG[0]["KhuyetTatK5"] )</td>
                    </tr>
                }
                <tr>
                    <td style="width: 10.1%" class="Table"><strong>VII. HS bỏ học cuối năm </strong></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                    <td style="width: 2.9%" class="Table"></td>
                </tr>

            }
        }
    <tr>
        <td style="padding-top: 10px;" colspan="31" align="right"><strong>Hiệu Trưởng</strong></td>
    </tr>
</table>
<div id="LopMonChuaDanhGiaHet">
    <table style="margin-top:5px; font-family: Arial; font-size: 11px;">
        <tr>
            <td colspan="2"><strong><i> * Danh sách lớp, môn học và số lượng học sinh chưa được đánh giá theo từng môn</i></strong></td>
        </tr>
        <tr>
            <td class="Table" style="width: 15%;">
                <strong>Tên lớp</strong>
                
            </td>
            <td class="Table">
                <strong>Môn học (Số Học Sinh)</strong>
                
            </td>
        </tr>
        @{ 
            if(Model.Tables[4]!=null)
            {
                System.Data.DataTable dtMonHocChuaDanhGia = Model.Tables[4];
                if (dtMonHocChuaDanhGia!=null && dtMonHocChuaDanhGia.Rows.Count>0)
                {
                    for (int r = 0; r < dtMonHocChuaDanhGia.Rows.Count; r++)
                    {
                        <tr>
                            <td class="Table">
                                @dtMonHocChuaDanhGia.Rows[r]["TenLop"]
                            </td>
                            <td class="Table" style="text-align:left!important">
                                &nbsp;@dtMonHocChuaDanhGia.Rows[r]["ListMonHoc"]
                            </td>
                        </tr>
                    }
                }
            }

        }
    </table>
	<br/>
</div>