﻿@model VnEduPlus.HocSinh_KhenThuongKyLuat
 <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hashchange.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>

  <script type="text/javascript">
      $(document).ready(function () {
          $("#ngaykhen").datepicker(
        {
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: '1940:2500'
        });

          $('#khenthuongcaptruong').change(function () {
              debugger;
              if ($(this).is(':checked')) {

                  $(this).val(true);
              } else {
                  $(this).val(false);
              }
          });

          $('#khenthuong').change(function () {
              debugger;
              if ($(this).is(':checked')) {

                  $(this).val(true);
              } else {
                  $(this).val(false);
              }
          });


      });
</script>

@{
    if (Model != null)
    {

        string ngaySua = Model.Ngay.ToString("dd/MM/yyyy");
         
        <form id="formEditKhenThuong">
      
      <!-- Modal content-->
      <div>
        <div>
          <h4 class="modal-title">Sửa chữa nội dung khen thưởng</h4>
        </div>
        <div> 
          <div class="row">
            <div class="col-sm-3">Ngày</div>
            <div class="col-sm-9"><input type="text" value="@ngaySua"  readonly="readonly" name="ngaykhen" id="ngaykhen" /></div>
          </div>

      
          <div class="row">
            <div class="col-sm-3">Nội dung</div>
            <div class="col-sm-9">
                <input type="text" value="@Model.NoiDung" name="noidung" id="noidung"  style="width:100%"/></div>
          </div>

          @{ string selectedHK1 = "";
             string selectedHK2 = "";
             if (Model.MaHocKy == "HK1")
             {
                 selectedHK1 = "selected";
                 selectedHK2 = "";
             }

             if (Model.MaHocKy == "HK2")
             {
                 selectedHK2 = "selected";
                 selectedHK1 = "";
             }
             
              
             }
        <div class="row">
            <div class="col-sm-3">Học kỳ</div>
            <div class="col-sm-9"> <select id="maHK">
                                    <option value="">-- Chọn học kỳ --</option>
                                    <option value="HK1" @selectedHK1>Học kỳ 1</option>
                                    <option value="HK2" @selectedHK2>Cả năm</option>

                                    </select></div>
          </div>

        <div class="row">
            <div class="col-sm-9">Khen thưởng cấp trên</div>
            <div class="col-sm-3"> <input type="checkbox"
             @{ string value ="false";
                 
                 if (Model.KhenThuong == true)
               {
                    value = Model.KhenThuong == true ? "true" : "false"; 
                  <text> checked="checked" </text>
                  
               
               }}
               
                

             name="khenthuong" id="khenthuong" value="@value" /></div>
          </div>

        <div class="row">
            <div class="col-sm-9">Khen thưởng cấp trường</div>
            <div class="col-sm-3"><input type="checkbox" name="khenthuongcaptruong" id="khenthuongcaptruong" 
              @{ string valueCT = "false";
                  
                  if (Model.KhenThuongCapTruong == true)
                  {
                      valueCT = Model.KhenThuongCapTruong == true ? "true" : "false"; 
                  <text> checked="checked" </text>
               
                }}
            value="@valueCT" /></div>
          </div>

        </div>

        </div>
        </form>
    }
}
