﻿ <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 </head>
@model VnEduPlus.Models.KetQuaMonDanhGia
        
<script>
    $(document).ready(function () {
         // đăng ký sự kiện người dùng kích nút all
         $('#all').change(function(){
            if ($(this).is(':checked')) {
              // set toàn bộ các checkbox khac là true
              $('input[type="checkbox"]').prop("checked", true);
            } else {
               $('input[type="checkbox"]').prop("checked", false);
            }

         });

         $('#btnMacDinh').show();
         $('#chonnx').click(function(){
           var maHocKy = $('#hocky').val();
            $('input[type="checkbox"]').each(function () {
                var idcheckbox = this.id,
                    maMonHoc =$('#maMonHoc').val(),
                    danhGia = $('#nhanxetmacdinh').val();
                  debugger;
                 // chỉ những học sinh được đánh dấu thì mới lấy dữ liệu đánh giá gắn vào ô textbox
                 if($('#' + idcheckbox).is(':checked'))
                 {
                    danhGia = (danhGia =="C") ? "CHT" :(danhGia =="H") ? "HT" :(danhGia == "T") ? "HTT": danhGia;
                    debugger;

                    $('#' + idcheckbox +'-NX_' + maMonHoc.trim()).val(danhGia);
                   
                 }
            });

         });


         if(@ViewBag.QuyenNhapDiem == 0) 
         {
                $('#btnSave').hide();
                $('#btnMacDinh').hide();
                $('#btnNXMacDinh').hide();
         } else {
                
                var hk = $('#hocky').val();
                $('#btnSave').show();
                if (hk =="0") {
                    $('#btnMacDinh').show();
                } else if (hk =="1") {
                    $('#btnNXMacDinh').show();
                }
         }

         
        // Xử lý check validator cho việc nhập vào CĐ hoặc HT
        $('input[type="text"]').bind('change', function () {
            var value = $(this).val();
            var id = this.id;
            debugger;           
            var name = $(this).attr('name');
            $(this).val(convertCharacter(value));
            // tick checked for checkbox
            $('#'+ name).prop("checked", true);

            if (id.indexOf("NXNangLucTX") > 0 || id.indexOf("NXPhamChatTX") > 0) {// xét mặc định Đ
                if ( value.toUpperCase() != 'D' && value.toUpperCase() != 'Đ' && value.toUpperCase() != 'CCG' && value.toUpperCase() != 'T') {
                    alert('Chỉ nhập giá trị là (Đ/D/CCG/T)!');
                
                    $('#' + id).val('');
                    $('#' + id).focus();
                }
                else {
                    $('#' + name).attr('checked', 'checked');
                }
            
            }  
            else 
            { 
                if (id!='nhanxetmacdinh' && id.indexOf("HoanThanhCT") < 0) {

                    if (value.toUpperCase() != 'HT' && value.toUpperCase() != 'CHT' && value.toUpperCase() != 'HTT') {
                        alert('Chỉ nhập giá trị là (HT/CHT/HTT)!');
                
                        $('#' + id).val('');
                        $('#' + id).focus();
                    }
                    else {
                        $('#' + name).attr('checked', 'checked');
                    }
              } else { // nếu là khi người dùng gõ vào câu nhận xét thì ko cần kiểm tra gì cả
                    $('#' + name).attr('checked', 'checked');
              }
            }
            
        });

         var model =@ViewBag.isHiddenNhanxetButton;
         debugger;
         if ( model == "1") {         
                //enable nút xếp mặc đinh
                $('#btnMacDinh').addClass('disabled');
         } else {
            $('#btnMacDinh').removeClass('disabled');
         }
        
    });

    function convertCharacter (value) {
       if (value) {
          if (value.toUpperCase() =='D') {
            value = 'Đ';
          }
           
          if (value.toUpperCase() =='CD') {
            value = 'CĐ';
          }

          if (value.toUpperCase() =='CHT' || value.toUpperCase() =='HT' || value.toUpperCase() =='CCG' || value.toUpperCase() =='HTT') {
            value = value.toUpperCase();
          }
            

       }
       return value;
    }
</script>
<style>
    .medium{
        width:15%;
    }
    .small{
        width:5%;
    }
    .diem{
        width:6%;
		
    }
    
</style>

@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using Lib.Web.Mvc.JQuery.JqGrid;
@using VnEduPlus.CmonFunction;
@using VnEduPlus.Models;
@using System.Globalization;
@using System.Threading;
@using System.Data.SqlClient;
@using System.Data;
@using VnEduPlus;
@{
    EDUNP_CAP1Entities db = new EDUNP_CAP1Entities();
    string disabled = ViewBag.QuyenNhapDiem == 0 ? "disabled" : "";
    if (Model != null && Model.dataTable !=null)
    {

        string namHoc = ViewBag.namhoc;
        int idTruong = (int)ViewBag.idTruong;
        string maLop = ViewBag.maLop;
        List<MonHocThi> MonThi = (List<MonHocThi>)ViewBag.DanhSachMonThi;

        List<string> danhSachMonCoQuyen = (List<string>)ViewBag.UserMon;
        List<string> danhSachMonTinhDiem = (List<string>)ViewBag.monHocTinhDiem;     
             
        <div class="container" style="margin-top: 170px; width: 95%">
        <i>Chú ý: Tích chọn các học sinh ở ô <span>&#9745;</span> đầu dòng trước khi dùng chức năng đánh giá nhóm </i>
            <table id="dsDiemHocSinh" class="table table-bordered" style="border:0 auto; font-size: 12px;">
                 <thead>
                     <tr>
                         <th style="width:1%; padding-left:3px; padding-right:4px"><input type="checkbox" id="all" /></th>
                         <th style="width:1%;text-align: center">STT</th>
                         <th style="text-align: center; word-wrap: break-word; " class="diem">Họ tên</th>
                         <th style="text-align: center; word-wrap: break-word; " class="diem">Ngày sinh</th>
                         <!-- hiện thị các cột là các môn và nội dung tham khảo của môn -->

                         @foreach (DataColumn col in Model.dataTable.Columns)
                         {
                             string columnName = col.ColumnName;

                             if (columnName != "STT" && columnName != "MaHocSinh" && columnName != "HoTen" && columnName != "NgaySinh" && columnName != "GioiTinh")
                             {
                                 // Kiểm tra các cột có thỏa mãn không 
                                 string maMon = columnName.Split('_') != null && columnName.Split('_')[1] != null ? columnName.Split('_')[1] : columnName;
                                 string type = columnName.Split('_') != null && columnName.Split('_')[0] != null ? columnName.Split('_')[0] : columnName;

                                 if (danhSachMonCoQuyen.Contains(maMon.ToUpper()) == true)
                                 {
                                     if (danhSachMonTinhDiem.Contains(maMon.ToUpper()) == true)
                                     {
                                                                         
                                        <th style="text-align: center; word-wrap: break-word; " class="diem">@{if (type == "NX"){
                                                                                                              <span>Đánh giá </span> {@maMon}
                                                                                                               }
                                                                                                               else
                                                                                                               {
                                                                                                                <span>Điểm KT </span> {@maMon}
                                                                                                               }}</th>
                                     }
                                     else if (type == "NX")
                                     {
                                         <th style="text-align: center; word-wrap: break-word; " class="diem">@{if (type == "NX")
                                                                                                                {<span>Đánh giá </span> {@maMon}}}</th>
                                     }
                                     else
                                     {
                                         continue;
                                     }

                                 } // end if t/h môn học có thõa mãn

                             } // end if các cột khác STT, HoTen

                         } <!-- end for -->
                         
                         
                     </tr>
                 </thead>
                 <tbody>
                
                    @{ int i = 0;
                       foreach (DataRow row in Model.dataTable.Rows)
                       {
                           i++;
                           string rowid = row["MaHocSinh"].ToString();
                          
                         <tr>
                             <td style="padding-left:3px; padding-right:4px">
                                 <input type="checkbox" id="@rowid" name="@rowid" />
                             </td>
                             <td style="text-align: center;">@i</td>
                             @foreach (DataColumn col in Model.dataTable.Columns)
                             {
                                 DanhMucMonHoc dm = Cmon.dmMonHoc.Where(m => m.MaMon == col.ColumnName).FirstOrDefault();
                                 string id = row["MaHocSinh"] + "-" + col.ColumnName;
                                 var diemthi = MonThi.FirstOrDefault(x => x.maMon == col.ColumnName);

                                 if (col.ColumnName == "HoTen" || col.ColumnName == "NamHoc"
                                     || col.ColumnName == "NgaySinh")
                                 {
                                                 <td @{ if (col.ColumnName == "HoTen")
                                                        {<text>style="width:20%"</text>}}> @row[col.ColumnName] </td>
                                 }
                                 else
                                 {
                                     string columnName = col.ColumnName;
                                     if (!col.ColumnName.Contains("MaHocSinh") && !col.ColumnName.Equals("HoTen") && !col.ColumnName.Equals("STT")
                                     && !col.ColumnName.Equals("NgaySinh") && !col.ColumnName.Equals("GioiTinh"))
                                     {

                                         string maMon = columnName.Split('_') != null && columnName.Split('_')[1] != null ? columnName.Split('_')[1] : columnName;
                                         string type = columnName.Split('_') != null && columnName.Split('_')[0] != null ? columnName.Split('_')[0] : columnName;

                                         if (danhSachMonCoQuyen.Contains(maMon.ToUpper()) == true)
                                         {
                                             if (danhSachMonTinhDiem.Contains(maMon.ToUpper()) == true)
                                             {
                                                  
                                             <td style="text-align: center; word-wrap: break-word; " >
                                                    @if (type == "Diem")
                                                    {
                                                     <span>@row[col.ColumnName]</span>
                                                    }
                                                    else
                                                    {
                                                          
                                                        <input id="@id" @disabled type="text" class="contentNhanXet" style="width: 100%; text-align: center; background-color: #fff;" 
                                                         name="@row["MaHocSinh"]" value="@row[col.ColumnName]" @{if (diemthi != null)
                                                                                                                 {<text> data-TGHK="@diemthi.thiGHK" data-THK="@diemthi.thiHK" </text>}}  />
                                                    }
                                              </td>
                                             }
                                             else if (type == "NX")
                                             {
                                                 
                                                 <td style="text-align: center; word-wrap: break-word; " >
                                                    <input id="@id" @disabled type="text" class="contentNhanXet" style="width: 100%; text-align: center; background-color: #fff;" 
                                                     name="@row["MaHocSinh"]" value="@row[col.ColumnName]" @{if (diemthi != null)
                                                                                                             {<text> data-TGHK="@diemthi.thiGHK" data-THK="@diemthi.thiHK" </text>}}  />
                                              </td>
                                             }
                                             else
                                             {
                                                 continue;
                                             }
                                         }
                                     }
                                 }
                             } <!-- end for coulmn-->
                                                                
                       </tr>
                       }<!-- end for row -->
    } 
                 </tbody>
             </table>
             </div>
    }

}



<div class="modal fade modalCenter" id="nhanXetMacDinhModal" role="dialog">
    <div class="modal-dialog modalWidthTongHop">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Chọn môn học và mức đánh giá cho nhóm</h4>
        </div>
        <div class="modal-body"> 
        
          <div class="row">
               <div class="col-sm-3" style="background-color:lavender;">
                Chọn môn học:
               </div>

               <div class="col-sm-9" style="background-color:lavender;">
                 @Html.DropDownListFor(x => Model.maMonHoc, new SelectList(ViewBag.danhSachMonHoc, "maMonHoc", "tenMonHoc"))
               </div>
           </div>

          <div class="row">
               <div class="col-sm-3" style="background-color:lavender;">
                Chọn đánh giá:
               </div>   
               <div class="col-sm-9" style="background-color:lavender;">              
                <select id="nhanxetmacdinh" name="nhanxetmacdinh">
                <option value="HTT">Hoàn thành tốt</option>
                <option value="HT">Hoàn thành</option>
                <option value="CHT">Chưa hoàn thành</option>
                </select>
               </div>
           </div>

        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" id="chonnx" data-dismiss="modal">Đánh giá nhóm</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

