﻿@model IList<VnEduPlus.Models.HocSinhKhenThuongKyLuat>
   
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
 
<link href="@Url.Content("~/Content/template.css")" rel="stylesheet" type="text/css" />
 
 <!-- bootstrap ---------------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
    <link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>
   

<script type="text/javascript">
    var jqXHRData;
    $(document).ready(function () {
        
       
         $('#HK').change(function () {
            var value = this.value;
            // lấy ra mã học sinh 
            
             $("#HK option[value='"+ value + "']").prop('selected', true);
             debugger;
            
            var maHocSinh = $('tr.selected').attr('id'); 
            if (maHocSinh !=null) {
             viewdata(maHocSinh)
            } else {
             alert('Bạn phải chọn một học sinh nào đó !');
            }
        });

          
        $('.delete').click(function () {
            var ngay =  $(this).closest( "tr" ).find('td.ngay').html();
            var hocKy = $('#HK').val();
            var maHS = $('#mhs').val();
            var idTruong = $('#idtruong').val();
            var namHoc = $('#namHoc').val();
            var maLop = $('#maLop').val();
            debugger;

            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("XoaMotKhenThuong", "TongHopDanhGia")',
                 data: { maHS: maHS, maLop: maLop, namHoc: namHoc, idTruong: idTruong, hocKy: hocKy, ngay: ngay },
                success: function (data) {
                     if (data =='OK') {
                      alert('Bạn đã xóa khen thưởng thành công ! ');
                     }
                    
                    // load lại dữ liệu sau khi xóa dữ liệu

                     $('#viewdata').empty();
                     viewdata(maHS); 
                      
                },
                  
            });// end ajax

            }); // end function

              // procesing action for editing button

            $('.edit').click(function () {
                var ngay =  $(this).closest( "tr" ).find('td.ngay').html();
                var hocKy = $('#HK').val();
                var maHS = $('#mhs').val();
                var idTruong = $('#idtruong').val();
                var namHoc = $('#namHoc').val();
                var maLop = $('#maLop').val();
                $("#editKhenThuong").load('@Url.Action("hienThiKhenThuong", "TongHopDanhGia")?idTruong=' + idTruong + '&maLop=' + maLop + '&namHoc=' + namHoc + '&maHS=' + maHS + '&ngay=' + ngay).dialog({
                    autoOpen: true,
                    position: { my: "center", at: "top+350", of: window },
                    width: 500, 
                    resizable: false,
                    title: 'chỉnh sửa lại nội dung khen thưởng',                    
                    buttons: {
                        "Cập nhật": function () {
                            debugger;
                            var noiDung = $('#noidung').val();
                            var hocKy = $('#maHK').val();
                            var khenThuong = $('#khenthuong').prop('checked') === true ? 1 : 0;
                            var khenThuongCT = $('#khenthuongcaptruong').prop('checked') === true ? 1 : 0;
                             $(this).closest('.ui-dialog-content').dialog('close');
                            $('.ui-dialog').remove();//importan
                            updateNoiDungKhenThuong(idTruong, namHoc, maLop, maHS,hocKy,ngay,noiDung, khenThuong, khenThuongCT);                              
                          
                        } 
                    }
                });
                
                return false;
            })

          
         function updateNoiDungKhenThuong(idTruong, namHoc, maLop, maHS,hocKy,ngay,noiDung, khenThuong, khenThuongCapTruong) {
                debugger;
             if (!hocKy) {
                alert('Bạn phải chọn học kỳ');
                return false;

            }

            if (khenThuong == 0 && khenThuongCapTruong == 0) {
                alert('Bạn phải một trong các loại khen thưởng');
                return false;
            }

            if (!noiDung) {
                alert('Bạn cần nhập nội dung khen thưởng');
                return false;
            }

            $.ajax({
                url: '@Url.Action("editKhenThuong", "TongHopDanhGia")',
                dataType: 'json',
                type: 'GET',
                //data: $("#formAdd").serialize(),
                data: { idTruong: idTruong, maLop: maLop, namHoc:namHoc, maHS: maHS, ngay: ngay, noiDung: noiDung, khenThuong: khenThuong, khenThuongCapTruong: khenThuongCapTruong, hocKy: hocKy},
                success: function (data) {
                    if (data) {

                        if (data == "OK") {
                             $("#formEditKhenThuong").dialog("close");
                             $("#editKhenThuong").remove();
                            alert("Cập nhật nhận xét thành công!");                                 
                            $('.ui-dialog-titlebar-close').click();
                            $('#viewdata').empty();
                            viewdata(maHS); 
                        }
                        else {
                            alert(data);
                        }
                    }
                }
            });

        }

        // --- add new 


          $('.addNew').click(function () {
                var ngay =  $(this).closest( "tr" ).find('td.ngay').html();
                var hocKy = $('#HK').val();
                var maHS = $('#mhs').val();
                var idTruong = $('#idtruong').val();
                var namHoc = $('#namHoc').val();
                var maLop = $('#maLop').val();
                var maKhoi = $('#maKhoi').val();
             
                
                $("#addNewKhenThuong").load('@Url.Action("ThemMoiKhenThuong", "TongHopDanhGia")?idTruong=' + idTruong + '&maKhoi='+ maKhoi+'&maLop=' + maLop + '&maHS=' + maHS).dialog({
                    autoOpen: true,
                    cache: false, 
                    position: { my: "center", at: "top+350", of: window },
                    width: 750,
                    resizable: true,
                    title: 'Thêm mới nội dung khen thưởng',  
                    modal: true,
                    open: function () {

                    },                  
                     
                    close: function(event, ui)
                        {
                             
                           $(this).dialog("close"); 
                           $(this).empty();
                           
                            $('#maLop').val(maLop); 

                        } 
                });
                
               //$("#addNewKhenThuong").dialog('destroy'); 
                return false;
            })
        //---------



        function viewdata(mahocsinh) {
        var mlop = document.getElementById("malop").value;
        var mkhoi = document.getElementById("makhoi").value;        
        // xóa toàn bộ selected trước khi gán lại
        $('tr').removeClass('selected');
        // add selected class vào TR để xác định là học sinh nào đang được lựa chọn
        $('tr #' + mahocsinh).addClass('selected');         
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("HocSinhDanhSachKhenThuong", "TongHopDanhGia")',
            data: { mahs: mahocsinh, malop: mlop, makhoi: mkhoi, inline: true },
            success: function (data) {

                $("#viewdata").html(data);
                $('#form').find('input, textarea,  select').attr('disabled', 'disabled');
                $('#btnSave').attr('disabled', 'disabled');
                $('#btnCancel').attr('disabled', 'disabled');
                //      $('#btnAdd').removeAttr('disabled');
                $('#btnEdit').removeAttr('disabled');
                //    $('#btnDelete').removeAttr('disabled');

                var oldTr = document.getElementById(preMaHS);
                $(oldTr).css("background-color", "transparent");
                var selectedTr = document.getElementById(mahocsinh);
                $(selectedTr).css("background-color", "#CBD9EB");

                preMaHS = mahocsinh;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve specification options.')
            }
        });
    }

        
        $('.deleteAll').click(function () {
            //var ngay =  $('.delete').parents('tr').find('td.ngay').html();
            var hocKy = $('#HK').val();
            var maHS = $('#mhs').val();
            var idTruong = $('#idtruong').val();
            var namHoc = $('#namHoc').val();
            var maLop = $('#maLop').val();
            debugger;

            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("XoaToanBoKhenThuong", "TongHopDanhGia")',
                 data: { maHS: maHS, maLop: maLop, namHoc: namHoc, idTruong: idTruong, hocKy: hocKy},
                success: function (data) {
                     if (data =='OK') {
                      alert('Bạn đã xóa toàn bộ khen thưởng thành công ! ');
                     }
                     
                },
                  
            });// end ajax

        }); // end function
         
    });// end document reday

    function viewdata(mahocsinh) {
        var mlop = document.getElementById("malop").value;
        var mkhoi = document.getElementById("makhoi").value;
        var maHocKy = $('#HK').val();
        maHocKy = maHocKy == null ? "HK1" : maHocKy;
         
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("HocSinhDanhSachKhenThuong", "TongHopDanhGia")',
            data: { mahs: mahocsinh, malop: mlop, makhoi: mkhoi, inline: true },
            success: function (data) {

                $("#viewdata").html(data);
                $('#form').find('input, textarea,  select').attr('disabled', 'disabled');
                $('#btnSave').attr('disabled', 'disabled');
                $('#btnCancel').attr('disabled', 'disabled');
                //      $('#btnAdd').removeAttr('disabled');
                $('#btnEdit').removeAttr('disabled');
                //    $('#btnDelete').removeAttr('disabled');

                var oldTr = document.getElementById(preMaHS);
                $(oldTr).css("background-color", "transparent");
                var selectedTr = document.getElementById(mahocsinh);
                $(selectedTr).css("background-color", "#CBD9EB");

                preMaHS = mahocsinh;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve specification options.')
            }
        });
    }
</script>


<div id="tab-container" class='tab-container'>
       
 <div class='panel-container'>
         
            <div id="tabs1-js">
                

<fieldset>
<legend>Thông tin khen thưởng học sinh: @ViewBag.hoTenHocSinh</legend>
 <input type="hidden" id="mhs" value="@ViewBag.maHocSinh" />
<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
<input type="hidden" id="namHoc" name="namHoc" value="@ViewBag.namHoc" />
<input type="hidden" id="maLop" name="maLop" value="@ViewBag.maLop" />
<input type="hidden" id="maKhoi" name="maKhoi" value="@ViewBag.maKhoi" />
<input type="hidden" id="username" value="@ViewBag.username" />
 
<form id="formqt" style="background-color: #fff;">
<table width="100%" border="0">
<tr><td id="viewdataqt"> 
<table width="100%">
  <tr>
    <td width="3%"  style="border: 1px solid #ccc; padding: 5px;"><input type="checkbox" id="allcheck" /></td>
    <td width="7%" style="border: 1px solid #ccc; padding: 5px;"><strong>Ngày</strong></td>
    <td width="20%" style="border: 1px solid #ccc; padding: 5px;"><strong>Nội dung </strong></td>
    <td width="10%" style="border: 1px solid #ccc; padding: 5px;"><strong>Học kỳ </strong></td>
    <td width="20%" style="border: 1px solid #ccc; padding: 5px;"><strong>Khen thưởng cấp trên</strong></td>
    <td width="20%" style="border: 1px solid #ccc; padding: 5px;"><strong>Khen thưởng cấp trường</strong></td>
     <td width="20%" style="border: 1px solid #ccc; padding: 5px;"><strong>
     <input type="button" class="deleteAll" value="Xóa tất cả" /></strong>
     </td>
  </tr>
   @{
       for (int i = 0; i < Model.Count(); i++) { 
  <tr id="idmqt">
  
    <td style="border: 1px solid #ccc; padding: 5px;" width="5%"></td>
    <td style="border: 1px solid #ccc; padding: 5px;" width="7%" class="ngay">@Model[i].Ngay.ToString("dd/MM/yyyy")</td>
    <td style="border: 1px solid #ccc; padding: 5px;" width="45%" class="canhgiua hoverhang">
        @Model[i].NoiDung
    </td>
    <td>@Model[i].maHK</td>
    <td  style="border: 1px solid #ccc; padding: 5px;" > 
    
    @Html.CheckBoxFor(model => model[i].KhenThuong)
    </td>
    <td style="border: 1px solid #ccc; padding: 5px;" width="27%"> 
      
     @Html.CheckBoxFor(model => model[i].KhenThuongCapTruong)
    </td>
   <td style="border: 1px solid #ccc; padding: 5px;"><input type="button" value="xóa" class="delete"/> 
   
   <input type="button" value="Sửa" data-toggle="modal" class="edit"/> 
   
   </td> 
   
  </tr>
     }
       }
  
    <input type="button" style="display:none;visibility:hidden" />
    <tr>
       
        <td style=" style="border: 1px solid #ccc; padding: 5px;" ">
        @*<a href="@Url.Action("ThemKhenThuong", "TongHopDanhGia")"
        onclick="window.open('@Url.Action("ThemKhenThuong", "TongHopDanhGia")?idTruong=@ViewBag.idTruong&makhoi=@ViewBag.makhoi&maLop=@ViewBag.maLop&maHS=@ViewBag.maHocSinh&formid=@ViewBag.formId&btnRefresh=@ViewBag.btnId','popup','width=950,height=250,scrollbars=yes,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=100,top=250'); return false">
       
            <input type="button" id="themmoi" value="Thêm khen thưởng" /> </a>
*@
            <input type="button" id="themmoi" data-toggle="modal" class="addNew" value="Thêm khen thưởng" /> 
           
        </td>
        
        <td colspan="6"></td> 
    </tr>
</table> 
 
</td></tr>
</table>
</form>
                    </fieldset>

                 
            </div>
        </div>
    </div>

     <!-- Modal -->
  <div id="editKhenThuong" style="display:none">
  </div>

   <div id="addNewKhenThuong" style="display:none">
  </div>
   






 
