﻿@{
    ViewBag.Title = "Hồ sơ học sinh";
}

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validationEngine-vi.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>


<style type="text/css">
    .transItems
    {
        border: 0;
        background: transparent;
        width: 28px;
    }
</style>


<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	 


<script type="text/javascript">

    $(document).ready(function () {

        var mkhoi = $("#makhoi").val();
        if (mkhoi != "") {
            loadDSLop(mkhoi);
        }

        $("#makhoi").change(function () {
            var mkhoi = $("#makhoi").val();
            loadDSLop(mkhoi);
        });


        $("#malop").change(function () {
            loadDSHocSinh();
        }); 
    });

    function loadDSLop(mkhoi) {

        var dlop = $("#malop");
        dlop.empty();
        $.getJSON('@Url.Action("LoadLophoc", "hocsinh")', { id: mkhoi },
            function (khoiData) {
                var select = $("#malop");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "Chọn lớp"
                }));
                $.each(khoiData, function (Mainview, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
    }

    function loadDSHocSinh(mahocsinh) {
        var ml = document.getElementById("malop").value;
        //var mamonhoc = document.getElementById("ddlmonhoc").value;
        // var idhocky = document.getElementById("hocky").value;
        var idtruong = document.getElementById("idtruong").value;
        $.getJSON('@Url.Action("LoadHocsinhtheolop", "TongHopDanhGia")', { idtruong: idtruong, malop: ml },
            function (modelData) {
                fillGrid(modelData);

                if (mahocsinh != null && mahocsinh != "") {
                    var selectedTr = document.getElementById(mahocsinh);
                    $(selectedTr).css("background-color", "#006699");
                }

                preMaHS = mahocsinh;
            }
        );
    }

    function fillGrid(modelData) {
        var list = $("#dshs");
        list.empty();

        var table = "<table style=\"width: 100%;\">";
        $.each(modelData, function (index, itemData) {
            table += "<tr style=\"border: 1px solid #abc1de;\" id=\"" + itemData.MaHocSinh + "\"><td style=\"padding: 3px 0px 3px 7px;\">" + itemData.STT + "</td><td ><a class='hienthihocsinh' data-pass=" + itemData.MaHocSinh + ">" + itemData.HoTen.toString() + " </a></td></tr></div>";

        });
        table += "</table>";
        list.append(table);

        $('.hienthihocsinh').click(function () {
            debugger;
            var maHocSinh = $(this).attr('data-pass');
            viewdataKT(maHocSinh);
        });
    }

    var preMaHS = '';
    function viewdataKT(mahocsinh) {
        debugger;
        var mlop = document.getElementById("malop").value;
        var mkhoi = document.getElementById("makhoi").value;
        var maHocKy = $('#HK').val();
        maHocKy = maHocKy == null ? "HK1" : maHocKy;
        // xóa toàn bộ selected trước khi gán lại
        $('tr').removeClass('selected');
        // add selected class vào TR để xác định là học sinh nào đang được lựa chọn
        $('tr #' + mahocsinh).addClass('selected');

         
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("HocSinhDanhSachKhenThuong", "TongHopDanhGia")',
            data: { mahs: mahocsinh, malop: mlop, makhoi: mkhoi, maHocKy: maHocKy, inline: true },
            success: function (data) {

                $("#viewdata").html(data);
                $('#form').find('input, textarea,  select').attr('disabled', 'disabled');
                $('#btnSave').attr('disabled', 'disabled');
                $('#btnCancel').attr('disabled', 'disabled');
                //      $('#btnAdd').removeAttr('disabled');
                $('#btnEdit').removeAttr('disabled');
                //    $('#btnDelete').removeAttr('disabled');

                var oldTr = document.getElementById(preMaHS);
                $(oldTr).css("background-color", "transparent");
                var selectedTr = document.getElementById(mahocsinh);
                $(selectedTr).css("background-color", "#CBD9EB");

                preMaHS = mahocsinh;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve specification options.')
            }
        });
    }

</script>

<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />

<!-- Trung lam -->
 @RenderPage("~/Views/Shared/_MainMenu.cshtml");
 <br><br><br>


<div style="margin-left: 20px; position: absolute; top: 60px">
	<tr>
		<td>
		<strong>Chú ý</strong>: Vui lòng chọn thông tin cần tìm kiếm và click vào từng học sinh để xem chi tiết hồ sơ của học sinh đó.
		</td>
	</tr>
</div>
<table style="width: 100%; border: 1px #abc1de solid; margin-top: 48px; max-height: 550px;">

    <tr>

        <td style="border-right: 1px solid #abc1de; width: 20%; border-bottom: 1px solid #abc1de; vertical-align: top;">
            <table style="border: 1px solid #abc1de; width: 100%;">
                <tr>
				<!--
                    <td style="padding-left: 3px;">
                        Chọn khối
                    </td>
				-->
				
                    <td>
                        @Html.DropDownList("makhoi", "Chọn khối")
                    </td>
                </tr>
                <tr>
				<!--
                    <td style="padding-left: 3px;">
                        Chọn lớp
                    </td>
				-->
                    <td>
                        @Html.DropDownList("malop", "Chọn lớp")
                    </td>                 
                </tr>
            </table>
            <table style="border-right: 1px solid #abc1de; border-bottom: 1px solid #abc1de;
                border-left: 1px solid #abc1de; width: 100%;">
                <tr>
                    <td style="width: 15%;">
                        STT
                    </td>
                    <td style="width: 85%;">
                        Họ và Tên
                    </td>
                </tr>
            </table>
            <div style="width: 100%; height: 450px; overflow: auto;">
                <table style="border-right: 1px solid #abc1de; border-bottom: 1px solid #abc1de;
                    border-left: 1px solid #abc1de; width: 100%;">
                    <tr>
                        <td id="dshs" style="background-color: #fff">
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td valign="top" width="80%">
            <table style="width: 100%;">
                <tr>
                    <td id="viewdata">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
