﻿@model IList<VnEduPlus.DM_NhanXetMau_CuoiKyNam>
@{
    ViewBag.Title = "Mâu Nhận xet chủ nhiệm";
}

 <style type="text/css">
        .transItems
        {
            border: 0;
            background: transparent;
            width:28px;
        }
        .row
        {
            background-color:#eee;
        }
        .altrow
        {
            background-color:#fff;
        }
        
       .selected {
        background:#FECBE0;
         }

        .ui-dialog-titlebar-close {
            background: url("../../css/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            border: medium none;
        }

            .ui-dialog-titlebar-close:hover {
                background: url("../../css/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            }
    </style>
    
 
    <script type="text/javascript">
        $(document).ready(function () {
            $('.maucau').change(function (evt) {

                $('.maucau').not($(this)).prop('checked', false);

            });

            $('.maucau').click(function () {
                var value = this.value;
                var noiDung = $("#" + this.value).text();
                $('#noiDungMonHoc').val(noiDung);

            });



        });                    // end document.ready 

    </script>
     
 <div class="container"> 
 <input type="hidden" id="noiDungMonHoc" value="" />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 5%; text-align: center;">#</th>
     
        <th style="width: 70%;">Nội dung</th>
      
        <th style="width: 15%; text-align: center;">Chức năng</th>
      </tr>
    </thead>
    <tbody>
     @{
        
         for (int i = 0; i < Model.Count(); i++)
         {
             string maNhanXet = Model[i].MaNhanXet; 
            <tr>
            <td style="text-align: center;">@(i + 1)</td>         
            <td id="@maNhanXet">@Model[i].TenNhanXet</td>
          
            <td style="text-align: center;">
            <input type ="radio" class="maucau" value="@maNhanXet">
            </td>
            </tr>
         }
         
      }
      
    </tbody>
  </table>

  
 <!-- Modal -->
  <div id="TieuChiForm" style="display:none">
  </div>
 
</div> 
 
