﻿@model IList<VnEduPlus.Models.ThongTinHocSinh>

  <script type="text/javascript">
    //Todo
      $(document).ready(function () {

          $('#dshs a').click(function () {
              console.log(this.id);
              var maHS = this.id;
              var maLop = $('#lophoc').val();
              var hocKy = $('#hocky').val();
              
              $('#mahs').val(maHS);
              $('#btnMacDinh').show();
              if (maHS != null && maLop != null && hocKy != "-1")
                  $.ajax({
                      cache: true,
                      type: 'GET',
                      url: '@Url.Action("GetDiemHocSinh", "TongHopDanhGia")',
                      data: { maHs: maHS, maLop: maLop, hocKy: hocKy },
                      success: function (data) {
                          $("#contentnx").empty();
                          $("#contentnx").html(data);

                      },

                      error: function (xhr, ajaxOptions, thrownError) {
                          alert('Failed to retrieve specification options.')
                      }

                  });


          });


      });


   </script>
   <input type="hidden" id="mahs" value="" />



  <table style="margin-top: 135px; width: 100%;">
    <thead>
      <tr>
        <th style="border: 1px solid #ccc; text-align: center;">STT</th>
        <th style="border: 1px solid #ccc; text-align: center;">Họ Tên</th>
      </tr>
    </thead>
    <tbody>
    @{for(int i=0; i<Model.Count; i++)
      {
        <tr>
            <td style="border: 1px solid #ccc; text-align: center;">@Model[i].STT</td>
            <td style="border: 1px solid #ccc;padding: 5px;"><a href="#" id="@Model[i].maHS">@Model[i].hoTenHS</a></td>
        </tr>
      }
    }
    </tbody>
  </table>
