﻿ @model VnEduPlus.Models.NhanXetHocSinh
            
@{
         
         string disabled = "";
         disabled = @ViewBag.phanQuyen == 0 ? "disabled" : "";
         string NXNL1 = @Model.nhanXetChung !=null ? ("null" !=  @Model.nhanXetChung.NXNangLuc1 ? @Model.nhanXetChung.NXNangLuc1 : "") :"";
         string NXNL2 = @Model.nhanXetChung != null ? ("null" != @Model.nhanXetChung.NXNangLuc2 ? @Model.nhanXetChung.NXNangLuc2 : "") : "";
         string NXNL3 = @Model.nhanXetChung != null ? ("null" != @Model.nhanXetChung.NXNangLuc3 ? @Model.nhanXetChung.NXNangLuc3 : "") : "";

         string NXPC1 = @Model.nhanXetChung != null ? ("null" != @Model.nhanXetChung.NXPhamChat1 ? @Model.nhanXetChung.NXPhamChat1 : "") : "";
         string NXPC2 = @Model.nhanXetChung != null ? ("null" != @Model.nhanXetChung.NXPhamChat2 ? @Model.nhanXetChung.NXPhamChat2 : "") : "";
         string NXPC3 = @Model.nhanXetChung != null ? ("null" != @Model.nhanXetChung.NXPhamChat3 ? @Model.nhanXetChung.NXPhamChat3 : "") : "";
         string NXPC4 = @Model.nhanXetChung != null ? ("null" != @Model.nhanXetChung.NXPhamChat4 ? @Model.nhanXetChung.NXPhamChat4 : "") : "";
                  
         string HTCT = @Model.nhanXetChung != null ? ("null" != @Model.nhanXetChung.HoanThanhCT ? @Model.nhanXetChung.HoanThanhCT : "") : "";  
         string DuocLenLop = @Model.nhanXetChung != null ? (null != @Model.nhanXetChung.DuocLenLop ? @Model.nhanXetChung.DuocLenLop.ToString() : "0") : "0";  
         
  }

  <script type="text/javascript">
    //Todo
      $(document).ready(function () {
      
         var phanquyen = $('#phanquyen').val();
         if(phanquyen && 0 == phanquyen) 
         {
                $('#btnSave').hide();
                $('#btnMacDinh').hide();
                $('#btnxgvbm').hide();
               $('#btnSave').hide();
         } else {
                
                $('#btnSave').show();
                 $('#btnMacDinh').show();
                 $('#btnxgvbm').hide();
                 $('#btnSave').show();
          }

         // Khi người dùng kích vao một nút thì sẽ load dữ liệu nhận xét của GVBM cho hoc sinh đó
         $('.loadnvbm').click(function(){
            var id = this.id;
            var maHs = id.substring(0,id.indexOf("-"));
            var maMon = id.substring(id.indexOf("-") + 1,id.length);
            var maLop = $('#lophoc').val();
            var maHK = $('#hocky').val();
            debugger;
             $.ajax({
                    cache: true,
                    type: 'GET',
                    url: '@Url.Action("LoadMacDinhGVBMNhanXet", "TongHopDanhGia")',
                    data: { maHs: maHs, maLop: maLop,maMon: maMon, hocKy: maHK},
                    success: function (data) {
                        //$("#contentnx").empty();
                        //$("#contentnx").html(data);
                        // load noi dung nhan xet cua giao vien bo mon dua vao text box
                        $('#'+ maMon).val(data);

                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }

                });
              

         });
               
      });

</script>

  <table style="width: 100%; margin-top: 135px;">
   <input type="hidden" id="phanquyen" value="@ViewBag.phanquyen" />
   
    <tbody>
     <tr>
        <td colspan="3">

             <table style="width: 100%; border: 1px solid #ccc;">
                  <thead>
                     <tr><th style="text-align: left; border-bottom: 1px solid #ccc;">Học sinh:@ViewBag.hoTenHocSinh </th></tr>
                  </thead>
                  <thead>
                     <tr><th style="text-align: center; border-bottom: 1px solid #ccc;">Điểm/Nhận xét</th></tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>

                            <table style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th style="width: 20%; text-align: center; border-right: 1px solid #ccc;">Môn học</th>
                                        <th style="width: 50%; text-align: center; border-right: 1px solid #ccc;">Nhận Xét</th>
                                        <th style="width: 10%; text-align: center; border-right: 1px solid #ccc;"></th>
                                        <th style="width: 10%; text-align: center; border-right: 1px solid #ccc;">ĐK</th>
                                        <th style="width: 10%; text-align: center;">TX</th>
                                    </tr>
                                </thead>

                                <tbody>
                                @{ List<VnEduPlus.Models.DiemHocSinh> diemHS = (List<VnEduPlus.Models.DiemHocSinh>)Model.DanhSachDiemMonHoc;

                                   for (int i = 0; i < diemHS.Count; i++)
                                   {
                                       string dauGach = "-";
                                    <tr>
                                        <td style="border: 1px solid #ccc; padding-left: 5px;">@diemHS[i].tenMon</td>
                                        <td style="border: 1px solid #ccc; text-align: center;padding: 2px;"><input style="width: 100%; font-size: 10pt;" class="form-control" type="text" id="@diemHS[i].maMon" @disabled value="@diemHS[i].nhanxet" /></td>
                                        <td><input type="button" name="loadbm" class="loadnvbm" id="@Model.maHS@dauGach@diemHS[i].maMon" value="nhận xét của GVBM" /></td>
                                        <td style="border: 1px solid #ccc;text-align: center;">@diemHS[i].DiemDKy</td>
                                        <td style="border: 1px solid #ccc;text-align: center;">@diemHS[i].DiemTX</td>
                                    </tr>
                                   }
                                   
                                 } 
                                </tbody>
                            </table>            
                        </td>
                    </tr>
                  </tbody>
             </table>
     
        </td>
     </tr>
	 <tr style="height: 20px;">
		<td></td>
		<td></td>
		<td></td>
	 </tr>
     <tr>
                 <td colspan="3">
                     <table  style="width: 100%; border: 1px solid #ccc;">
                                  <thead>
                                     <tr><th colspan="2" style="width: 100%; text-align: center; border-bottom: 1px solid #ccc;">Nhận xét năng lực </th></tr>
                                  </thead>
                                  <tbody>
                                    <tr> <td style="width: 20%; padding-left: 5px; border: 1px solid #ccc;">Tự phục vụ, tự quản:</td>
                                    
                                         <td style="padding: 2px; border: 1px solid #ccc"><input style="font-size: 10pt;" class="form-control" type="text" id="nangluc1" value="@NXNL1" @disabled /></td>
                                    </tr>

                                     <tr><td style="width: 20%; padding-left: 5px; border: 1px solid #ccc;">Giao tiếp, hợp tác:</td>
                                         <td style="padding: 2px; border: 1px solid #ccc">
                                            <input style="font-size: 10pt;"  class="form-control" type="text" id="nangluc2" @disabled value="@NXNL2" />
                                         </td>
                                    </tr>

                                     <tr><td style="width: 20%; padding-left: 5px; border: 1px solid #ccc;">Tự học và giải quyết vấn đề:</td>
                                         <td style="padding: 2px; border: 1px solid #ccc"><input style="font-size: 10pt;"  class="form-control" type="text" id="nangluc3" @disabled value="@NXNL3" /></td>
                                    </tr>

                                  </tbody>
                   </table>
              </td>
         </tr>
		 	 <tr style="height: 20px;">
		<td></td>
		<td></td>
		<td></td>
	 </tr>
     <tr><td colspan="3">
     
             <table  style="width: 100%; border: 1px solid #ccc;">
                                          <thead>
                                             <tr><th colspan="2" style="width: 100%; text-align: center; border-bottom: 1px solid #ccc;">Nhận xét phẩm chất</th></tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                                <td style="width: 20%; padding-left: 5px; border: 1px solid #ccc;">Chăm học, chăm làm:</td>
                                                <td style="padding: 2px; border: 1px solid #ccc"><input  style="font-size: 10pt;"  class="form-control" id="phamchat1" type="text" @disabled value="@NXPC1" /></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 20%; padding-left: 5px; border: 1px solid #ccc;">Tự trọng, tự tin và tự chịu trách nhiệm:</td>
                                                <td style="padding: 2px; border: 1px solid #ccc"><input  style="font-size: 10pt;"  class="form-control" type="text" id="phamchat2" @disabled  value="@NXPC2" /></td>
                                            </tr>
                                            <tr> 
                                                <td style="width: 20%; padding-left: 5px; border: 1px solid #ccc;">Trung thực, kỷ luật, đoàn kết: </td>
                                                <td style="padding: 2px; border: 1px solid #ccc"><input style="font-size: 10pt;"   class="form-control" type="text" id="phamchat3" @disabled value="@NXPC3" /></td>
                                            </tr>
                                            
                                            <tr>
                                                <td style="width: 20%; padding-left: 5px; border: 1px solid #ccc;">Yêu gia đình, bạn bè:</td>
                                                <td style="padding: 2px; border: 1px solid #ccc"><input  style="font-size: 10pt;"  class="form-control" type="text" id="phamchat4" @disabled value="@NXPC4" /></td>
                                            </tr>
                                          </tbody>
                 </table>
        </td>
		
     
     </tr>
	 <tr>
		<td style="height: 20px;"></td>
		<td></td>
	 </tr>
     <tr>
<td style="width: 20%; vertical-align: top;">Khen thưởng</td>
        <td style="padding: 5px 0">
        @{
            string noiDungKhenThuong = "";
            if (Model.nhanXetChung!= null) {
                
                List<VnEduPlus.HocSinh_KhenThuongKyLuat> khenThuongKyLuat = (List<VnEduPlus.HocSinh_KhenThuongKyLuat>) Model.nhanXetChung.KhenThuong;
                if (khenThuongKyLuat!=null ) {

               
                    foreach (VnEduPlus.HocSinh_KhenThuongKyLuat KhenThuong in khenThuongKyLuat)
                    {
                        noiDungKhenThuong += KhenThuong.NoiDung + ";" ;
                    }

                    if (noiDungKhenThuong.Trim().Length>0){
                    
                        noiDungKhenThuong = noiDungKhenThuong.Substring(0, noiDungKhenThuong.Length - 1);
                    }
                }
            
            }
            
            <textarea readonly style="width: 100%" cols="40" rows="5" id="khenthuong">@noiDungKhenThuong</textarea>
            }
        
                
        </td>         
     </tr>

     @{ if (@ViewBag.hocKy == "1")
        {
         <tr id="ht">
            <td colspan="2">Hoàn Thành CT: @HTCT </td>  
         </tr>
     
         <tr id="lenlop">
            <td colspan="2">Được lên lớp: @{if (DuocLenLop == "0")
                                            {<text> Ở lại</text>}
                                            else
                                            {<text>Lên lớp</text>}}</td> 
         </tr>
         }
     }

    </tbody>
  </table>
