﻿@model VnEduPlus.Models.ViewModelAll
<style>
    /* Example Styles for Demo */
    .etabs { margin: 0; padding: 0; }
    .tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
    .tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
    .tab a:hover { text-decoration: underline; }
    .tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
    .tab a.active { font-weight: bold; }
    .tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
    .panel-container { margin-bottom: 10px; }
    .Dorong { width:100%;}
    
  </style>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hashchange.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>

 
<script type="text/javascript">

    $(document).ready(function () {

          $("#ngaykhen").datepicker(
        {
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        yearRange: '1940:2500'
        });
         
        $("#tgsk").datepicker(
            {
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1980:2500'
            }); 
    });


        
</script>
 
<body>
Nhập thông tin quá trình cho học sinh
    <div id="tab-container" class='tab-container'>
       
        <div class='panel-container'>
            <div id="tabs1-html">
                @using (Html.BeginForm("saveQuaTrinh", "QuanLyThongTinHocSinh", FormMethod.Post, new { id = "QuanLyThongTinHocSinh" }))
                {
                     <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idTruong" />
                      <input type="hidden" id="namhoc" name="namhoc" value="@ViewBag.namHoc" />
                    <input type="hidden" id="namhoc" name="namhoc" value="@ViewBag.hocKy" />                    
                     <input type="hidden" id="malop" name="malop" value="@ViewBag.maLop" />
                     <input type="hidden" id="mahocsinh" name="mahocsinh" value="@ViewBag.maHocSinh" />
                    
                     
                     
                    <fieldset>
                        <legend>Thêm khen thưởng:</legend>
                        
                        <table width="100%" border="0">
                              <tr> 
                              <td><strong>Ng&agrave;y t&#7841;o </strong></td>
                                <td><input type="text" value="@DateTime.Now.ToString("dd/MM/yyyy")"  readonly="readonly" name="ngaykhen" id="ngaykhen" /></td>
                              </tr>

                              <tr>
                               <td><strong>N&#7897;i dung </strong></td>
                                <td colspan="3"  ><input type="text" value="" name="noidung" id="noidung"  style="width:100%"/></td>
                              
                              </tr>
                              
                              <tr>
                               <td><strong>Học kỳ </strong></td>
                                <td colspan="3">
                                    <select id="maHK">
                                    <option value="">-- Chọn học kỳ --</option>
                                    <option value="HK1">Học kỳ 1</option>
                                    <option value="HK2">Cả năm</option>

                                    </select>
                                  </td>
                              
                              </tr>
                              
                              <tr>
                               <td><strong>Khen thưởng cấp trên</strong></td>
                                <td colspan="3">
                                   <input type="checkbox" name="khenthuong" id="khenthuong" value="" />
                                    
                                  </td> 
                              </tr>


                              <tr>
                               <td><strong>Khen Thường cấp trường </strong></td>
                                <td colspan="3">
                                   <input type="checkbox" name="khenthuongcaptruong" id="khenthuongcaptruong" value="" />
                                  </td>
                              
                              </tr>


                               <tr>
                              <td colspan="2" align="center">  <input type="button" value="Lưu lại" id="saveKhenThuong" /></td>
                              </tr>
                        </table>
                        
                    </fieldset>

                }
            </div>
          
        </div>
    </div>
</body>
