﻿@*@Model System.Data.DataTable*@
<script type="text/javascript">

    $(document).ready(function () {
        //ThongKeChatLuongTheoKhoiKQHT('101');
    });

</script>
<style>
    .rotate {
    }

    .Table {
        text-align: center;
        border: 0.5px solid #000;
        height: 32px;
    }
</style>
@{
    string styleTable = "margin-top:5px; font-family: Arial; font-size: 11px; width:"+ ((Model.Count * 240)+160).ToString()+"px";
    <table style="@styleTable">
        <tr>
            @{
                string styleLeft = "width:" + (((Model.Count * 240) / 2) + 40) + "px";
                <td style="@styleLeft" colspan="@(((Model.Count*6)/2)+1)" align=center><strong>@ViewBag.CapQuanLy</strong></td>
                <td style="@styleLeft" colspan="@(((Model.Count*6)/2)+1)" align=center><strong>THỐNG KÊ ĐIỂM KIỂM TRA @ViewBag.HocKy</strong></td>
            }
        </tr>
        <tr>
            @{
                string styleright = "width:" + (((Model.Count * 240) / 2) + 40) + "px; padding-bottom: 10px;";
                <td style="@styleright" colspan="@(((Model.Count*6)/2)+1)" align=center><strong>@ViewBag.TenTruong</strong></td>
                <td style="@styleright" colspan="@(((Model.Count*6)/2)+1)" align=center><strong>NĂM HỌC: @ViewBag.NamHoc</strong></td>
            }

        </tr>
        @{
            <tr>
                <td rowspan="3" class="Table">&nbsp;</td>
                <td rowspan="3" class="rotate Table"><strong>Tổng<br />số<br />học<br />sinh</strong></td>
                @{
                    foreach (var lh in Model)
                    {
                        <td lang="@lh.MaLop" colspan="6" class="Table" style="height: 25px; width:240px!important"><strong>Lớp @lh.TenLop</strong></td>
                    }
                }
            </tr>
            <tr>
                @{
                    foreach (var lh in Model)
                    {
                        <td rowspan="2" class="rotate Table"><strong>Tổng<br />số</strong></td>
                        <td colspan="5" class="Table" style="height: 25px; width:200px"><strong>Trong tổng số</strong></td>
                    }
                }
            </tr>
            <tr style="height:100px">
                @{
                    foreach (var lh in Model)
                    {
                        <td class="rotate Table" style="width:40px">Nữ</td>
                        <td class="rotate Table" style="width:40px">Dân<br />tộc</td>
                        <td class="rotate Table" style="width:40px">Nữ<br />dân<br />tộc</td>
                        <td class="rotate Table" style="width:40px">Lớp<br />ghép</td>
                        <td class="rotate Table" style="width:40px">Khuyết<br />tật</td>
                    }
                }
            </tr>

            <tr>
                @{
                    decimal c = (Model.Count * 6);
                    decimal percen = Math.Round((100 / (c + 3)), 2);
                    string style = "width:40px";//"width:"+ percen.ToString() + "%";
                    string styleKQ = "width:120px";//"width:" + (100-(c*percen)-3).ToString() + "%";
                    <td style="@styleKQ" class="Table"><strong>I. Kết quả học tập </strong></td>
                    <td style="@style" class="Table"></td>
                    foreach (var lh in Model)
                    {
                        <td style="@style" class="Table"></td>
                        <td style="@style" class="Table"></td>
                        <td style="@style" class="Table"></td>
                        <td style="@style" class="Table"></td>
                        <td style="@style" class="Table"></td>
                        <td style="@style" class="Table"></td>
                    }
                }
            </tr>

            <tr>
                @{
                    int colspan = (Model.Count * 6) + 2;
                    <td id="tdContent" lang="@Model.Count" colspan="@colspan" class="Table">
                        <table style="margin-top:0px; font-family: Arial; font-size: 11px;">
                            <tr>
                                @{
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        System.Data.DataSet ds = new System.Data.DataSet();
                                        System.Data.SqlClient.SqlParameter[] para = new System.Data.SqlClient.SqlParameter[5];
                                        para[0] = new System.Data.SqlClient.SqlParameter("@IdTruong", Model[i].idTruong);
                                        para[1] = new System.Data.SqlClient.SqlParameter("@NamHoc", Model[i].NamHoc);
                                        para[2] = new System.Data.SqlClient.SqlParameter("@MaHocKy", Session["MaHocKy"]);
                                        para[3] = new System.Data.SqlClient.SqlParameter("@MaLop", Model[i].MaLop);
                                        para[4] = new System.Data.SqlClient.SqlParameter("@MaKhoi", Model[i].MaKhoi);
                                        HNAFramework.DataAccess.Framework.DBHelper dbHelper = new HNAFramework.DataAccess.Framework.DBHelper();
                                        ds = dbHelper.ExecuteDatasetPRO("spThongKeChatLuongTheoLop", para);
                                        Session["ThongKeChatLuongTheoLop_" + i.ToString()] = ds;
                                        <td>
                                            <table style="margin-top:0px; font-family: Arial; font-size: 11px;">
                                                @{
                                                    for (int j = 0; j < ds.Tables[0].Rows.Count; j++)
                                                    {

                                                        if (i == 0)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><strong>@ds.Tables[0].Rows[j]["TenMonHoc"]</strong></td>
                                                                <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["TongSoHocSinhDanhGia"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@(Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhHTT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhHT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhCHT"]))</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@(Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuHTT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuHT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuCHT"]))</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@(Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhDanTocHTT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhDanTocHT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhDanTocCHT"]))</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@(Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuDanTocHTT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuDanTocHT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuDanTocCHT"]))</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000">@(Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatHTT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatHT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatCHT"]))</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>Hoàn thành tốt</i></td>
                                                                <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhHTTKhoi"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhHTT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhNuHTT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhDanTocHTT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhNuDanTocHTT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-right:1px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatHTT"]</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>Hoàn thành</i></td>
                                                                <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhHTKhoi"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhNuHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhDanTocHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhNuDanTocHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-right:1px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatHT"]</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>Chưa hoàn thành</i></td>
                                                                <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhCHTKhoi"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhCHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhNuCHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhDanTocCHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@ds.Tables[0].Rows[j]["SoHocSinhNuDanTocCHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-right:1px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatCHT"]</td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:1px solid #000">@(Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhHTT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhHT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhCHT"]))</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@(Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuHTT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuHT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuCHT"]))</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@(Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhDanTocHTT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhDanTocHT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhDanTocCHT"]))</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@(Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuDanTocHTT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuDanTocHT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhNuDanTocCHT"]))</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000; border-right:0px solid #000">@(Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatHTT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatHT"]) + Convert.ToInt32(ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatCHT"]))</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:1px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhHTT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhNuHTT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhDanTocHTT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhNuDanTocHTT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000; border-right:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatHTT"]</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:1px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhNuHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhDanTocHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhNuDanTocHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000; border-right:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatHT"]</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:1px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhCHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhNuCHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhDanTocCHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhNuDanTocCHT"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-left:0px solid #000; border-right:0px solid #000">@ds.Tables[0].Rows[j]["SoHocSinhKhuyetTatCHT"]</td>
                                                            </tr>
                                                        }

                                                    }
                                                }
                                            </table>
                                        </td>
                                    }
                                }
                            </tr>
                        </table>
                    </td>

                }
            </tr>

            <tr>
                @{
                    <td style="width:120px; border-top:0px solid #000;border-left:1px solid #000"><strong>II. Năng lực </strong></td>
                    <td style="width:40px; border-top:0px solid #000;border-left:1px solid #000"></td>
                    foreach (var lh in Model)
                    {
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                    }
                }
            </tr>

            <tr>
                @{
                    int colspanNL = (Model.Count * 6) + 2;
                    <td lang="@Model.Count" colspan="@colspanNL" class="Table">
                        <table style="margin-top:0px; font-family: Arial; font-size: 11px;">
                            <tr>
                                @{
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        System.Data.DataSet ds = new System.Data.DataSet();
                                        ds = (System.Data.DataSet)Session["ThongKeChatLuongTheoLop_" + i.ToString()];
                                        <td>
                                            <table style="margin-top:0px; font-family: Arial; font-size: 11px;">
                                                @{
                                                    System.Data.DataRow[] dr = ds.Tables[1].Select("PhanLoai='TPVTQ'");
                                                    if (i == 0)
                                                    {
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><strong>1. Tự phục vụ, tự quản</strong></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px;border-right:0px solid #000"></td>

                                                        </tr>
                                                        for (int j = 0; j < dr.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>@dr[j]["XepLoai"]</i></td>
                                                                <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px;border-right:0px solid #000">@dr[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px;border-right:0px solid #000"></td>
                                                        </tr>
                                                        for (int j = 0; j < dr.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px;border-right:0px solid #000">@dr[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    System.Data.DataRow[] drHT = ds.Tables[1].Select("PhanLoai='HT'");
                                                    if (i == 0)
                                                    {
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><strong>2. Hợp tác</strong></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>

                                                        </tr>
                                                        for (int j = 0; j < drHT.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>@drHT[j]["XepLoai"]</i></td>
                                                                <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@dr[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                        </tr>
                                                        for (int j = 0; j < dr.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drHT[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drHT[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drHT[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drHT[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drHT[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    System.Data.DataRow[] drTHGQVD = ds.Tables[1].Select("PhanLoai='THGQVD'");
                                                    if (i == 0)
                                                    {
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><strong>3. Tự học và GQ Vấn đề</strong></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>

                                                        </tr>
                                                        for (int j = 0; j < drTHGQVD.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>@drTHGQVD[j]["XepLoai"]</i></td>
                                                                <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTHGQVD[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTHGQVD[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTHGQVD[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTHGQVD[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTHGQVD[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                        </tr>
                                                        for (int j = 0; j < dr.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTHGQVD[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTHGQVD[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTHGQVD[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTHGQVD[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTHGQVD[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </table>
                                        </td>
                                                    }
                                }
                            </tr>
                        </table>
                    </td>
                }
            </tr>

            <tr>
                @{
                    <td style="width:120px; border-top:0px solid #000;border-left:1px solid #000"><strong>III. Phẩm chất </strong></td>
                    <td style="width:40px; border-top:0px solid #000;border-left:1px solid #000"></td>
                    foreach (var lh in Model)
                    {
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                    }
                }
            </tr>

            <tr>
                @{
                    int colspanPC = (Model.Count * 6) + 2;
                    <td lang="@Model.Count" colspan="@colspanPC" class="Table">
                        <table style="margin-top:0px; font-family: Arial; font-size: 11px;">
                            <tr>
                                @{
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        System.Data.DataSet ds = new System.Data.DataSet();
                                        ds = (System.Data.DataSet)Session["ThongKeChatLuongTheoLop_" + i.ToString()];
                                        <td>
                                            <table style="margin-top:0px; font-family: Arial; font-size: 11px;">
                                                @{
                                                    System.Data.DataRow[] drCHCL = ds.Tables[2].Select("PhanLoai='CHCL'");
                                                    if (i == 0)
                                                    {
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><strong>1. Chăm học, chăm làm</strong></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000"></td>

                                                        </tr>
                                                        for (int j = 0; j < drCHCL.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>@drCHCL[j]["XepLoai"]</i></td>
                                                                <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drCHCL[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drCHCL[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drCHCL[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drCHCL[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000">@drCHCL[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000"></td>
                                                        </tr>
                                                        for (int j = 0; j < drCHCL.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drCHCL[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drCHCL[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drCHCL[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drCHCL[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000">@drCHCL[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    System.Data.DataRow[] drTTTN = ds.Tables[2].Select("PhanLoai='TTTN'");
                                                    if (i == 0)
                                                    {
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><strong>2. Tự tin, trách nhiệm</strong></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>

                                                        </tr>
                                                        for (int j = 0; j < drTTTN.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>@drTTTN[j]["XepLoai"]</i></td>
                                                                <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTTN[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTTN[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTTN[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTTN[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTTN[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                        </tr>
                                                        for (int j = 0; j < drTTTN.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTTN[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTTN[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTTN[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTTN[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTTN[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    System.Data.DataRow[] drTTKL = ds.Tables[2].Select("PhanLoai='TTKL'");
                                                    if (i == 0)
                                                    {
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><strong>3. Trung thực, kỹ luật</strong></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>

                                                        </tr>
                                                        for (int j = 0; j < drTTKL.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>@drTTKL[j]["XepLoai"]</i></td>
                                                                <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTKL[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTKL[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTKL[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTKL[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTKL[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                        </tr>
                                                        for (int j = 0; j < drTTKL.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTKL[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTKL[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTKL[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTKL[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drTTKL[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    System.Data.DataRow[] drDKYT = ds.Tables[2].Select("PhanLoai='DKYT'");
                                                    if (i == 0)
                                                    {
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><strong>4. Đoàn kết, yêu thương</strong></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>

                                                        </tr>
                                                        for (int j = 0; j < drDKYT.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>@drDKYT[j]["XepLoai"]</i></td>
                                                                <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drDKYT[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drDKYT[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drDKYT[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drDKYT[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drDKYT[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                        </tr>
                                                        for (int j = 0; j < drDKYT.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drDKYT[j]["SoHocSinh"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drDKYT[j]["SoHocSinhNu"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drDKYT[j]["SoHocSinhDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drDKYT[j]["SoHocSinhNuDanToc"]</td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                                <td class="Table" style="border-top:0px solid #000;width:40px">@drDKYT[j]["SoHocSinhKhuyetTat"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </table>
                                        </td>
                                                    }
                                }
                            </tr>
                        </table>
                    </td>
                }
            </tr>

            <tr>
                @{
                    <td style="width:120px; border-top:0px solid #000;border-left:1px solid #000"><strong>IV. Khen thưởng  </strong></td>
                    <td style="width:40px; border-top:0px solid #000;border-left:1px solid #000"></td>
                    foreach (var lh in Model)
                    {
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                    }
                }
            </tr>

            <tr>
                @{
                    int colspanKT = (Model.Count * 6) + 2;
                    <td lang="@Model.Count" colspan="@colspanKT" class="Table">
                        <table style="margin-top:0px; font-family: Arial; font-size: 11px;">
                            <tr>
                                @{
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        System.Data.DataSet ds = new System.Data.DataSet();
                                        ds = (System.Data.DataSet)Session["ThongKeChatLuongTheoLop_" + i.ToString()];
                                        <td>
                                            <table style="margin-top:0px; font-family: Arial; font-size: 11px;">
                                                @{
                                                    System.Data.DataRow[] drKT = ds.Tables[3].Select("PhanLoai='KT'");
                                                    if (i == 0)
                                                    {
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>- Khen thưởng cuối năm học</i></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKT[0]["SoHocSinh"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKT[0]["SoHocSinhNu"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKT[0]["SoHocSinhDanToc"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKT[0]["SoHocSinhNuDanToc"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000">@drKT[0]["SoHocSinhKhuyetTat"]</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>+ Khen HT xuất sắc</i></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>+ Khen tiến bộ vượt bậc</i></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>- Khen đột xuất</i></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important; border-top:0px solid #000;border-left:0px solid #000;width:120px"><i>- Khen thành tích đặc biệt(Cấp trên khen)</i></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000"></td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKT[0]["SoHocSinh"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKT[0]["SoHocSinhNu"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKT[0]["SoHocSinhDanToc"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKT[0]["SoHocSinhNuDanToc"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000">@drKT[0]["SoHocSinhKhuyetTat"]</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000"></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px solid #000"></td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </td>
                                                    }
                                }
                            </tr>
                        </table>
                    </td>
                }
            </tr>

            <tr>
                @{
                    <td style="width:120px; border-top:0px solid #000;border-left:1px solid #000"><strong>V.HSDT được trợ giảng</strong></td>
                    <td style="width:40px; border-top:0px solid #000;; border-left:1px solid #000"></td>
                    foreach (var lh in Model)
                    {
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                    }
                }
            </tr>

            <tr>
                @{
                    int colspanKTKDG = (Model.Count * 6) + 2;
                    <td lang="@Model.Count" colspan="@colspanKT" class="Table">
                        <table style="margin-top:0px; font-family: Arial; font-size: 11px;">
                            <tr>
                                @{
                                    for (int i = 0; i < Model.Count; i++)
                                    {
                                        System.Data.DataSet ds = new System.Data.DataSet();
                                        ds = (System.Data.DataSet)Session["ThongKeChatLuongTheoLop_" + i.ToString()];
                                        <td>
                                            <table style="margin-top:0px; font-family: Arial; font-size: 11px;">
                                                @{
                                                    System.Data.DataRow[] drKTKDG = ds.Tables[3].Select("PhanLoai='KTKDG'");
                                                    if (i == 0)
                                                    {
                                                        <tr>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;border-left:0px solid #000;width:120px"><strong>VI.HS.K.Tật không ĐG</strong></td>
                                                            <td class="Table" style="text-align:left!important;border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKTKDG[0]["SoHocSinh"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKTKDG[0]["SoHocSinhNu"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKTKDG[0]["SoHocSinhDanToc"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKTKDG[0]["SoHocSinhNuDanToc"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px">@drKTKDG[0]["SoHocSinhKhuyetTat"]</td>
                                                        </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKTKDG[0]["SoHocSinh"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKTKDG[0]["SoHocSinhNu"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKTKDG[0]["SoHocSinhDanToc"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px">@drKTKDG[0]["SoHocSinhNuDanToc"]</td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px"></td>
                                                            <td class="Table" style="border-top:0px solid #000;width:40px; border-right:0px">@drKTKDG[0]["SoHocSinhKhuyetTat"]</td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </td>
                                                    }
                                }
                            </tr>
                        </table>
                    </td>
                }
            </tr>

            <tr>
                @{
                    <td style="width:120px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"><strong>VII.HS bỏ học cuối năm</strong></td>
                    <td style="width:40px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"></td>
                    foreach (var lh in Model)
                    {
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                    }
                }
            </tr>

            <tr>
                @{
                    <td style="width:120px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"><i>+ Hoàn cảnh GĐKK</i></td>
                    <td style="width:40px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"></td>
                    foreach (var lh in Model)
                    {
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                    }
                }
            </tr>

            <tr>
                @{
                    <td style="width:120px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"><i>+ KK trong học tập</i></td>
                    <td style="width:40px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"></td>
                    foreach (var lh in Model)
                    {
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                    }
                }
            </tr>

            <tr>
                @{
                    <td style="width:120px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"><i>+ Xa trường, đi lại K.khăn</i></td>
                    <td style="width:40px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"></td>
                    foreach (var lh in Model)
                    {
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                    }
                }
            </tr>

            <tr>
                @{
                    <td style="width:120px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"><i>+ Thiên tai, dịch bệnh</i></td>
                    <td style="width:40px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"></td>
                    foreach (var lh in Model)
                    {
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                    }
                }
            </tr>

            <tr>
                @{
                    <td style="width:120px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"><i>+ Nguyên nhân khác</i></td>
                    <td style="width:40px; border-top:0px solid #000;border-left:1px solid #000; border-bottom:1px solid #000"></td>
                    foreach (var lh in Model)
                    {
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                        <td style="width:40px; border-top:0px solid #000;" class="Table"></td>
                    }
                }
            </tr>
        }

        <tr>
            <td style="padding-top: 10px;" colspan="31" align="right"><strong>Hiệu Trưởng</strong></td>
        </tr>
    </table>
}

