﻿@*@Model System.Data.DataTable*@
<script type="text/javascript">

    $(document).ready(function () {


    });


</script>
<style>
    .rotate {
    }

    .Table {
        /*border-style:double;
        border-width:1px;

        white-space: nowrap;
        /*table-layout:fixed;*/
        /*width:50%*/
        text-align: center;
        border: 1px solid #000;
    }
</style>
<table style="margin-top:5px; font-family: Arial; font-size: 11px;">
<!--
    <tr>
        <td style="width:50%" colspan="16" align=center><strong>@ViewBag.CapQuanLy</strong></td>
        <td style="width:50%" colspan="16" align=center><strong>THỐNG KÊ ĐIỂM KIỂM TRA @ViewBag.HocKy</strong></td>
    </tr>
    <tr>
        <td style="width:50%; padding-bottom: 10px;" colspan="16" align=center><strong>@ViewBag.TenTruong</strong></td>
        <td style="width:50%; padding-bottom: 10px;" colspan="16" align=center><strong>NĂM HỌC: @ViewBag.NamHoc</strong></td>
    </tr>
-->
    <tr>
        <td rowspan="3" class="Table">&nbsp;</td>
        <td rowspan="3" class="rotate Table"><strong>Tổng<br />số<br />học<br />sinh</strong></td>
        <td colspan="6" class="Table" style="height: 25px"><strong>Lớp 1</strong></td>
        <td colspan="6" class="Table"><strong>Lớp 2</strong></td>
        <td colspan="6" class="Table"><strong>Lớp 3</strong></td>
        <td colspan="6" class="Table"><strong>Lớp 4</strong></td>
        <td colspan="6" class="Table"><strong>Lớp 5</strong></td>
    </tr>
    <tr>
        <td rowspan="2" class="rotate Table"><strong>Tổng số</strong></td>
        <td colspan="5" class="Table" style="height: 25px"><strong>Trong tổng số</strong></td>
        
        <td rowspan="2" class="rotate Table"><strong>Tổng số</strong></td>
        <td colspan="5" class="Table"><strong>Trong tổng số</strong></td>
        
        <td rowspan="2" class="rotate Table"><strong>Tổng số</strong></td>
        <td colspan="5" class="Table"><strong>Trong tổng số</strong></td>
       
        <td rowspan="2" class="rotate Table"><strong>Tổng số</strong></td>
        <td colspan="5" class="Table"><strong>Trong tổng số</strong></td>
        
        <td rowspan="2" class="rotate Table"><strong>Tổng số</strong></td>
        <td colspan="5" class="Table"><strong>Trong tổng số</strong></td>
    </tr>
    <tr style="height:100px">
        
        <td class="rotate Table">Nữ</td>
        <td class="rotate Table">Dân<br />tộc</td>
        <td class="rotate Table">Nữ<br />dân<br />tộc</td>
        <td class="rotate Table">Lớp<br />ghép</td>
        <td class="rotate Table">Khuyết<br />tật</td>
       
        <td class="rotate Table">Nữ</td>
        <td class="rotate Table">Dân<br />tộc</td>
        <td class="rotate Table">Nữ<br />dân<br />tộc</td>
        <td class="rotate Table">Lớp<br />ghép</td>
        <td class="rotate Table">Khuyết<br />tật</td>
        
        <td class="rotate Table">Nữ</td>
        <td class="rotate Table">Dân<br />tộc</td>
        <td class="rotate Table">Nữ<br />dân<br />tộc</td>
        <td class="rotate Table">Lớp<br />ghép</td>
        <td class="rotate Table">Khuyết<br />tật</td>
       
        <td class="rotate Table">Nữ</td>
        <td class="rotate Table">Dân<br />tộc</td>
        <td class="rotate Table">Nữ<br />dân<br />tộc</td>
        <td class="rotate Table">Lớp<br />ghép</td>
        <td class="rotate Table">Khuyết<br />tật</td>
        
        <td class="rotate Table">Nữ</td>
        <td class="rotate Table">Dân<br />tộc</td>
        <td class="rotate Table">Nữ<br />dân<br />tộc</td>
        <td class="rotate Table">Lớp<br />ghép</td>
        <td class="rotate Table">Khuyết<br />tật</td>
    </tr>
    <tr>
        <td style="width: 10.1%" class="Table"><strong>I. Kết quả học tập </strong></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
        <td style="width: 2.9%" class="Table"></td>
    </tr>
    @{
        if (Model != null && Model.Rows != null && Model.Rows.Count > 0)
        {
            int TongMon = 0;
            int TongDiem10 = 0;
            int TongDiem9 = 0;
            int TongDiem8 = 0;
            int TongDiem7 = 0;
            int TongDiem6 = 0;
            int TongDiem5 = 0;
            int TongDiemDuoi5 = 0;
            for (int i = 0; i < Model.Rows.Count; i++)
            {
                //TongDiem10 = Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem10"]);
                //TongDiem9 = Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem9"]);
                //TongDiem8 = Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem8"]);
                //TongDiem7 = Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem7"]);
                //TongDiem6 = Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem6"]);
                //TongDiem5 = Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem5"]);
                //TongDiemDuoi5 = Convert.ToInt32(Model.Rows[i]["SoHocSinhK1DiemDuoi5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2DiemDuoi5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3DiemDuoi5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4DiemDuoi5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5DiemDuoi5"]);
                //TongMon = TongDiem10 + TongDiem9 + TongDiem8 + TongDiem7 + TongDiem6 + TongDiem5 + TongDiemDuoi5;

                <tr>
                    <td class="Table" style="text-align:left!important"><strong>@(i + 1).@Model.Rows[i]["TenMonHoc"]</strong></td>
                    <td class="Table">@Model.Rows[i]["TongSoHocSinh"]</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK1Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK1DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK1Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK1Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK1Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK1Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK1Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK1Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK1DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK1Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK1Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK1Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK1Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK1Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK1Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK1DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK1Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK1Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK1Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK1Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK1Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK1Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK1DiemDuoi5"]))</td>
                    <td class="Table"></td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK1DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK2DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK2Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK2Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK2Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK2Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK2Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK2Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK2DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK2Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK2Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK2Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK2Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK2Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK2Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK2DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK2Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK2Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK2Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK2Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK2Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK2Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK2DiemDuoi5"]))</td>
                    <td class="Table"></td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK2DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK3DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK3Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK3Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK3Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK3Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK3Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK3Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK3DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK3Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK3Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK3Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK3Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK3Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK3Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK3DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK3Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK3Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK3Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK3Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK3Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK3Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK3DiemDuoi5"]))</td>
                    <td class="Table"></td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK3DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK4DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK4Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK4Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK4Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK4Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK4Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK4Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK4DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK4Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK4Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK4Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK4Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK4Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK4Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK4DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK4Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK4Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK4Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK4Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK4Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK4Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK4DiemDuoi5"]))</td>
                    <td class="Table"></td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK4DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhK5DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK5Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK5Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK5Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK5Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK5Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK5Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuK5DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK5Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK5Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK5Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK5Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK5Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK5Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhDanTocK5DiemDuoi5"]))</td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK5Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK5Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK5Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK5Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK5Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK5Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhNuDanTocK2DiemDuoi5"]))</td>
                    <td class="Table"></td>
                    <td class="Table">@(Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem10"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem9"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem8"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem7"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem6"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem5"]) + Convert.ToInt32(Model.Rows[i]["SoHocSinhKhuyetTatK5DiemDuoi5"]))</td>
                </tr>
                <tr style="text-align:center;">
                    <td class="Table">Điểm 10</td>
                    <td class="Table">@Model.Rows[i]["TongMonDiem10"]</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK1Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhK1Diem10"])</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK1Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK1Diem10"])</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK1Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK1Diem10"])</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK1Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK1Diem10"])</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK1Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK2Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhK2Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK2Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK2Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK2Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK2Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK2Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK2Diem10"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK2Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK3Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhK3Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK3Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK3Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK3Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK3Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK3Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK3Diem10"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK3Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK4Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhK4Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK4Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK4Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK4Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK4Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK4Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK4Diem10"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK4Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK5Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhK5Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK5Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK5Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK5Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK5Diem10"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK5Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK5Diem10"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem10"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK5Diem10"] )</td>
                </tr>
                <tr style="text-align:center">
                    <td class="Table">Điểm 9</td>
                    <td class="Table">@Model.Rows[i]["TongMonDiem9"]</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK1Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhK1Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK1Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK1Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK1Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK1Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK1Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK1Diem9"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK1Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK2Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhK2Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK2Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK2Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK2Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK2Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK2Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK2Diem9"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK2Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK3Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhK3Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK3Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK3Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK3Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK3Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK3Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK3Diem9"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK3Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK4Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhK4Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK4Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK4Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK4Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK4Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK4Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK4Diem9"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK4Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK5Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhK5Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK5Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK5Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK5Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK5Diem9"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK5Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK5Diem9"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem9"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK5Diem9"] )</td>
                </tr>
                <tr style="text-align:center">
                    <td class="Table">Điểm 8</td>
                    <td class="Table">@Model.Rows[i]["TongMonDiem8"]</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK1Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhK1Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK1Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK1Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK1Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK1Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK1Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK1Diem8"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK1Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK2Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhK2Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK2Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK2Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK2Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK2Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK2Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK2Diem8"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK2Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK3Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhK3Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK3Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK3Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK3Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK3Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK3Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK3Diem8"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK3Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK4Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhK4Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK4Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK4Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK4Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK4Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK4Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK4Diem8"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK4Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK5Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhK5Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK5Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK5Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK5Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK5Diem8"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK5Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK5Diem8"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem8"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK5Diem8"] )</td>
                </tr>
                <tr style="text-align:center">
                    <td class="Table">Điểm 7</td>
                    <td class="Table">@Model.Rows[i]["TongMonDiem7"]</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK1Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhK1Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK1Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK1Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK1Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK1Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK1Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK1Diem7"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK1Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK2Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhK2Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK2Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK2Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK2Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK2Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK2Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK2Diem7"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK2Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK3Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhK3Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK3Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK3Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK3Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK3Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK3Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK3Diem7"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK3Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK4Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhK4Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK4Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK4Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK4Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK4Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK4Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK4Diem7"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK4Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK5Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhK5Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK5Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK5Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK5Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK5Diem7"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK5Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK5Diem7"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem7"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK5Diem7"] )</td>
                </tr>
                <tr style="text-align:center">
                    <td class="Table">Điểm 6</td>
                    <td class="Table">@Model.Rows[i]["TongMonDiem6"]</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK1Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhK1Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK1Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK1Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK1Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK1Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK1Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK1Diem6"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK1Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK2Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhK2Diem6"])</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK2Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK2Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK2Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK2Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK2Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK2Diem6"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK2Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK3Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhK3Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK3Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK3Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK3Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK3Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK3Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK3Diem6"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK3Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK4Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhK4Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK4Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK4Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK4Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK4Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK4Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK4Diem6"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK4Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhK5Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhK5Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuK5Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuK5Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK5Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhDanTocK5Diem6"] )</td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK5Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhNuDanTocK5Diem6"] )</td>
                    <td class="Table"></td>
                    <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem6"] == 0 ? "" : Model.Rows[i]["SoHocSinhKhuyetTatK5Diem6"] )</td>
                </tr>
                <tr style="text-align:center">
                        <td class="Table">Điểm 5</td>
                        <td class="Table">@Model.Rows[i]["TongMonDiem5"]</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhK1Diem5"]==0?"": Model.Rows[i]["SoHocSinhK1Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhNuK1Diem5"]==0?"": Model.Rows[i]["SoHocSinhNuK1Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK1Diem5"]==0?"": Model.Rows[i]["SoHocSinhDanTocK1Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK1Diem5"]==0?"": Model.Rows[i]["SoHocSinhNuDanTocK1Diem5"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK1Diem5"]==0?"": Model.Rows[i]["SoHocSinhKhuyetTatK1Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhK2Diem5"]==0?"": Model.Rows[i]["SoHocSinhK2Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhNuK2Diem5"]==0?"": Model.Rows[i]["SoHocSinhNuK2Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK2Diem5"]==0?"": Model.Rows[i]["SoHocSinhDanTocK2Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK2Diem5"]==0?"": Model.Rows[i]["SoHocSinhNuDanTocK2Diem5"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK2Diem5"]==0?"": Model.Rows[i]["SoHocSinhKhuyetTatK2Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhK3Diem5"]==0?"": Model.Rows[i]["SoHocSinhK3Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhNuK3Diem5"]==0?"": Model.Rows[i]["SoHocSinhNuK3Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK3Diem5"]==0?"": Model.Rows[i]["SoHocSinhDanTocK3Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK3Diem5"]==0?"": Model.Rows[i]["SoHocSinhNuDanTocK3Diem5"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK3Diem5"] == 0 ? "": Model.Rows[i]["SoHocSinhKhuyetTatK3Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhK4Diem5"]==0?"": Model.Rows[i]["SoHocSinhK4Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhNuK4Diem5"]==0?"": Model.Rows[i]["SoHocSinhNuK4Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK4Diem5"]==0?"": Model.Rows[i]["SoHocSinhDanTocK4Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK4Diem5"]==0?"": Model.Rows[i]["SoHocSinhNuDanTocK4Diem5"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK4Diem5"]==0?"":Model.Rows[i]["SoHocSinhKhuyetTatK4Diem5"])</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhK5Diem5"]==0?"": Model.Rows[i]["SoHocSinhK5Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhNuK5Diem5"]==0?"": Model.Rows[i]["SoHocSinhNuK5Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhDanTocK5Diem5"]==0?"": Model.Rows[i]["SoHocSinhDanTocK5Diem5"] )</td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhNuDanTocK5Diem5"]==0?"": Model.Rows[i]["SoHocSinhNuDanTocK5Diem5"] )</td>
                        <td class="Table"></td>
                        <td class="Table">@(Model.Rows[i]["SoHocSinhKhuyetTatK5Diem5"]==0?"": Model.Rows[i]["SoHocSinhKhuyetTatK5Diem5"] )</td>
                    </tr>
                <tr style="text-align:center">
                        <td class="Table">Điểm dưới 5</td>
                        <td class="Table">@Model.Rows[i]["TongMonDiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhK1DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhNuK1DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhDanTocK1DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhNuDanTocK1DiemDuoi5"]</td>
                        <td class="Table"></td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhKhuyetTatK1DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhK2DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhNuK2DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhDanTocK2DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhNuDanTocK2DiemDuoi5"]</td>
                        <td class="Table"></td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhKhuyetTatK2DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhK3DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhNuK3DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhDanTocK3DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhNuDanTocK3DiemDuoi5"]</td>
                        <td class="Table"></td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhKhuyetTatK3DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhK4DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhNuK4DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhDanTocK4DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhNuDanTocK4DiemDuoi5"]</td>
                        <td class="Table"></td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhKhuyetTatK4DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhK5DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhNuK5DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhDanTocK5DiemDuoi5"]</td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhNuDanTocK5DiemDuoi5"]</td>
                        <td class="Table"></td>
                        <td class="Table">@Model.Rows[i]["SoHocSinhKhuyetTatK5DiemDuoi5"]</td>
                    </tr>
                     
                //TongMon = 0;
                //TongDiem10 = 0;
                //TongDiem9 = 0;
                //TongDiem8 = 0;
                //TongDiem7 = 0;
                //TongDiem6 = 0;
                //TongDiem5 = 0;
                //TongDiemDuoi5 = 0;
            }
        }
    }
    <tr>
        <td style="padding-top: 10px;" colspan="31" align="right"><strong>Hiệu Trưởng</strong></td>
    </tr>
</table>