﻿@*@Model System.Data.DataTable*@
<script type="text/javascript">

    $(document).ready(function () {

       
    });


</script>
<style>
    .rotate {

    }
    .Table{
        text-align:center;
        border:1px solid #000;
    }
    table tr.hoverhang
    {
        
    }
    table tr.hoverhang:hover
    {
        background-color: #ccc;
    }
    
    table td.Table 
    {
        vertical-align: middle;    
    }
</style>
<table style="margin-top:5px; font-family: Arial; font-size: 11px; width:100%">
    <!--
    <tr>
        <td style="width:50%" colspan="10" align=center><strong>@ViewBag.CapQuanLy</strong></td>
        <td style="width:50%" colspan="17" align=center><strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong></td>
    </tr>
    
    <tr>
        <td style="width:50%; padding-bottom: 10px;" colspan="10" align=center><strong>@ViewBag.TenTruong</strong></td>
        <td style="width:50%; padding-bottom: 10px;" colspan="17" align=center><strong>Độc Lập - Tự Do - Hạnh Phúc</strong></td>
    </tr>
    
    <tr>
        <td style="width:50%; padding-bottom: 10px; font-size:13pt" colspan="27" align=center><strong>THỐNG KÊ SỐ LIỆU HỌC SINH</strong></td>
    </tr>
    <tr>
        <td style="width:50%; padding-bottom: 10px;" colspan="27" align=center><strong><i>Năm học @ViewBag.NamHoc</i></strong></td>
    </tr>
-->
    <tr>
    
        <td rowspan="2" style="width:3%" class="Table"><strong>STT</strong></td>
        <td rowspan="2" style="width:4%" class="Table"><strong>Lớp</strong></td>
        <td rowspan="2" class="Table" style="width:15%"><strong>Giáo viên chủ nhiệm</strong></td>
        <td colspan="2" style="width:6%" class="Table"><strong>Sĩ số</strong></td>
        <td colspan="2" style="width:6%" class="Table"><strong>Dân tộc</strong></td>
        <td rowspan="2" style="width:4.5%" class="Table"><strong>Đội viên</strong></td>
        <td rowspan="2" style="width:4.5%" class="Table"><strong>Con<br />hộ nghèo</strong></td>
        <td rowspan="2" style="width:4.5%" class="Table"><strong>Con hộ<br />cận nghèo</strong></td>
        <td rowspan="2" style="width:4.5%" class="Table"><strong>Khuyết<br />tật</strong></td>
        <td colspan="2" style="width:6%" class="Table"><strong>6 tuổi</strong></td>
        <td colspan="2" style="width:6%" class="Table"><strong>7 tuổi</strong></td>
        <td colspan="2" style="width:6%" class="Table"><strong>8 tuổi</strong></td>
        <td colspan="2" style="width:6%" class="Table"><strong>9 tuổi</strong></td>
        <td colspan="2" style="width:6%" class="Table"><strong>10 tuổi</strong></td>
        <td colspan="2" style="width:6%" class="Table"><strong>11 tuổi</strong></td>
        <td colspan="2" style="width:6%" class="Table"><strong>12 tuổi</strong></td>
        <td colspan="2" style="width:6%" class="Table"><strong>13 tuổi</strong></td>
    </tr>
    <tr>
        <td class="Table">TS</td>
        <td class="Table">Nữ</td>
        <td class="Table">TS</td>
        <td class="Table">Nữ</td>
        <td class="Table">TS</td>
        <td class="Table">Nữ</td>
        <td class="Table">TS</td>
        <td class="Table">Nữ</td>
        <td class="Table">TS</td>
        <td class="Table">Nữ</td>
        <td class="Table">TS</td>
        <td class="Table">Nữ</td>
        <td class="Table">TS</td>
        <td class="Table">Nữ</td>
        <td class="Table">TS</td>
        <td class="Table">Nữ</td>
        <td class="Table">TS</td>
        <td class="Table">Nữ</td>
        <td class="Table">TS</td>
        <td class="Table">Nữ</td>
    </tr>
    @{
        if (Model != null && Model.Rows != null && Model.Rows.Count > 0)
        {
            int TongSiSo = 0;
            int TongHocSinhNu = 0;
            int TongDanToc = 0;
            int TongNuDanToc = 0;
            int TongDoanVien = 0;
            int TongHoNgheo = 0;
            int TongCanNgheo = 0;
            int TongKhuyetTat = 0;
            int TongTS6Tuoi = 0;
            int TongNu6Tuoi = 0;
            int TongTS7Tuoi = 0;
            int TongNu7Tuoi = 0;
            int TongTS8Tuoi = 0;
            int TongNu8Tuoi = 0;
            int TongTS9Tuoi = 0;
            int TongNu9Tuoi = 0;
            int TongTS10Tuoi = 0;
            int TongNu10Tuoi = 0;
            int TongTS11Tuoi = 0;
            int TongNu11Tuoi = 0;
            int TongTS12Tuoi = 0;
            int TongNu12Tuoi = 0;
            int TongTS13Tuoi = 0;
            int TongNu13Tuoi = 0;

            int TongKhoiSiSo = 0;
            int TongKhoiHocSinhNu = 0;
            int TongKhoiDanToc = 0;
            int TongKhoiNuDanToc = 0;
            int TongKhoiDoanVien = 0;
            int TongKhoiHoNgheo = 0;
            int TongKhoiCanNgheo = 0;
            int TongKhoiKhuyetTat = 0;
            int TongKhoiTS6Tuoi = 0;
            int TongKhoiNu6Tuoi = 0;
            int TongKhoiTS7Tuoi = 0;
            int TongKhoiNu7Tuoi = 0;
            int TongKhoiTS8Tuoi = 0;
            int TongKhoiNu8Tuoi = 0;
            int TongKhoiTS9Tuoi = 0;
            int TongKhoiNu9Tuoi = 0;
            int TongKhoiTS10Tuoi = 0;
            int TongKhoiNu10Tuoi = 0;
            int TongKhoiTS11Tuoi = 0;
            int TongKhoiNu11Tuoi = 0;
            int TongKhoiTS12Tuoi = 0;
            int TongKhoiNu12Tuoi = 0;
            int TongKhoiTS13Tuoi = 0;
            int TongKhoiNu13Tuoi = 0;

            bool isCreateFoolter = false;

            for (int i = 0; i < Model.Rows.Count; i++)
            {
                int SiSo = Convert.ToInt32(Model.Rows[i]["SiSo"]);
                int SoHocSinhNu= Convert.ToInt32(Model.Rows[i]["HocSinhNu"]);
                int DanToc= Convert.ToInt32(Model.Rows[i]["DanToc"]);
                int NuDanToc = Convert.ToInt32(Model.Rows[i]["NuDanToc"]);
                int DoanVien = Convert.ToInt32(Model.Rows[i]["DoanVien"]);
                int HoNgheo = Convert.ToInt32(Model.Rows[i]["HoNgheo"]);
                int CanNgheo = Convert.ToInt32(Model.Rows[i]["CanNgheo"]);
                int KhuyetTat = Convert.ToInt32(Model.Rows[i]["KhuyetTat"]);
                int TS6Tuoi = Convert.ToInt32(Model.Rows[i]["TS6Tuoi"]);
                int Nu6Tuoi = Convert.ToInt32(Model.Rows[i]["Nu6Tuoi"]);
                int TS7Tuoi = Convert.ToInt32(Model.Rows[i]["TS7Tuoi"]);
                int Nu7Tuoi = Convert.ToInt32(Model.Rows[i]["Nu7Tuoi"]);
                int TS8Tuoi = Convert.ToInt32(Model.Rows[i]["TS8Tuoi"]);
                int Nu8Tuoi = Convert.ToInt32(Model.Rows[i]["Nu8Tuoi"]);
                int TS9Tuoi = Convert.ToInt32(Model.Rows[i]["TS9Tuoi"]);
                int Nu9Tuoi = Convert.ToInt32(Model.Rows[i]["Nu9Tuoi"]);
                int TS10Tuoi = Convert.ToInt32(Model.Rows[i]["TS10Tuoi"]);
                int Nu10Tuoi = Convert.ToInt32(Model.Rows[i]["Nu10Tuoi"]);
                int TS11Tuoi = Convert.ToInt32(Model.Rows[i]["TS11Tuoi"]);
                int Nu11Tuoi = Convert.ToInt32(Model.Rows[i]["Nu11Tuoi"]);
                int TS12Tuoi = Convert.ToInt32(Model.Rows[i]["TS12Tuoi"]);
                int Nu12Tuoi = Convert.ToInt32(Model.Rows[i]["Nu12Tuoi"]);
                int TS13Tuoi = Convert.ToInt32(Model.Rows[i]["TS13Tuoi"]);
                int Nu13Tuoi = Convert.ToInt32(Model.Rows[i]["Nu13Tuoi"]);
                TongSiSo = TongSiSo + SiSo;
                TongHocSinhNu = TongHocSinhNu + SoHocSinhNu;
                TongDanToc = TongDanToc + DanToc;
                TongNuDanToc = TongNuDanToc + NuDanToc;
                TongDoanVien = TongDoanVien + DoanVien;
                TongHoNgheo = TongHoNgheo+HoNgheo;
                TongCanNgheo = TongCanNgheo+CanNgheo;
                TongKhuyetTat = TongKhuyetTat+KhuyetTat;
                TongTS6Tuoi = TongTS6Tuoi+TS6Tuoi;
                TongNu6Tuoi = TongNu6Tuoi+Nu6Tuoi;
                TongTS7Tuoi = TongTS7Tuoi+TS7Tuoi;
                TongNu7Tuoi = TongNu7Tuoi+Nu7Tuoi;
                TongTS8Tuoi = TongTS8Tuoi + TS8Tuoi;
                TongNu8Tuoi = TongNu8Tuoi + Nu8Tuoi;
                TongTS9Tuoi = TongTS9Tuoi+TS9Tuoi;
                TongNu9Tuoi = TongNu9Tuoi+Nu9Tuoi;
                TongTS10Tuoi = TongTS10Tuoi+TS10Tuoi;
                TongNu10Tuoi = TongNu10Tuoi+Nu10Tuoi;
                TongTS11Tuoi = TongTS11Tuoi+TS11Tuoi;
                TongNu11Tuoi = TongNu11Tuoi+Nu11Tuoi;
                TongTS12Tuoi = TongTS12Tuoi+TS12Tuoi;
                TongNu12Tuoi = TongNu12Tuoi+Nu12Tuoi;
                TongTS13Tuoi = TongTS13Tuoi+TS13Tuoi;
                TongNu13Tuoi = TongNu13Tuoi+Nu13Tuoi;

                TongKhoiSiSo = TongKhoiSiSo + SiSo;
                TongKhoiHocSinhNu = TongKhoiHocSinhNu + SoHocSinhNu;
                TongKhoiDanToc = TongKhoiDanToc + DanToc;
                TongKhoiNuDanToc = TongKhoiNuDanToc + NuDanToc;
                TongKhoiDoanVien = TongKhoiDoanVien + DoanVien;
                TongKhoiHoNgheo = TongKhoiHoNgheo + HoNgheo;
                TongKhoiCanNgheo = TongKhoiCanNgheo + CanNgheo;
                TongKhoiKhuyetTat = TongKhoiKhuyetTat + KhuyetTat;
                TongKhoiTS6Tuoi = TongKhoiTS6Tuoi + TS6Tuoi;
                TongKhoiNu6Tuoi = TongKhoiNu6Tuoi + Nu6Tuoi;
                TongKhoiTS7Tuoi = TongKhoiTS7Tuoi + TS7Tuoi;
                TongKhoiNu7Tuoi = TongKhoiNu7Tuoi + Nu7Tuoi;
                TongKhoiTS8Tuoi = TongKhoiTS8Tuoi + TS8Tuoi;
                TongKhoiNu8Tuoi = TongKhoiNu8Tuoi + Nu8Tuoi;
                TongKhoiTS9Tuoi = TongKhoiTS9Tuoi + TS9Tuoi;
                TongKhoiNu9Tuoi = TongKhoiNu9Tuoi + Nu9Tuoi;
                TongKhoiTS10Tuoi = TongKhoiTS10Tuoi + TS10Tuoi;
                TongKhoiNu10Tuoi = TongKhoiNu10Tuoi + Nu10Tuoi;
                TongKhoiTS11Tuoi = TongKhoiTS11Tuoi + TS11Tuoi;
                TongKhoiNu11Tuoi = TongKhoiNu11Tuoi + Nu11Tuoi;
                TongKhoiTS12Tuoi = TongKhoiTS12Tuoi + TS12Tuoi;
                TongKhoiNu12Tuoi = TongKhoiNu12Tuoi + Nu12Tuoi;
                TongKhoiTS13Tuoi = TongKhoiTS13Tuoi + TS13Tuoi;
                TongKhoiNu13Tuoi = TongKhoiNu13Tuoi + Nu13Tuoi;

                int c = i + 1;
                string KhoiCurrent = Model.Rows[i]["MaKhoi"].ToString();
                string KhoiNext = "";
                if (c == Model.Rows.Count)
                {
                    KhoiNext = Model.Rows[0]["MaKhoi"].ToString();
                }
                else
                {
                    KhoiNext = Model.Rows[c]["MaKhoi"].ToString();
                }

                <tr class="hoverhang">
                    <td class="Table">@((i+1).ToString())</td>
                    <td class="Table">@Model.Rows[i]["TenLop"]</td>
                    <td class="Table">@Model.Rows[i]["GVCN"]</td>
                    <td class="Table">@(SiSo == 0?"": SiSo.ToString())</td>
                    <td class="Table">@(SoHocSinhNu == 0 ? "" : SoHocSinhNu.ToString())</td>
                    <td class="Table">@(DanToc == 0 ? "" : DanToc.ToString())</td>
                    <td class="Table">@(NuDanToc == 0 ? "" : NuDanToc.ToString())</td>
                    <td class="Table">@(DoanVien == 0 ? "" : DoanVien.ToString())</td>
                    <td class="Table">@(HoNgheo == 0 ? "" : HoNgheo.ToString())</td>
                    <td class="Table">@(CanNgheo == 0 ? "" : CanNgheo.ToString())</td>
                    <td class="Table">@(KhuyetTat == 0 ? "" : KhuyetTat.ToString())</td>
                    <td class="Table">@(TS6Tuoi == 0 ? "" : TS6Tuoi.ToString())</td>
                    <td class="Table">@(Nu6Tuoi == 0 ? "" : Nu6Tuoi.ToString())</td>
                    <td class="Table">@(TS7Tuoi == 0 ? "" : TS7Tuoi.ToString())</td>
                    <td class="Table">@(Nu7Tuoi == 0 ? "" : Nu7Tuoi.ToString())</td>
                    <td class="Table">@(TS8Tuoi == 0 ? "" : TS8Tuoi.ToString())</td>
                    <td class="Table">@(Nu8Tuoi == 0 ? "" : Nu8Tuoi.ToString())</td>
                    <td class="Table">@(TS9Tuoi == 0 ? "" : TS9Tuoi.ToString())</td>
                    <td class="Table">@(Nu9Tuoi == 0 ? "" : Nu9Tuoi.ToString())</td>
                    <td class="Table">@(TS10Tuoi == 0 ? "" : TS10Tuoi.ToString())</td>
                    <td class="Table">@(Nu10Tuoi == 0 ? "" : Nu10Tuoi.ToString())</td>
                    <td class="Table">@(TS11Tuoi == 0 ? "" : TS11Tuoi.ToString())</td>
                    <td class="Table">@(Nu11Tuoi == 0 ? "" : Nu11Tuoi.ToString())</td>
                    <td class="Table">@(TS12Tuoi == 0 ? "" : TS12Tuoi.ToString())</td>
                    <td class="Table">@(Nu12Tuoi == 0 ? "" : Nu12Tuoi.ToString())</td>
                    <td class="Table">@(TS13Tuoi == 0 ? "" : TS13Tuoi.ToString())</td>
                    <td class="Table">@(Nu13Tuoi == 0 ? "" : Nu13Tuoi.ToString())</td>
                </tr>
                if (KhoiNext != KhoiCurrent)
                {
                    isCreateFoolter = true;
                    <tr class="hoverhang">
                        <td class="Table" colspan="3"><strong>@Model.Rows[i]["TenKhoi"].ToString()</strong></td>
                        <td class="Table"><strong>@TongKhoiSiSo</strong></td>
                        <td class="Table"><strong>@TongKhoiHocSinhNu</strong></td>
                        <td class="Table"><strong>@TongKhoiDanToc</strong></td>
                        <td class="Table"><strong>@TongKhoiNuDanToc</strong></td>
                        <td class="Table"><strong>@TongKhoiDoanVien</strong></td>
                        <td class="Table"><strong>@TongKhoiHoNgheo</strong></td>
                        <td class="Table"><strong>@TongKhoiCanNgheo</strong></td>
                        <td class="Table"><strong>@TongKhoiKhuyetTat</strong></td>
                        <td class="Table"><strong>@TongKhoiTS6Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiNu6Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiTS7Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiNu7Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiTS8Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiNu8Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiTS9Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiNu9Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiTS10Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiNu10Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiTS11Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiNu11Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiTS12Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiNu12Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiTS13Tuoi</strong></td>
                        <td class="Table"><strong>@TongKhoiNu13Tuoi</strong></td>
                    </tr>

                    TongKhoiSiSo = 0;
                    TongKhoiHocSinhNu = 0;
                    TongKhoiDanToc = 0;
                    TongKhoiNuDanToc = 0;
                    TongKhoiDoanVien = 0;
                    TongKhoiHoNgheo = 0;
                    TongKhoiCanNgheo = 0;
                    TongKhoiKhuyetTat = 0;
                    TongKhoiTS6Tuoi = 0;
                    TongKhoiNu6Tuoi = 0;
                    TongKhoiTS7Tuoi = 0;
                    TongKhoiNu7Tuoi = 0;
                    TongKhoiTS8Tuoi = 0;
                    TongKhoiNu8Tuoi = 0;
                    TongKhoiTS9Tuoi = 0;
                    TongKhoiNu9Tuoi = 0;
                    TongKhoiTS10Tuoi = 0;
                    TongKhoiNu10Tuoi = 0;
                    TongKhoiTS11Tuoi = 0;
                    TongKhoiNu11Tuoi = 0;
                    TongKhoiTS12Tuoi = 0;
                    TongKhoiNu12Tuoi = 0;
                    TongKhoiTS13Tuoi = 0;
                    TongKhoiNu13Tuoi = 0;
                }
            }
            if (!isCreateFoolter)
            {
                <tr class="hoverhang">
                    <td class="Table" colspan="3"><strong>@Model.Rows[0]["TenKhoi"].ToString()</strong></td>
                    <td class="Table"><strong>@TongKhoiSiSo</strong></td>
                    <td class="Table"><strong>@TongKhoiHocSinhNu</strong></td>
                    <td class="Table"><strong>@TongKhoiDanToc</strong></td>
                    <td class="Table"><strong>@TongKhoiNuDanToc</strong></td>
                    <td class="Table"><strong>@TongKhoiDoanVien</strong></td>
                    <td class="Table"><strong>@TongKhoiHoNgheo</strong></td>
                    <td class="Table"><strong>@TongKhoiCanNgheo</strong></td>
                    <td class="Table"><strong>@TongKhoiKhuyetTat</strong></td>
                    <td class="Table"><strong>@TongKhoiTS6Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiNu6Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiTS7Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiNu7Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiTS8Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiNu8Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiTS9Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiNu9Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiTS10Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiNu10Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiTS11Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiNu11Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiTS12Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiNu12Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiTS13Tuoi</strong></td>
                    <td class="Table"><strong>@TongKhoiNu13Tuoi</strong></td>
                </tr>
            }
            <tr class="hoverhang">
                <td class="Table" colspan="3"><strong>TỔNG CỘNG</strong></td>
                <td class="Table"><strong>@TongSiSo</strong></td>
                <td class="Table"><strong>@TongHocSinhNu</strong></td>
                <td class="Table"><strong>@TongDanToc</strong></td>
                <td class="Table"><strong>@TongNuDanToc</strong></td>
                <td class="Table"><strong>@TongDoanVien</strong></td>
                <td class="Table"><strong>@TongHoNgheo</strong></td>
                <td class="Table"><strong>@TongCanNgheo</strong></td>
                <td class="Table"><strong>@TongKhuyetTat</strong></td>
                <td class="Table"><strong>@TongTS6Tuoi</strong></td>
                <td class="Table"><strong>@TongNu6Tuoi</strong></td>
                <td class="Table"><strong>@TongTS7Tuoi</strong></td>
                <td class="Table"><strong>@TongNu7Tuoi</strong></td>
                <td class="Table"><strong>@TongTS8Tuoi</strong></td>
                <td class="Table"><strong>@TongNu8Tuoi</strong></td>
                <td class="Table"><strong>@TongTS9Tuoi</strong></td>
                <td class="Table"><strong>@TongNu9Tuoi</strong></td>
                <td class="Table"><strong>@TongTS10Tuoi</strong></td>
                <td class="Table"><strong>@TongNu10Tuoi</strong></td>
                <td class="Table"><strong>@TongTS11Tuoi</strong></td>
                <td class="Table"><strong>@TongNu11Tuoi</strong></td>
                <td class="Table"><strong>@TongTS12Tuoi</strong></td>
                <td class="Table"><strong>@TongNu12Tuoi</strong></td>
                <td class="Table"><strong>@TongTS13Tuoi</strong></td>
                <td class="Table"><strong>@TongNu13Tuoi</strong></td>
            </tr>

        }
    }
    
</table>