﻿@*@Model System.Data.DataTable*@
<script type="text/javascript">

    $(document).ready(function () {

       
    });


</script>
<style>
    .rotate {

    }
    .Table{
        text-align:center;
        border:1px solid #000;
    }

</style>
<table style="font-family: Arial; font-size: 11px; width:100%">
    @{ 
        //int solop = Viewbag.SoLop;
        for (int i = 0; i < Model.Tables[0].Rows.Count; i++)
        {
            <tr>
                <td class="Table" style="text-align:left!important; border-top:0px solid #000"><strong>@Model.Tables[0].Rows[i]["TenMonHoc"]</strong></td>
                <td class="Table" style="text-align:left!important;border-top:0px solid #000"></td>
                <td class="Table" style="border-top:0px solid #000"></td>
                <td class="Table" style="border-top:0px solid #000"></td>
                <td class="Table" style="border-top:0px solid #000"></td>
                <td class="Table" style="border-top:0px solid #000"></td>
                <td class="Table" style="border-top:0px solid #000"></td>
                <td class="Table" style="border-top:0px solid #000"></td>
            </tr>
        }
    }
</table>