﻿@model VnEduPlus.Models.TongHopDanhGia
@{
    ViewBag.Title = "Tổng hợp, nhận xét, đánh giá";
}
 
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
    <link href='@Url.Content("~/css/jquery-ui.css")' rel='stylesheet' type='text/css'>
   <!-------------edu css-------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/giaovienchunhiemnhanxet.css")">

    <style type="text/css">
        .transItems
        {
            border: 0;
            background: transparent;
            width:28px;
        }
        .row
        {
            background-color:#fff;
        }
        .altrow
        {
            background-color:#fff;
        }
        
       .selected {
        background:#FECBE0;
         }

        .ui-dialog-titlebar-close {
            background: url("../../css/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            border: medium none;
        }

            .ui-dialog-titlebar-close:hover {
                background: url("../../css/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            }
    </style>
    
</head>
  
    <script type="text/javascript">
    //Todo
        $(document).ready(function () {

            $('#btnMacDinh').hide();
            $('#btnxgvbm').hide();
            $('#btnSave').hide();
            $('#khoi').change(function () {

                var makhoi = $('#khoi').val();
                GetLopHoc(makhoi);
            });


            // khi người dùng kích nút mặc định thì load mặc định các câu nhận xét môn của giáo viên chủ nhiệm về môn học này lên cho học sinh
            $('#btnMacDinh').click(function () {
                var maHS = $('#mahs').val();
                var maLop = $('#lophoc').val();
                var maKy = $('#hocky').val();
                debugger;
                $.ajax({
                    cache: true,
                    type: 'GET',
                    url: '@Url.Action("LoadMacDinhNhanXet", "TongHopDanhGia")',
                    data: { maHs: maHS, maLop: maLop, hocKy: maKy },
                    success: function (data) {
                        $("#contentnx").empty();
                        $("#contentnx").html(data);

                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }

                });

            });


            // khi người dùng kích nút nhận xét của giáo viên bộ môn thì load mặc định các câu nhận xét môn của giáo viên bộ môn về môn học này của học kỳ lên cho học sinh
            $('#btnxgvbm').click(function () {
                var maHS = $('#mahs').val();
                var maLop = $('#lophoc').val();
                var maKy = $('#hocky').val();

                $.ajax({
                    cache: true,
                    type: 'GET',
                    url: '@Url.Action("LoadMacDinhGVBMNhanXet", "TongHopDanhGia")',
                    data: { maHs: maHS, maLop: maLop, hocKy: maKy },
                    success: function (data) {
                        $("#contentnx").empty();
                        $("#contentnx").html(data);
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }

                });

            });

            $('#btnSave').click(function () {
                var malop = $('#lophoc').val();
                var hocky = $('#hocky').val();
                var mahs = $('#mahs').val();
                var NhanXetMonHocs = [];

                var noiDungKhenThuong = $('#khenthuong').val();

                $('#contentnx').find('input:text,textarea').each(function () {
                    var NhanXetMonHoc = {};
                    var id = this.id;
                    var value = $(this).val();
                    NhanXetMonHoc.maMon = id;
                    NhanXetMonHoc.noiDungNhanXet = value;
                    NhanXetMonHocs.push(NhanXetMonHoc);

                });

                var NhanXetHocSinh = {};
                NhanXetHocSinh.maLop = malop;
                NhanXetHocSinh.hocKy = hocky;
                NhanXetHocSinh.mahs = mahs;
                NhanXetHocSinh.nhanXetMonHocs = NhanXetMonHocs;
                //NhanXetHocSinh.duocLenLop = $('#dll').val();

                // Call ajax to server


                debugger;
                // send to backend
                //if (noiDungKhenThuong != null && noiDungKhenThuong.trim() != "") {
                $.ajax({
                    cache: true,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("SaveThongTinNhanXet", "TongHopDanhGia")',
                    data: JSON.stringify(NhanXetHocSinh),
                    dataType: "json",
                    success: function (data) {
                        if (data && data == "OK") {
                            alert("Cập nhật nội dung nhận xét thành công!");

                        } else {
                            alert("Cập nhật nội dung nhận xét không thành công!");
                        }
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });

                //                } else {

                //                    alert('Nội dung khen thưởng không được rỗng');
                //                }


            }); // end save click



            $('#lophoc,#hocky').change(function () {

                var maLop = $('#lophoc').val();
                var hocKy = $('#hocky').val();
                // laod ở bên phải danh sách học sinh của lớp đó lên
                if (maLop != "-1" && hocKy != "-1") {
                    // clear all textbox
                    $('input[type=text]').each(function () {
                        $(this).val('');

                    });


                    $.ajax({
                        cache: true,
                        type: 'GET',
                        url: '@Url.Action("DanhSachHocSinhLopHoc", "TongHopDanhGia")',
                        data: { maLop: maLop },
                        success: function (data) {
                            $("#dshs").empty();
                            $("#dshs").html(data);
                        },

                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve specification options.')
                        }

                    });

                }

            });

        });                              //end document


        function ViewHocSinhDiem(malop, hocky) {
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("ViewHocSinhDiemMonHoc", "TongHopDanhGia")',
                data: { lophoc: malop, hocky: hocky },
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

        function LoadMonHoc(malop, hocky)
        {
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("LoadMonHoc", "TongHopDanhGia")',
                data: { lophoc: malop, hocky: hocky },
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

        function GetLopHoc(makhoi)
        {
            $.getJSON('@Url.Action("LoadLopHoc", "TongHopDanhGia")', { makhoi: makhoi },
                                function (Data) {
                                    var select = $("#lophoc");
                                    select.empty();
                                    //select.append($('<option/>', {
                                    //    value: "",
                                    //    text: "--Chọn lớp học--"
                                    //}));
                                    $.each(Data, function (id, itemData) {
                                        select.append($('<option/>', {
                                            value: itemData.MaLop,
                                            text: itemData.TenLop
                                        }));
                                    });
                                });
        }

       


    </script>
<body >
<!-- Trung lam -->
        @RenderPage("~/Views/Shared/_MainMenu.cshtml");
        <br>

        <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
        <input type="hidden" id="namhocht" name="namhocht" value="@ViewBag.namhientai" />
    
        <table width="100%" style="border: 0px; background: #fff; z-index: 2; margin-top: 25px;  position: fixed; left: 0; width: 100%; ">
         
            <tr>
                <td style="border: 0px; padding-top: 15px;" colspan="10" align=center>
				<strong style="font-size: 16px;">TỔNG HỢP NHẬN XÉT CUỐI KỲ - CẢ NĂM</strong><br/>
                    <strong>Năm học: @ViewBag.namhientai</strong>
                </td>
            </tr>

            <tr>
                <td style="border: 0px;" colspan="30" id="fisrtline">
                    <table width="100%" border="0" style=" background: #fff; text-align: center;">
                        <tr valign="top">
                            <td style="border: 0px; height: 50px;">
                               @* Chọn khối*@
                            </td>
                            <td style="border: 0px;">
@*
                                @Html.DropDownListFor(x => Model.khoi, new SelectList(ViewBag.khoi, "MaKhoi", "TenKhoi"))*@

                            </td>

                            <td style="border: 0px; height: 50px;  text-align: right; vertical-align: middle;">
                                Chọn lớp học: &nbsp;
                            </td>
                            <td style="border: 0px; text-align: left; vertical-align: middle;">
                                @Html.DropDownListFor(x => Model.lophoc, new SelectList(ViewBag.lophoc, "MaLop", "TenLop"))
                            </td>
                           
                            <td style="border: 0px; text-align: right; vertical-align: middle;">
                                Chọn học kỳ: &nbsp;
                            </td>
                            <td style="border: 0px; text-align: left; vertical-align: middle;">
                                @Html.DropDownListFor(
                                     x => Model.hocky, new SelectList(ViewBag.hocky, "maHocKy", "tenHocKy")
                            )

                            </td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;" colspan="11"></td>
                            <td style="border: 0px;" colspan="9">

                               
                            </td>
                            <td style="border: 0px; vertical-align: middle;">
                            <input type="button" id="btnSave" class="btn btn-warning btn-sm btnEdit" style="background-color:#0E5DA2; border-style:none" name="btnSave" value="Lưu" />
                           <!-- <input type="button" id="btnMacDinh" class="btn btn-info btn-sm btnEdit" style="background-color:#0E5DA2; border-style:none" name="btnMacDinh" value="Nhận xét mặc định" />-->
                            <input type="button" id="btnxgvbm" class="btn btn-info btn-sm btnEdit" style="background-color:#0E5DA2; border-style:none" name="btnMacDinh" value="NX GVBM" />
                            </td>
                           
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

       
<div class="container">

  <div class="row">
    <div class="col-sm-3 danhsachhocsinh" id="dshs"></div>
    <div class="col-sm-9" style="padding-left:0" id="contentnx"></div>
  </div>
   
</div>


</body>
</html>
