﻿@model VnEduPlus.Models.TongHopDanhGia
@{
    ViewBag.Title = "Tổng hợp, dánh giá";
}
 
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
     <link rel="stylesheet" href="@Url.Content("~/css/throbber.css")" type="text/css">
    <link href='@Url.Content("~/css/jquery-ui.css")' rel='stylesheet' type='text/css'>
     
   <!-------------edu css-------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/giaovienchunhiemnhanxet.css")">

    <style type="text/css">
        .transItems
        {
            border: 0;
            background: transparent;
            width:28px;
        }
        .row
        {
            background-color:#eee;
        }
        .altrow
        {
            background-color:#fff;
        }
        
       .selected {
        background:#FECBE0;
         }

        .ui-dialog-titlebar-close {
            background: url("../../css/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            border: medium none;
        }

            .ui-dialog-titlebar-close:hover {
                background: url("../../css/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            }
    </style>
    
</head>
  
    <script type="text/javascript">
    //Todo
        $(document).ready(function () {

            $('#btnNXMacDinh').hide();
            $('#khoi').change(function () {

                var makhoi = $('#khoi').val();
                GetLopHoc(makhoi);
            });

            // khi người dùng kích nút mặc định thì xét mặc định cho toàn bộ form: năng lực/ phẩm chất: Đ/CĐ, các môn khác thì là HT
            $('#btnMacDinh, #btnNXMacDinh').click(function () {
                var maHocKy = $('#hocky').val();
                var danhSachMonTinhDiem = [];
                var danhsachMonTD = $('#danhsachmontinhdiem').val();
                danhSachMonTinhDiem = (danhsachMonTD != null && danhsachMonTD.length > 0) ? danhsachMonTD.split('-') : danhsachMonTD;

                $('input[type="text"]').each(function () {
                    var idText = this.id;
                    debugger;
                    var name = $(this).attr('name');
                    // tick checked for checkbox
                    $('#' + name).prop("checked", true);
                    var maMon = idText.substring(idText.indexOf("-") + 1, idText.length);
                    if (idText.indexOf("NXNangLucTX") > 0 || idText.indexOf("NXPhamChatTX") > 0) {// xét mặc định Đ
                        $('#' + idText).val('Đ');
                    } else if (idText.indexOf("HoanThanhCT") === -1 && idText.indexOf("DuocLenLop") === -1) {

                        if (maHocKy != "HK2") {
                            if (idText == 'nhanxetmacdinh') {
                                $('#' + idText).val('Hoàn Thành chương trình(Cả năm)');
                            } else {
                                debugger;
                                // lay gia tri kiem tra xem mon hoc nay co phai la mon thi trong hoc ky do khong
                                var thGHK = $('#' + idText).attr('data-tghk');
                                var thHK = $('#' + idText).attr('data-thk');
                                // t/h môn thi này có thi giữa kỳ thì tự động lấy bên bảng khác đưa vào chứ ko dùng giá trị mặc định
                                if ((maHocKy == "GHK1" || maHocKy == "GHK2") && thGHK == "False" || (maHocKy == "HK1" || maHocKy == "HK2") && thHK == "False") {
                                    $('#' + idText).val('HT');
                                }
                                //$('#' + idText).val('HT');
                            }
                        } else {
                            if (danhSachMonTinhDiem.indexOf(maMon) < 0) {
                                if (idText == 'nhanxetmacdinh') {
                                    $('#' + idText).val('Hoàn Thành chương trình(Cả năm)');
                                } else {
                                    $('#' + idText).val('HT');
                                }
                            }
                        }

                    }

                });

                if (maHocKy == "HK2") {

                    $('input[type="checkbox"]').each(function () {
                        var idText = this.id;
                        if (idText.indexOf("DuocLenLop") > 0) {
                            $('#' + idText).prop("checked", true);
                        }
                    });
                }


            });

            $('#btnSave').click(function () {
                var malop = $('#lophoc').val();
                var hocky = $('#hocky').val();
                var listHocSinh = [];
                debugger;

                $('#dsDiemHocSinh').find('input:text').each(function () {
                    var id = $(this).attr("id");
                    var mahs = $(this).attr("name");
                    var isCheck = $('#' + mahs).prop('checked');
                    debugger;
                    var disable = $(this).attr("disabled")
                    var value = $(this).val();
                    var hocsinh = {};
                    if (isCheck == true) {

                        var idValue = id + '|' + value;
                        hocsinh.HocSinh = idValue;
                        hocsinh.malop = malop;
                        hocsinh.hocky = hocky;
                        listHocSinh.push(hocsinh);

                    }

                });

                // lay thong tin ve cot duoc len lop hay khong 

                $('#dsDiemHocSinh').find('input:checkbox').each(function () {
                    var id = $(this).attr("id");
                    var mahs = $(this).attr("name");
                    var isCheck = $('#' + mahs).prop('checked');
                    var value = $(this).val();

                    var hocsinh = {};
                    if (isCheck == true && id.indexOf("DuocLenLop") > 0) {
                        var isLenLop = $('#' + id).prop('checked');
                        var valueLenLop = isLenLop == true ? 0 : 1;
                        var idValue = id + '|' + valueLenLop;
                        hocsinh.HocSinh = idValue;
                        hocsinh.malop = malop;
                        hocsinh.hocky = hocky;
                        listHocSinh.push(hocsinh);

                    }

                });

                var dataWaper = {
                    hocsinhdiem: listHocSinh
                };    //convert to json
                debugger;
                // send to backend
                $.ajax({
                    cache: true,
                    type: 'POST',
                    contentType: 'application/json',
                    url: '@Url.Action("CapNhatDiemHocSinh", "TongHopDanhGia")',
                    data: JSON.stringify(dataWaper),
                    dataType: "json",
                    success: function (data) {

                        if (data && data == "OK") {
                            alert("Cập nhật nội dung nhận xét thành công!");

                        } else if (data && data == "NOTUPATE") {
                            alert("Không có dữ liệu nào để cập nhật hoặc thêm mới!");
                        } else {
                            alert("Cập nhật nội dung nhận xét không thành công!");
                        }
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.' + ajaxOptions + "a:" + thrownError);
                    }


                });


                //alert('Đã hoàn thành việc cập nhật dữ liệu!');
            });

            $('#lophoc,#hocky').change(function () {

                var malop = $('#lophoc').val();
                var hocky = $('#hocky').val();
                $('.throbber-loader.edu-spinner-loader').css("top", $(window).height() / 2).css("left", $(window).width() / 2);
                $('.throbber-loader.edu-spinner-loader').show();
                debugger;

                // nếu không có học kỳ nào chọn 
                // ẩn toàn bộ các nút
                if (hocky == "-1") {
                    $('#btnSave').hide();
                    $('#btnMacDinh').hide();
                    $('#btnNXMacDinh').hide();
                } else if (hocky == "GHK1" || hocky == "HK1" || hocky == "GHK2") {
                    $('#btnSave').show();
                    $('#btnMacDinh').show();
                    $('#btnNXMacDinh').hide();
                    ViewHocSinhDiem(malop, hocky);
                } else {
                    $('#btnSave').show();
                    $('#btnMacDinh').hide();
                    $('#btnNXMacDinh').show();
                    ViewHocSinhDiem(malop, hocky);
                }

            });
        });                                          //end document


        function ViewHocSinhDiem(malop, hocky) {
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("ViewHocSinhDiemMonHoc", "TongHopDanhGia")',
                data: { lophoc: malop, hocky: hocky },
                success: function (data) {
                    $("#container").empty
                    $("#container").html(data);
                    $('.throbber-loader.edu-spinner-loader').hide();
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

        function LoadMonHoc(malop, hocky)
        {
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("LoadMonHoc", "TongHopDanhGia")',
                data: { lophoc: malop, hocky: hocky },
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

        function GetLopHoc(makhoi)
        {
            $.getJSON('@Url.Action("LoadLopHoc", "TongHopDanhGia")', { makhoi: makhoi },
                                function (Data) {
                                    var select = $("#lophoc");
                                    select.empty();
                                    //select.append($('<option/>', {
                                    //    value: "",
                                    //    text: "--Chọn lớp học--"
                                    //}));
                                    $.each(Data, function (id, itemData) {
                                        select.append($('<option/>', {
                                            value: itemData.MaLop,
                                            text: itemData.TenLop
                                        }));
                                    });
                                });
        }

       


    </script>
<body >
<!-- Trung lam -->
        @RenderPage("~/Views/Shared/_MainMenu.cshtml");
    

        <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
        <input type="hidden" id="namhocht" name="namhocht" value="@ViewBag.namhientai" />
    
        <table width="100%" style="border: 0px; background: #fff; margin-top: 25px; position: fixed; left: 0; width: 100%;">
         
            <tr>
                <td style="border: 0px; padding-top: 10px;" colspan="10" align=center>
				<strong style="font-size: 16px;">TỔNG HỢP ĐÁNH GIÁ CUỐI KỲ - CẢ NĂM</strong><br/>
                    <strong>Người đăng nhập: @ViewBag.tenuser - Năm học: @ViewBag.namhientai</strong>
                </td>
            </tr>

            <tr>
                <td style="border: 0px; padding: 5px;" colspan="30" id="fisrtline">
                    <table width="100%" border="0" style=" background: #fff">
                        <tr valign="top">
                            <td style="border: 0px; height: 50px;">
                                @*Chọn khối*@
                            </td>
                            <td style="border: 0px;">

                                @*@Html.DropDownListFor(x => Model.khoi, new SelectList(ViewBag.khoi, "MaKhoi", "TenKhoi"))*@

                            </td>

                            <td style="border: 0px; height: 50px; width: 20%; text-align: right;">
                                Chọn lớp học: &nbsp;
                            </td>
                            <td style="border: 0px; width: 20%; text-align: left;">
                                @Html.DropDownListFor(x => Model.lophoc, new SelectList(ViewBag.lophoc, "MaLop", "TenLop"))
                            </td>
                           
                            <td style="border: 0px; width: 20%; text-align: right;">
                                Chọn học kỳ: &nbsp;
                            </td>
                            <td style="border: 0px; width: 20%; text-align: left;">
                                @Html.DropDownListFor(
                                     x => Model.hocky, new SelectList(ViewBag.hocky, "maHocKy", "tenHocKy")
                            )

                            </td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;" colspan="11"></td>
                            <td style="border: 0px;" colspan="9">

                               
                            </td>
                            <td style="border: 0px;">
                            <input type="button" id="btnSave" class="btn btn-warning btn-sm btnEdit" style="background-color:#0E5DA2; border-style:none" name="btnSave" value="Lưu" />
                            <input type="button" id="btnMacDinh" class="btn btn-info btn-sm btnEdit " style="background-color:#0E5DA2; border-style:none" name="btnMacDinh" value="Nhận xét mặc định" />
                            <input type="button" id="btnNXMacDinh" class="btn btn-info btn-sm btnEdit" style="background-color:#0E5DA2; border-style:none; display:none;" name="btnNXMacDinh" data-toggle="modal" data-target="#nhanXetMacDinhModal" value="Nhận xét mặc định" />
                            </td>
                           
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="border: 0px; padding-bottom: 4px;" colspan="10" align=right>				 
                    <i>Chú ý:  Các môn tính điểm sẽ tự điền HT khi có điểm </i>
                </td>
            </tr>
        </table>

         <div class="throbber-loader edu-spinner-loader">
  
     </div>

        <table style=" width: 100%;">
            <tr>
                <td style="border: 0px" colspan="30" id="container">

                </td>

            </tr>
            <tr>
                <td style="border: 0px" colspan="30" id="containerhs"></td>
            </tr>
        </table>


         <!-- Modal -->
  <div class="modal fade modalCenter" id="nhanXetMacDinhModal" role="dialog">
    <div class="modal-dialog modalWidthTongHop">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nhập vào câu đánh giá mặc định cho các học sinh</h4>
        </div>
        <div class="modal-body"> 
        
          <div class="row">
           <div class="col-sm-12" style="background-color:lavender;">
           <input type="text" style="width:100%" id="nhanxetmacdinh" value="" /></div>
           </div>

        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" id="chonnx" data-dismiss="modal">Chọn nhận xét</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</body>
</html>
