﻿@model VnEduPlus.Models.TongHopDanhGia
@{
    ViewBag.Title = "Tổng hợp, dánh giá";
}
 
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
     <link rel="stylesheet" href="@Url.Content("~/css/throbber.css")" type="text/css">
    <link href='@Url.Content("~/css/jquery-ui.css")' rel='stylesheet' type='text/css'>
     
   <!-------------edu css-------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/giaovienchunhiemnhanxet.css")">

    <style type="text/css">
        .transItems
        {
            border: 0;
            background: transparent;
            width:28px;
        }
        .row
        {
            background-color:#eee;
        }
        .altrow
        {
            background-color:#fff;
        }
        
       .selected {
        background:#FECBE0;
         }

        .ui-dialog-titlebar-close {
            background: url("../../css/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            border: medium none;
        }

            .ui-dialog-titlebar-close:hover {
                background: url("../../css/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            }
    </style>
    
</head>
  
    <script type="text/javascript">
    //Todo
        $(document).ready(function () {

             $('#btnMacDinh').hide();
             $('#btnExportExcel').hide();
             $('#btnSave').hide();

             if (@ViewBag.allowSave == 1) {
                $('#btnSave').hide();
             } else {
                $('#btnSave').hide();
             }

            $('#btnExportExcel').click(function () {
                var malop = $('#lophoc').val();
                var hocky = $('#hocky').val();

                if (hocky != -1) { // dam bao co chon hoc ky moi load du lieu                       
                    window.location = '@Url.Action("SoTongHopChungXuatExcell", "TongHopDanhGia")?maLop=' + malop + '&mahk=' + hocky;
                }
            });

            $('#btnNXMacDinh').hide();
            $('#khoi').change(function () {

                var makhoi = $('#khoi').val();
                GetLopHoc(makhoi);
            });


            $('#btnSave').click(function () {
                var malop = $('#lophoc').val();
                var hocky = $('#hocky').val();
                var listHocSinh = [];

                $('.throbber-loader.edu-spinner-loader').css("top", $(window).height() / 2 + 100).css("left", $(window).width() / 2);
                $('.throbber-loader.edu-spinner-loader').show();
                $('#btnSave').prop('disabled', true);

                // lay thong tin ve cot duoc len lop hay khong 

                $('#dsDiemHocSinh').find('input:checkbox').each(function () {
                    var id = $(this).attr("id");
                    var mahs = $(this).attr("name");
                    var isCheck = $('#' + mahs).prop('checked');

                    if (isCheck == true) {

                        // chỉ đi lấy giá trị của các ô text mà có checkbox được check thôi
                        $('#dsDiemHocSinh').find('input:text[name=' + mahs + ']').each(function () {
                            var value = $(this).val();
                            var idValue = $(this).attr("id") + '|' + value;
                            var hocsinh = {};
                            hocsinh.HocSinh = idValue;
                            hocsinh.malop = malop;
                            hocsinh.hocky = hocky;
                            listHocSinh.push(hocsinh);

                        });

                        // kiểm tra xem có được lên lớp hay không
                        if (id.indexOf("DuocLenLop") > 0) {
                            var isLenLop = $('#' + id).prop('checked');
                            var valueLenLop = isLenLop == true ? 0 : 1;
                            var idValue = id + '|' + valueLenLop;
                            var hocsinh = {};
                            hocsinh.HocSinh = idValue;
                            hocsinh.malop = malop;
                            hocsinh.hocky = hocky;
                            listHocSinh.push(hocsinh);

                        }

                    }

                });

                var dataWaper = {
                    hocsinhdiem: listHocSinh
                };    //convert to json
                debugger;
                // send to backend
                $.ajax({
                    cache: true,
                    type: 'POST',
                    contentType: 'application/json',
                    url: '@Url.Action("CapNhatDiemHocSinh", "TongHopDanhGia")',
                    data: JSON.stringify(dataWaper),
                    dataType: "json",
                    success: function (data) {

                        $('.throbber-loader.edu-spinner-loader').hide();
                        $('#btnSave').prop('disabled', false);
                        if (data && data == "OK") {
                            alert("Cập nhật nội dung nhận xét thành công!");

                        } else if (data && data == "NOTUPATE") {
                            alert("Không có dữ liệu nào để cập nhật hoặc thêm mới!");
                        } else {
                            alert("Cập nhật nội dung nhận xét không thành công!");
                        }

                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.' + ajaxOptions + "a:" + thrownError);
                    }


                });


                //alert('Đã hoàn thành việc cập nhật dữ liệu!');
            });

            $('#lophoc,#hocky').change(function () {

                var malop = $('#lophoc').val();
                var hocky = $('#hocky').val();

                var allowButton = $('#allowButton').val();
                $('.throbber-loader.edu-spinner-loader').css("top", $(window).height() / 2).css("left", $(window).width() / 2);
                $('.throbber-loader.edu-spinner-loader').show();
                debugger;



                // nếu không có học kỳ nào chọn 
                // ẩn toàn bộ các nút
                if (hocky == "-1") {
                    $('#btnSave').hide();
                    $('#btnMacDinh').hide();
                    $('#btnNXMacDinh').hide();
                } 
                else if (hocky == "GHK1" || hocky == "HK1" || hocky == "GHK2") 
                    {
               
                        if (allowButton == "1") 
                        {
                            $('#btnSave').show();
                            $('#btnMacDinh').show();
                            $('#btnExportExcel').show();
                        } 
                        else 
                        {
                          $('#btnSave').hide();
                          $('#btnMacDinh').hide();
                          $('#btnExportExcel').show();
                        }
                    
                    
                    $('#btnNXMacDinh').hide();
                    ViewHocSinhDiem(malop, hocky);
                   // $('.throbber-loader.edu-spinner-loader').hide();
                } else {
                    if (allowButton == "1") {
                    $('#btnSave').show();
                    } else {
                    $('#btnSave').hide();
                    }
                    $('#btnMacDinh').show();
                    //$('#btnNXMacDinh').show();
                    ViewHocSinhDiem(malop, hocky);
                    //$('.throbber-loader.edu-spinner-loader').hide();
                }

            });
        });                                            //end document


        function ViewHocSinhDiem(malop, hocky) {
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("ViewHocSinhDiemMonHoc", "TongHopDanhGia")',
                data: { lophoc: malop, hocky: hocky },
                success: function (data) {
                    
                    $("#container").empty
                    $("#container").html(data);
                    $('.throbber-loader.edu-spinner-loader').hide();
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    
                    alert('Failed to retrieve specification options.');
                }

            });
        }

        function LoadMonHoc(malop, hocky)
        {
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("LoadMonHoc", "TongHopDanhGia")',
                data: { lophoc: malop, hocky: hocky },
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

        function GetLopHoc(makhoi)
        {
            $.getJSON('@Url.Action("LoadLopHoc", "TongHopDanhGia")', { makhoi: makhoi },
                                function (Data) {
                                    var select = $("#lophoc");
                                    select.empty();
                                    //select.append($('<option/>', {
                                    //    value: "",
                                    //    text: "--Chọn lớp học--"
                                    //}));
                                    $.each(Data, function (id, itemData) {
                                        select.append($('<option/>', {
                                            value: itemData.MaLop,
                                            text: itemData.TenLop
                                        }));
                                    });
                                });
        }

       


    </script>
<body >
<!-- Trung lam -->
        @RenderPage("~/Views/Shared/_MainMenu.cshtml");
    

        <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
        <input type="hidden" id="namhocht" name="namhocht" value="@ViewBag.namhientai" />
        <input type="hidden" id="allowButton" name="namhocht" value="@ViewBag.allowSave" />
    
        <table width="100%" style="border: 0px; background: #fff; margin-top: 25px; position: fixed; left: 0; width: 100%;">
         
            <tr>
                <td style="border: 0px; padding-top: 10px;" colspan="10" align=center>
				<strong style="font-size: 16px;">TỔNG HỢP ĐÁNH GIÁ CUỐI KỲ - CẢ NĂM</strong><br/>
                    <strong>Người đăng nhập: @ViewBag.tenuser - Năm học: @ViewBag.namhientai</strong>
                </td>
            </tr>

            <tr>
                <td style="border: 0px; padding: 5px;" colspan="30" id="fisrtline">
                    <table width="100%" border="0" style=" background: #fff">
                        <tr valign="top">
                            <td style="border: 0px; height: 50px;">
                                @*Chọn khối*@
                            </td>
                            <td style="border: 0px;">

                                @*@Html.DropDownListFor(x => Model.khoi, new SelectList(ViewBag.khoi, "MaKhoi", "TenKhoi"))*@

                            </td>

                            <td style="border: 0px; height: 50px; width: 20%; text-align: right;">
                                Chọn lớp học: &nbsp;
                            </td>
                            <td style="border: 0px; width: 20%; text-align: left;">
                                @Html.DropDownListFor(x => Model.lophoc, new SelectList(ViewBag.lophoc, "MaLop", "TenLop"))
                            </td>
                           
                            <td style="border: 0px; width: 20%; text-align: right;">
                                Chọn học kỳ: &nbsp;
                            </td>
                            <td style="border: 0px; width: 20%; text-align: left;">
                                @Html.DropDownListFor(
                                     x => Model.hocky, new SelectList(ViewBag.hocky, "maHocKy", "tenHocKy")
                            )

                            </td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;" colspan="11"></td>
                            <td style="border: 0px;" colspan="9">

                               
                            </td>
                            <td style="border: 0px;">
                            <input type="button" id="btnSave" class="btn btn-warning btn-sm btnEdit" style="background-color:#0E5DA2; border-style:none" name="btnSave" value="Lưu" />
                            <input type="button" id="btnMacDinh" class="btn btn-info btn-sm btnEdit " style="background-color:#0E5DA2; border-style:none" data-toggle="modal" data-target="#nhanXetMacDinhModal" name="btnMacDinh" value="Đánh giá nhanh" />
                            <input type="button" id="btnExportExcel" class="btn btn-info btn-sm" style="background-color:#0E5DA2; border-style:none" name="btnExcel" value="Xuất Excel" />
                            @*<input type="button" id="btnNXMacDinh" class="btn btn-info btn-sm btnEdit" style="background-color:#0E5DA2; border-style:none; display:none;" name="btnNXMacDinh" data-toggle="modal" data-target="#nhanXetMacDinhModal" value="Nhận xét mặc định" />*@
                            </td>
                           
                        </tr>
                    </table>
                </td>
            </tr>
             
        </table>

         <div class="throbber-loader edu-spinner-loader">
  
     </div>

        <table style=" width: 100%;">
            <tr>
                <td style="border: 0px" colspan="30" id="container">

                </td>

            </tr>
            <tr>
                <td style="border: 0px" colspan="30" id="containerhs"></td>
            </tr>
        </table>
</body>
</html>
