﻿ <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 </head>
@model System.Data.DataTable
        
<script>
    $(document).ready(function () {
     
            
         if (@ViewBag.allowSave == 1) {
            $('#btnSave').show();
         } else {
            $('#btnSave').hide();
         }

         if (@ViewBag.khongchodanhgia =="0") {
            // tìm toàn bộ input text xóa disable
            $('.contentNhanXet').removeAttr('disabled');
         }  

         if(@ViewBag.QuyenNhapDiem == 0) 
         {
                $('#btnSave').hide();
                $('#btnMacDinh').hide();
                $('#btnNXMacDinh').hide();
         } else {
                
                var hk = $('#hocky').val();
                $('#btnSave').show();
                if (hk =="0") {
                    $('#btnMacDinh').show();
                } else if (hk =="1") {
                    $('#btnNXMacDinh').show();
                }
         }

        // get infomation of dialog 

        $('.modal-footer #chonnx').click(function () {
            // duyet qua tat ca cac checkbox 
            var noiDungNX = $('#nhanxetmacdinh').val(),
                HTCT = $('#noidunghoanthanhct').val();
                
             $('.NLPC, .HTCT').each(function () {
                var idText = this.id;
                var mahs = $(this).attr("name");
                $('#' + mahs).attr('checked',true);
                 $('#' + idText).val(noiDungNX);

                if (idText.indexOf("HoanThanhCT") > 0) {// xét mặc định cho cột hoàn thành
                    $('#' + idText).val(HTCT);
                }
             });

        });


       $('input:checkbox.contentNhanXet').change(function() {

        var name = $(this).attr('name');
        $('#' + name).attr('checked', 'checked');
       
       });
            
       
        // Xử lý check validator cho việc nhập vào CĐ hoặc HT
        $('input[type="text"]').bind('change', function () {
            var value = $(this).val();
            var id = this.id;
            debugger;           
            var name = $(this).attr('name');
            $(this).val(convertCharacter(value));
            // tick checked for checkbox
            $('#'+ name).prop("checked", true);

            if (id.indexOf("NXNangLucTX1") > 0 || id.indexOf("NXNangLucTX2") > 0 || id.indexOf("NXNangLucTX3") > 0 || id.indexOf("NXPhamChatTX1") > 0 || id.indexOf("NXPhamChatTX2") > 0 || id.indexOf("NXPhamChatTX3") > 0 || id.indexOf("NXPhamChatTX4") > 0) {// xét mặc định Đ
                if ( value.toUpperCase() != 'D' && value.toUpperCase() != 'Đ' && value.toUpperCase() != 'CCG' && value.toUpperCase() != 'T') {
                    alert('Chỉ nhập giá trị là (Đ/D/CCG/T)!');
                
                    $('#' + id).val('');
                    $('#' + id).focus();
                }
                else {
                    $('#' + name).attr('checked', 'checked');
                }
            
            }  
            else 
            { 
                if (id!='nhanxetmacdinh' && id.indexOf("HoanThanhCT") < 0 && id!="noidunghoanthanhct") {

                    if (value.toUpperCase() != 'HT' && value.toUpperCase() != 'CHT' && value.toUpperCase() != 'HTT') {
                        alert('Chỉ nhập giá trị là (HT/CHT/HTT)!');
                
                        $('#' + id).val('');
                        $('#' + id).focus();
                    }
                    else {
                        $('#' + name).attr('checked', 'checked');
                    }
              } else { // nếu là khi người dùng gõ vào câu nhận xét thì ko cần kiểm tra gì cả
                    $('#' + name).attr('checked', 'checked');
              }
            }
            
        });

         var model =@ViewBag.isHiddenNhanxetButton;
         debugger;
         if ( model == "1") {         
                //enable nút xếp mặc đinh
                $('#btnMacDinh').addClass('disabled');
         } else {
            $('#btnMacDinh').removeClass('disabled');
         }
        
    });

    function convertCharacter (value) {
       if (value) {
          if (value.toUpperCase() =='D') {
            value = 'Đ';
          }
           
          if (value.toUpperCase() =='CD') {
            value = 'CĐ';
          }

          if (value.toUpperCase() =='T' || value.toUpperCase() =='CHT' || value.toUpperCase() =='HT' || value.toUpperCase() =='CCG' || value.toUpperCase() =='HTT') {
            value = value.toUpperCase();
          }
            

       }
       return value.toUpperCase();
    }
</script>
<style>
    .medium{
        width:15%;
    }
    .small{
        width:5%;
    }
    .diem{
        width:3.5%;
    }
    
</style>

@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using Lib.Web.Mvc.JQuery.JqGrid;
@using VnEduPlus.CmonFunction;
@using VnEduPlus.Models;
@using System.Globalization;
@using System.Threading;
@using System.Data.SqlClient;
@using System.Data;
@using VnEduPlus;
@{
    EDUNP_CAP1Entities db = new EDUNP_CAP1Entities();
    string disabled = ViewBag.QuyenNhapDiem == 0 ? "disabled" : "";
    if (Model != null)
    {
        bool cuoiNam = false;
        string namHoc = ViewBag.namhoc;
        int idTruong = (int)ViewBag.idTruong;
        string maLop = ViewBag.maLop;
        string MonTinhDiem = "";
        List<MonHocThi> MonThi = (List<MonHocThi>)ViewBag.DanhSachMonThi;
        List<string> dsmh = (List<string>)ViewBag.dsmh;
        dsmh.Add("NXNangLucTX1");
        dsmh.Add("NXNangLucTX2");
        dsmh.Add("NXNangLucTX3");
        dsmh.Add("NXPhamChatTX1");
        dsmh.Add("NXPhamChatTX2");
        dsmh.Add("NXPhamChatTX3");
        dsmh.Add("NXPhamChatTX4");
                
        <div class="container" style="margin-top: 170px; width: 95% !important"> 
             <table class="table table-bordered" style="border:0 auto; font-size: 12px;">
               <tr><td>Năng lực 1:Tự phục vụ, tự quản lý </td><td>Năng lực 2: Hợp tác</td> <td>Năng lực 3: Tự học</td><td colspan="7"></td></tr>
              <tr><td>Phẩm chất 1:Chăm học, chăm làm </td><td>Phẩm chất 2: Tự tin, trách nhiệm</td> <td>Phẩm chất 3: Trung thực, trách nhiệm</td><td>Phẩm chất 4: Đoàn kết, yêu thương</td></tr>
  
             </table>
             <table id="dsDiemHocSinh" class="table table-bordered" style="border:0 auto; font-size: 12px;">
                 <thead>
                     <tr>
                         <th style="width:1%"></th>
                         <th style="width:1%">STT</th>
                         @foreach (DataColumn col in Model.Columns)
                         {
                             bool isMark = (from mh in db.ASSIGN_LOP_MonHoc.Where(t => t.MaMonHoc == col.ColumnName && t.NamHoc == namHoc && t.idTruong == idTruong && t.MaLop == maLop) select mh.Tinhdiem).FirstOrDefault();
                             if (isMark) { MonTinhDiem += "-" + col.ColumnName; }
                             if (col.ColumnName != "IdTruong" && col.ColumnName != "NamHoc" && col.ColumnName != "MaLop" && col.ColumnName != "MaHocSinh"
                                 && col.ColumnName != "HoanThanhCT" && col.ColumnName != "DuocLenLop" && col.ColumnName != "NgaySinh")
                             {
                                 string css = "diem";
                                 DanhMucMonHoc dm = Cmon.dmMonHoc.Where(m => m.MaMon == col.ColumnName).FirstOrDefault();
                                 string tenmon = "";
                                 if (col.ColumnName == "NXNangLucTX1") { tenmon = "Năng lực 1"; }
                                 if (col.ColumnName == "NXNangLucTX2") { tenmon = "Năng lực 2"; }
                                 if (col.ColumnName == "NXNangLucTX3") { tenmon = "Năng lực 3"; }

                                 if (col.ColumnName == "NXPhamChatTX1") { tenmon = "Phẩm chất 1"; }
                                 if (col.ColumnName == "NXPhamChatTX2") { tenmon = "Phẩm chất 2"; }
                                 if (col.ColumnName == "NXPhamChatTX3") { tenmon = "Phẩm chất 3"; }
                                 if (col.ColumnName == "NXPhamChatTX4") { tenmon = "Phẩm chất 4"; }
                                 //if (col.ColumnName == "NgaySinh") { tenmon = "Ngày sinh"; css = "diem"; }
                                 if (col.ColumnName == "HoTen") { css = "HoTenColumn"; }
                                 if (dm != null) { tenmon = dm.TenMon; }

                                 string hs = (@col.ColumnName == "MaHocSinh" ? "Mã học sinh" : @col.ColumnName == "HoTen" ? "Họ tên" : tenmon);
                                 <th style="text-align: center; word-wrap: break-word; " class="@css">@hs</th>
                             }

                             if (col.ColumnName == "HoanThanhCT" || col.ColumnName == "DuocLenLop")
                             {
                                 cuoiNam = true;

                             }

                         }
                         
                         <!-- vẽ thêm 2 cột ở cuối -->
                         @if (cuoiNam == true)
                         {
                             <th style="text-align: center; word-wrap: break-word" class="diem">Hoàn Thành CT</th>
                             <th style="text-align: center; word-wrap: break-word" class="diem">Lên lớp</th>
                         }   
                         <input type=hidden id="danhsachmontinhdiem" value ="@MonTinhDiem" />

                     </tr>
                 </thead>
                 <tbody>
                     
                     @{ int i = 0;
                        foreach (DataRow row in Model.Rows)
                        {
                            i++;
                            string rowid = row["MaHocSinh"].ToString();
                            string HTCT = "";
                            string NHANXET = "";
                            string idHTCT = "";
                            string idNHANXET = "";
                         <tr>
                             <td style="padding-left:3px; padding-right:4px">
                                 <input type="checkbox" id="@rowid" name="@rowid" />
                             </td>
                             <td style="text-align: center">@i</td>
                             @foreach (DataColumn col in Model.Columns)
                             {

                                 if (col.ColumnName != "IdTruong" && col.ColumnName != "NamHoc" && col.ColumnName != "MaLop"
                                     && col.ColumnName != "MaHocSinh" && col.ColumnName != "HoanThanhCT" && col.ColumnName != "DuocLenLop" && col.ColumnName != "NgaySinh")
                                 {
                                     DanhMucMonHoc dm = Cmon.dmMonHoc.Where(m => m.MaMon == col.ColumnName).FirstOrDefault();
                                     string id = row["MaHocSinh"] + "-" + col.ColumnName;
                                     var diemthi = MonThi.FirstOrDefault(x => x.maMon == col.ColumnName);
                                     //|| col.ColumnName == "NgaySinh"
                                     if (col.ColumnName == "MaHocSinh" || col.ColumnName == "HoTen" || col.ColumnName == "NamHoc")
                                     {
                                                 <td  @{ if (col.ColumnName == "HoTen")
                                                         {<text>style="width:20%"</text>}}> @row[col.ColumnName] </td>
                                     }
                                     else if (col.ColumnName != "NgaySinh")
                                     {
                                         if (dsmh.Contains(col.ColumnName) == true)
                                         {
                                             disabled = "";
                                         }
                                         else
                                         {
                                             disabled = "disabled";
                                         }
                                         string classNXNLPC = "";

                                         if (col.ColumnName == "NXNangLucTX1" || col.ColumnName == "NXNangLucTX2" || col.ColumnName == "NXNangLucTX3" ||
                                             col.ColumnName == "NXPhamChatTX1" || col.ColumnName == "NXPhamChatTX2" || col.ColumnName == "NXPhamChatTX3" || col.ColumnName == "NXPhamChatTX4")
                                         {
                                             classNXNLPC = "NLPC";

                                         }
                                             <td style="text-align: center; word-wrap: break-word; " >
                                            <input id="@id" @disabled type="text" class="contentNhanXet @classNXNLPC" style="width: 100%; text-align: center; padding:0; background-color: #fff; font-size: 12px" 
                                                name="@row["MaHocSinh"]" value="@row[col.ColumnName]" @{if (diemthi != null)
                                                                                                        {<text> data-TGHK="@diemthi.thiGHK" data-THK="@diemthi.thiHK" </text>}}  />
                                            </td>
                                     }
                                 }

                                 if (col.ColumnName == "HoanThanhCT")
                                 {
                                     HTCT = col.ColumnName;
                                     idHTCT = row["MaHocSinh"] + "-" + col.ColumnName;
                                 }

                                 if (col.ColumnName == "DuocLenLop")
                                 {
                                     NHANXET = col.ColumnName;
                                     idNHANXET = row["MaHocSinh"] + "-" + col.ColumnName;
                                 }

                             }

                                @if (cuoiNam == true)
                                {
                                    string checkbox = @row[@NHANXET].ToString() == "0" ? "checked" : "";
                                        
                                     <!-- lấy giá trị của 2 cột hoàn thành chương trình và nhận xét đưa ra sau-->
                                     <td style="text-align: center; word-wrap: break-word; " ><input id="@idHTCT" @disabled type="text" class="contentNhanXet HTCT" data-toggle="tooltip" data-placement="top" title="@row[@HTCT]" style="width: 100%; text-align: left;"  name="@row["MaHocSinh"]" value="@row[@HTCT]" /></td>
                                     <td style="text-align: center; word-wrap: break-word; " ><input id="@idNHANXET" @disabled type="checkbox" class="contentNhanXet" @checkbox style="width: 100%; text-align: left;"  name="@row["MaHocSinh"]" value="@row[@NHANXET]" /></td>
                                }  
                       </tr>
                        }
    }
                 </tbody>
             </table>
             </div>
    
    
    
    <!-- Modal -->
  <div class="modal fade modalCenter" id="nhanXetMacDinhModal" role="dialog">
    <div class="modal-dialog modalWidthTongHop">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Nhập vào câu đánh giá mặc định cho các học sinh</h4>
        </div>
        <div class="modal-body"> 
           @{ if (ViewBag.hocky == "HK2")
              {
                  
               <div class="row">
                   <div class="col-sm-3" style="background-color:lavender;">
                    Nhận xét cả năm:
                   </div>   
                   <div class="col-sm-9" style="background-color:lavender;">              
                     <input type="text" id="noidunghoanthanhct" name ="noidunghoanthanhct" value="" />
                   </div>
               </div>
              }
          }
           <div class="row">
               <div class="col-sm-3" style="background-color:lavender;">
                Chọn đánh giá:
               </div>   
               <div class="col-sm-9" style="background-color:lavender;">              
                <select id="nhanxetmacdinh" name="nhanxetmacdinh">
                <option value="T">Tốt</option>
                <option value="Đ">Đạt</option>
                <option value="CCG">Cần cố gắng</option>
                </select>
               </div>
           </div>

        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" id="chonnx" data-dismiss="modal">Chọn nhận xét</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
 } <!-- end if model != null -->

}



