﻿<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <!-- Trung lam -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
    <!-- bootstrap ---------------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/throbber.css")" type="text/css">
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
    <!-------------edu css-------------------------------------------------------->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnReport").click(function () {
                var isCheck = $('#chkTheoKhoi').prop('checked');
                if (isCheck == true)
                {
                    //alert("Xuất thống kê theo khối");
                    ThongKeChatLuongTheoKhoi();
                }
                else
                {
                    var isCheckDiem = $('#chkLoaiBaoCaoDiem').prop('checked');
                    var isCheckChatLuong = $('#chkLoaiBaoCaoChatLuong').prop('checked');
                    if (isCheckDiem == true && isCheckChatLuong == false) {
                        ThongKeDiemKiemTra();
                    }
                    else {
                        ThongKeChatLuong();
                    }
                }

            });

            $("#chkTheoKhoi").change(function () {
                var isCheck = $('#chkTheoKhoi').prop('checked');
                if(isCheck==true)
                {
                    $('#chkLoaiBaoCaoChatLuong').prop('checked', true);
                    $('#chkLoaiBaoCaoDiem').prop('checked', false);
                    $("#divKhoi").css("display", "inline");
                }
                else {
                    $('#chkLoaiBaoCaoChatLuong').prop('checked', false);
                    $('#chkLoaiBaoCaoDiem').prop('checked', true);
                    $('#divKhoi').css("display", "none");
                }
            });

            $("#exportExcell").click(function () {
                var isCheck = $('#chkTheoKhoi').prop('checked');
                if (isCheck == true) {
                    ThongKeChatLuongTheoKhoiExcel();
                }
                else {
                    var isCheckDiem = $('#chkLoaiBaoCaoDiem').prop('checked');
                    var isCheckChatLuong = $('#chkLoaiBaoCaoChatLuong').prop('checked');
                    if (isCheckDiem == true && isCheckChatLuong == false) {
                        ThongKeDiemKiemTraExcel();
                    }
                    else {
                        ThongKeChatLuongExcel();
                    }
                }

            });
            $("#chkLoaiBaoCaoDiem").change(function () {
                var isCheckDiem = $('#chkLoaiBaoCaoDiem').prop('checked');
                if(isCheckDiem==true)
                    $('#chkLoaiBaoCaoChatLuong').prop('checked', false);
            });
            $("#chkLoaiBaoCaoChatLuong").change(function () {
                var isCheckChatLuong = $('#chkLoaiBaoCaoChatLuong').prop('checked');
                if (isCheckChatLuong == true)
                    $('#chkLoaiBaoCaoDiem').prop('checked', false);
            });
        });

        function ThongKeChatLuongTheoKhoiExcel() {
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ThongKeChatLuongTheoKhoiExcel", "TongHopDanhGia")',
                data: {},
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $('#loading').css("display", "none");
                    window.location = '/TongHopDanhGia/DownloadFile?file=' + data;

                    return false;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Failed to retrieve specification options.')
                    return false;
                }
            });
        }

        function ThongKeChatLuongExcel() {
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ThongKeChatLuongExcel", "TongHopDanhGia")',
                data: {},
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $('#loading').css("display", "none");
                    window.location = '/TongHopDanhGia/DownloadFile?file=' + data;

                    return false;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Failed to retrieve specification options.')
                    return false;
                }
            });
        }

        function ThongKeDiemKiemTraExcel()
        {
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ThongKeDiemKiemTraExcel", "TongHopDanhGia")',
                data: {},
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $('#loading').css("display", "none");
                    window.location = '/TongHopDanhGia/DownloadFile?file=' + data;

                    return false;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Failed to retrieve specification options.')
                    return false;
                }
            });
        }

        function ThongKeChatLuongTheoKhoi() {
            $('#btnReport').attr("disabled", "disabled");
            var MaHocKy = $("#maHocKy").val();
            var NamHoc = $("#NamHoc").val();
            var MaKhoi = $("#MaKhoi").val();
            debugger;
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("ThongKeChatLuongTheoKhoi", "TongHopDanhGia")',
                data: { MaHocKy: MaHocKy, NamHoc: NamHoc, MaKhoi: MaKhoi },
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $('#exportExcell').removeAttr("disabled");
                    $('.throbber-loader.edu-spinner-loader').hide();
                    $("#containerReport").empty();
                    $("#containerReport").html(data);
                    $('#btnReport').removeAttr("disabled");
                    $('#loading').css("display", "none");
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Hết phiên làm việc, đề nghị đăng nhập trở lại.')
                }

            });
        }

        function ThongKeChatLuong()
        {
            $('#btnReport').attr("disabled", "disabled");
            var MaHocKy = $("#maHocKy").val();
            var NamHoc = $("#NamHoc").val();
            debugger;
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("ThongKeChatLuong", "TongHopDanhGia")',
                data: { MaHocKy: MaHocKy, NamHoc: NamHoc },
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $('#exportExcell').removeAttr("disabled");
                    $('.throbber-loader.edu-spinner-loader').hide();
                    $("#containerReport").empty();
                    $("#containerReport").html(data);
                    $('#btnReport').removeAttr("disabled");
                    $('#loading').css("display", "none");
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Hết phiên làm việc, đề nghị đăng nhập trở lại.')
                }

            });
        }

        function ThongKeDiemKiemTra()
        {
            $('#btnReport').attr("disabled", "disabled");
            var MaHocKy = $("#maHocKy").val();
            var NamHoc = $("#NamHoc").val();
            debugger;
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("ThongKeDiemKiemTra", "TongHopDanhGia")',
                data: { MaHocKy: MaHocKy, NamHoc: NamHoc },
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $('#exportExcell').removeAttr("disabled");
                    $("#containerReport").empty();
                    $("#containerReport").html(data);
                    $('#btnReport').removeAttr("disabled");
                    $('#loading').css("display", "none");
                    //alert(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Hết phiên làm việc, đề nghị đăng nhập trở lại.')
                }

            });
        }
    </script>
</head>
@RenderPage("~/Views/Shared/_MainMenu.cshtml");
<div id="loading" style="position:absolute;padding-top: 220px;width: 100%;text-align: center; display:none" class="fa fa-refresh fa-spinner"><img src="../../Images/loading.gif" /></div>
<div style="margin-top: 20px;">
    
    <table style="border: 0px; background: #fff; width: 100%;">

        <tr>
            <td style="border: 0px; padding: 45px 0px 0px 0px; font-size:16px; font-weight: bolder; text-transform: uppercase" align=center>
                <strong>Báo cáo thống kê - Năm học @ViewBag.namhientai <input type="hidden" id="NamHoc" value="@ViewBag.namhientai"/> </strong>
            </td>
        </tr>
        <tr>
            <td align=center>Thống kê điểm: <input id="chkLoaiBaoCaoDiem" type="checkbox" checked="checked"/>Thống kê chất lượng: <input id="chkLoaiBaoCaoChatLuong" type="checkbox"/>Thống kê theo khối: <input id="chkTheoKhoi" type="checkbox" /></td>
        </tr>
        <tr>
            <td style="border: 0px; text-align: center;padding-top: 10px; width: 100%" id="fisrtline">
                <table border="0" style="background:#fff; text-align:center; width: 100%">
                    <tr valign="top">
                        
                        <td style="border: 0px; text-align: center;">
                            <div id="divKhoi" style="display: none;">
                                Chọn khối: &nbsp;
                                @Html.DropDownList("MaKhoi", ViewBag.Khoi as SelectList, new { @style = "height: 34px;" })
                            </div>
                            Chọn học kỳ: &nbsp;
                            @Html.DropDownList("maHocKy", ViewBag.hocKyMacDinh as SelectList, new { @style= "height: 34px;" })
                            <button style="height: 34px" type="button" id="btnReport" class="btn btn-primary btn-sm" data-toggle="modal">Xem</button>
                            <button type="button" id="exportExcell" class="btn btn-info" disabled data-toggle="modal">Xuất Excel</button>
                        
                        </td>
        

                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
    <div id="containerReport" style="padding-top: 40px; padding: 0 3px">

    </div>
    @*<div id="ThongKeChatLuong">
        <div id="TKChatLuongHocTap">

        </div>
        <div id="TKChatLuongNangLuc">

        </div>
        <div id="TKChatLuongPhamChat">

        </div>
        <div id="TKChatLuongKhac">

        </div>
    </div>*@
    
    <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idTruong" />
    
</div>
