﻿ <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 </head>
@model System.Data.DataTable
        
<script>
    $(document).ready(function () {

         
         if(@ViewBag.QuyenNhapDiem == 0) 
         {
                $('#btnSave').hide();
                $('#btnMacDinh').hide();
                $('#btnNXMacDinh').hide();
         } else {
                
                var hk = $('#hocky').val();
                $('#btnSave').show();
                if (hk =="0") {
                    $('#btnMacDinh').show();
                } else if (hk =="1") {
                    $('#btnNXMacDinh').show();
                }
         }

        // get infomation of dialog 

        $('.modal-footer #chonnx').click(function () {
        
            // duyet qua tat ca cac checkbox 
            var noiDungNX = $('#nhanxetmacdinh').val();
             $('input[type="text"]').each(function () {
                var idText = this.id;
                var mahs = $(this).attr("name");
                $('#' + mahs).attr('checked',true);
                if (idText.indexOf("HoanThanhCT") > 0) {// xét mặc định cho cột hoàn thành
                    $('#' + idText).val(noiDungNX);
                }
             });
        });


       $('input:checkbox.contentNhanXet').change(function() {

        var name = $(this).attr('name');
        $('#' + name).attr('checked', 'checked');
       
       });
            
       
        // Xử lý check validator cho việc nhập vào CĐ hoặc HT
        $('input[type="text"]').bind('change', function () {
            var value = $(this).val();
            var id = this.id;
            debugger;           
            var name = $(this).attr('name');
            $(this).val(convertCharacter(value));
            // tick checked for checkbox
            $('#'+ name).prop("checked", true);

            if (id.indexOf("NXNangLucTX") > 0 || id.indexOf("NXPhamChatTX") > 0) {// xét mặc định Đ
                if ( value.toUpperCase() != 'D' && value.toUpperCase() != 'Đ' && value.toUpperCase() != 'CCG' && value.toUpperCase() != 'T') {
                    alert('Chỉ nhập giá trị là (Đ/D/CCG/T)!');
                
                    $('#' + id).val('');
                    $('#' + id).focus();
                }
                else {
                    $('#' + name).attr('checked', 'checked');
                }
            
            }  
            else 
            { 
                if (id!='nhanxetmacdinh' && id.indexOf("HoanThanhCT") < 0) {

                    if (value.toUpperCase() != 'HT' && value.toUpperCase() != 'CHT' && value.toUpperCase() != 'HTT') {
                        alert('Chỉ nhập giá trị là (HT/CHT/HTT)!');
                
                        $('#' + id).val('');
                        $('#' + id).focus();
                    }
                    else {
                        $('#' + name).attr('checked', 'checked');
                    }
              } else { // nếu là khi người dùng gõ vào câu nhận xét thì ko cần kiểm tra gì cả
                    $('#' + name).attr('checked', 'checked');
              }
            }
            
        });



         if (@Model.Rows!=null && @Model.Rows.Count >0) {
                //enable nút xếp mặc đinh
                $('#btnMacDinh').removeClass('disabled');
         }
        
    });

    function convertCharacter (value) {
       if (value) {
          if (value.toUpperCase() =='D') {
            value = 'Đ';
          }
           
          if (value.toUpperCase() =='CD') {
            value = 'CĐ';
          }

          if (value.toUpperCase() =='T' || value.toUpperCase() =='CHT' || value.toUpperCase() =='HT' || value.toUpperCase() =='CCG' || value.toUpperCase() =='HTT') {
            value = value.toUpperCase();
          }
            

       }
       return value;
    }
</script>
<style>
    .medium{
        width:15%;
    }
    .small{
        width:5%;
    }
    .diem{
        width:6%;
    }
    
</style>

@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using Lib.Web.Mvc.JQuery.JqGrid;
@using VnEduPlus.CmonFunction;
@using VnEduPlus.Models;
@using System.Globalization;
@using System.Threading;
@using System.Data.SqlClient;
@using System.Data;
@using VnEduPlus;
@{
    EDUNP_CAP1Entities db = new EDUNP_CAP1Entities();
    string disabled = ViewBag.QuyenNhapDiem == 0 ? "disabled" : "";
    if (Model != null)
    { bool cuoiNam = false;
    string namHoc = ViewBag.namhoc;
    int idTruong = (int)ViewBag.idTruong;
    string maLop = ViewBag.maLop;
    string MonTinhDiem = "";
    List<MonHocThi> MonThi = (List<MonHocThi>) ViewBag.DanhSachMonThi;
    
                
        <div class="container" style="margin-top: 170px;"> 
             @*<button type="button" class="btn btn-primary bentrai">Tổng số: <span class="badge">@Model.Rows.Count</span> học sinh</button>*@
             <table id="dsDiemHocSinh" class="table table-bordered" style="border:0 auto; font-size: 12px;">
                 <thead>
                     <tr>
                         <th style="width:1%"></th>
                         <th style="width:1%">STT</th>
                         @foreach (DataColumn col in Model.Columns)
                         {
                             bool isMark = (from mh in db.ASSIGN_LOP_MonHoc.Where(t => t.MaMonHoc == col.ColumnName && t.NamHoc == namHoc && t.idTruong == idTruong && t.MaLop == maLop) select mh.Tinhdiem).FirstOrDefault();
                             if (isMark) { MonTinhDiem += "-" + col.ColumnName;}
                             if (col.ColumnName != "IdTruong" && col.ColumnName != "NamHoc" && col.ColumnName != "MaLop" && col.ColumnName != "MaHocSinh"
                                 && col.ColumnName != "HoanThanhCT" && col.ColumnName != "DuocLenLop")
                             {
                                 string css = "diem";
                                 DanhMucMonHoc dm = Cmon.dmMonHoc.Where(m => m.MaMon == col.ColumnName).FirstOrDefault();
                                 string tenmon = "";
                                 if (col.ColumnName == "NXNangLucTX") { tenmon = "Năng lực"; }
                                 if (col.ColumnName == "NXPhamChatTX") { tenmon = "Phẩm chất"; }
                                 if (col.ColumnName == "NgaySinh") { tenmon = "Ngày sinh"; css = "diem"; }
                                 if (col.ColumnName == "HoTen") { css = "HoTenColumn"; }
                                 if (dm != null) { tenmon = dm.TenMon; }
                                
                                 string hs = (@col.ColumnName == "MaHocSinh" ? "Mã học sinh" : @col.ColumnName == "HoTen" ? "Họ tên" : tenmon);
                                 <th style="text-align: center; word-wrap: break-word; " class="@css">@hs</th>
                             }

                             if (col.ColumnName == "HoanThanhCT" || col.ColumnName == "DuocLenLop")
                             {
                                 cuoiNam = true;

                             }

                         }
                         
                         <!-- vẽ thêm 2 cột ở cuối -->
                         @if (cuoiNam == true)
                         {
                             <th style="text-align: center; word-wrap: break-word" class="diem">Hoàn Thành CT</th>
                             <th style="text-align: center; word-wrap: break-word" class="diem">Lên lớp</th>
                         }   
                         <input type=hidden id="danhsachmontinhdiem" value ="@MonTinhDiem" />

                     </tr>
                 </thead>
                 <tbody>
                     
                     @{ int i = 0;
                        foreach (DataRow row in Model.Rows)
                        {
                            i++;
                            string rowid = row["MaHocSinh"].ToString();
                            string HTCT = "";
                            string NHANXET = "";
                            string idHTCT = "";
                            string idNHANXET = "";
                         <tr>
                             <td style="padding-left:3px; padding-right:4px">
                                 <input type="checkbox" id="@rowid" name="@rowid" />
                             </td>
                             <td>@i</td>
                             @foreach (DataColumn col in Model.Columns)
                             {

                                 if (col.ColumnName != "IdTruong" && col.ColumnName != "NamHoc" && col.ColumnName != "MaLop"
                                     && col.ColumnName != "MaHocSinh" && col.ColumnName != "HoanThanhCT" && col.ColumnName != "DuocLenLop")
                                 {
                                         DanhMucMonHoc dm = Cmon.dmMonHoc.Where(m => m.MaMon == col.ColumnName).FirstOrDefault();
                                         string id = row["MaHocSinh"] + "-" + col.ColumnName;
                                         var diemthi = MonThi.FirstOrDefault(x => x.maMon == col.ColumnName);
                                         if (col.ColumnName == "MaHocSinh" || col.ColumnName == "HoTen" || col.ColumnName == "NamHoc"
                                             || col.ColumnName == "NgaySinh")
                                         {
                                                 <td @{ if (col.ColumnName == "HoTen"){<text>style="width:20%"</text>}}> @row[col.ColumnName] </td>
                                         }
                                         else
                                         {
                                                  <td style="text-align: center; word-wrap: break-word; " >
                                                    <input id="@id" @disabled type="text" class="contentNhanXet" style="width: 100%; text-align: center; background-color: #fff;" 
                                                     name="@row["MaHocSinh"]" value="@row[col.ColumnName]" @{if (diemthi != null) {<text> data-TGHK="@diemthi.thiGHK" data-THK="@diemthi.thiHK" </text>}}  />
                                                   </td>
                                         }
                                 }

                                if (col.ColumnName == "HoanThanhCT")
                                {
                                    HTCT = col.ColumnName;
                                    idHTCT = row["MaHocSinh"] + "-" + col.ColumnName;
                                }

                                if (col.ColumnName == "DuocLenLop")
                                {
                                    NHANXET = col.ColumnName;
                                    idNHANXET = row["MaHocSinh"] + "-" + col.ColumnName;
                                }

                             }

                                @if (cuoiNam == true)
                                {
                                    string checkbox = @row[@NHANXET].ToString() == "0" ? "checked" : "";
                                        
                                     <!-- lấy giá trị của 2 cột hoàn thành chương trình và nhận xét đưa ra sau-->
                                     <td style="text-align: center; word-wrap: break-word; " ><input id="@idHTCT" @disabled type="text" class="contentNhanXet" data-toggle="tooltip" data-placement="top" title="@row[@HTCT]" style="width: 100%; text-align: left;"  name="@row["MaHocSinh"]" value="@row[@HTCT]" /></td>
                                     <td style="text-align: center; word-wrap: break-word; " ><input id="@idNHANXET" @disabled type="checkbox" class="contentNhanXet" @checkbox style="width: 100%; text-align: left;"  name="@row["MaHocSinh"]" value="@row[@NHANXET]" /></td>
                                }  
                       </tr>
                        }
    }
                 </tbody>
             </table>
             </div>
    }

}

