﻿@model List<VnEduPlus.Models.DiemTheoMonHoc>
<style type="text/css">
    table td
    {
        border: 1px solid #CCCCCC;
    }
</style>

@{
    if (ViewBag.exportExcel != null && ViewBag.exportExcel == true) 
    {
         Layout = "~/Views/Shared/_LayoutExcel.cshtml";
    }
}

<table width="100%" style="border: 1px solid gray;">
   <tr>
    <td><strong>S&#7902; GI&Aacute;O D&#7908;C V&Agrave; &#272;&Agrave;O T&#7840;O TH&Agrave;NH PH&#7888; &#272;&Agrave; N&#7860;NG </strong></td>
    <td>&nbsp;</td>
    <td><strong>C&#7897;ng h&ograve;a x&atilde; h&#7897;i ch&#7911; ngh&#297;a Vi&#7879;t nam </strong></td>
  </tr>
  <tr>
    <td><strong>TR&#431;&#7900;NG @ViewBag.tentruong</strong></td>
    <td>&nbsp;</td>
    <td><strong>&#272;&#7897;c l&#7853;p- T&#7921; Do- H&#7841;nh ph&uacute;c </strong></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><div align="center"><strong>TH&#7888;NG K&Ecirc; CH&#7844;T L&#431;&#7906;NG B&Agrave;I KI&#7874;M TRA  @ViewBag.hocky - N&#258;M H&#7884;C @ViewBag.namhoc</strong></div></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><div align="center"><strong>M&ocirc;n h&#7885;c @ViewBag.tenmonhoc </strong></div></td>
  </tr>
  <tr>
    <td colspan="3"><table width="100%" border="0">
      <tr>
        <td width="4%" rowspan="2"><div align="center"><strong>L&#7899;p</strong></div></td>
        <td width="7%" rowspan="2"><div align="center"><strong>T&#7893;ng s&#7893; H/S </strong></div></td>
        <td colspan="2"><div align="center"><strong>&#272;i&#7875;m =0 </strong></div></td>
        <td colspan="2"><div align="center"><strong>0&lt;&#272;i&#7875;m &lt;2</strong></div></td>
        <td colspan="2"><div align="center"><strong>2&lt;&#272;i&#7875;m &lt;4</strong></div></td>
        <td colspan="2"><div align="center"><strong>4&lt;&#272;i&#7875;m &lt;5</strong></div></td>
        <td colspan="2"><div align="center"><strong>5&lt;&#272;i&#7875;m &lt;7</strong></div></td>
        <td colspan="2"><div align="center"><strong>7&lt;&#272;i&#7875;m &lt;8</strong></div></td>
        <td colspan="2"><div align="center"><strong>8&lt;&#272;i&#7875;m &lt;10</strong></div></td>
        <td colspan="2"><div align="center"><strong>&#272;i&#7875;m =10 </strong></div></td>
        <td colspan="2"><div align="center"><strong>Ch&#432;a c&oacute; &#273;i&#7875;m </strong></div></td>
        <td colspan="2"><div align="center"><strong>Tr&ecirc;n TB </strong></div></td>
        </tr>
      <tr>
        <td width="5%"><div align="center"><strong>SL</strong></div></td>
        <td width="4%"><div align="center"><strong>T&#7881; l&#7879; </strong></div></td>
        <td width="5%"><div align="center"><strong>SL</strong></div></td>
        <td width="4%"><div align="center"><strong>T&#7881; l&#7879; </strong></div></td>
        <td><div align="center"><strong>SL</strong></div></td>
        <td><div align="center"><strong>T&#7881; l&#7879; </strong></div></td>
        <td><div align="center"><strong>SL</strong></div></td>
        <td><div align="center"><strong>T&#7881; l&#7879; </strong></div></td>
        <td><div align="center"><strong>SL</strong></div></td>
        <td><div align="center"><strong>T&#7881; l&#7879; </strong></div></td>
        <td><div align="center"><strong>SL</strong></div></td>
        <td><div align="center"><strong>T&#7881; l&#7879; </strong></div></td>
        <td><div align="center"><strong>SL</strong></div></td>
        <td><div align="center"><strong>T&#7881; l&#7879; </strong></div></td>
        <td><div align="center"><strong>SL</strong></div></td>
        <td><div align="center"><strong>T&#7881; l&#7879; </strong></div></td>
        <td><div align="center"><strong>SL</strong></div></td>
        <td><div align="center"><strong>T&#7881; l&#7879; </strong></div></td>
        <td><div align="center"><strong>SL</strong></div></td>
        <td><div align="center"><strong>T&#7881; l&#7879; </strong></div></td>
      </tr>
       @foreach (var item in Model)
       {
           double tileLoai1 = 0;
           double tiLeLoai2 = 0;
           double tiLeLoai3 = 0;
           double tiLeLoai4 = 0;
           double tiLeLoai5 = 0;

           double tiLeLoai6 = 0;
           double tiLeLoai7 = 0;
           double tiLeLoai8 = 0;
           double tiLeLoai9 = 0;
                      
           if (item.siso > 0)
           {
               tileLoai1 = System.Math.Round((double)item.level1 * 100 / (double)item.siso, 2, MidpointRounding.ToEven);
               tiLeLoai2 = System.Math.Round((double)item.level2 * 100 / (double)item.siso, 2, MidpointRounding.ToEven);
               tiLeLoai3 = System.Math.Round((double)item.level3 * 100 / (double)item.siso, 2, MidpointRounding.ToEven);
               tiLeLoai4 = System.Math.Round((double)item.level4 * 100 / (double)item.siso, 2, MidpointRounding.ToEven);
               tiLeLoai5 = System.Math.Round((double)item.level5 * 100 / (double)item.siso, 2, MidpointRounding.ToEven);
               tiLeLoai6 = System.Math.Round((double)item.level6 * 100 / (double)item.siso, 2, MidpointRounding.ToEven);
               tiLeLoai7 = System.Math.Round((double)item.level7 * 100 / (double)item.siso, 2, MidpointRounding.ToEven);
               tiLeLoai8 = System.Math.Round((double)item.level8 * 100 / (double)item.siso, 2, MidpointRounding.ToEven);
               tiLeLoai9 = System.Math.Round((double)item.level9 * 100 / (double)item.siso, 2, MidpointRounding.ToEven);
           }
           
      <tr>
        <td>@item.tenlop</td>
        <td>@item.siso</td>

        <td>@item.level1</td>
        <td>@tileLoai1</td>
        
        <td>@item.level2</td>
        <td>@tiLeLoai2</td>
        
        <td>@item.level3</td>
        <td>@tiLeLoai3</td>
        
        <td>@item.level4</td>
        <td>@tiLeLoai4</td>
        
        <td>@item.level5</td>
        <td>@tiLeLoai5</td>
        
        <td>@item.level6</td>
        <td>@tiLeLoai6</td>
        
        <td>@item.level7</td>
        <td>@tiLeLoai7</td>
        
        <td>@item.level8</td>
        <td>@tiLeLoai8</td>
        
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        
        <td>@item.level9</td>
        <td>@tiLeLoai9</td>
      </tr>
       }
    </table></td>
  </tr>
</table>