﻿@{
    ViewBag.Title = "Phiếu liên lạc";
}

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/jquery.dataTables.min.js")" type="text/javascript"></script>
<!-- Trung lam -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
<link href="@Url.Content("~/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet'
    type='text/css'>
<style type="text/css">
    .modal
    {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
    }
    
    /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
    body.loading
    {
        overflow: hidden;
    }
    .dataTables_length
    {
        display:none;
        }
     .dataTables_info
     {
         display:none;
         }
    /* Anytime the body has the loading class, our
   modal element will be visible */
    body.loading .modal
    {
        display: block;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {

        var mkhoi = $("#makhoi").val();
        if (mkhoi != "") {
            loadDSLop(mkhoi);
        }

        $("#makhoi").change(function () {
            var mkhoi = $("#makhoi").val();
            loadDSLop(mkhoi);
        });


        $("#malop").change(function () {
            var mahk = $("#MaHocKy").val();
            if (mahk != '') {
                loadDSHocSinh();

            }
        });

        $("#MaHocKy").change(function () {
            loadDSHocSinh();
        });

        $("#exportExcel").click(function () {
            var makhoi = document.getElementById("makhoi").value;
            var malop = document.getElementById("malop").value;
            var mahocky = document.getElementById("MaHocKy").value;
            var namhoc = document.getElementById("namhoc").value;
            var idTruong = document.getElementById("idtruong").value;
            var tentruong = document.getElementById("tentruong").value;
            // var tengiaovien = document.getElementById("tengiaovien").value;

            var tab = document.getElementById("gvhocsinh")
            var chk = tab.getElementsByTagName("input");
            var num = chk.length;
            var idHocSinhList = "";
            for (var i = 0; i < num; i++) {
                status = chk[i].getAttribute("type");
                if (status == "checkbox") {
                    if (chk[i].checked == true) {
                        if (idHocSinhList == "") idHocSinhList = chk[i].id;
                        else idHocSinhList += "," + chk[i].id
                    }
                }
            }
            if (idHocSinhList == "")
                alert('Yêu cầu chọn ít nhất một học sinh để tạo sổ liên lạc!');
            else {
                var sohocsinh = idHocSinhList.split(',');
                var sohs = parseInt(sohocsinh.length);
                //                if (sohs > 5) {
                //                    alert('Yêu cầu chọn không quá 5 học sinh để tạo sổ liên lạc!');
                //                }
                //                else {var
                if (mahocky == "GHK1") {
                    window.location = '@Url.Action("SoLienLacXuatExcellGHK1", "PhieuLienLac")?idtruong=' + idTruong + '&makhoi=' + makhoi + '&malop=' + malop + '&mahk=' + mahocky + '&namhoc=' + namhoc + " &tentruong=" + tentruong + "&mahocsinh=" + idHocSinhList;
                } else if (mahocky == "HK1") {
                    window.location = '@Url.Action("SoLienLacXuatExcellHK1", "PhieuLienLac")?idtruong=' + idTruong + '&makhoi=' + makhoi + '&malop=' + malop + '&mahk=' + mahocky + '&namhoc=' + namhoc + " &tentruong=" + tentruong + "&mahocsinh=" + idHocSinhList;
                } else if (mahocky == "GHK2") {
                    window.location = '@Url.Action("SoLienLacXuatExcellGHK2", "PhieuLienLac")?idtruong=' + idTruong + '&makhoi=' + makhoi + '&malop=' + malop + '&mahk=' + mahocky + '&namhoc=' + namhoc + " &tentruong=" + tentruong + "&mahocsinh=" + idHocSinhList;
                } else if (mahocky == "HK2") {
                    window.location = '@Url.Action("SoLienLacXuatExcellHK2", "PhieuLienLac")?idtruong=' + idTruong + '&makhoi=' + makhoi + '&malop=' + malop + '&mahk=' + mahocky + '&namhoc=' + namhoc + " &tentruong=" + tentruong + "&mahocsinh=" + idHocSinhList;
                }
                
                // }
            }


        });

    });


    function loadDSHocSinh() {
        var malop = document.getElementById("malop").value;
        var namhoc = document.getElementById("namhoc").value;
        var idTruong = document.getElementById("idtruong").value;
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("LoadDanhSachHocSinh", "PhieuLienLac")',
            data: { idtruong: idTruong, malop: malop, namhoc: namhoc },
            success: function (data) {
                $("#viewdata").empty();
                $("#viewdata").html(data);

                $('#gvhocsinh').dataTable({
                    "bPaginate": false,
                    "bSort": true
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve specification options.')
            }
        });
    }

    function CheckNoOfHocSinh(obj) {
        var tab = document.getElementById("gvhocsinh")
        var chk = tab.getElementsByTagName("input");
        var num = chk.length;
        var idHocSinhList = "";
        for (var i = 0; i < num; i++) {
            status = chk[i].getAttribute("type");
            if (status == "checkbox") {
                if (chk[i].checked == true) {
                    if (idHocSinhList == "") idHocSinhList = chk[i].id;
                    else idHocSinhList += "," + chk[i].id
                }
            }
        }

        var sohocsinh = idHocSinhList.split(',');
        var sohs = parseInt(sohocsinh.length);
        if (sohs > 5) {
            alert('Yêu cầu chọn không quá 5 học sinh để tạo sổ liên lạc!');
            obj.checked = false;
        }
    }

    function loadDSLop(mkhoi) {

        var namhoc = document.getElementById("namhoc").value;
        var idTruong = document.getElementById("idtruong").value;

        var dlop = $("#malop");
        dlop.empty();

        $.getJSON('@Url.Action("LoadLophoc", "PhieuLienLac")', { id: mkhoi, namhoc: namhoc, idTruong: idTruong },
            function (khoiData) {
                var select = $("#malop");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "Chọn lớp"
                }));
                $.each(khoiData, function (Mainview, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
    }
     
</script>
<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
<input type="hidden" id="tentruong" name="tentruong" value="@ViewBag.tentruong" />
<input type="hidden" id="namhoc" name="idtruong" value="@ViewBag.namhoc" />
<input type="hidden" id="tengiaovien" name="tengiaovien" value="@ViewBag.tendangnhap" />
@RenderPage("~/Views/Shared/_MainMenu.cshtml");
<table style="margin-top: 50px;" width="800" border="1" align="center">
    <tr>
        <td width="300">
            <br />
            <br />
            <strong>Trường</strong>:<strong> @*@ViewBag.tentruong
            duong dan : @ViewBag.path1 -- @ViewBag.path2*@
            
            </strong>
            <br />
            <strong>Năm học</strong>:<strong>@ViewBag.namhoc</strong>
            <table width="100%" border="1" cellpadding="5">
                <tr>
                    <td width="35%">
                        Khối
                    </td>
                    <td>@Html.DropDownList("makhoi", "Chọn khối")
                    </td>
                </tr>
                <tr>
                    <td width="35%">
                        Lớp
                    </td>
                    <td>@Html.DropDownList("malop", "Chọn lớp")
                    </td>
                </tr>
                <tr>
                    <td width="35%">
                        Điều kiện
                    </td>
                    <td>
                        <select id="MaHocKy" name="MaHocKy">
                            <option value="">Lựa chọn điều kiện</option>
                            <option value="GHK1">Giữa học kỳ 1</option>                            
                            <option value="HK1">Học kỳ 1</option>
                            <option value="GHK2">Giữa học kỳ 2</option>
                            <option value="HK2">Cả năm</option>
                            <!-- <option value="CN">Cả năm</option>-->
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td colspan="2" align="center">
                        <input class="submit" type="submit" name="button" id="exportExcel" value="Xuất Excel" />
                    </td>
                </tr>
            </table>
        </td>
        <td width="500" valign="top">
            <br />
            <p>
                Hệ thống sẽ xuất ra excel theo mẫu đã định sổ liên lạc và số điểm cho từng học sinh
                ra file excell để phục vụ cho việc liên lạc giữa nhà trường và phụ huynh học sinh
            </p>
            <p>
                &nbsp;</p>
        </td>
    </tr>
</table>
<table style="margin-top: 0px; width: 100%">
    
    <tr>
        <td colspan="2" id="viewdata" align="center">
        </td>
    </tr>
</table>