﻿@model IList<VnEduPlus.Models.ViewHocSinh>
<script>
    function SelectAll() {
        var tab = document.getElementById("gvhocsinh")
        var chk = tab.getElementsByTagName("input");
        var num = chk.length;
        var x = document.getElementById("chkSelectAll");
        if (x.checked == true) {
            for (var i = 0; i < num; i++) {
                status = chk[i].getAttribute("type");
                if (status == "checkbox") {
                    chk[i].checked = true;
                }
            }
        }
        else {
            for (var i = 0; i < num; i++) {
                status1 = chk[i].getAttribute("type");
                if (status1 == "checkbox") {
                    chk[i].checked = false;
                }
            }
        }
    }
    
</script>
<style type="text/css">
    table tr
    {
        
        padding-bottom: 2px;
        padding-top: 2px;
    }
    
    table tr td
    {
        padding-top: 4px;    
    }
</style>
<table id="gvhocsinh" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th><input type="checkbox" id="chkSelectAll" onclick="javascript:SelectAll();" /></th>
            <th>
                Số thứ tự
            </th>
          @*  <th>
                Mã Học Sinh
            </th>*@
            <th>
                Họ Tên
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Ngày sinh
            </th>
        </tr>
    </thead>
    <tbody>
    
        @{
            for (int i = 0; i < Model.Count; i++)
            {
                string id = Model[i].MaHocSinh;
            <tr>
                <td><input type="checkbox" @*onclick="javascript:CheckNoOfHocSinh(this)"*@ class="checkHocsinh" id="@id" /></td>
                <td>@Model[i].Stt</td>
              @*  <td>@Model[i].MaHocSinh
                </td>*@
                <td>@Model[i].HoTen
                </td>
                <td>@Model[i].GioiTinh
                </td>
                <td>
                @if (Model[i].NgaySinh.HasValue)
                { 
                    <text>@Model[i].NgaySinh.Value.ToString("dd/MM/yyyy")</text>
                }
                
                </td>
            </tr>
            }   
        }
    </tbody>
</table>
