﻿<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <!-- Trung lam -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
    <!-- bootstrap ---------------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/throbber.css")" type="text/css">
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
    <!-------------edu css-------------------------------------------------------->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnReport").click(function () {
                ThongKeSoLieuHocSinh();
            });

            $("#exportExcell").click(function () {
                ThongKeSoLieuHocSinhExcel();
            });
        });

        function ThongKeSoLieuHocSinhExcel()
        {
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ThongKeSoLieuExcel", "TongHopDanhGia")',
                data: {},
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $('#loading').css("display", "none");
                    window.location = '/TongHopDanhGia/DownloadFile?file=' + data;

                    return false;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Failed to retrieve specification options.')
                    return false;
                }
            });
        }

        function ThongKeSoLieuHocSinh()
        {
            $('#btnReport').attr("disabled", "disabled");
            var NamHoc = $("#NamHoc").val();
            var MaKhoi = $("#makhoi").val();
            debugger;
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("BaoCaoThongKeSoLieuHocSinh", "TongHopDanhGia")',
                data: { NamHoc: NamHoc, MaKhoi: MaKhoi },
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $('#exportExcell').removeAttr("disabled");
                    $('.throbber-loader.edu-spinner-loader').hide();
                    $("#containerReport").empty();
                    $("#containerReport").html(data);
                    $('#btnReport').removeAttr("disabled");
                    $('#loading').css("display", "none");
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Hết phiên làm việc, đề nghị đăng nhập trở lại.')
                }

            });
        }

        
    </script>
</head>
@RenderPage("~/Views/Shared/_MainMenu.cshtml");
<div id="loading" style="position:absolute;padding-top: 220px;width: 100%;text-align: center; display:none" class="fa fa-refresh fa-spinner"><img src="../../Images/loading.gif" /></div>
<div style="margin-top: 20px; width: 100% !important">
    
    <table style="border: 0px; background: #fff; width: 100%;">

        <tr>
            <td style="border: 0px; padding: 45px 0px 0px 0px; font-size:16px; font-weight: bolder; text-transform: uppercase" align=center>
                <strong>THỐNG KÊ SỐ LIỆU HỌC SINH NĂM HỌC @ViewBag.namhientai <input type="hidden" id="NamHoc" value="@ViewBag.namhientai"/> </strong>
            </td>
        </tr>
        <tr>
            <td style="border: 0px; font-size:13; text-transform: uppercase" align=center>
                Khối: @Html.DropDownList("makhoi", "Toàn trường")
            </td>
        </tr>
        <tr>
            <td style="border: 0px; text-align: center;padding-top: 10px; width: 100%" id="fisrtline">
                <table border="0" style="background:#fff; text-align:center; width: 100%">
                    <tr valign="top">
                        
                        <td style="border: 0px; text-align: center;">
                            
                            <button style="height: 34px" type="button" id="btnReport" class="btn btn-primary btn-sm" data-toggle="modal">Xem</button>
                            <button type="button" id="exportExcell" class="btn btn-info" disabled data-toggle="modal">Xuất Excel</button>
                        
                        </td>
        

                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
    <div id="containerReport" style="width:100%; padding-top: 40px; padding: 0 3px">

    </div>
    @*<div id="ThongKeChatLuong">
        <div id="TKChatLuongHocTap">

        </div>
        <div id="TKChatLuongNangLuc">

        </div>
        <div id="TKChatLuongPhamChat">

        </div>
        <div id="TKChatLuongKhac">

        </div>
    </div>*@
    
    <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idTruong" />
    
</div>
