﻿@model VnEduPlus.DM_NhanXetMau_GVBM

<form id="formAddNL">
  @*  <div style="float:left; width:150px">Mã tiêu chí</div>
    <div style="float:right; width:320px"><input type="text" style="border:1px dashed black; text-align:left;" name="MaNangLuc" id="MaNangLuc" value="" /><a style="color:red">(*)</a></div>
  *@  <div style="float: left; width: 200px; margin-top:5px">Nội dung câu nhận xét</div>
    <div style="float: right; width: 460px; margin-top: 5px">
    <input type="text" style="border:1px dashed black; text-align:left; width: 430px;" name="TenNangLuc" id="TenNangLuc" value="" /><a style="color:red">(*)</a></div>
  @*  <div style="float:left; width:150px; margin-top:5px">Mặc định</div>
    <div style="float: right; width: 320px; margin-top: 5px">
    <input type="checkbox" name="isDefault" id="isDefault" value="0" /></div>
*@

<input type="checkbox" style="display:none;" name="isDefault" id="isDefault" value="0" />
</form>