﻿@model List<VnEduPlus.ThuVien_NhanXetMauGVBM>

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <!-- import css bootstrap css and js ( bat buoc phai co)-->
 <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
 <link href="@Url.Content("~/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="@Url.Content("~/css/common.css")">
 <link href="@Url.Content("~/css/kehoach.css")" rel="stylesheet" type="text/css" />
 <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
 <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
</head>

<script type="text/javascript">
    //Todo
    $(document).ready(function () {
        $('input[type="checkbox"]').on('change', function () {
            $('input[name="' + this.name + '"]').not(this).prop('checked', false);
        });

        $('#luuthuvien').click(function () {
            var maKhoi = $('#khoinx').val(),
                thangnx = $('#thangnx').val(),
                loaiNX = $('#loainx').val(),
                maMonHoc =$('#maMonHoc').val(),
                arrayCauHoi = [];
            debugger;

            $('.checked').each(function (evt) {
                var checked = $(this).is(":checked");
                if (checked) {
                    arrayCauHoi.push(this.id);
                }
            });

            var thuVienMau = {
             maKhoi: maKhoi,
             thangNX: thangnx,
             loaiNX: loaiNX,
             maMonHoc: maMonHoc,
             danhSachMau: arrayCauHoi
            
            };

            $.ajax({
                type: 'post',
                contentType: 'application/json; charset=utf-8',
                dataType: "json",              
                url: '@Url.Action("ThemDanhSachThuVienMauCau", "GiaoVienBoMon")',
                data: JSON.stringify(thuVienMau),
                success: function (data) {
//                    debugger;
                    if (data != 'ERROR') {
                        alert('Bạn đã lựa chọn câu nhận xét thành công');
                        
                    } else {
                        alert('Dữ liệu bạn thêm vào có vấn đề, liên hệ với quản trị để biết thêm thông tin');
                    }

                    return;
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            });


        });

    });                              //end document
     
</script> 

<div class="ThuVienNhanXetContainerHeader">
   <div> <strong>@ViewBag.tenTruong</strong> - Năm học: @ViewBag.namHoc</div>
   <div class="chonmaucau"><h1> Thư viện mẫu câu</h1> </div>
</div>
<input type="hidden" id="loainx" value="@ViewBag.loaiNX"/>
<input type="hidden" id="thangnx" value="@ViewBag.thang"/>
<input type="hidden" id="khoinx" value="@ViewBag.maKhoi"/>
<input type="hidden" id="maMonHoc" value="@ViewBag.maMonHoc"/>
 <div class="container" id="content">  
    <div class="luuymaucau"><span style="color:Red">Lưu ý: Tại mỗi thời điểm bạn chỉ có thể chọn được một mẫu câu</span></div>
    <div id="danhSachMauNXContainer">
        <table id="danhSachMauNX" class="table table-striped table-bordered" style="table-layout: auto;" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th style="width: 4%;" align="center">STT</th>                             
                    <th style="width: 90%;">Nội dung nhận xét</th>             
                    <th style="width: 6%;" align="center">Chọn</th>
                </tr>
            </thead>
            <tbody>
                @{
                     for (int i = 0; i < Model.Count(); i++)
                     {  
                        string STT = (i+1).ToString();
                        string noiDungNX = Model[i].Noidung;
                         <tr>
                            <td align="center">@STT</td> 
                            <td>@noiDungNX</td>
                            <td align="center"><input type="checkbox" id="@Model[i].ID" class="checked" name="qs" value="@Model[i].ID" /></td>
                        
                        </tr> 
                    }
                }
            </tbody>
        </table>
     </div>
     <div class="footer"><input class="btn btn-primary" type="button" value="Lưu câu thư viện" id="luuthuvien" /></div>
    </div>
 

 