﻿@model VnEduPlus.DM_NhanXetMau_GVBM

@{
    if(Model!=null)
    {
        string check="";
        if (Model.isDefault==true) { check = "checked"; }
        string idtieuchi = "id_" + Model.MaNhanXet;
        string tentieuchi = "ten_" + Model.MaNhanXet;
        string isdefault = "isdefault_" + Model.MaNhanXet;
        <form id="formEditPC">
           @* <div style="float:left; width:150px">Mã tiêu chí</div>*@
            <div style="float:right; display:none; width:320px"><input type="text" style="border:1px dashed black; text-align:left;" readonly="readonly" name="MaKienThuc" id="@idtieuchi" value="@Model.MaNhanXet" /><a style="color:red">(*)</a></div>
            <div style="float: left; width: 200px; margin-top:5px">Nội dung câu nhận xét</div>
            <div style="float: right; width: 460px; margin-top: 5px"><input type="text" style="border:1px dashed black; text-align:left;" name="TenKienThuc" id="@tentieuchi" value="@Model.TenNhanXet" /><a style="color:red">(*)</a></div>
        @*    <div style="float:left; width:150px; margin-top:5px">Mặc định</div>
            <div style="float: right; width: 320px; margin-top: 5px"><input type="checkbox" name="isDefault" id="@isdefault" @check value="0"/></div>
    *@
    <input type="checkbox" style="display:none;" name="isDefault" id="isDefault" value="0" />
        </form>
    }
}
