﻿@model VnEduPlus.Models.FormKienThuc
<style>
    .MakeWide {
        width: 220px;
    }
</style>
<table>
    <tr>
        <td style="width:100px; padding-left:10px">Kiến thức: </td>
        <td>@Html.DropDownListFor(x => Model.MauKienThuc, new SelectList(ViewBag.kienthuc, "manhanxet", "tennhanxet"),new { @class = "MakeWide" })</td>
        <td style="width: 100px; padding-left: 10px; ">Năng lực: </td>
        <td>@Html.DropDownListFor(x => Model.MauNangLuc, new SelectList(ViewBag.nangluc, "manhanxet", "tennhanxet"), new { @class = "MakeWide" })</td>
        <td style="width: 100px; padding-left: 10px; ">Phẩm chất: </td>
        <td>@Html.DropDownListFor(x => Model.MauPhamChat, new SelectList(ViewBag.phamchat, "manhanxet", "tennhanxet"), new { @class = "MakeWide" })</td>
    </tr>
</table>