﻿@model VnEduPlus.Models.FormKienThuc
@{
    ViewBag.Title = "Mẫu nhận xét GVBM";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/swfobject.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>

    <style type="text/css">
        .transItems
        {
            border: 0;
            background: transparent;
            width:28px;
        }
        .row
        {
            background-color:#eee;
        }
        .altrow
        {
            background-color:#fff;
        }
        
       .selected {
        background:#FECBE0;
         }

        .ui-dialog-titlebar-close {
            background: url("../../css/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            border: medium none;
        }

            .ui-dialog-titlebar-close:hover {
                background: url("../../css/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            }
    </style>
    
</head>
  
    <script type="text/javascript">
    //Todo
        $(document).ready(function () {

            $('#thang, #danhMucTieuChi, #danhMucMonHoc').change(function () {

                var $thang = $('#thang').val();
                var $danhMucTieuChi = $('#danhMucTieuChi').val();

                if (validator($thang, 'Tháng') && validator($danhMucTieuChi, 'Tiêu chí')) {
                    if ($danhMucTieuChi === '1') {
                        showThuVien($thang,1);
                    } else if ($danhMucTieuChi === '2') {
                        showThuVien($thang,2);
                    } else if ($danhMucTieuChi === '3') {
                        showThuVien($thang,3);
                    }

                }
            });

        });    //end document

        function showThuVien(thang,tieuchi) {
            var idTruong = $('#idtruong').val();
            var namHoc = $('#namhocht').val();
            var mamonhoc = $('#danhMucMonHoc').val();
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("HienThiDanhSach", "GiaoVienBoMon")',
                data: { idTruong: idTruong, namHoc: namHoc, thang: thang, idLoaiNhanXet: tieuchi, mamonhoc: mamonhoc },
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }


        // Validator element
        function validator(value,element) {
          if(value=='-1')
          {
            //alert(element + ' phải có được lựa chọn');
            return false;
          } else return true;
        
        }


    </script>
<body >
<!-- Trung lam -->
        @RenderPage("~/Views/Shared/_MainMenu.cshtml");
       

        <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
        <input type="hidden" id="namhocht" name="namhocht" value="@ViewBag.namhientai" />
    
        <table width="100%" style="border: 0px; background: #fff; z-index: 3; position: fixed; left: 0; width: 100%;">
          <tr> <td style="border: 0px; padding: 35px 0px 0px 0px; font-size:16px; font-weight: bolder; text-transform: uppercase" colspan="10" align=center> Mẫu nhận xét môn học</td></tr>
            <tr>
                <td style="border: 0px; padding: 10px 0px;" colspan="10" align=center>
                    <strong>Người đăng nhập: @ViewBag.tenuser  &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;   Năm học: @ViewBag.namhientai</strong>
                </td>
            </tr>

            <tr>
                <td style="border: 0px;" colspan="30" id="fisrtline">
                    <table width="100%" border="0" style=" background: #fff; text-align: center;">
                        <tr valign="top">
                             <!--
							 <td style="border: 0px; height: 10px; width: 33%; text-align: center;">Khối: @Html.DropDownList("makhoi", "Chọn khối")</td>
							-->
                            <td style="border: 0px; height: 50px;">
                                Chọn môn học:
                                @Html.DropDownListFor(x => Model.danhMucMonHoc,new SelectList(ViewBag.danhMucMonHoc, "MaMon", "TenMon"), new {style="width:160px;"})

                            </td>

                            <td style="border: 0px; height: 50px;">
                                Chọn tiêu chí:
                                @Html.DropDownListFor(x => Model.danhMucTieuChi,new SelectList(ViewBag.danhMucTieuChi, "id", "name"), new {style="width:180px;"})

                            </td>
                           
                            <td style="border: 0px;">
                                Chọn tháng:
                                @Html.DropDownListFor(
                            x => Model.thang,
                                              new SelectList(ViewBag.danhMucThang, "id", "name"), new {style="width:160px;"}
                            )

                            </td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;" colspan="11"></td>
                            <td style="border: 0px;" colspan="9">

                                @*<img class="toolbarover" style="float: left" src="@Url.Content("~/Images/icons/save.png")" alt="Lưu lại" id="imgonesave" name="imgone"  onclick="getvalues();">*@
                            </td>
                            <td style="border: 0px;" id="exportExcel">
                                @*<img class="toolbarover" style="float: left" src="@Url.Content("~/Images/icons/xuatexcel.png")" alt="Xuất Excel" id="imgone" name="imgone">*@
                            </td>
                            <!--
                                        <td style="border: 0px;" id="importExcell" >

                                         @using (Html.BeginForm("Import", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                         {
                                            <div>
                            <input type="file" name="fileData" id="fileData" />
                                            <input type="submit" id="upload"  value="upload"/>
                                             </div>
                                         }

                                        </td>
                                          -->
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

        <table style=" width: 100%;">
            <tr>
                <td style="border: 0px" colspan="30" id="container"></td>
            </tr>

        </table>



</body>
</html>
