﻿@model VnEduPlus.Models.FormKienThuc
@{
    ViewBag.Title = "GVBM nhận xét TX";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/swfobject.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>



    <style type="text/css">
        .transItems
        {
            border: 0;
            background: transparent;
            width:28px;
        }
        .row
        {
            background-color:#eee;
        }
        .altrow
        {
            background-color:#fff;
        }
        
       .selected {
        background:#FECBE0;
         }
        .ui-dialog-titlebar-close {
            background: url("../../css/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            border: medium none;
        }

            .ui-dialog-titlebar-close:hover {
                background: url("../../css/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            }
    </style>
    
</head>
  
    <script type="text/javascript">
    //Todo
    $(document).ready(function () {
    

        $("#lophoc").change(function () {
                var maLop = $(this).val();
                //$("#vantuan").empty();
                // load len danh sach lop hoc cua khối đã chọn 
                $.getJSON('@Url.Action("LoadMonHocTheoLop", "GiaoVienBoMon")', { maLop: maLop },
                    function (data) {
                        var select = $("#danhMucMonHoc");
                        select.empty();
                        select.append($('<option/>', {
                            value: "",
                            text: "Chọn môn học"
                        }));
                        $.each(data, function (id, itemData) {
                            select.append($('<option/>', {
                                value: itemData.MaMon,
                                text: itemData.TenMon
                            }));
                        });
                    });
            });

       
        $('#thang, #danhMucMonHoc').change(function () {

            var $thang = $('#thang').val();
            var $lophoc = $('#lophoc').val();
            var $danhMucMonhoc = $('#danhMucMonHoc').val();


            if (validator($thang, 'Tháng') && validator($danhMucMonhoc, 'Môn học') && validator($lophoc, 'Lớp học')) {
                showHocSinh();
            }

        });

       

        $('#btnSave').click(function () {
            var thang = $('#thang').val();
            var mamonhoc = $('#danhMucMonHoc').val();
            var lophoc = $('#lophoc').val();
            var rs = '';
            $('#viewHocSinh tbody tr td input[type="checkbox"]').each(function () {
                var isCheck = $(this).prop('checked');

                if (isCheck == true) {
                    var mahs = $(this).prop('id');
                    var kienthuc = $('#kt_' + mahs).val();
                    var nangluc = $('#nl_' + mahs).val();
                    var phamchat = $('#pc_' + mahs).val();
                    var hoten = $('#hd_' + mahs).val();
                    $.ajax({
                        url: '@Url.Action("CapNhatNoiDungNhanXet", "GiaoVienBoMon")',
                        dataType: 'json',
                        type: 'GET',
                        //data: $("#formAdd").serialize(),
                        data: { mahocsinh: mahs, mamonhoc: mamonhoc, thang: thang, malop: lophoc, kienthuc: kienthuc, nangluc: nangluc, phamchat: phamchat, hoten: hoten },
                        success: function (data) {
                            if (data) {

                                rs += data;
                            }
                        }
                    });
                }
            });
            if (rs.indexOf("0") >= 0) {
                alert("Cập nhật nội dung nhận xét không thành công!");
            }
            else {
                alert("Cập nhật nội dung nhận xét thành công!");
            }
        });

        $('.btnAdd').click(function () {
            var thang = $('#thang').val();
            var mamonhoc = $('#danhMucMonHoc').val();
            $("#AddForm").load('@Url.Action("ShowMauCau", "GiaoVienBoMon")?thang=' + thang + "&mamonhoc=" + mamonhoc).dialog({
                autoOpen: true,
                position: { my: "center", at: "top+350", of: window },
                width: 1000,
                resizable: false,
                title: 'Thêm câu nhận xét',
                modal: true,
                open: function () {
                    
                },
                show: {
                    effect: "slide",
                    duration: 500
                },
                hide: {
                    effect: "slide",
                    duration: 500
                },
                buttons: {
                    "Thêm": function () {
                        AddTieuChi();
                        $(this).dialog("close");
                    },
                    "Hủy": function () {
                        $(this).dialog("close");
                    }
                }
            });
            return false;
        })

    });    //end document

    function showHocSinh() {
        var idTruong = $('#idtruong').val();
        var mamonhoc = $('#danhMucMonHoc').val();
        var thang = $('#thang').val();
        var malop = $('#lophoc').val();
        $.ajax({
            cache: true,
            type: 'GET',
            url: '@Url.Action("GetHocSinh", "GiaoVienBoMon")',
            data: { malop: malop, thang: thang, mamon: mamonhoc },
            success: function (data) {
                $("#container").empty();
                $("#container").html(data);
                AutoCheck();
            },

            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve specification options.')
            }

        });
    }

    function AutoCheck() {
        $('#viewHocSinh tbody tr td input[type="checkbox"]').each(function () {
            var mahs = $(this).prop('id');
            var kienthuc = $('#kt_' + mahs).val();
            var nangluc = $('#nl_' + mahs).val();
            var phamchat = $('#pc_' + mahs).val();
            if(kienthuc.length>0 || nangluc.length>0 || phamchat.length>0)
            {
                $(this).prop('checked',true);
            }
            else {
                $(this).prop('checked', false);
            }
        });
    }

    function AddTieuChi() {
        var kt = $('select[name="MauKienThuc"] option:selected').text();
        var nl = $('select[name="MauNangLuc"] option:selected').text();
        var pc = $('select[name="MauPhamChat"] option:selected').text();
        if (kt == "Chọn kiến thức") { kt = ""; }
        if (nl == "Chọn năng lực") { nl = ""; }
        if (pc == "Chọn phẩm chất") { pc = ""; }
        $('#viewHocSinh tbody tr td input[type="checkbox"]').each(function () {
            
            var isCheck = $(this).prop('checked');

            if (isCheck == true) {
                var id = $(this).prop('id');
                $('#kt_' + id).val(kt);
                $('#nl_' + id).val(nl);
                $('#pc_' + id).val(pc);
            }
            
        });
    }

    // Validator element
    function validator(value, element) {
        if (value == '-1') {
           
            return false;
        } else return true;

    }


    </script>
<body >
<!-- Trung lam -->
        @RenderPage("~/Views/Shared/_MainMenu.cshtml");
       
        <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
        <input type="hidden" id="namhocht" name="namhocht" value="@ViewBag.namhientai" />
    
        <table width="100%" style="border: 0px; background: #fff; position: fixed; left: 0; width: 100%;" >
        <tr> <td style="border: 0px; padding: 45px 0px 0px 0px; font-size:16px; font-weight: bolder; text-transform: uppercase" colspan="10" align=center>GVBM nhận xét thường xuyên </td></tr>

            <tr>
                <td style="border: 0px; padding: 10px;" colspan="10" align=center>
                    <strong>Nhận xét nhóm&nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;Người đăng nhập: @ViewBag.tenuser  &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;   Năm học: @ViewBag.namhientai</strong>
                </td>
            </tr>

            <tr>
                <td style="border: 0px;" colspan="30" id="fisrtline">
                    <table width="100%" border="0" style=" background: #fff">
                        <tr valign="top">
                            <td style="border: 0px; height: 50px; width: 25%; text-align: center;">
                                Chọn lớp:&nbsp;
                                @Html.DropDownListFor(x => Model.lophoc, new SelectList(ViewBag.danhmucLop, "MaLop", "TenLop"))

                            </td>
                            <td style="border: 0px; width: 25%; text-align: center;">
                                Chọn tháng:&nbsp;
                         
                                @Html.DropDownListFor(
                            x => Model.thang,
                                              new SelectList(ViewBag.danhMucThang, "id", "name")
                            )

                            </td>
                            <td style="border: 0px; height: 50px; width: 25%; text-align: center;">
                                Chọn môn học: &nbsp;
                                
                            @Html.DropDownListFor(Model => Model.danhMucMonHoc, new SelectList(Enumerable.Empty<SelectListItem>(), "MaMon", "TenMon"),
               "Chọn môn học", new { id = "danhMucMonHoc" })
                            </td>
                           
                            <td style="border: 0px; width: 15%; text-align: right;"><input type="button" id="btnNxNhom" class="btn btn-warning btn-sm btnAdd" style="background-color: #0E5DA2; border-style: none;" name="btnNxNhom" value="Nhận xét nhóm" /></td>
                            <td style="border: 0px; width: 10%; text-align: left;">&nbsp;<input type="button" id="btnSave" class="btn btn-warning btn-sm btnEdit" style="background-color:#0E5DA2; border-style:none" name="btnSave" value="Lưu" /></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;" colspan="11"></td>
                            <td style="border: 0px;" colspan="9">

                                
                            </td>
                            <td style="border: 0px;" id="exportExcel">
                                
                            </td>
                           
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
        
        <table style=" width: 100%;">
            <tr>
                <td style="border: 0px" colspan="30" id="container"></td>
            </tr>
        </table>
    <div id="AddForm" style="display:none">
    </div>
</body>
</html>
