﻿@model IList<VnEduPlus.DM_NhanXetMau_GVBM>
@{
    ViewBag.Title = "Mẫu câu Nhận xét tháng bộ môn";
}

 <style type="text/css">
        .transItems
        {
            border: 0;
            background: transparent;
            width:28px;
        }
        .row
        {
            background-color:#eee;
        }
        .altrow
        {
            background-color:#fff;
        }
        
       .selected {
        background:#FECBE0;
         }

        .ui-dialog-titlebar-close {
            background: url("../../css/images/ui-icons_888888_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            border: medium none;
        }

            .ui-dialog-titlebar-close:hover {
                background: url("../../css/images/ui-icons_222222_256x240.png") repeat scroll -93px -128px rgba(0, 0, 0, 0);
            }
    </style>
    
 
    <script type="text/javascript">
        $(document).ready(function () {
            
            $('.close').click(function() {
             var maKhoi = $('#makhoi').val(),
                 type =$('#danhMucTieuChi').val(),
                 thang =$('#thang').val(),
                 maMonHoc =$('#danhMucMonHoc').val(),
                 idTruong = $('#idtruong').val();
               
                  $.ajax({
                        cache: true,
                        type: 'GET',
                        url: '@Url.Action("hienDanhSachNhanXet", "GiaoVienBoMon")',
                         data: { idTruong: idTruong, type: type, thang: thang, maMonHoc: maMonHoc},
                        success: function (data) {
                            $("#container").empty();
                            $("#container").html(data);
                        },
                
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve specification options.')
                        }

                    });

                 debugger;
            });
         
             $('#thuvienmau').click(function () {
                var  monHoc = $('#danhMucMonHoc').val(),
                    tieuChi = $('#danhMucTieuChi').val(),
                    maKhoi = $('#makhoi').val(),
                    thang = $('#thang').val();
                 debugger;
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("danhSachThuVienMauCau", "GiaoVienBoMon")',
                    data: {maKhoi: maKhoi, monHoc: monHoc, loaiNX: tieuChi, thang: thang},
                    success: function (data) {
                        $("#danhSachMauCauNX").empty();
                        $("#danhSachMauCauNX").html(data);
                        $('#danhSachMauNX').dataTable({
                            "sPaginationType": "full_numbers",
                            "bPaginate": true,
                            "bSort": false,
                            "bSortable": false,
                            "bFilter": false,
                            "bSearchable": false,
                            "bInfo": false,
                        });
                                 
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });
            });
             
            // procesing action for editing button 
              $('.btnEdit').click(function () {
                var matieuchi = $(this).attr("id");
                var thang = $('#thang').val();
                var namHoc = $('#namhocht').val();
                var idTruong = $('#idtruong').val();
                var danhMucTieuChi = $('#danhMucTieuChi').val();
                var mamonhoc = $('#danhMucMonHoc').val();
                   debugger;
                $("#EditTieuChiForm").load('@Url.Action("Edit", "GiaoVienBoMon")?makt=' + matieuchi.replace("U_","") + '&thang=' + thang + '&idtruong=' + idTruong + '&mamonhoc=' + mamonhoc + '&loainhanxet=' + danhMucTieuChi).dialog({
                    autoOpen: true,
                    position: { my: "center", at: "top+350", of: window },
                    width: 500,
                    resizable: false,
                    title: 'Cập nhật câu nhận xét mẫu',
                    modal: true,
                    open: function () {

                    },
                    show: {
                        effect: "slide",
                        duration: 500
                    },
                    hide: {
                        effect: "slide",
                        duration: 500
                    },
                    buttons: {
                        "Cập nhật": function () {
                            updateTieuChiInfo(matieuchi.replace("U_", ""));
                            $("#EditTieuChiForm").dialog("close");
                            
                        }                        
                    }
                    
                });
              
                 return false;
            })
             
        });          // end document.ready


        function updateTieuChiInfo(matieuchi) {
                var idTruong = $('#idtruong').val();
                var namHoc = $('#namhocht').val();
                var tentieuchi = $('#ten_' + matieuchi).val();
                var loainhanxet = $('#danhMucTieuChi').val();
                var mamonhoc = $('#danhMucMonHoc').val();
                var isDefault = false;
                if ($('#isdefault_' + matieuchi).is(":checked")) {
                    isDefault = true;
                }
                var thang = $('#thang').val();
                $.ajax({
                    url: '@Url.Action("CapNhatTieuChi", "GiaoVienBoMon")',
                    dataType: 'json',
                    type: 'GET',
                    //data: $("#formAdd").serialize(),
                    data: { matieuchi: matieuchi, tentieuchi: tentieuchi, isdefault: isDefault, thang: thang, idtruong: idTruong, loainhanxet: loainhanxet, mamomhoc: mamonhoc },
                    success: function (data) {
                        if (data) {

                            if (data == "OK") {
                                alert("Cập nhật tiêu chí thành công!");
                                $('#EditTieuChiForm').dialog("close");
                                $('#EditTieuChiForm').dialog('destroy').remove();
                                if (loainhanxet === '1') {
                                    showThuVien(thang, 1);
                                } else if (loainhanxet === '2') {
                                    showThuVien(thang, 2);
                                } else if (loainhanxet === '3') {
                                    showThuVien(thang, 3);
                                }
                            }
                            else {
                                alert(data);
                            }
                        }
                    }
                });

            }
            
             $('#addNew').click(function () {
                var danhMucTieuChi = $('#danhMucTieuChi').val();
                
                $("#AddTieuChiForm").load('@Url.Action("Add", "GiaoVienBoMon")?loainhanxet=' + danhMucTieuChi).dialog({
                    autoOpen: true,
                    position: { my: "center", at: "top+350", of: window },
                    width: 500,
                    resizable: true,
                    title: 'Thêm câu nhận xét mẫu',
                    modal: true,                     
                    show: {
                        effect: "slide",
                        duration: 500
                    },
                    hide: {
                        effect: "slide",
                        duration: 500
                    },
                    buttons: {
                        "Thêm": function () {
                            addTieuChiInfo();                            
                        } 
                    } 
                    
                });
                return false;
            })

      
            function addTieuChiInfo() {
                var idTruong = $('#idtruong').val();
                var namHoc = $('#namhocht').val();
                var tentieuchi = $('#TenNhanXet').val();
                var loainhanxet = $('#danhMucTieuChi').val();
                var mamonhoc = $('#danhMucMonHoc').val();
                var isDefault = false;
                if ($('#isDefault').is(":checked")) {
                    isDefault = true;
                }
                var thang = $('#thang').val();
                
                var ajax = $.ajax({
                    url: '@Url.Action("ThemMoiTieuChi", "GiaoVienBoMon")',
                    dataType: 'json',
                    type: 'GET',
                    data: {tentieuchi: tentieuchi, isdefault: isDefault, thang: thang, idtruong: idTruong, loainhanxet: loainhanxet, mamomhoc: mamonhoc },
                    success: function (data) {
                        if (data) {

                            if (data == "OK") {
                               alert("Thêm mới tiêu chí thành công!"); 
                               $("#AddTieuChiForm").dialog("close");
                               $('#AddTieuChiForm').dialog('destroy').remove();
                               showThuVien(thang, loainhanxet);
                            }
                            else {
                                alert(data);
                            }
                        }
                    }
                });

            }
        


        function hienDanhSachNhanXet(idTruong, thang, type) {
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("hienDanhSachNhanXet", "GiaoVienChuNhiem")',
                data: { idTruong: idTruong, type: type, thang: thang },
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

//-------------------------------- Delete--------------------------------------------------------

         $('.btnDelete').click(function () {
                if (confirm('Bạn có chắc chắn muốn xóa bản ghi đã chọn hay không?')) {
                    var thang = $('#thang').val();
                    var mamonhoc = $('#danhMucMonHoc').val();
                    var matieuchi = $(this).attr("id");
                    var loainhanxet = $('#danhMucTieuChi').val();
                    var idTruong = $('#idtruong').val();
                    debugger;
                    $.ajax({
                        url: '@Url.Action("DeleteTieuChi", "GiaoVienBoMon")',
                        dataType: 'json',
                        type: 'GET',
                        //data: $("#formAdd").serialize(),
                        data: { matieuchi: matieuchi.replace("D_", ""), thang: thang, mamonhoc: mamonhoc, idtruong: idTruong, loaitieuchi: loainhanxet },
                        success: function (data) {
                            if (data) {

                                if (data == "OK") {
                                    alert("Đã xóa tiêu chí tiêu chí thành công!");
                                     showThuVien(thang, loainhanxet); 
                                }
                                else {
                                    alert(data);
                                }
                            }
                        }
                    });
                }
            })


    </script>
     
 <div class="container" style="margin-top: 150px;">
   
 
 <button type="button" id="addNew" class="btn btn-primary btn-sm AddTieuChi" data-toggle="modal">Thêm câu nhận xét</button>
 <button type="button" id="thuvienmau" class="btn btn-primary btn-sm" data-toggle="modal" data-value="" data-target="#thuVienMauCauNhanXet" >Chọn từ mẫu nhận xét</button>
  
  
  <table class="table table-bordered">
   <thead>
      <tr>
        <th style="width: 5%; text-align: center;">#</th>   
        <th style="width: 80%; text-align: center;">Nội dung</th>
        <th style="width: 15%; text-align: center;">Chức năng</th>
      </tr>
    </thead>

    <tbody>
     @{
        
         for (int i = 0; i < Model.Count(); i++)
         {
             string updateId = "U_" + Model[i].MaNhanXet;
             string deleteId = "D_" + Model[i].MaNhanXet;
             
            <tr>
            <td style="text-align: center;">@(i + 1)</td>     
            <td>@Model[i].TenNhanXet</td>       
            <td style="text-align: center;"><button type="button" class="btn btn-warning btn-sm btnEdit" id="@updateId">Sửa chữa</button>
            <button type="button" class="btn btn-danger btn-sm btnDelete" id="@deleteId">Xóa</button></td>
            </tr>
         }
         
      }
      
    </tbody>
  </table>

  
 <!-- Modal -->
  <div id="EditTieuChiForm" style="display:none">
  </div>
    <div id="AddTieuChiForm" style="display:none">
    </div>
    <div id="formMau" style="display:none">
  </div>
 
</div> 
 
  <!---modal phản hồi của phụ huynh học sinh-->

 <div class="modal fade modalCenter" id="thuVienMauCauNhanXet" role="dialog">
    <div class="modal-dialog" style="width:95%">
      <!-- Modal content-->
      <div class="modal-content" style="background: #e5e5e5;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>     
        <div class="row">
        <div class="col-sm-12" style="width:100%" id="danhSachMauCauNX"></div>
        </div>
      </div>
     </div>
 </div>
