﻿@model VnEduPlus.Models.TongHopDanhGia
@{
    ViewBag.Title = "Nhập điểm học sinh";
}
 
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
        <!-- bootstrap ---------------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/throbber.css")" type="text/css">
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
    <!-------------edu css-------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/giaovienchunhiemnhanxet.css")">
 
</head>
  
    <script type="text/javascript">
        //Todo
        $(document).ready(function () {
            var malop = $('#maLop').val();
            var hocky = $('#maHocKy').val();
            ViewHocSinhDiem(malop, hocky, false);


            $('#khoi').change(function () {
                var makhoi = $('#khoi').val();
                GetLopHoc(makhoi);
            });

            $('#maLop,#maHocKy').change(function () {

                var malop = $('#maLop').val();
                var hocky = $('#maHocKy').val();

                if (hocky != -1) { // dam bao co chon hoc ky moi load du lieu
                    maHK = hocky == '-1' ? "GHK1" :hocky;
                    ViewHocSinhDiem(malop, maHK, false);
                }

            });

            $('#exportExcell').off("click").click(function () {
                var malop = $('#maLop').val();
                var hocky = $('#maHocKy').val();

                if (hocky != -1) { // dam bao co chon hoc ky moi load du lieu
                   // maHK = hocky == '0' ? "HK1" : "CN";
                    window.location = '@Url.Action("SoNhapDiemXuatExcell", "GiaoVienBoMon")?maLop=' + malop + '&mahk=' + maHK;
                }
            });

        });                     //end document

        function ViewHocSinhDiem(malop, hocky, exportExcell) {

            debugger;
            $('.throbber-loader.edu-spinner-loader').css("top", $(window).height() / 2).css("left", $(window).width() / 2);
            $('.throbber-loader.edu-spinner-loader').show();
            debugger;
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("ViewHocSinhDiemMonHoc", "GiaoVienBoMon")',
                data: { lophoc: malop, mahk: hocky, exportExcell: exportExcell },
                success: function (data) {
                    $('.throbber-loader.edu-spinner-loader').hide();
                    $("#container").empty();
                    $("#container").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

        function LoadMonHoc(malop, hocky) {
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("LoadMonHoc", "GiaoVienBoMon")',
                data: { lophoc: malop, hocky: hocky },
                success: function (data) {
                    $("#container").empty();
                    $("#container").html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }

            });
        }

        function GetLopHoc(makhoi) {
            $.getJSON('@Url.Action("LoadLopHoc", "GiaoVienBoMon")', { makhoi: makhoi },
                                function (Data) {
                                    var select = $("#lophoc");
                                    select.empty();
                                    $.each(Data, function (id, itemData) {
                                        select.append($('<option/>', {
                                            value: itemData.MaLop,
                                            text: itemData.TenLop
                                        }));
                                    });
                                });
        }


        // Validator element
        function validator(value, element) {
            if (value == '-1') {
                //alert(element + ' phải có được lựa chọn');
                return false;
            } else return true;

        }


    </script>
<body >
<!-- Trung lam -->
        @RenderPage("~/Views/Shared/_MainMenu.cshtml");
       
        <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idTruong" />
        <input type="hidden" id="namhocht" name="namhocht" value="@ViewBag.namhientai" />
    
        <table width="100%" style="border: 0px; background: #fff; position: fixed; left: 0; width: 100%;">

            <tr>
                <td style="border: 0px; padding: 45px 0px 0px 0px; font-size:16px; font-weight: bolder; text-transform: uppercase" colspan="10" align=center>
                    <strong>Sổ nhập điểm - Năm học: @ViewBag.namhientai</strong>

				</td>
            </tr>
			<tr>
				<td style="border: 0px; padding: 10px;" colspan="10" align=center>
					<strong>Người đăng nhập: @ViewBag.tenuser </strong>
				</td>
			</tr>

            <tr>
                <td style="border: 0px;" colspan="30" id="fisrtline">
                    <table width="100%" border="0" style=" background: #fff; text-align: center;">
                        <tr valign="top">
                            <td style="border: 0px; height: 50px; text-align: center;">
                               @* Chọn khối*@
                            </td>
                            <td style="border: 0px; text-align: center;">
                                @*@Html.DropDownListFor(x => Model.khoi, new SelectList(ViewBag.khoi, "MaKhoi", "TenKhoi"))*@

                            </td>

                            <td style="border: 0px; height: 50px; text-align: right; width: 16.66%;">
                                Chọn lớp học: &nbsp;
                            </td>
                            <td style="border: 0px; width: 16.66%; text-align: left;">
                             
                                @Html.DropDownList("maLop", ViewBag.firstClass as SelectList)
                                
                            </td>
                           
                            <td style="border: 0px; width: 16.66%; text-align: right;">
                                Chọn học kỳ: &nbsp;
                            </td>
                            <td style="border: 0px; width: 16.66%; text-align: left;"> 
                               
                            @Html.DropDownList("maHocKy", ViewBag.hocKyMacDinh as SelectList)
                            </td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;"></td>
                            <td style="border: 0px;text-align: right; width: 16.66%; padding: 0 5px;" colspan="11">
                            <button style="height: 34px" type="button" id="luuDiem" class="btn btn-primary btn-sm" data-toggle="modal">Lưu</button></td>
                            <td style="border: 0px;" colspan="9">
                            
                             </td>
                            <td style="border: 0px;text-align: left; width: 16.66%" id="exportExcel">
                            <button type="button" id="exportExcell" class="btn btn-info" data-toggle="modal">Xuất Excel</button>
                                 </td>
                       
                        </tr>
                    </table>
                </td>
            </tr>

        </table>

        <table style=" width: 100%;">
            <tr>
                <td style="border: 0px" colspan="30" id="container">

                </td>

            </tr>
            <tr>
                <td style="border: 0px" colspan="30" id="containerhs"></td>
            </tr>
        </table>



</body>
</html>
