﻿@model VnEduPlus.Models.soBoMon

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <!-- import css bootstrap css and js ( bat buoc phai co)-->
 <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
 <link href="@Url.Content("~/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
 
 <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
 <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
</head>

<script type="text/javascript">
    //Todo
    $(document).ready(function () {
        $('#thang option[value=@ViewBag.thang]').attr("selected", "selected");
        $('#danhMucMonHoc option[value=@ViewBag.maMon]').attr("selected", "selected");

        // đoạn này đảm bảo khi tắt modal sổ bộ môn thì nó sẽ giải phóng modal đó, sau đó người dùng kích vào sổ bộ mônchủ nhiệm thì nó chạy bt
        //        $('.modal-content .close').click(function () {
        //            debugger;
        //            $(this).data('bs.modal', null);
        //        }); 


        $("#malop").change(function () {
            var maLop = $(this).val();
            //$("#vantuan").empty();
            // load len danh sach lop hoc cua khối đã chọn 
            debugger;
            $.getJSON('@Url.Action("LoadMonHocTheoLop", "GiaoVienBoMon")', { maLop: maLop },
                    function (data) {
                        var select = $("#danhMucMonHoc");
                        select.empty();
                        select.append($('<option/>', {
                            value: "",
                            text: "Chọn môn học"
                        }));
                        $.each(data, function (id, itemData) {
                            select.append($('<option/>', {
                                value: itemData.MaMon,
                                text: itemData.TenMon
                            }));
                        });
                    });
        });


        $('#thang, #danhMucMonHoc, #malop').off().change(function () {

            var $thang = $('.danhmucthang').val();
            var $lophoc = $('#malop').val();
            var $danhMucMonhoc = $('#danhMucMonHoc').val();
            if (validator($thang, 'Tháng') && validator($danhMucMonhoc, 'Môn học') && validator($lophoc, 'Lớp học')) {
                showHocSinh();
            }

        });


        // process export excell, dowload excel you have to user window.location
        $('.XuatExcellBm').off("click").on("click", function () {
            debugger;
            var maLop = $('#malop').val();
            var thang = $('#thang').val();
            var maMonHoc = $('#danhMucMonHoc').val();
            
            window.location = '@Url.Action("SoBoMonXuatExcell", "GiaoVienBoMon")?maLop=' + maLop + '&thang=' + thang + '&maMonHoc=' + maMonHoc;

        });

    });           //end document

    function showHocSinh() {
        var idTruong = $('#idtruong').val();
        var mamonhoc = $('#danhMucMonHoc').val();
        var thang = $('.danhmucthang').val();
        var malop = $('.malopbm').val();
        $.ajax({
            cache: false,
            type: 'GET',
            url: '@Url.Action("ThongTinSoBoMon", "GiaoVienBoMon")',
            data: { malop: malop, thang: thang, mamon: mamonhoc },
            success: function (data) {
                $("#content_").empty();
                $("#content_").html(data);
                $("#hotenGVGD").text($("#giaoVienGiangDay").val());
            },

            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve specification options.')
            }

        });
    }

    // Validator element
    function validator(value, element) {
        if (value == '-1') {
            //alert(element + ' phải có được lựa chọn');
            return false;
        } else return true;

    }


</script>
 
    <table class="sochunhiem" style="width: 100%">
      <tbody>

           <tr>
				<td style="padding: 5px 0px 10px 0px;border-bottom: 1px solid #ccc; width: 33.33%;font-size: 12px; font-weight: bold; text-align:center; text-transform: uppercase;">@ViewBag.PhongGiaoDuc <br/>@ViewBag.tenTruong</td>
				<td style="padding: 5px 0px 10px 0px;border-bottom: 1px solid #ccc; width: 33.33%;font-size: 16px; font-weight: bold; text-align:center; text-transform: uppercase; vertical-align: top;">SỔ THEO DÕI CHẤT LƯỢNG GIÁO DỤC </td>
				<td style="padding: 5px 0px 10px 0px;border-bottom: 1px solid #ccc; width: 33.33%;font-size: 12px; font-weight: bold; text-align:center; text-transform: uppercase;"><strong>Họ và tên</strong>: <span id="hotenGVGD">@ViewBag.tenuser </span><br><strong>Năm học</strong>: @ViewBag.namHoc</td>
				<td></td>
		   </tr>
	</tbody>
    </table>
	
	<table class="sochunhiem" style="width: 100%;">
    
          <tbody>
        <tr>
            <td data-field="id" style="text-align:center; padding: 10px 0px 0px 0px">Chọn lớp:  @Html.DropDownListFor(x => Model.malop, new SelectList(ViewBag.danhmucLop, "MaLop", "TenLop"), new { @class = "malopbm" })</td>
            <td data-field="name" style="text-align:center; padding: 10px 0px 0px 0px">Chọn tháng: @Html.DropDownListFor(x => Model.thang, new SelectList(ViewBag.danhMucThang, "id", "name"), new { @class = "danhmucthang" })</td>
            <td style="text-align:center; padding: 10px 0px 0px 0px"> Chọn môn: 
             @Html.DropDownListFor(x => Model.monhoc, new SelectList(ViewBag.danhsachMH, "MaMon", "TenMon"), "Chọn môn học", new { id = "danhMucMonHoc" })
            
            @*@Html.DropDownListFor(Model => Model.monhoc, new SelectList(Enumerable.Empty<SelectListItem>(), "MaMon", "TenMon"),"Chọn môn học", new { id = "danhMucMonHoc" })*@</td>
            <td><button type="button" id="ExportExcell" class="btn XuatExcellBm" style="background-color:#0E5DA2; border-style:none; color: #efefef; margin-top: 10px">Xuất Excel</button></td>
             
        </tr>
      </tbody>
</table>
    
     <div class="container" id="content_"> 
    
    <table id="thongTinSoBomon" class="table table-striped table-bordered" style="table-layout: fixed;" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="width: 4%;">STT</th>
                @*<th style="width: 4%;"></th>*@                
                <th style="width: 18%;">Họ tên</th>
                <th style="width: 8%;">Ngày sinh</th>
                <th style="width: 22%;">Kiến thức</th>
                <th style="width: 22%;">Năng lực</th>
                <th style="width: 22%;">Phẩm chất</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.hocSinhNhanXetThang.Count(); i++)
                {
                    string STT = Model.hocSinhNhanXetThang[i].STT.ToString();
                    string mahocsinh = Model.hocSinhNhanXetThang[i].MaHocSinh;
                    string hoten = Model.hocSinhNhanXetThang[i].HoTen;
                    string kienthuc = Model.hocSinhNhanXetThang[i].NXKT;
                    string phamchat = Model.hocSinhNhanXetThang[i].NXPC;
                    string nangluc = Model.hocSinhNhanXetThang[i].NXNL;
                    string idkt = "kt_" + Model.hocSinhNhanXetThang[i].MaHocSinh;
                    string idpc = "pc_" + Model.hocSinhNhanXetThang[i].MaHocSinh;
                    string idnl = "nl_" + Model.hocSinhNhanXetThang[i].MaHocSinh;
                    string hdmhs = "hd_" + Model.hocSinhNhanXetThang[i].MaHocSinh;
                    <tr>
                        <td align="center">@STT</td>
                        @*<td><input type="checkbox" name="@mahocsinh" id="@mahocsinh"/></td>       *@                 
                        <td>@hoten<input type="hidden" name="@hdmhs" id="@hdmhs" value="@hoten" /></td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.hocSinhNhanXetThang[i].ngaySinh)</td>

                          <td style="word-wrap:break-word">@kienthuc</td>
                          <td style="word-wrap:break-word">@nangluc</td>
                          <td style="word-wrap:break-word">@phamchat</td>
                        
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>
 

 