﻿@model VnEduPlus.Models.GiaoVienBoMonNhanXetThang
           
<script type="text/javascript">
    //Todo
    $(document).ready(function () {
       
    });
</script>
@{
    string giaovien = @Model.giaoVienBoMon;
    <input type="hidden" id="giaoVienGiangDay" value="@giaovien" />
    <div class="container"> 
    <table class="table table-bordered" style="table-layout: fixed;" id="viewHocSinh">
        <thead>
            <tr>
                <th style="width: 4%; text-align: center;">STT</th>
                @*<th style="width: 4%;"></th>     *@           
                <th style="width: 19%;">Họ tên</th>
                <th style="width: 8%; text-align: center;">Ngày sinh</th>
                <th style="width: 23%; text-align: center;">Kiến thức</th>
                <th style="width: 23%; text-align: center;">Năng lực</th>
                <th style="width: 23%; text-align: center;">Phẩm chất</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                if (Model.hocSinhNhanXetThang != null && Model.hocSinhNhanXetThang.Count >0 ) 
                {
                    
                
                    for (int i = 0; i < Model.hocSinhNhanXetThang.Count(); i++)
                    {
                        string mahocsinh = Model.hocSinhNhanXetThang[i].MaHocSinh;
                        string hoten = Model.hocSinhNhanXetThang[i].HoTen;
                        string kienthuc = Model.hocSinhNhanXetThang[i].NXKT;
                        string phamchat = Model.hocSinhNhanXetThang[i].NXPC;
                        string nangluc = Model.hocSinhNhanXetThang[i].NXNL;
                        string idkt = "kt_" + Model.hocSinhNhanXetThang[i].MaHocSinh;
                        string idpc = "pc_" + Model.hocSinhNhanXetThang[i].MaHocSinh;
                        string idnl = "nl_" + Model.hocSinhNhanXetThang[i].MaHocSinh;
                        string hdmhs = "hd_" + Model.hocSinhNhanXetThang[i].MaHocSinh;
                        <tr>
                            <td align="center">@(i + 1)</td>
                            @*<td><input type="checkbox" name="@mahocsinh" id="@mahocsinh"/></td>       *@                 
                            <td>@hoten<input type="hidden" name="@hdmhs" id="@hdmhs" value="@hoten" /></td>
                            <td align="center">@String.Format("{0:dd/MM/yyyy}", Model.hocSinhNhanXetThang[i].ngaySinh)</td>

                            <td style="word-wrap:break-word">@kienthuc</td>
                            <td style="word-wrap:break-word">@nangluc</td>
                            <td style="word-wrap:break-word">@phamchat</td>
                        
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
    </div>
}


       <!-- Modal -->
  <div class="modal fade modalCenter" id="KhungCT" role="dialog">
    <div class="modal-dialog modalWidth">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Khung chương trình của khối: @ViewBag.maKhoi, môn học: @ViewBag.monHoc</h4>
        </div>
        <div class="modal-body">         
          <div class="row"><div class="col-sm-12" style="background-color:lavender;" id="content"></div></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>