﻿@model IList<VnEduPlus.Models.HocSinhNhanXetThang>

 
<link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
 
   
             
<script type="text/javascript">
    //Todo
    $(document).ready(function () {

      $("#isDefault").change(function(){
          $(".boxing").prop('checked', $(this).prop("checked"));
       });
        // xử lý quyền 

        if (@ViewBag.phanQuyen == 0) {
        
            $('#btnNxNhom').unbind( "click" );
            $('input[type="text"]').each(function() {
                $(this).prop('disabled', true);
            });

        } else {
           $('#btnNxNhom').bind( "click" );
        }
       

        // Khung chương trình
        $('#btnCT').click(function () {
            var idTruong = $('#idtruong').val();
            var maLop = $('#lophoc').val();
            var maMon = $('#danhMucMonHoc').val();
            var maThang = $('#thang').val();
            $.ajax({
                cache: true,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                url: '@Url.Action("HienThiKhungChuongTrinh", "KhungChuongTrinh")',
                data: { idTruong: idTruong, maLop: maLop, maThang: maThang, maMon: maMon },
                success: function (data) {
                    $('#content').html(data);
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }


            });
        });
    });
</script>
@{
     <div class="container" style="margin-top: 170px; width: 100%"> 
     <input type="button" id="btnCT" class="btn btn-info btn-sm" style="background-color:#0E5DA2; border-style:none" data-toggle="modal" data-target="#KhungCT" name="btnCT" value="Xem Khung Chương trình" />
    <table class="table table-bordered" id="viewHocSinh">
        <thead>
            <tr>
                <th style="width: 4%; text-align: center;">STT</th>
                <th style="width: 4%; text-align: center;"><input type="checkbox" id="isDefault" name="isDefault" /></th>                
                <th style="width: 18%;">Họ tên</th>
                <th style="width: 8%; text-align: center;">Ngày sinh</th>
                <th style="width: 22%; text-align: center;">Kiến thức</th>
                <th style="width: 22%; text-align: center;">Năng lực</th>
                <th style="width: 22%; text-align: center;">Phẩm chất</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.Count(); i++)
                {
                    string STT = Model[i].STT.ToString();
                    string mahocsinh = Model[i].MaHocSinh;
                    string hoten = Model[i].HoTen;
                    string kienthuc = Model[i].NXKT;
                    string phamchat = Model[i].NXPC;
                    string nangluc = Model[i].NXNL;
                    string idkt = "kt_" + Model[i].MaHocSinh;
                    string idpc = "pc_" + Model[i].MaHocSinh;
                    string idnl = "nl_" + Model[i].MaHocSinh;
                    string hdmhs = "hd_" + Model[i].MaHocSinh;
                    <tr>
                        <td align="center">@STT</td>
                        <td style="text-align: center;"><input type="checkbox" name="@mahocsinh" id="@mahocsinh" class="boxing"/></td>                        
                        <td>@hoten<input type="hidden" name="@hdmhs" id="@hdmhs" value="@hoten" /></td>
                        <td style="text-align: center;">@String.Format("{0:dd/MM/yyyy}", Model[i].ngaySinh)</td>

                        <td>
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" title="@kienthuc" onkeyup="javascript:AutoCheck()" rows="2" style="border-width:0" id="@idkt">@kienthuc</textarea>
                        
                        <!--<input type="text" data-toggle="tooltip" data-placement="top" title="@kienthuc" onkeyup="javascript:AutoCheck()" style="width: 100%; border-style: none;" id="@idkt" value="@kienthuc" />-->
                        </td>
                        <td>
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" title="@nangluc" onkeyup="javascript:AutoCheck()" rows="2" style="border-width:0" id="@idnl">@nangluc</textarea>
                        <!--<input type="text" data-toggle="tooltip" data-placement="top" title="@nangluc" onkeyup="javascript:AutoCheck()" style="width: 100%; border-style: none;" id="@idnl" value="@nangluc" /> -->
                        </td>
                        <td>
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" title="@phamchat" onkeyup="javascript:AutoCheck()" rows="2" style="border-width:0" id="@idpc">@phamchat</textarea>
                        <!--<input type="text"  data-toggle="tooltip" data-placement="top" title="@phamchat"onkeyup="javascript:AutoCheck()" style="width: 100%; border-style: none;" id="@idpc" value="@phamchat" /> -->
                        </td>
                        
                    </tr>
                }
            }
        </tbody>
    </table>
    </div>
}


       <!-- Modal -->
  <div class="modal fade modalCenter" id="KhungCT" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modalWidth">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Khung chương trình của khối: @ViewBag.maKhoi, môn học: @ViewBag.monHoc</h4>
        </div>
        <div class="modal-body">         
          <div class="row"><div class="col-sm-12" style="background-color:lavender;" id="content"></div></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>