﻿@*@Model System.Data.DataTable*@
<script type="text/javascript">

    $(document).ready(function () {


    });


</script>
<style>
    .rotate {
    }

    .Table {
        /*border-style:double;
        border-width:1px;

        white-space: nowrap;
        /*table-layout:fixed;*/
        /*width:50%*/
        text-align: center;
        border: 1px solid #000;
    }
    table tr.hoverhang
    {
        
    }
    table tr.hoverhang:hover
    {
        background-color: #ccc;
    }
    
    table td.Table 
    {
        vertical-align: middle;    
    }
</style>
<table style="margin-top:5px; font-family: Arial; font-size: 11px; width:100%">
<!--
    <tr>
        <td style="width:50%; font-size: 10pt;" colspan="2" align=center><strong>@ViewBag.CapQuanLy</strong></td>
        <td style="width:50%; font-size: 10pt;" colspan="3" align=center></td>
    </tr>
    <tr>
        <td style="width:50%; font-size: 10pt; padding-bottom: 10px;" colspan="2" align=center><strong>@ViewBag.TenTruong</strong></td>
        <td style="width:50%; font-size: 10pt; padding-bottom: 10px;" colspan="3" align=center></td>
    </tr>
    <tr>
        <td style="width:50%; font-size: 10pt;" colspan="5" align=center><strong>DANH SÁCH HỌC SINH NĂM HỌC @ViewBag.NamHoc</strong></td>
    </tr>
    <tr>
        <td style="width:50%; font-size: 10pt; padding-bottom: 10px;" colspan="5" align=center><strong>@ViewBag.TenKhoi</strong></td>
    </tr>
-->
    <tr>
        <td class="Table" style="width:5%"><strong>STT</strong></td>
        <td class="Table" style="width:20%"><strong>Họ Tên</strong></td>
        <td class="Table" style="width:10%"><strong>Ngày Sinh</strong></td>
        <td class="Table" style="width:10%"><strong>Giới Tính</strong></td>
        <td class="Table" style="width:55%"><strong>Ghi Chú</strong></td>
    </tr>
    @{ 
        if (Model != null && Model.Rows != null && Model.Rows.Count > 0)
        {
            int TongLop = 0;
            int TongKhoi = 0;
            bool isCreateFoolter = false;
            for (int i = 0; i < Model.Rows.Count; i++)
            {
                TongLop = TongLop + 1;
                TongKhoi = TongKhoi + 1;
                int c = i + 1;
                string LopCurrent = Model.Rows[i]["MaLop"].ToString();
                string LopNext = "";
                if (c == Model.Rows.Count)
                {
                    LopNext = Model.Rows[0]["MaLop"].ToString();
                }
                else
                {
                    LopNext = Model.Rows[c]["MaLop"].ToString();
                }

                <tr class="hoverhang">
                    <td class="Table" style="width:5%">@Model.Rows[i]["STT"]</td>
                    <td class="Table" style="width:20%; text-align:left!important">&nbsp; @Model.Rows[i]["HoTen"]</td>
                    <td class="Table" style="width:10%">@Model.Rows[i]["NgaySinh"]</td>
                    <td class="Table" style="width:10%">@Model.Rows[i]["GioiTinh"]</td>
                    <td class="Table" style="width:55%; text-align:left!important">@Model.Rows[i]["Ghichu"]</td>
                </tr>
                if (LopNext != LopCurrent)
                {
                    isCreateFoolter = true;
                    <tr>
                        <td class="Table" colspan="5" style="text-align:left!important; padding-left: 5px;"><strong>Lớp @Model.Rows[i]["TenLop"] có @TongLop.ToString() học sinh</strong></td>
                        
                    </tr>
                    TongLop = 0;
                }

            }
            if (!isCreateFoolter)
            {
                <tr>
                    <td class="Table" colspan="5" style="text-align:left!important; padding-left: 5px;"><strong>Lớp @Model.Rows[0]["TenLop"] có @TongLop.ToString() học sinh</strong></td>

                </tr>
            }
            <tr>
                <td class="Table" colspan="5" style="text-align:left!important; padding-left: 5px;"><strong>@ViewBag.TenKhoi có @TongKhoi.ToString() học sinh</strong></td>

            </tr>
        }

    }
</table>