﻿@*@Model System.Data.DataTable*@
<script type="text/javascript">

    $(document).ready(function () {


    });


</script>
<style>
    .rotate {
    }

    .Table {
        /*border-style:double;
        border-width:1px;

        white-space: nowrap;
        /*table-layout:fixed;*/
        /*width:50%*/
        text-align: center;
        border: 1px solid #000;
    }
    table tr.hoverhang
    {
        
    }
    table tr.hoverhang:hover
    {
        background-color: #ccc;
    }
    
    table td.Table 
    {
        vertical-align: middle;    
    }
    
</style>
<table style="margin-top:5px; font-family: Arial; font-size: 11px; width:100%">
<!--
    <tr>
        <td style="width:50%; font-size: 10pt;" colspan="4" align=center><strong>@ViewBag.CapQuanLy</strong></td>
        <td style="width:50%; font-size: 10pt;" colspan="10" align=center></td>
    </tr>
    <tr>
        <td style="width:50%; font-size: 10pt; padding-bottom: 10px;" colspan="4" align=center><strong>@ViewBag.TenTruong</strong></td>
        <td style="width:50%; font-size: 10pt; padding-bottom: 10px;" colspan="10" align=center></td>
    </tr>
    <tr>
        <td style="width:50%; font-size: 10pt;" colspan="14" align=center><strong>DANH SÁCH HỌC SINH NĂM HỌC @ViewBag.NamHoc</strong></td>
        
    </tr>
    <tr>
        <td style="width:50%; font-size: 10pt; padding-bottom: 10px;" colspan="14" align=center><strong>@ViewBag.TenKhoi</strong></td>
    </tr>
-->
    <tr>
        <td class="Table" style="width:2%"><strong>STT</strong></td>
        <td class="Table" style="width:13%"><strong>Họ Tên</strong></td>
        <td class="Table" style="width:5%"><strong>Ngày Sinh</strong></td>
        <td class="Table" style="width:3%"><strong>Giới<br/>Tính</strong></td>
        <td class="Table" style="width:14%"><strong>Địa Chỉ</strong></td>
        <td class="Table" style="width:9%"><strong>Tên Cha</strong></td>
        <td class="Table" style="width:9%"><strong>Nghề Nghiệp Cha</strong></td>
        <td class="Table" style="width:9%"><strong>Tên Mẹ</strong></td>
        <td class="Table" style="width:9%"><strong>Nghề Nghiệp Mẹ</strong></td>
        <td class="Table" style="width:5%"><strong>Khối<br/>Phố</strong></td>
        <td class="Table" style="width:7%"><strong>Xã<br/>Phường</strong></td>
        <td class="Table" style="width:7%"><strong>Quận<br/>Huyện</strong></td>
        <td class="Table" style="width:5%"><strong>Điện Thoại</strong></td>
        <td class="Table" style="width:3%"><strong>Đối Tượng</strong></td>
    </tr>
    @{ 
        if (Model != null && Model.Rows != null && Model.Rows.Count > 0)
        {
            int TongLop = 0;
            int TongKhoi = 0;
            bool isCreateFoolter = false;
            for (int i = 0; i < Model.Rows.Count; i++)
            {
                TongLop = TongLop + 1;
                TongKhoi = TongKhoi + 1;
                int c = i + 1;
                string LopCurrent = Model.Rows[i]["MaLop"].ToString();
                string LopNext = "";
                if (c == Model.Rows.Count)
                {
                    LopNext = Model.Rows[0]["MaLop"].ToString();
                }
                else
                {
                    LopNext = Model.Rows[c]["MaLop"].ToString();
                }

                <tr class="hoverhang">
                    <td class="Table">@TongLop.ToString()</td>
                    <td class="Table" style="text-align:left!important; padding-left: 2px;">@Model.Rows[i]["HoTen"]</td>
                    <td class="Table">@Model.Rows[i]["NgaySinh"]</td>
                    <td class="Table">@Model.Rows[i]["GioiTinh"]</td>
                    <td class="Table" style="text-align:left!important; padding-left: 2px;">@Model.Rows[i]["Diachilienlac"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["HoTenCha"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["NgheCha"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["HoTenMe"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["NgheMe"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["TenKP"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["TenXa"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["TenHuyen"]</td>
                    <td class="Table" style="text-align:center!important">@Model.Rows[i]["DienThoai"]</td>
                    <td class="Table" style="text-align:center!important">@Model.Rows[i]["TenChinhSach"]</td>
                </tr>
                if (LopNext != LopCurrent)
                {
                    isCreateFoolter = true;
                    <tr>
                        <td class="Table" colspan="5" style="text-align:left!important"><strong>Lớp @Model.Rows[i]["TenLop"] có @TongLop.ToString() học sinh</strong></td>
                        
                    </tr>
                    TongLop = 0;
                }

            }
            if (!isCreateFoolter)
            {
                <tr>
                    <td class="Table" colspan="5" style="text-align:left!important"><strong>Lớp @Model.Rows[0]["TenLop"] có @TongLop.ToString() học sinh</strong></td>

                </tr>
            }
            <tr>
                <td class="Table" colspan="5" style="text-align:left!important"><strong>@ViewBag.TenKhoi có @TongKhoi.ToString() học sinh</strong></td>

            </tr>
        }

    }
</table>