﻿@{
    ViewBag.Title = "Chuyên cần";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/swfobject.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
<link href="@Url.Content("~/Content/edu_form_sodiemdanh.css")" rel="stylesheet" type="text/css" media="screen"/>

<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

<script type="text/javascript">

    $(document).ready(function () {
        var syptye = $("#syptye").val();
        
     if(syptye=="1"){// thong ke theo thang          
          $("mathang select option[value='']").attr("selected", "selected");
          $("#matuan").hide();
          $("#chontuan").hide();
          $("#radioOne").hide();
          $("#matuan").attr('disabled', true);
          
          $("#mathang").removeAttr('disabled');
          $("#radioOne").attr('disabled', true);
          $("#radioTwo").removeAttr('disabled');          
          $("#viewdata").empty();
          $("#mathang").change(function () {   
          loadDataTheoThang();
             
        });
    
    }
    if(syptye=="0") // thong ke theo tuan
    {
        $("#mathang").hide();
        $("#chonthang").hide();
        $("#radioTwo").hide();
        $("#mathang").attr('disabled', true);
        $("#matuan").removeAttr('disabled');
        $("#viewdata").empty();
        $("#radioTwo").attr('disabled', true);
        $("#radioOne").removeAttr('disabled');
        $("#matuan").change(function () {               
           loadDataTheoTuan();
        });//end function
    }


        var mkhoi = $("#makhoi").val(); 
        $("#makhoi").change(function () {
            var mkhoi = $("#makhoi").val();
              if (mkhoi != "") { 
                loadDSLop(mkhoi);
                doCheckViewData();
             }
             
        });

        $("#malop").change(function(){
        
        var mlop=$("#malop").val();
        if(mlop!=""){
        doCheckViewData();
        }
        });
      

        

    });// end document.ready

//---------Xac dinh ngay trong mot thang ----------------------------------------------------------------------------

   function ngayTrongThang(month, year)
   {
     var songay=0;
     
     if (month == "02")
        {
            if ((year % 4 == 0 && year % 100 != 0) || (year % 400 == 0))
                songay = 29;
            else
                songay = 28;
        }
      else
      { 
        switch(month)
        {
                    case "01": songay = 31; break;
                    case "03":songay = 31; break; 
                    case "05": songay = 31; break;
                    case "07": songay = 31; break;
                    case "08": songay = 31; break;
                    case "10":songay = 31; break;
                    case "12": songay = 31; break;
                    case "04": songay = 30; break;
                    case "06": songay = 30; break;
                    case "09": songay = 30; break;
                    case "11": songay = 30; break;
                    default: break;
            
       }  //end swith
             
       }//end if
       return songay;

   } 

//--------------------------------------------------------------------------------------------------------------------
 

 function doCheckViewData(){// ham nay se thuc hien neu nguoi dung giu nguyen thang va chi chuyen lop hoc va khoi hoc thi se van thuc hien hienj thi du lieu
  var khoi=$("#makhoi").val();
  var malop=$("#malop").val();
  var mathang=$("#mathang").val();  
  if(mathang!=""){// neu la chon load du lieu theo thang thi se goi ham load du lieu theo thang
  loadDataTheoThang();
  }
 
 }

 function loadDataTheoTuan(){
   var strFromDate = document.getElementById("matuan").value;   
            document.getElementById("loaiDiemDanh").value="0";
           // alert("hello matuan"+$("#loaiDiemDanh").val());         
            
            var strFromDates = strFromDate.split("/");       
            var fromDate = new Date(strFromDates[2], (strFromDates[1] - 1), strFromDates[0]);
          
            var toDate = new Date(fromDate.getTime()  + (86400000 * 27));
            var toDay = toDate.getDate();
            var toMonth = toDate.getMonth()+1;
            var strToDate = (toDay<10?"0"+toDay:toDay) +"/"+( toMonth<10?"0"+toMonth:toMonth)+"/"+ toDate.getFullYear();            
          
            var title = "<strong>SỔ ĐIỂM DANH - Từ ngày " + strFromDate +" đến ngày " + strToDate;          
            var lop = document.getElementById("malop").value;
            title += " - Lớp "+ lop + "</strong>";

            var list = $("#nhan");
            list.empty();
            list.append(title);

            var idtruong = $("#idtruong").val();
            var namhoc= $("#namhoc").val();
         
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ViewDiemdanhhocsinh", "hocsinh")',
                data: { strFromDate: strFromDate,
                        strToDate: strToDate,
                        malop:lop ,
                        idTruong:idtruong,
                        namhoc:namhoc,
                        typeDiemDanh:"1"
                        },
                success: function (data) {
                    $("#viewdata").html(data);
                    $("#actionContainer").show();

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            });
 }//end function
 //----------------------------------------------------------------
 function loadDataTheoThang(){
 var strFromDate = document.getElementById("mathang").value; // lay duoc gia tri duoi dang  "01/9/2013"
  
            var strFromDates = strFromDate.split("/"); 
            var dayDT=strFromDates[0];
            var month=strFromDates[1];
            var year=strFromDates[2];            
            

            var countDayOfMonth=ngayTrongThang(month,year);             
            var fromDate=strFromDate;
            var strToDate=countDayOfMonth+"/"+strFromDates[1]+"/"+strFromDates[2];
            
            document.getElementById("loaiDiemDanh").value="1";// set value to definnity type export  excell
            document.getElementById("firstDayOfMonth").value=fromDate;
            document.getElementById("countDayOfMonth").value=countDayOfMonth;
            document.getElementById("lastDayOfMonth").value=strToDate; 
           // alert("hello thang"+$("#loaiDiemDanh").val());    
            var title = "<strong>SỔ ĐIỂM DANH - Từ ngày " + strFromDates[0] +" đến ngày " + countDayOfMonth;          
            var lop = document.getElementById("malop").value;
            title += " - Lớp "+ lop + "</strong>";

            var list = $("#nhan");
            list.empty();
            list.append(title);

            var idtruong = $("#idtruong").val();
            var namhoc= $("#namhoc").val();
             
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ViewDiemdanhhocsinh", "hocsinh")',
                data: { strFromDate: fromDate,
                        strToDate: strToDate,
                        malop:lop ,
                        idTruong:idtruong,
                        namhoc:namhoc,
                        typeDiemDanh:"2"// phan biet la diem danh theo thang
                        },
                success: function (data) {
                    $("#viewdata").html(data);
                    $("#actionContainer").show();

                    var writeaccess = $('#writeaccess').val();
                    if (writeaccess == "0") {
                        $("#btnSave").attr("disabled", "disabled");
                        //$("#viewdata").attr("disabled", "disabled");
                        $('select[name="Diemdanh"]').attr('disabled', 'disabled');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            });
 
 
 }


    function loadDSLop(mkhoi) {
        $("#viewdata").empty();
        var dlop = $("#malop");
        dlop.empty();
        $.getJSON('@Url.Action("LoadLophoc", "hocsinh")', { id: mkhoi },
            function (khoiData) {
                var select = $("#malop");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "Chọn lớp"
                }));
                $.each(khoiData, function (Mainview, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
    }


    // Array Remove - By John Resig (MIT Licensed)
    Array.prototype.remove = function (from, to) {
        var rest = this.slice((to || from) + 1 || this.length);
        this.length = from < 0 ? this.length + from : from;
        return this.push.apply(this, rest);
    };

    function GetPosition(e) { 
	    var left = 0; 
	    var top  = 0; 
	    while (e.offsetParent){ 
	        left += e.offsetLeft; 
	        top  += e.offsetTop; 
	        e     = e.offsetParent; 
	    } 
	    left += e.offsetLeft; 
        top  += e.offsetTop; 
	    return {x:left, y:top}; 
	}

    var hiddenObjectIdLydo;
    var indexLydoNghi;
    var curInput;
    var isLydoPopupOpen;

    function closeNhapLyDo()
    {
        var popup = $("#popup");
        $(popup).css('display', 'none');
        $(popup).css('visibility', 'hidden');
        isLydoPopupOpen =false;

        var lydo =$("#textAreaLydo").val();
        $("#"+hiddenObjectIdLydo).val(lydo)


        if (LyDoNghis[indexLydoNghi]!=lydo)
        {
             LyDoNghis[indexLydoNghi] = lydo;
             curInput.style.color = "blue";
        }

    }

    function openNhapLyDo(sender, maHs, ngay) {
        if ($(sender).val()=="")
            return;
           
        var popup = $("#popup");
        $(popup).css('display', '');
        $(popup).css('visibility', 'visible');
        isLydoPopupOpen =true;

        var targetPos = GetPosition(sender)

        $(popup).css('top', (targetPos.y ) + 'px');
        $(popup).css('left', (targetPos.x) + 'px');

        curInput = sender;

        hiddenObjectIdLydo = "Lydo" + sender.id;
        $("#textAreaLydo").val($("#"+hiddenObjectIdLydo).val());

        var update = false;

         for (var i = 0; i < MaHSs.length; i++) {
            if (MaHSs[i] == maHs && Ngays[i] == ngay) {
                update = true;
                indexLydoNghi=i;
                break;
            }
        }
        if (!update) {
            MaHSs.push(maHs);
            Ngays.push(ngay);
            LoaiNghis.push($(sender).val());        
            LyDoNghis.push($("#textAreaLydo").val());
            indexLydoNghi = MaHSs.length-1;
        }

    }

    var MaHSs = [];
    var Ngays = []
    var LyDoNghis = [];
    var LoaiNghis = [];
    var MaHSDeleteds = [];
    var NgayDeleteds = [];

    function check(input, maHs, ngay) {
        var value = input.value.toLocaleUpperCase();
        

        //if (value != "") {
            if (value != "P" && value != "K" && value!="") {
                alert('Vui lòng nhập P (có phép) hoặc K (không phép) hoặc không nhập bất cứ giá trị nào');
                input.value="";
                input.focus();
            }
            else {
                input.style.color = "blue";
                var update = false;
                var currenttcp=0;
                var currenttkp=0;
                
                for (var i = 0; i < MaHSs.length; i++) {
                    if (MaHSs[i] == maHs && Ngays[i] == ngay) {
                        LoaiNghis[i] = value;
                        //------------ Doan trinh sau se thuc hien set value tong so ngay có phép và không có phép--------
                        if(value=="P"){                         
                          currenttcp++;
                          currenttkp--;
                          
                          var tcp=$("#"+maHs+"_cp").text();
                          currenttcp=currenttcp + parseInt(tcp);
                          $("#"+maHs+"_cp").text(currenttcp);
                          
                          var tkp=$("#"+maHs+"_cp").text();
                          currenttkp=currenttkp + parseInt(tkp);                            
                          $("#"+maHs+"_kp").text(currenttkp);
                 
                        }
                        if(value=="K"){                         
                        currenttkp++;
                        currenttcp--;
                        var tcp=$("#"+maHs+"_cp").text();
                          currenttcp=currenttcp + parseInt(tcp);
                          $("#"+maHs+"_cp").text(currenttcp);
                          
                          var tkp=$("#"+maHs+"_cp").text();
                          currenttkp=currenttkp + parseInt(tkp);                            
                          $("#"+maHs+"_kp").text(currenttkp);
                 
                        }
                        //-----------------------------------------
                         
                        update = true;
                        break;
                    }//end if
                }// end for
                //set cac gia tri vao cot tổng số ngày nghỉ có phép và không có phép
                 
                if (!update) {
                    MaHSs.push(maHs);
                    Ngays.push(ngay);
                    LoaiNghis.push(value);        
                    LyDoNghis.push($("#Lydo"+input.id).val());
                }
                /*
                for (var i = 0; i < MaHSs.length; i++) {
                    if (MaHSDeleteds[i] == maHs && NgayDeleteds[i] == ngay) {
                        MaHSDeleteds.remove(i);
                        NgayDeleteds.remove(i);
                        LyDoNghis.remove(i);
                    }
                }*/
            }
        //}
        //else {
        //    var deleted = true;
        //    for (var i = 0; i < MaHSs.length; i++) {
        //        if (MaHSs[i] == maHs && Ngays[i] == ngay) {
        //            MaHSs.remove(i);
        //            LoaiNghis.remove(i);
        //            Ngays.remove(i);
        //            LyDoNghis.remove(i);
        //            deleted = false;
        //            break;
        //        }
        //    }
        //}
    }

    $(document).ready(function () {

      $(document).mousedown(function (e) {

            if (isLydoPopupOpen) {
                if (e == null) var e = window.event;
                // IE uses srcElement, others use target
                var target = e.target != null ? e.target : e.srcElement;
                var clickOnStatusPopup;
                // if (target.tagName == "TD") {
                    var clikOnStatusPopup = false;
                    while (target.offsetParent) {
                        if (target.id == "popup") {
                            clickOnStatusPopup = true;
                            break;
                        }
                         
                        target = target.offsetParent;
                    }
                    if (!clickOnStatusPopup) {
                          closeNhapLyDo();
                    }
                }
        //    }
        });
        


        $("#btnSave").click(function () {
            $.ajax({
                url: '@Url.Action("SaveDiemDanh", "hocsinh")',
                data: { idtruong: $("#idtruong").val(),
                 //   thang: $("#thang").val(),
                  //  nam: $("#nam").val(),
                    namhoc: $("#namhoc").val(),
                    malop: $("#malop").val(),
                    Ngays: Ngays,
                    MaHocSinhs: MaHSs,
                    LoaiNghis: LoaiNghis,
                    LyDoNghis: LyDoNghis,
                   // MaHocSinhDeleteds: MaHSDeleteds,
                   // NgayDeleteds:NgayDeleteds,
                },
                traditional: true,
                type: 'POST',
                success: function (data) {
                    if (data = "success") {
                        alert('Bạn đã cập nhập thành công dữ liệu');
                        var spytype=$("#syptye").val();
                        if(spytype=="1")// load du lieu theo tháng
                        {
                         
                         loadDataTheoThang();
                        }
                        else if(spytype=="0")
                        {
                         loadDataTheoTuan();// load dữ lệu theo tuần
                        }
                         
                    }
                    else
                        alert('Cập nhập dữ liệu bị lỗi. Xin vui lòng thử lại');
                }
            });
        });

        $("#btnExport").click(function () {

            var idtruong = $("#idtruong").val();        
            var namhoc= $("#namhoc").val();
            var malop = $("#malop").val();
            var loaiDiemDanh= $("#loaiDiemDanh").val(); 

            var strFromDate = document.getElementById("matuan").value;
            var strFromDates = strFromDate.split("/");       
            var fromDate = new Date(strFromDates[2], (strFromDates[1] - 1), strFromDates[0]);

            var toDate = new Date(fromDate.getTime()  + (86400000 * 27));
            var toDay = toDate.getDate();
            var toMonth = toDate.getMonth()+1;
            var strToDate = (toDay<10?"0"+toDay:toDay) +"/" + (toMonth<10?"0"+toMonth:toMonth) + "/"+ toDate.getFullYear();
           
           if(loaiDiemDanh=="0")// export theo tuan
           { 
            window.location = '@Url.Action("ExportDiemDanhTheoTuan", "HocSinh")?idtruong='+ idtruong +
                                                                        '&strFromDate=' + strFromDate +
                                                                        '&strToDate=' + strToDate +
                                                                        '&namhoc=' + namhoc +           
                                                                        '&malop=' + malop ;
            }else{// export theo thang 

            var strFromfirstDayMonth = document.getElementById("firstDayOfMonth").value;

                  
            var strTolastDayOfMonth = document.getElementById("lastDayOfMonth").value;
            var tongsongaycuathang= document.getElementById("countDayOfMonth").value;


            window.location = '@Url.Action("ExportDiemDanhTheoThang", "HocSinh")?idtruong='+ idtruong +
                                                                        '&strFromDate=' + strFromfirstDayMonth +
                                                                        '&strToDate=' + strTolastDayOfMonth +
                                                                        '&countDayOfMonth='+ tongsongaycuathang +
                                                                        '&namhoc=' + namhoc +           
                                                                        '&malop=' + malop ;
            
            
            }
          });
         



        $("#file_upload").uploadify({
            'swf': '@Url.Content("~/Content/uploadify/uploadify.swf")',
            'uploader': '@Url.Action("ImportDiemDanh", "HocSinh")',
            "multi": "false",
            "auto": true,
            'fileTypeDesc': 'Excel',
            'fileTypeExts': '*.xls; *.xlsx',
            'buttonText': 'Import Excel',
            "onUploadSuccess": function (fileObj, response, data) {
                var modelData = jQuery.parseJSON(response);
                // document.getElementById("ui").checked = modelData.viewAllColumns;
                // fillGrid(modelData.dblist);
                  
            }
        });

    });

  
 

        
</script>
<form id="form">

<!-- Trung lam -->
@RenderPage("~/Views/Shared/_MainMenu.cshtml");
<br><br><br>

<input type="hidden" id="loaiDiemDanh" name="loaiDiemDanh" value="" />
<input type="hidden" id="firstDayOfMonth" name="firstDayOfMonth" value="" />
<input type="hidden" id="lastDayOfMonth" name="lastDayOfMonth" value="" />
<input type="hidden" id="syptye" name="syptye" value="@ViewBag.spyTye" />
<input type="hidden" id="writeaccess" name="writeaccess" value="@ViewBag.WriteAccess" />
<input type="hidden" id="countDayOfMonth" name="countDayOfMonth" value="" />

<!-- sau khi chuyen loai diem danh theo thang thi ta se xet mot so gia tri vao cac textbox để phục vu cho viec export data theo thang ra excell file -->
<div id="popup" style="position: absolute; display: none; visibility: hidden; background-color: green">
    <table>
        <tr style="background-color: #000099">
            <td style="color: white">
                <strong>Lý do nghỉ học</strong>
                <div style="float: right">
                    <input id="btnClose" type="button" onclick="closeNhapLyDo()" value="x" title="Click to close" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <textarea id="textAreaLydo" cols="25" rows="8"></textarea>
            </td>
        </tr>
    </table>
</div>
<input type="hidden" id="namhoc" name="idtruong" value="@ViewBag.namhientai" />
<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
<input type="hidden" id="tongso" name="tongso" value="@ViewBag.tongsohocsinh" />

<table width="100%">
	
    <tr>
        <td colspan="7">
		
            <table style="margin-top: 97px;background: #fff; height: 40px;border-bottom: 1px solid #ccc;" width="100%" id="fix_header" >

                <tr>
                    <td>
                        &nbsp;&nbsp;&nbsp;Chọn khối
                    </td>
                    <td>
                        @Html.DropDownList("makhoi", "Chọn khối")
                    </td>
                    <td>
                        Chọn lớp
                    </td>
                    <td>
                        @Html.DropDownList("malop", "Chọn lớp")
                    </td>
                    <td>
                        <input type="radio" name="radio" id="radioOne" value="1" 
                        @if (ViewBag.spyTye == 0)
                        {  <text>
                        
                           checked
                         </text>
                            
                        }
                          />
                        <label id="chontuan" for="radio">
                            Chọn Theo Tuần</label>
                    </td>
                    <td>
                        @Html.DropDownList("matuan", "Chọn tuần")
                    </td>
                    <td>
                        <input type="radio"   name="radio" id="radioTwo" value="2"
                        
                         @if (ViewBag.spyTye == 1)
                         { <text>
                            checked
                           </text>
                         }
                         
                         />
                        <label for="radio" id="chonthang">
                            Chọn Theo Tháng</label>
                    </td>
                    <td>@Html.DropDownList("mathang", "Chọn tháng")
                    </td>

		<td id="nhan" align="center">
                        SỔ ĐIỂM DANH NGÀY @ViewBag.ngayhientaihethong
                    </td>


                </tr>

            </table>
        </td>
    </tr>
</table>
<table style="margin-top: 47px; background-color: #D7EEFB;width: 100%;border-bottom: 1px solid #e5e5e5" id="fix_header">
    <tr style="height: 52px; background: #fff" id="actionContainer">
        <td width="5%">
            <strong>&nbsp;&nbsp;&nbsp;Chú ý:</strong>
        </td>
        <td colspan="2" width="80%">
            Ký hiệu: <strong>P</strong>: Nghỉ có phép và <strong>K</strong>: nghỉ không phép. <br/>Sau khi đã chọn quý khách nhớ bấm nút <strong>Lưu</strong> để hoàn tất quá trình thực hiện.
        </td>
     
        <td style="float: right; padding-top: 10px;">
		            
		<input type="button" id="btnSave" value="Lưu" />
		<input type="button" id="btnExport" value="Xuất excel" />

      </td>
        <td>
            <!--  <input type="file" name="file_upload" id="file_upload" />-->
        </td>
    </tr>
</table>
<table style="margin-top: 84px; width: 100%;">
    <tr>
        <td colspan="6" id="viewdata" align="center">
        </td>
    </tr>
</table>
</form>
