﻿@model IList<VnEduPlus.Models.AllHocSinh>
@{
    ViewBag.Title = "Chương trình quản lý giáo dục";
}
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <!-- import css bootstrap css and js ( bat buoc phai co)-->
 <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
 <link href="@Url.Content("~/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
 
 <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
 <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
</head>



  <script>
      function exportxls() {
          window.open(window.location.origin + '/aspx/exportxls.aspx?idtruong=' + '@ViewBag.idtruong' + '&namhoc=' + '@ViewBag.namhoc' + '&malop=' + '@ViewBag.malop' + "&tenlop=" + '@ViewBag.tenlop' , '_parent', 'toolbar=0,location=0,menubar=0');
          
      }
</script>

<form id="listhocsinh" style="padding: 5px 0px 10px 0px;">
<table width="100%" border="0">
    <tr bgcolor="#fff">
        <td style="width: 33.33%; text-align: center; font-size: 12px; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
                <strong style="text-transform: uppercase;">@ViewBag.PhongGiaoDuc</strong><br>
				<strong style="text-transform: uppercase;">@ViewBag.tentruong</strong>
        </td>
        <td style="width: 33.33%; text-align: center; font-size: 12px; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
                <strong style="text-transform: uppercase; font-size: 16px;">BẢNG TỔNG HỢP DANH SÁCH HỌC SINH</strong><BR>
				<strong>L&#7899;p: @ViewBag.tenlop - </strong>
				<strong>T&#7893;ng s&#7889; h&#7885;c sinh: @ViewBag.tongso</strong>
        </td>
        <td style="width: 33.33%; text-align: center; font-size: 12px; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
            <strong style="text-transform: uppercase;">Ng&#432;&#7901;i &#273;&#259;ng nh&#7853;p: @ViewBag.tendangnhap</strong><br>
            <strong style="text-transform: uppercase;">N&#259;m h&#7885;c: @ViewBag.namhoc</strong>
        </td>
        
      
    </tr>
</table>
 
</form>
<input type="hidden" id="idtruong" value="@ViewBag.idtruong" />
<input type="hidden" id="idnamh" value="@ViewBag.namhoc" />
<input type="hidden" id="makhoi" value="@ViewBag.makhoi" />



<div class="container">
<input class="exportxls" style="margin-right: 105px; right: 0; position: absolute; z-index: 999999;" type="submit" name="button" id="exportExcel" value="Xuất Excel" onclick="exportxls();"/>
<table id="Thongtinhocsinh" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="width: 3%; text-align: center; vertical-align: middle;">STT</th>
                <th style="width: 20%; text-align: center; vertical-align: middle;">Họ tên</th>
                <th style="width: 10%; text-align: center; vertical-align: middle;">Ngày sinh</th>
                <th style="width: 10%; text-align: center; vertical-align: middle;">Giới tính</th>
                <th style="width: 10%; text-align: center; vertical-align: middle;">Dân tộc</th>
                <th style="width: 15%; text-align: center; vertical-align: middle;">Con TB, LS, BB</th>
                <th style="width: 15%; text-align: center; vertical-align: middle;">Họ tên cha, nghề nghiệp</th>
                <th style="width: 15%; text-align: center; vertical-align: middle;">Họ tên mẹ, nghề nghiệp</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.Count(); i++)
                {
                    string gioiTinh = (Model[i].GioiTinh != null && Model[i].GioiTinh == true) ? "Nam" : (Model[i].GioiTinh != null && Model[i].GioiTinh == false) ? "Nữ" : "";   
                    <tr>
                        <td align="center">@(i + 1)</td>
                        <td>@Model[i].HoTen</td>                        
                        <td align="center">@String.Format("{0:dd/MM/yyyy}", @Model[i].NgaySinh)</td>
                        <td align="center">@gioiTinh</td>
                        <td align="center">@Model[i].Dantoc</td>
                        <td>@Model[i].conThuongBenhBinh</td>
                        <td>@Model[i].hotenChavaNgheNghiep</td>
                        <td>@Model[i].hotenMevaNgheNghiep</td>
                    </tr>
                }
            }
        </tbody>
    </table>
	</div>