﻿@*@Model System.Data.DataTable*@
<script type="text/javascript">

    $(document).ready(function () {


    });


</script>
<style>
    .rotate {
    }

    .Table {
        /*border-style:double;
        border-width:1px;

        white-space: nowrap;
        /*table-layout:fixed;*/
        /*width:50%*/
        text-align: center;
        border: 1px solid #000;
    }
    table tr.hoverhang
    {
        
    }
    table tr.hoverhang:hover
    {
        background-color: #ccc;
    }
    
    table td.Table 
    {
        vertical-align: middle;    
    }
    
</style>
<table style="margin-top:5px; font-family: Arial; font-size: 11px; width:100%">
   <tr>
       <td style="text-align:left!important"><strong>Có @Model.Rows.Count.ToString() học sinh</strong></td>
   </tr>
</table>
<table style="margin-top:5px; font-family: Arial; font-size: 11px; width:100%">
    <tr>
        <td class="Table" style="width:2%"><strong>STT</strong></td>
        <td class="Table" style="width:13%"><strong>Họ Tên</strong></td>
        <td class="Table" style="width:5%"><strong>Ngày Sinh</strong></td>
        <td class="Table" style="width:3%"><strong>Giới<br/>Tính</strong></td>
        <td class="Table" style="width:14%"><strong>Địa Chỉ</strong></td>
        <td class="Table" style="width:9%"><strong>Tên Cha</strong></td>
        <td class="Table" style="width:9%"><strong>Nghề Nghiệp Cha</strong></td>
        <td class="Table" style="width:9%"><strong>Tên Mẹ</strong></td>
        <td class="Table" style="width:9%"><strong>Nghề Nghiệp Mẹ</strong></td>
        <td class="Table" style="width:5%"><strong>Khối<br/>Phố</strong></td>
        <td class="Table" style="width:7%"><strong>Xã<br/>Phường</strong></td>
        <td class="Table" style="width:7%"><strong>Quận<br/>Huyện</strong></td>
        <td class="Table" style="width:5%"><strong>Điện Thoại</strong></td>
        <td class="Table" style="width:3%"><strong>Đối Tượng</strong></td>
    </tr>
    @{
        if (Model != null && Model.Rows != null && Model.Rows.Count > 0)
        {
            
            for (int i = 0; i < Model.Rows.Count; i++)
            {
                <tr class="hoverhang">
                    <td class="Table">@(i+1)</td>
                    <td class="Table" style="text-align:left!important; padding-left: 2px;">@Model.Rows[i]["HoTen"]</td>
                    <td class="Table">@Model.Rows[i]["NgaySinh"]</td>
                    <td class="Table">@Model.Rows[i]["GioiTinh"]</td>
                    <td class="Table" style="text-align:left!important; padding-left: 2px;">@Model.Rows[i]["Diachilienlac"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["HoTenCha"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["NgheCha"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["HoTenMe"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["NgheMe"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["TenKP"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["TenXa"]</td>
                    <td class="Table" style="text-align:center!important; padding: 2px;">@Model.Rows[i]["TenHuyen"]</td>
                    <td class="Table" style="text-align:center!important">@Model.Rows[i]["DienThoai"]</td>
                    <td class="Table" style="text-align:center!important">@Model.Rows[i]["TenChinhSach"]</td>
                </tr>
                

            }
            
        }

    }
</table>