﻿@{
    
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/jquery.dataTables.min.js")" type="text/javascript"></script>
<!-- Trung lam -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
<link href="@Url.Content("~/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSearch').click(function () {
            var hocky = $('#MaHocKy').val();
            var makhoi = $('#MaKhoi').val();
            var monhoc = $('#monhoc').val();
            var socot = $('#socot').val();
            var diemstart = $('#diemStart').val();
            var diemend = $('#diemEnd').val();
            if (hocky == '')
            {
                alert('Yêu cầu chọn học kỳ');
                $('#MaHocKy').focus();
            }
            else if (makhoi == '')
            {
                alert('Yêu cầu chọn khối lớp');
                $('#MaKhoi').focus();
            }
            else if (monhoc == '')
            {
                alert('Yêu cầu chọn môn học');
                $('#monhoc').focus();
            }
            else if (socot == '')
            {
                alert('Yêu cầu nhập số cột');
                $('#socot').focus();
            }
            else if (!isInt(socot)) {
                alert('Yêu cầu nhập giá trị là số nguyên');
                $('#socot').focus();
            }
            else if (diemstart == '')
            {
                alert('Yêu cầu nhập điểm bắt đầu');
                $('#diemStart').focus();
            }
            else if (!isInt(diemstart)) {
                alert('Yêu cầu nhập giá trị là số nguyên');
                $('#diemStart').focus();
            }
            else if (diemend == '')
            {
                alert('Yêu cầu nhập điểm kết thúc');
                $('#diemEnd').focus();
            }
            else if (!isInt(diemend)) {
                alert('Yêu cầu nhập giá trị là số nguyên');
                $('#diemEnd').focus();
            }
            else
            {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("ViewHocSinhTheoKhoangDiem", "hocsinh")',
                    data: { mamonhoc: monhoc, hocky: hocky, khoilop: makhoi, diem_start: diemstart, diem_end: diemend, socot: socot },
                    success: function (data) {
                        $("#Viewdanhsach").empty();
                        $("#Viewdanhsach").html(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });
            }
        });

        $("#MaKhoi").change(function () {
            var makhoi = $("#MaKhoi").val();
            if (makhoi != '') {
                loadMonHoc(makhoi);
            }
        });
    });

    function isInt(value) {
        if (isNaN(value)) {
            return false;
        }
        var x = parseFloat(value);
        return (x | 0) === x;
    }
    function loadMonHoc(makhoi) {

        var list = $("#monhoc");
        $("#Viewdanhsach").empty();
        list.empty();
        $.getJSON('@Url.Action("loadMonHoc", "hocsinh")', { makhoi: makhoi},
                    function (modelData) {
                        var select = $("#monhoc");
                        select.empty();
                        select.append($('<option/>', {
                            value: "",
                            text: "Chọn môn"
                        }));
                        $.each(modelData, function (index, itemData) {

                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
    }
</script>
<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
<input type="hidden" id="tentruong" name="tentruong" value="@ViewBag.tentruong" />
<input type="hidden" id="namhoc" name="idtruong" value="@ViewBag.namhoc" />
<input type="hidden" id="tengiaovien" name="tengiaovien" value="@ViewBag.tendangnhap" />
@RenderPage("~/Views/Shared/_MainMenu.cshtml");
<table style="margin-top: 60px; border: 0px; width: 100%;">
    <tr>
        <td style="border: 0px; text-align: center; font-size: 18px; font-weight: bold;">Khu vực chọn điều kiện tìm kiếm</td>
    </tr>
</table>
<table style="border: 0px; width: 100%; margin-top: 10px;">
    <tr>
        <td style="border: 0px; width: 15%;text-align: center;">
            Học kỳ &nbsp;&nbsp; @Html.DropDownList("MaHocKy", "Chọn kỳ")
        </td>
        <td style="border: 0px; width: 15%;text-align: center;">
            Khối &nbsp;&nbsp; @Html.DropDownList("MaKhoi", "Chọn khối")
        </td>
        <td style="border: 0px; width: 15%;text-align: center;">
            Môn học &nbsp;&nbsp; <select style="width:50%" id="monhoc"></select>
        </td>
        <td style="border: 0px; width: 15%;text-align: center;">
            Có ít nhất &nbsp;&nbsp; <input type="text" id="socot" value="3" style="width:50px"/> cột điểm
        </td>
        <td style="border: 0px; width: 15%;text-align: center;">
            Điểm từ &nbsp;&nbsp; <input type="text" id="diemStart" value="" style="width:50px" />
            đến &nbsp;&nbsp; <input type="text" id="diemEnd" value="" style="width:50px" />
        </td>
        <td style="border: 0px; width: 15%;text-align: left;">
            <input type="button" name="btnSearch" value="Tìm kiếm" id="btnSearch" />
        </td>
    </tr>
</table>
<table style="width: 100%;">
    <tr>
        <td style="border: 0px; width: 100%" id="Viewdanhsach"></td>
    </tr>
</table>