﻿@model VnEduPlus.HocSinh_QuaTrinh
<style>
    /* Example Styles for Demo */
    .etabs { margin: 0; padding: 0; }
    .tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
    .tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
    .tab a:hover { text-decoration: underline; }
    .tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
    .tab a.active { font-weight: bold; }
    .tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
    .panel-container { margin-bottom: 10px; }
  </style>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hashchange.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>

 
<script type="text/javascript">

    $(document).ready(function () {

      /*  $("#ngaytao").datepicker(
            {
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1940:2500'
            });
        */
        $("#tgsk").datepicker(
            {
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1980:2500'
            });



        $("#LuuSuaquatrinh").click(function () {

            var maquatrinh = document.getElementById("maqt").value;
            var noidung = document.getElementById("noidung").value;
            var tgsk = document.getElementById("tgsk").value;
            var nguoitao = document.getElementById("nguoitao").value;
            var ngaytao = document.getElementById("ngaytao").value;
            var idtruong = document.getElementById("idtruong").value;
            var namhoc = document.getElementById("namhoc").value;
            var makhoi = document.getElementById("makhoi").value;
            var malop = document.getElementById("malop").value;
            var mahocsinh = document.getElementById("mahocsinh").value;
            var idquatrinh = document.getElementById("idquatrinh").value;


            $.ajax({ type: 'Post',
                url: '@Url.Action("LuuSuaquatrinh", "hocsinh")',
                data: { idquatrinh: idquatrinh, maquatrinh: maquatrinh, noidung: noidung, tgsk: tgsk, nguoitao: nguoitao, ngaytao: ngaytao, idtruong: idtruong, namhoc: namhoc, makhoi: makhoi, malop: malop, mahocsinh: mahocsinh },
                success: function (data) {
                    if (data = "success")
                        alert("Lưu thành công");
                     try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
                     catch (e){} 
                    window.close();

                }
            });


        });
    });


        
</script>
<body>
Nhập thông tin quá trình cho học sinh
    <div id="tab-container" class='tab-container'>
       
        <div class='panel-container'>
            <div id="tabs1-html">
                @using (Html.BeginForm("LuuSuaquatrinh", "QuanLyThongTinHocSinh", FormMethod.Post, new { id = "QuanLyThongTinHocSinh" }))
                {
                     <input type="hidden" id="idtruong" name="idtruong" value="@Model.idTruong" />
                      <input type="hidden" id="namhoc" name="namhoc" value="@Model.NamHoc" />
                     <input type="hidden" id="makhoi" name="makhoi" value="@Model.MaKhoi" />
                     <input type="hidden" id="malop" name="malop" value="@Model.MaLop" />
                     <input type="hidden" id="mahocsinh" name="mahocsinh" value="@Model.MaHocSinh" />
                    <input type="hidden" id="idquatrinh" name="idquatrinh" value="@Model.IDQuaTrinh" />
                     
                     
                    <fieldset>
                        <legend>Sửa quá trình:</legend>
                        
                        <table width="100%" border="0">
                              <tr>
                                <td ><strong>M&atilde; qu&aacute; tr&igrave;nh </strong></td>
                                <td ><input type="text" readonly="readonly" value="@Model.MaQuaTrinh" name="maqt" id="maqt" /></td>

                                 <td><strong>Ng&#432;&#7901;i t&#7841;o </strong></td>
                                <td><input type="text" readonly="readonly" value="@Model.UserName" name="nguoitao" id="nguoitao" /></td>

                                 <td><strong>Ng&agrave;y t&#7841;o </strong></td>
                                <td><input type="text" readonly="readonly"  name="ngaytao" id="ngaytao" 
                                
                                 value="@DateTime.Now.ToString("dd/MM/yyyy")"
                                  /></td>

                              </tr>
                              <tr>
                                
                               
                                <td><strong>T.g s&#7921; ki&#7879;n </strong></td>
                                <td><input type="text"  readonly="readonly"  name="tgsk" id="tgsk"
                                
                                @if (@Model.Thoigiansukien!=null)
                                                                                   { <text>value="@Model.Thoigiansukien.ToString("dd/MM/yyyy")"</text>}
                                 /></td>

                                 <td><strong>N&#7897;i dung </strong></td>
                                <td colspan="3"><input type="text" value="@Model.Noidung" name="noidung" id="noidung" style="width:100%" /></td>
                              </tr>
                               
                              
                              <tr>
                              <td colspan="2" align="center">  <input type="button" value="Lưu lại" id="LuuSuaquatrinh" /></td>
                              </tr>
                        </table>
                        
                    </fieldset>

                }
            </div>
          
        </div>
    </div>
</body>
