﻿@model VnEduPlus.Models.DiemdanhModel

<table id="fix_header" style="margin-top: 135px; width: 100%; border: 3px solid #000; height: 45px;">
    
	<tr style="margin-top: 100px; background: #fff;">
        <td style="border: 1px solid #0f0f0f; text-align: center; width: 3%;">STT
        </td>
        <td style="width: 15%; border: 1px solid #0f0f0f; text-align: center">Họ và Tên
        </td>
        <td style="width: 7%%; border: 1px solid #0f0f0f; text-align: center">Ngày sinh</td>
        @{  
            string selected = "selected=selected";
            int songay = ViewBag.songay;
            string[] Thus = new string[] { "CN", "T2", "T3", "T4", "T5", "T6", "T7" };
            int[] Ngays = new int[songay + 1];
            string[] fullDays = new string[songay + 1];


            int ngay = ViewBag.dayStart;
            DateTime fullDay = ViewBag.ngayBd;
            var thang = (int)ViewBag.thang < 10 ? "0" + ViewBag.thang : ViewBag.thang;

            for (int j = 1; j <= songay; j++)
            {
                var index = ((int)ViewBag.ThuBD + (j - 1)) % 7;
                var thu = Thus[index];
                Ngays[j] = ngay;
                var ngayBD = "01";
                if (j < 10)
                {
                    ngayBD = "0" + j.ToString();

                }
                else
                {
                    ngayBD = j.ToString();
                }
                var ngayDD = ngayBD + "/" + thang + "/" + ViewBag.nam;

                fullDays[j] = ngayDD;
				 if (songay == 28)
                   {   
					<td style="border: 1px solid #0f0f0f; text-align: center;  width: 2.321428571%;">@thu<br />@ngay
					</td>
					}
				
				 if (songay == 29)
                   {   
					<td style="border: 1px solid #0f0f0f; text-align: center;  width: 2.24137931%;">@thu<br />@ngay
					</td>
					}				
				
				 if (songay == 30)
                   {   
					<td style="border: 1px solid #0f0f0f; text-align: center;  width: 2.166666667%;">@thu<br />@ngay
					</td>
					}

				 if (songay == 31)
                   {   
					<td style="border: 1px solid #0f0f0f; text-align: center;  width: 2.096774194%;">@thu<br />@ngay
					</td>
					}					
				
				
				
                fullDay.AddDays(1);
                ngay++;
                if (ngay > songay)
                {
                    ngay = 1;
                }

            }
            <td style="border: 1px solid #0f0f0f;text-align: center; width: 10%;" colspan="2">P | K</td>
			
        }
    </tr>
	
	</table>
	<table style="width: 100%; margin-top: 47px;">
		
       @for (int i = 0; i < ViewBag.tongsohocsinh; i++)
       {
           int stt = i + 1;
        <tr>
            <td style="width: 3%; border: 1px solid #0f0f0f; text-align: center;">@Model.ListHS[i].STT
            </td>
            <td style="width: 15%;; border: 1px solid #0f0f0f;">
                &nbsp; @Model.ListHS[i].HoTen
                <input type="hidden"  name="MaHocSinh" value="@Model.ListHS[i].MaHocSinh" />
            </td>
            <td style="font-size: 11px; width: 7%;; border: 1px solid #0f0f0f; text-align: center"> 
            @string.Format("{0:dd/MM/yyyy}", @Model.ListHS[i].NgaySinh)  
            </td>
              @{
           int tongcp = 0;
           int tongkp = 0;
            }
      
               @for (int j = 1; j <= songay; j++)
               {
                   ngay = Ngays[j];

                   string LoaiNghi = "";
                   string LydoNghi = "";
                   string IdLydoNghi = "Lydo" + Model.ListHS[i].MaHocSinh + ngay;
                   string IdLoaiNghi = Model.ListHS[i].MaHocSinh + ngay;
                   var nghihoc = Model.ListNghiHoc.Where(nh => nh.MaHocSinh == Model.ListHS[i].MaHocSinh && nh.Ngay.Day == ngay).SingleOrDefault();

                   if (nghihoc != null)
                   {
                       LoaiNghi = nghihoc.LoaiNghi;
                       LydoNghi = nghihoc.Ghichu;
                       if ("P".Equals(LoaiNghi.Trim().ToString().ToUpper())) { tongcp++; }
                       if ("K".Equals(LoaiNghi.Trim().ToString().ToUpper())) { tongkp++; }
                   }



                   if (songay == 28)
                   {   
                    <td style="border: 1px solid #0f0f0f; width: 2.321428571%;">
                    <input type="hidden" value="@LydoNghi"  id="@IdLydoNghi"/>
                   
                  <!-- <input type="text" value="@LoaiNghi"  id="@IdLoaiNghi"
                     onchange="check(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     ondblclick="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     name="Diemdanh" style="width:100%;border:1px"/>
                     --> 
					 <div style="max-width: 20px; margin: auto;">
                   <select id="menulist" name="Diemdanh" id="@LoaiNghi" style="width:100%" onchange="check(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     ondblclick="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     contextmenu="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')"    
                     >
                     <option value=""  > </option>
                     <option value="P" @if ("P".Equals(LoaiNghi.Trim().ToString().ToUpper()))
                                       { 
                                            <text> value="selected"@selected </text>}> P</option>
                     <option value="K" @if ("K" == LoaiNghi.Trim().ToString().ToUpper())
                                       {<text> value="selected"@selected </text> }>K</option>
                   
                    </select>
				</div>
                </td>
               
                   }

                   if (songay == 29)
                   {   
                    <td style="border: 1px solid #0f0f0f;">
                    <input type="hidden" value="@LydoNghi"  id="@IdLydoNghi"/>
                   
                  <!-- <input type="text" value="@LoaiNghi"  id="@IdLoaiNghi"
                     onchange="check(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     ondblclick="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     name="Diemdanh" style="width:100%;border:1px"/>
                     --> 
					 <div style="max-width: 20px; margin: auto;">
                   <select id="menulist" name="Diemdanh" id="@LoaiNghi" style="width:100%" onchange="check(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     ondblclick="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     contextmenu="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')"    
                     >
                     <option value=""  > </option>
                     <option value="P" @if ("P".Equals(LoaiNghi.Trim().ToString().ToUpper()))
                                       { 
                                            <text> value="selected"@selected </text>}> P</option>
                     <option value="K" @if ("K" == LoaiNghi.Trim().ToString().ToUpper())
                                       {<text> value="selected"@selected </text> }>K</option>
                   
                    </select>
				</div>
                </td>
               
                   }


                   if (songay == 30)
                   {   
                    <td style="width: 2.166666667%; border: 1px solid #0f0f0f;">
                    <input type="hidden" value="@LydoNghi"  id="@IdLydoNghi"/>
                   
                  <!-- <input type="text" value="@LoaiNghi"  id="@IdLoaiNghi"
                     onchange="check(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     ondblclick="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     name="Diemdanh" style="width:100%;border:1px"/>
                     --> 
					 <div style="max-width: 20px; margin: auto;">
                   <select id="menulist" name="Diemdanh" id="@LoaiNghi" style="width:100%" onchange="check(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     ondblclick="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     contextmenu="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')"    
                     >
                     <option value=""  > </option>
                     <option value="P" @if ("P".Equals(LoaiNghi.Trim().ToString().ToUpper()))
                                       { 
                                            <text> value="selected"@selected </text>}> P</option>
                     <option value="K" @if ("K" == LoaiNghi.Trim().ToString().ToUpper())
                                       {<text> value="selected"@selected </text> }>K</option>
                   
                    </select>
				</div>
                </td>
               
                   }




                   if (songay == 31)
                   {   
                    <td style="width: 2.096774194%; border: 1px solid #0f0f0f;">
                    <input type="hidden" value="@LydoNghi"  id="@IdLydoNghi"/>
                   
                  <!-- <input type="text" value="@LoaiNghi"  id="@IdLoaiNghi"
                     onchange="check(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     ondblclick="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     name="Diemdanh" style="width:100%;border:1px"/>
                     --> 
					 <div style="max-width: 20px; margin: auto;">
                   <select id="menulist" name="Diemdanh" id="@LoaiNghi" style="width:100%" onchange="check(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     ondblclick="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     contextmenu="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')"    
                     >
                     <option value=""  > </option>
                     <option value="P" @if ("P".Equals(LoaiNghi.Trim().ToString().ToUpper()))
                                       { 
                                            <text> value="selected"@selected </text>}> P</option>
                     <option value="K" @if ("K" == LoaiNghi.Trim().ToString().ToUpper())
                                       {<text> value="selected"@selected </text> }>K</option>
                   
                    </select>
				</div>
                </td>
               
                   }


               }
              <td style="border: 1px solid #0f0f0f; width: 5%; text-align: center;" id="@(Model.ListHS[i].MaHocSinh)_cp">@tongcp</td>
                <td style="border: 1px solid #0f0f0f; width: 5%; text-align: center;"  id="@(Model.ListHS[i].MaHocSinh)_kp">@tongkp</td>
        </tr>
    
       }
</table>
