﻿<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta charset="utf-8" />
    <title>Danh sách học sinh</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <!-- Trung lam -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
    <!-- bootstrap ---------------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/throbber.css")" type="text/css">
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
    <!-------------edu css-------------------------------------------------------->
    <script type="text/javascript">
        $(document).ready(function () {
            //$(".select2").select2();
            GetChinhSach();
            GetPhuongXa();
            $("#MaHuyen").change(function () {
                GetPhuongXa();
            });
            $("#selectXaPhuong").change(function () {
                GetToDanPho();
            });


            $("#btnSearch").click(function () {
                ListDanhSachLop();
            });
        });

        function GetChinhSach() {

            debugger;
            jQuery.getJSON('@Url.Action("LoadDoiTuongChinhSach", "hocsinh")', {},
            function (Data) {
                var select = jQuery("#MaChinhSach");
                select.empty();
                select.append("<option value=''>--Chọn đối tượng--</option>");
                jQuery.each(Data, function (id, itemData) {
                    select.append("<option value='" + itemData.Value + "'>" + itemData.Text + "</option>");
                });
            });
        }

        function GetPhuongXa() {

            debugger;
            var MaQuanHuyen = $("#MaHuyen").val();
            jQuery.getJSON('@Url.Action("LoadXaPhuong", "hocsinh")', { idHuyen: MaQuanHuyen },
            function (Data) {
                var select = jQuery("#selectXaPhuong");
                select.empty();
                select.append("<option value=''>--Chọn phường/xã--</option>");
                jQuery.each(Data, function (id, itemData) {
                    select.append("<option value='" + itemData.Value + "'>" + itemData.Text + "</option>");
                });
            });
        }

        function GetToDanPho() {

            debugger;
            var MaXa = $("#selectXaPhuong").val();
            jQuery.getJSON('@Url.Action("LoadKhoiPho", "hocsinh")', { idXa: MaXa },
            function (Data) {
                var select = jQuery("#selectToDP");
                select.empty();
                select.append("<option value=''>--Chọn tổ dân phố--</option>");
                jQuery.each(Data, function (id, itemData) {
                    select.append("<option value='" + itemData.Value + "'>" + itemData.Text + "</option>");
                });
            });
        }

        function ListDanhSachLop() {
            debugger;
            var HoTen = $("#hoten").val();
            var NamSinh = $("#namsinh").val();
            var MaDoiTuong = $("#MaChinhSach").val();
            var KhuyetTat = "0";
            if ($("#khuyettat").prop('checked'))
            {
                KhuyetTat = "1";
            }
            var MaQuanHuyen = $("#MaHuyen").val();
            var MaXaPhuong = $("#selectXaPhuong").val();
            var MaToDanPho = $("#selectToDP").val();
            debugger;
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("ListDanhSachHocSinh", "hocsinh")',
                data: { HoTen: HoTen, NamSinh: NamSinh, MaDoiTuong: MaDoiTuong, KhuyetTat: KhuyetTat, MaQuanHuyen: MaQuanHuyen, MaXaPhuong: MaXaPhuong, MaToDanPho: MaToDanPho },
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $("#containerReport").empty();
                    $("#containerReport").html(data);
                    $('#loading').css("display", "none");
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Hết phiên làm việc, đề nghị đăng nhập trở lại.')
                }

            });
        }


    </script>
</head>
@RenderPage("~/Views/Shared/_MainMenu.cshtml");
<div id="loading" style="position:absolute;padding-top: 220px;width: 100%;text-align: center; display:none" class="fa fa-refresh fa-spinner"><img src="../../Images/loading.gif" /></div>
<div style="margin-top: 20px; width: 100% !important">
    
    <table style="border: 0px; background: #fff; width: 100%">

        <tr>
            <td style="border: 0px; text-align: left;padding-top:10px">
                <div class="form-group" style="margin-top:5px">
                    <label for="name" style="width:90px"><span class="glyphicon"></span>Họ Tên:</label>
                    <input class="form-control" style="width: 170px; display: inline" type="text" value="" placeholder="Họ Tên" name="hoten" id="hoten" />
                    <label for="name" style="width:90px"><span class="glyphicon"></span>Năm sinh:</label>
                    <input class="form-control" style="width: 150px; display: inline" type="text" value="" placeholder="Năm sinh" name="namsinh" id="namsinh" />
                    <label for="name" style="width:90px"><span class="glyphicon"></span>Đối tượng:</label>
                    @*@Html.DropDownList("MaChinhSach", ViewBag.ChinhSach as SelectList, new { @style = "height: 34px; width:170px;display: initial;", @class = "form-control" })*@
                    <select class="form-control" style="width:150px;display: inline;" name="MaChinhSach" id="MaChinhSach">
                        <option value="">--Chọn đối tượng--</option>
                    </select>
                    <label for="name" style="width:90px"><span class="glyphicon"></span>Khuyết tật:</label>
                    <input class="checkbox" style="display: inline; " type="checkbox" name="khuyettat" id="khuyettat" />
                    
                </div>
                <div>
                    <label for="name" style="width:90px"><span class="glyphicon"></span>Quận/Huyện:</label>
                    @Html.DropDownList("MaHuyen", ViewBag.QuanHuyen as SelectList, new { @style = "height: 34px; width:170px;display: initial;", @class = "form-control" })
                    <label for="name" style="width:90px"><span class="glyphicon"></span>Xã/Phường:</label>
                    <select class="form-control" style="width:150px;display: inline;" name="selectXaPhuong" id="selectXaPhuong">
                        <option value="">--Chọn xã/phường--</option>
                    </select>
                    <label for="name" style="width:90px"><span class="glyphicon"></span>Tổ dân phố:</label>
                    <select class="form-control" style="width:170px;display: inline;" name="selectToDP" id="selectToDP">
                        <option value="">--Chọn tổ dân phố--</option>
                    </select>
                    <p style="display:inline">
                        <button type="button" class="btn btn-info" id="btnSearch">
                            <span class="glyphicon"></span> Tìm kiếm
                        </button>
                    </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
    <div id="containerReport" style="width:100%; padding-top: 40px; padding: 0 3px">

    </div>
    @*<div id="ThongKeChatLuong">
        <div id="TKChatLuongHocTap">

        </div>
        <div id="TKChatLuongNangLuc">

        </div>
        <div id="TKChatLuongPhamChat">

        </div>
        <div id="TKChatLuongKhac">

        </div>
    </div>*@
    
    <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idTruong" />
    
</div>
