﻿@model VnEduPlus.Models.VIEWALSTUDENTINFOMATION      
 <style>
    /* Example Styles for Demo */
    .etabs { margin: 0; padding: 0; }
    .tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #ccc; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
    .tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
    .tab a:hover { text-decoration: underline; }
    .tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #ccc; }
    .tab a.active { font-weight: bold; }
    .delete {display:center;}
    .tab-container .panel-container { background: #fff; border: solid #ccc 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
    .panel-container { }
   
  </style>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validationEngine-vi.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hashchange.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Addons/file-upload/jquery.fileupload.js")"></script>
<script src="@Url.Content("~/Addons/file-upload/jquery.fileupload-ui.js")"></script>
<script src="@Url.Content("~/Addons/file-upload/jquery.iframe-transport.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tab-container').easytabs();
    });
</script>
<script type="text/javascript">
    var jqXHRData;
    $(document).ready(function () {
        
        // xử lý thay đổi text arear sẽ check box
        var noiDungs = [];
            
        //-------------------------------------------------------------------------------------
        $('.table-bordered textarea').on('change', function() {
        var id = this;
        var noiDung = {};
        noiDung.id = $(this).attr('id');
        noiDung.value = $(this).val();
        noiDungs.push(noiDung);
        debugger;
        
         
        });


        // khi người dùng kcihs vào nút lưu sẽ lưu toàn bộ nội dung xuống database 
        $('#luukhenthuong').click(function(){
        var idTruong = $('#idtruong').val(),
            maHs =$('#mhs').val(),
            maLop =$('#malop').val(),
            ndnx = noiDungs; 
            var hocSinhNhanXet = {};
                hocSinhNhanXet.idTruong = idTruong;
                hocSinhNhanXet.maLop = maLop;
                hocSinhNhanXet.maHs = maHs;
                hocSinhNhanXet.noiDungNhanXets= ndnx;

            debugger;
             
                   $.ajax({
                    cache: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: '@Url.Action("LuuNhanXetGiaoVienChuNhiem", "GiaoVienChuNhiemVaLopHoc")',
                     data: JSON.stringify(hocSinhNhanXet),
                    success: function (data) {
                        debugger;
                        if (data == "OK") {
                            alert("Cập nhật nội dung nhận xét thành công!"); 
                        } else {
                            alert("Cập nhật nội dung nhận xét không thành công!");
                        }
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }


                });


        
        });

        //------------------------------------------------------------------------------------
        debugger;
        if(@ViewBag.khuyettatcheckbox == 1) {
           $('#hocSinh_KhuyetTat').prop('checked', true);
        } else {
            $('#hocSinh_KhuyetTat').prop('checked', false);
        }

        if(@ViewBag.coHoSoKhuyetTatcb == 1) {
           $('#coHoSoKhuyetTat').prop('checked', true);
        } else {
            $('#coHoSoKhuyetTat').prop('checked', false);
        }

        
//        initFileUploadWithCheckingSize();
        if ("@ViewBag.inline" == "False") {
            $('#btnEdit').hide();
            $('#btnCancel').val("Đóng");
        }
                
        $("#hocSinh_NoiO_MaTinh").change(function () {
            var select = $("#hocSinh_NoiO_MaHuyen");
            select.empty();
            $.getJSON('@Url.Action("LoadQuanHuyen", "hocsinh")', { idTinh: document.getElementById("hocSinh_NoiO_MaTinh").value },
                function (data) {

                    select.append($('<option/>', {
                        value: "",
                        text: "Chọn quận/huyện"
                    }));
                    $.each(data, function (Mainview, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        });

        $("#hocSinh_NoiO_MaHuyen").change(function () {
            var select = $("#hocSinh_NoiO_MaXa");
            select.empty();
            $.getJSON('@Url.Action("LoadXaPhuong", "hocsinh")', { idHuyen: document.getElementById("hocSinh_NoiO_MaHuyen").value },
                function (data) {

                    select.append($('<option/>', {
                        value: "",
                        text: "Chọn xã/phường"
                    }));
                    $.each(data, function (Mainview, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        });

        $("#hocSinh_NoiO_MaXa").change(function () {
            var select = $("#hocSinh_NoiO_MaKP");
            select.empty();
            $.getJSON('@Url.Action("LoadKhoiPho", "hocsinh")', { idXa: document.getElementById("hocSinh_NoiO_MaXa").value },
                function (data) {

                    select.append($('<option/>', {
                        value: "",
                        text: "Chọn khối phố"
                    }));
                    $.each(data, function (Mainview, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        });


        $(".date").datepicker(
        {
            dateFormat:"dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: '1980:2500'
        });

        $("#btnEdit").click(function () {
            $('#form').find('input, textarea, select').removeAttr('disabled');
            $('#btnSave').removeAttr('disabled');
            $('#btnCancel').removeAttr('disabled');
            $('#btnAdd').attr('disabled', 'disabled');
            $('#btnEdit').attr('disabled', 'disabled');
            $('#btnDelete').attr('disabled', 'disabled');
            $("#form").validationEngine('attach');

        });

        $('#makhuyettat').change(function() {
          var value = this.value;
          debugger;
          if (this.value!= null && this.value.trim().length > 0) {
             $('.khuyettat').show();
             $('#hocSinh_KhuyetTat').prop('checked',true);
          } else {
             $('.khuyettat').hide();
             $('#hocSinh_KhuyetTat').prop('checked',false);
          }

        });

        $("#btnAdd").click(function () {
            var mlop = document.getElementById("malop").value;
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("Addhocsinh", "hocsinh")',
                data: { malop: mlop },
                success: function (data) {

                    $("#viewdata").html(data);
                    $('#form').find('input, textarea, select').removeAttr('disabled');
                    $('#btnSave').removeAttr('disabled');
                    $('#btnCancel').removeAttr('disabled');
                    $('#btnAdd').attr('disabled', 'disabled');
                    $('#btnEdit').attr('disabled', 'disabled');
                    $('#btnDelete').attr('disabled', 'disabled');
                    $("#form").validationEngine('attach');

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            });

        });


        $("#btnCancel").click(function () {
         if ("@ViewBag.inline" == "False") {
               //close window
              window.close();
         }
         else {
            $('#form').find('input, textarea,  select').attr('disabled', 'disabled');
            $('#btnSave').attr('disabled', 'disabled');
            $('#btnCancel').attr('disabled', 'disabled');
            // $('#btnAdd').removeAttr('disabled');
            $('#btnEdit').removeAttr('disabled');
            //  $('#btnDelete').removeAttr('disabled');
        }
        });

       /* $("#btnDelete").click(function () {
            var r = confirm("Bạn có muốn xóa dữ liệu này không?")
            if (r == true) {
                //  alert("You pressed OK")
                var mlop = document.getElementById("malop").value;
                var mahocsinh = $("#MaHocSinh").val();
                var idtruong = document.getElementById("idtruong").value;
                $.ajax({
                    url: '@Url.Action("Delete", "hocsinh")',
                    data: { mahs: mahocsinh, malop: mlop, idTruong: idtruong },
                    type: 'POST',
                    success: function (data) {
                        if (data = "success") {
                            alert('Bạn đã xóa thành công dữ liệu');
                            //refresh lai danh sach hoc sinh
                            loadDSHocSinh();

                        }
                        else
                            alert('Xóa dữ liệu bị lỗi. Xin vui lòng thử lại');
                    }
                });

            }
            else {
                //alert("You pressed Cancel!")
            }
        });
        */

        
        $("#allcheck").click(function(){
        if($('#allcheck').attr('checked')) {// neu nut nay duoc check thi se check toan bo cac nut khac
        
        $("#formqt").find('input[type="checkbox"]').attr('checked','checked');
         
        }
        else{
         $("#formqt").find('input[type="checkbox"]').attr('checked',false);
        
        }
        
        });
       
        $('#btnUpload').click(function () {
            $('#fu-my-auto-upload').click();
        });


//        $('#fu-my-auto-upload').change(function () {
//            
//            $('#divImageHocSinh').html('');
//            $('#divImageHocSinh').html('<img alt="Hình ảnh học sinh" width="120" height="160" id="imgHocSinh" src="'+$('#fu-my-auto-upload').val()+'" />');
//        });

        $(".delete").click(function(){
        
         var username=document.getElementById("username").value;
         var node = this.id;
         $("#formqt").find('input[type="checkbox"]').each(function(){
            if ($(this).prop('checked')==true){ 
              var r = confirm("Bạn có muốn xóa dữ liệu này không?")
              if (r == true) {
              
                var values=$(this).val();                    
                var idquatrinh = values.split("_")[0];
                var maquatrinh = values.split("_")[1];
                var gccn = "GCCN";
               
                if (maquatrinh && maquatrinh.toString().trim() === 'GCCN'.toString() && idquatrinh.toString().trim() == node.toString()) {
                        $.ajax({
                        url: '@Url.Action("DeleteQT", "hocsinh")',
                        data: {idquatrinh: idquatrinh,Username:username },
                        type: 'POST',
                        success: function (data) {  
                                
                            if (data.success == "Valid") {
                                alert('Bạn đã xóa thành công dữ liệu');
                                reloadata();
                            }
                        
                            if (data.error == "Invalid") {
                                    alert('Xóa dữ liệu bị lỗi. không thể xóa quá trình của học sinh khi không thuộc thẩm quyền của bạn');
                                }
                        
                        
                        }// end sucess
                       ,
                    
                        error: function (data) {
                           
                                 alert('Xóa dữ liệu bị lỗi. không thể xóa quá trình của học sinh khi không thuộc thẩm quyền của bạn');
                            }//end erros
                         
                    });// end $.ajax
                
                }   

                }//end if r=true;

            }// end if checked=true
            });// end function each
        
        });// end function

         initAutoFileUpload();

        $("#btnSave").click(function () {
        debugger;
            if (jqXHRData) {
                    var isStartUpload = true;
                    var uploadFile = jqXHRData.files[0];

                    if (!(/\.(gif|jpg|jpeg|tiff|png)$/i).test(uploadFile.name)) {
                        //alert('Bạn phải chọn một tập tin hình ảnh!');
                        isStartUpload = true;
                    } else if (uploadFile.size > 2000000) { // 2mb
                        //alert('Làm ơn tải tập tin có kích thước nhỏ, tối đa là 2Mb!');
                        isStartUpload = true;
                    }
                    if (isStartUpload) {
                        jqXHRData.submit();
                    }
                }
                else
                {
                    SaveHocSinh();
                }
                return false;
        });
    });

    function readURL(input) {
            //alert(input);
            debugger;
            var filename=input.value;
            var fileSpit=input.value.split('.');
            var extentionfile=fileSpit[1];
            if(extentionfile.toLowerCase()=='jpg' || extentionfile.toLowerCase()=='jpeg')
            {
                if (input.files && input.files[0]) {
                    var fileSize = Math.round(input.files[0].size/1024);
                    if(fileSize<=100)
                    {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            //document.getElementById("<%=Image2.ClientID%>").src = e.target.result;
                            //$('#divImageHocSinh').html('<img alt="Hình ảnh học sinh" width="120" height="150" id="imgHocSinh" src="'+e.target.result+'" 
                            var img=document.getElementById('imgHocSinh');
//                            
                            img.src=e.target.result;
                            if(img.naturalHeight>150 || img.naturalWidth>150)
                            {
                                img.src="";
                                alert('Yêu cầu tải file có kích cở nhỏ hơn hoặc bằng 150px x 150px');
                                return false;
                            }

                        };
                        reader.readAsDataURL(input.files[0]);
                        return false;
                    }
                    else{
                        alert('Yêu cầu tải file có kích thước nhỏ! Kích thước tối đa 100kb');
                        return false;
                    }
                }
            }
            else{
                alert('Bạn phải chọn một tập tin hình ảnh có định dạng là jpg hoặc jpeg!');
                return false;
            }
        }

    function SaveHocSinh() { 
    debugger;
        var isvalid = jQuery("#form").validationEngine('validate', { autoHidePrompt: true });
                if (!isvalid)
                    return;
                var test=$('#MaDanToc').val();           

                $.ajax({
                    url: '@Url.Action("Save", "hocsinh")',
                    data: $('#form').serialize(),
                    type: 'POST',
                    success: function (data) {
                        if (data = "success") {
                            alert('Bạn đã cập nhập thành công dữ liệu');

                            $('#form').find('input, textarea,  select').attr('disabled', 'disabled');
                            $('#btnSave').attr('disabled', 'disabled');
                            $('#btnCancel').attr('disabled', 'disabled');
                            //  $('#btnAdd').removeAttr('disabled');
                            $('#btnEdit').removeAttr('disabled');
                            //  $('#btnDelete').removeAttr('disabled');

                            if ("@ViewBag.inline" == "False") {
                                //refresh form cha
                           
                                 try {window.opener.document.forms['@(ViewBag.formId)'].@(ViewBag.btnId).click();}
                                  catch (e){} 
                           
                                //close window
                                window.close();
                            }
                            else {
                                //refresh lai danh sach hoc sinh
                                loadDSHocSinh($("#MaHocSinh").val());
                            }

                        }
                        else
                            alert('Cập nhập dữ liệu bị lỗi. Xin vui lòng thử lại');
                    }

                });

    }
        
    function initAutoFileUpload() {
            'use strict';
                //alert($('#imgHocSinh').attr("src"));
            var folder = document.getElementById("malop").value;
            var filename=document.getElementById("mhs").value;
            var truong=document.getElementById("tentruong").value;
            if(truong=='')truong=document.getElementById("idtruong").value;
            $('#fu-my-auto-upload').fileupload({
                url: '/File/UploadFile?folder='+folder+'&filename='+filename+'&truong='+truong,
                dataType: 'json',
                add: function (e, data) {
                    jqXHRData = data;

                },
                done: function (event, data) {
                    if (data.result.isUploaded) {

                    }
                    else {

                    }

                    $('#urlimage').val(data.result.message);
                    $('#hocSinh_Anh').val(data.result.message);

                    SaveHocSinh();
                },
                fail: function (event, data) {
                    if (data.files[0].error) {
                        alert(data.files[0].error);
                    }
                }
//                autoUpload: true,
//                url: '/File/UploadFile?folder='+folder+'&filename='+filename+'&truong='+truong,
//                dataType: 'json',
//                cache: false,
//                add: function (e, data) {
//                    jqXHRData=data;
//                    
//                    var jqXHR = data.submit()
//                        .success(function (data, textStatus, jqXHR) {
//                            if (data.isUploaded) {
//                                
//                            }
//                            else {

//                            }
//                            $('#urlimage').val(data.message);
//                            $('#hocSinh_Anh').val(data.message);
//                        })
//                        .error(function (data, textStatus, errorThrown) {
//                            if (typeof (data) != 'undefined' || typeof (textStatus) != 'undefined' || typeof (errorThrown) != 'undefined') {
//                                alert(textStatus + errorThrown + data);
//                            }
//                        });
//                },
//                fail: function (event, data) {
//                    if (data.files[0].error) {
//                        alert(data.files[0].error);
//                    }
//                }
            });
        }

        function checkImage()
        {
            if (jqXHRData) {
                var isStartUpload = true;
                var uploadFile = jqXHRData.files[0];

                if (!(/\.(gif|jpg|jpeg|tiff|png)$/i).test(uploadFile.name)) {
                    $('#imgHocSinh').attr("src","");
                    alert('Bạn phải chọn file hình ảnh');
                    isStartUpload = false;
                } else if (uploadFile.size > 2000000) { 
                    $('#imgHocSinh').attr("src","");
                    alert('Yêu cầu tải file có dung lượng nhỏ, tối đa 2MB');
                    isStartUpload = false;
                }
                if (isStartUpload) {
                    return true;
                }
                else{
                    return false;
                }
            }
            else
                return false;   
        }

    function reloadata() {
   
        var mlop = document.getElementById("malop").value;
        var mkhoi = document.getElementById("makhoi").value;
        var mahs=document.getElementById("mhs").value;
         
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("reloadata", "hocsinh")',
            data: { mahs: mahs, malop: mlop,makhoi:mkhoi,inline: true},
            success: function (data) {               
                $("#viewdata").html(data);           
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve specification options.')
            }
        });
    }
</script>


<div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#tabs1-html">Thông tin học sinh</a></li>
            <li class='tab'><a href="#tabs1-js">Quá trình học tập</a></li>
            <li class='tab'><a href="#nhanxetcanam">Nhận xét học sinh (Cả năm học)</a></li>
        </ul>
 <div class='panel-container'>
            <div id="tabs1-html" > 
                    <fieldset>
                        <legend>Vui lòng chọn học sinh bên cột trái để xem và thay đổi</legend>

 <form id="form" method="post" action="Viewhocsinh">
  <table style="width: 100%; border: 0">
    <tr>
        <td style="border: 0" valign="top>
            <table border="0" style="width: 100%;">
                <tr>
                    <td style="border: 0">
                        <strong>Th&ocirc;ng tin chung</strong>
                    </td>
                </tr>
                <tr >
                    <td style="border: 0">
                        <table width="100%" border="0">
                            <tr >
                                <td style="width: 90px;border: 0;" valign="middle" align="center">
                                    <table width="45%" border="0">
                                        <tr>
                                            <td style="height: 113px;">
                                               @*<img width="90" height="120" id="imgHocSinh" src= "@Url.Content(Model.imagePath == null ? "~/Images/anh.jpg" : Model.imagePath)" alt="Image" />*@
                                               <div id="divImageHocSinh"><img alt="Hình ảnh học sinh" width="150" height="180" id="imgHocSinh" src="@Model.hocSinh.Anh" /></div>
                                                <div style="display:none;">@Html.TextBoxFor(m => m.MyFile, new { id = "fu-my-auto-upload", onchange = "readURL(this);", type = "file" })</div>
                                                <input type="hidden" id="urlimage" value="" />
                                                @Html.HiddenFor(model => model.hocSinh.Anh, new { @class = "vienhop" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0; text-align: center;  cursor:pointer">
                                                <div id="btnUpload">Hình ảnh</div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="32%" valign="top" style="border: 0;">
                                    <table width="100%" style="border: 0;">
                                        <tr>
                                            <td width="25%" style="border: 0;">
                                                STT: <span style="color: red;">*</span>
                                            </td>
                                            <td width="75%" style="border: 0">@Html.TextBoxFor(model => model.hocSinh.STT, new { @class = "validate[required] text-input vienhop" })
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Mã HS: <span style="color: red;">*</span>
                                            </td>
                                            <td style="border: 0;">
                                                @Html.TextBoxFor(model => model.hocSinh.MaHocSinh, new { @class = "validate[required] text-input vienhop", @readonly = "true" })
                                                
                                                @Html.HiddenFor(model => model.hocSinh.idTruong)
                                                @Html.HiddenFor(model => model.hocSinh.MaLop)
                                                @Html.HiddenFor(model => model.hocSinh.NamHoc)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                T&ecirc;n HS: <span style="color: red;">*</span>
                                            </td>
                                            <td style="border: 0;">@Html.TextBoxFor(model => model.hocSinh.HoTen, new { @class = "validate[required] text-input vienhop" })
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Ng&agrave;y sinh:
                                            </td>
                                            <td style="border: 0;">@Html.TextBox("hocSinh.NgaySinh", Model.hocSinh.NgaySinh.HasValue ? Model.hocSinh.NgaySinh.Value.ToString("dd/MM/yyyy") : "", new { @class = "date vienhop", @maxlength = 10 })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Gi&#7899;i t&iacute;nh
                                            </td>
                                            <td style="border: 0;">@Html.CheckBoxFor(model => model.hocSinh.GioiTinh) Nam
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                &#272;i&#7879;n tho&#7841;i
                                            </td>
                                            <td style="border: 0;">@Html.TextBoxFor(model => model.hocSinh.DienThoai, new { @class = "vienhop" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Email:
                                            </td>
                                            <td style="border: 0;">@Html.TextBoxFor(model => model.hocSinh.Email, new { @class = "vienhop" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Con li&#7879;t s&#297;
                                            </td>
                                            <td style="border: 0;">@Html.CheckBoxFor(model => model.hocSinh.ConLietSi)
                                                (Ch&#7885;n n&#7871;u l&agrave; li&#7879;t s&#297;)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                C&oacute; c&ocirc;ng CM
                                            </td>
                                            <td style="border: 0;">@Html.CheckBoxFor(model => model.hocSinh.CoCongCM)
                                                (Ch&#7885;n n&#7871;u c&oacute; c&ocirc;ng)
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="48%" align="right" valign="top" style="border: 0;">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td width="35%" style="border: 0; padding-left: 15px;">
                                                D&acirc;n t&#7897;c:
                                            </td>
                                            <td width="65%" style="border: 0;"> 
                                          @Html.DropDownListFor(model => model.hocSinh.MaDanToc, (SelectList)ViewBag.MaDanToc, "Chọn dân tộc")    
                                          
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0; padding-left: 15px;">
                                                T&ocirc;n gi&aacute;o:
                                            </td>
                                            <td style="border: 0;">
                                               
                                                 @Html.DropDownListFor(model => model.hocSinh.MaTonGiao, (SelectList)ViewBag.MaTonGiao, "Chọn tôn giáo")    
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0; padding-left: 15px;">
                                                &#272;&#7889;i t&#432;&#7907;ng:
                                            </td>
                                            <td style="border: 0;">
                                                
                                                 @Html.DropDownListFor(model => model.hocSinh.MaChinhSach, (SelectList)ViewBag.MaChinhSach, "Chọn đối tượng chính sách")  

                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0; padding-left: 15px;">
                                                &#272;o&agrave;n &#273;&#7897;i:
                                            </td>
                                            <td style="border: 0;">
                                                 
                                                @Html.DropDownListFor(model => model.hocSinh.MaDoanDoi, (SelectList)ViewBag.MaDoanDoi, "Chọn đoàn đội")  
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0; padding-left: 15px;">
                                                Địa chỉ
                                            </td>
                                            <td style="border: 0;">
                                                @Html.TextBoxFor(model => model.hocSinh.Diachilienlac, new { @class = "vienhop" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="border: 0; padding-left: 15px;">
                                                N&#417;i sinh
                                            </td>
                                            <td style="border: 0;">
                                                @Html.TextBoxFor(model => model.hocSinh.NoiSinh, new { @class = "vienhop" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0; padding-left: 15px;">
                                                N&#417;i &#7903;
                                            </td>
                                            <td style="border: 0; padding-top: 10px">
                                                <fieldset style="margin: 0px; padding: 0px;">
                                                    <table>
                                                        <tr>
                                                       
                                                            <td style="border: 0;"> 
                                                                 @Html.DropDownListFor(model => model.hocSinh.NoiO_MaTinh, (SelectList)ViewBag.NoiO_MaTinh, "Chọn tỉnh/thành")  
                                                            </td>
															     <td style="border: 0;">
                                                                       &nbsp;&nbsp;&nbsp; T&#7881;nh th&agrave;nh
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                     
                                                            <td style="border: 0;">
                                                                
                                                                @Html.DropDownListFor(model => model.hocSinh.NoiO_MaHuyen, (SelectList)ViewBag.NoiO_MaHuyen, "Chọn quận/ huyện")  
                                                            </td>
															       <td style="border: 0;">
                                                                      &nbsp;&nbsp;&nbsp; Qu&#7853;n huy&#7879;n
                                                            </td>
                                                        </tr>
                                        </tr>
                                        <tr>
                                
                                            <td style="border: 0;">
                                               
                                                 @Html.DropDownListFor(model => model.hocSinh.NoiO_MaXa, (SelectList)ViewBag.NoiO_MaXa, "Chọn phường/xã")  
                                            </td>
											            <td style="border: 0;">
                                                      &nbsp;&nbsp;&nbsp; Ph&#432;&#7901;ng x&atilde;
                                            </td>
                                        </tr>
                                        <tr>
                           
                                            <td style="border: 0;">
                                                
                                                  @Html.DropDownListFor(model => model.hocSinh.NoiO_MaKP, (SelectList)ViewBag.NoiO_MaKP, "Chọn khối phố")  
                                            </td>
											
											                 <td style="border: 0;">
                                                       &nbsp;&nbsp;&nbsp; Tổ dân phố
                                            </td>
                                        </tr>
                                    </table>
                                    </fieldset>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <hr/>

    <tr>
        <td style="border: 0">
            <strong>Thông tin khuyết tật </strong>
        </td>
    </tr>

    <tr>
        <td style="border: 0">
            <table>
             <tr>
                <td colspan="2">
                     <div class="khuyettat" @{if (Model.makhuyettat != null && Model.makhuyettat.Trim().Length > 0)
                                              { <text>style="display:none"</text>}}>
                        <div style="float:left">Khuyết tật:</div>
                        <div>&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(model => model.hocSinh.KhuyetTat)</div>
                     </div>
                 </td>
              </tr>
             
             <tr><td>Loại Khuyết tật:</td><td>@Html.DropDownListFor(model => model.makhuyettat, (SelectList)ViewBag.KhuyetTat, "Chọn loại khuyết tật")  </td></tr>
             <tr><td>Có hồ sơ:</td><td>@Html.CheckBoxFor(model => model.coHoSoKhuyetTat)</td></tr>
            </table>
        </td>
    </tr>

    <tr>
        <td style="border: 0">
            <strong>Th&ocirc;ng tin gia &#273;&igrave;nh </strong>
        </td>
    </tr>
    <tr>
        <td style="border: 0">
            <table width="100%" border="0">
                <tr>
                    <td width="49%" style="border: 0">
                        <table width="100%"  style="border: 0">
                            <tr>
                                <td style="border: 0">
                                    H&#7885; t&ecirc;n cha
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.HoTenCha, new { @class = "vienhop" })
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0">
                                    Ngh&#7873; nghi&#7879;p
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.NgheCha, new { @class = "vienhop" })
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0">
                                    H&#7885; t&ecirc;n m&#7865;
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.HoTenMe, new { @class = "vienhop" })
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0">
                                    Ngh&#7873; nghi&#7879;p
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.NgheMe, new { @class = "vienhop" })
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="51%" valign="top" style="border: 0">
                        <table width="100%"  style="border: 0">
 							<tr>
                                <td style="border: 0; padding-left: 15px;">
                                    H&#7885; t&ecirc;n NDD
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.HoTenNDD, new { @class = "vienhop" })
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0; padding-left: 15px;">
                                    Ngh&#7873; nghi&#7879;p
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.NgheNDD, new { @class = "vienhop" })
                                </td>
                            </tr>

                            <tr>
                                <td style="border: 0; padding-left: 15px;">
                                    M&#7899;i chuy&#7875;n v&#7873;:
                                </td>
                                <td style="border: 0">@Html.CheckBoxFor(model => model.hocSinh.Moichuyenve)
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0; padding-left: 15px;">
                                    Ng&agrave;y chuy&#7875;n:
                                </td>
                                <td style="border: 0">@Html.TextBox("hocSinh.Ngaychuyen", Model.hocSinh.Ngaychuyen.HasValue ? Model.hocSinh.Ngaychuyen.Value.ToString("dd/MM/yyyy") : "", new { @class = "date vienhop", @maxlength = 10 })
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0; padding-left: 15px;">
                                    T&#7915; tr&#432;&#7901;ng
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.TuTruong, new { @class = "vienhop" })
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <input type="button" id="btnEdit" value="Sửa" />
            <input type="button" id="btnSave" value="Lưu" />
            <input type="button" id="btnCancel" value="Bỏ qua" /> 
        </td>
    </tr>
    
</table>
</form>
     
  </fieldset> 
</div>


  <div id="tabs1-js">
  <fieldset>
     <legend>Thông tin quá trình học sinh:</legend>
 <input type="hidden" id="mhs" value="@ViewBag.mahocsinh" />
<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
<input type="hidden" id="tentruong" name="tentruong" value="@ViewBag.tentruong" />
<input type="hidden" id="username" value="@ViewBag.username" />

<form id="formqt" style="background-color: #fff;">
<table width="100%" border="0">
<tr><td id="viewdataqt"> 
<table width="100%">
  <tr>
    <td width="5%"  style="border: 1px solid #ccc; padding: 5px;"><input type="checkbox" id="allcheck" /></td>
    <td width="7%" style="border: 1px solid #ccc; padding: 5px;"><strong>Qu&aacute; tr&igrave;nh </strong></td>
    <td width="45%" style="border: 1px solid #ccc; padding: 5px;"><strong>N&#7897;i dung </strong></td>
    <td width="7%" style="border: 1px solid #ccc; padding: 5px;"><strong>T.g s&#7921; ki&#7879;n </strong></td>
    <td width="20%" style="border: 1px solid #ccc; padding: 5px;"><strong>Ng&#432;&#7901;i t&#7841;o </strong></td>
    <td width="9%" style="border: 1px solid #ccc; padding: 5px;"><strong>Ng&agrave;y t&#7841;o </strong></td>
    <td width="7%" style="border: 1px solid #ccc; padding: 5px;"><strong>Xóa </strong></td>
  </tr>
  @for (int i = 0; i < Model.list_QTHT.Count; i++)
  {

      string values = Model.list_QTHT[i].IDQuaTrinh + "_" + Model.list_QTHT[i].MaQuaTrinh;
  <tr id="idmqt">
  <input type="hidden" id="test" value="@Model.list_QTHT[i].IDQuaTrinh" />
    <td style="border: 1px solid #ccc; padding: 5px;" align="center"><input type="checkbox" id="@Model.list_QTHT[i].IDQuaTrinh" value="@values"  /></td>
    <td style="border: 1px solid #ccc; padding: 5px;" width="7%" align="center"> @Model.list_QTHT[i].MaQuaTrinh</td>
    <td style="border: 1px solid #ccc; padding: 5px;" width="45%" align="left">
    
  
   @{if (Model.list_QTHT[i].MaQuaTrinh != null && Model.list_QTHT[i].MaQuaTrinh.Equals("GCCN"))
     { 
           <a href="@Url.Action("SuaQuaTrinh", "hocsinh")"
        onclick="window.open('@Url.Action("SuaQuaTrinh", "hocsinh")?idquatrinh=@Model.list_QTHT[i].IDQuaTrinh&makhoi=@ViewBag.makhoi&malop=@ViewBag.malop&mahocsinh=@ViewBag.mahocsinh&formid=@ViewBag.formId&btnRefresh=@ViewBag.btnId','popup','width=950,height=750,scrollbars=yes,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=100,top=250'); return false">
       
            @Model.list_QTHT[i].Noidung</a>
     
     }
     else
     { 
      @Model.list_QTHT[i].Noidung
     
     }
     
     }         
   
    </td>
    <td width="7%" style="border: 1px solid #ccc; padding: 5px;" align="center" > 
    
     @if (@Model.list_QTHT[i].Thoigiansukien != null)
     { @Model.list_QTHT[i].Thoigiansukien.ToString("dd/MM/yyyy")}
    
    </td>
    <td style="border: 1px solid #ccc; padding: 5px;" width="27%" align="center">@Model.list_QTHT[i].tenuser</td>
    <td style="border: 1px solid #ccc; padding: 5px;" width="9%" align="center"> 
    
     @if (@Model.list_QTHT[i].DateCreated != null)
     { @Model.list_QTHT[i].DateCreated.ToString("dd/MM/yyyy")}
    </td>
    <td style="border: 1px solid #ccc; padding: 5px;" align="center">
     @{if (Model.list_QTHT[i].MaQuaTrinh != null && Model.list_QTHT[i].MaQuaTrinh.ToString().Trim().Equals("GCCN"))
       { 
        <input type="button" id="@Model.list_QTHT[i].IDQuaTrinh"  class="delete" value="Xóa" />}
      } </td>
  </tr>
  }    
    <input type="button" id="btnRefresh" name="btnRefresh" onclick="reloadata()" style="display:none;visibility:hidden" />
    <tr>
       
        <td style=" style="border: 1px solid #ccc; padding: 5px;" colspan="3">
        <a href="@Url.Action("Themmoiquatrinh", "hocsinh")"
        onclick="window.open('@Url.Action("Themmoiquatrinh", "hocsinh")?makhoi=@ViewBag.makhoi&malop=@ViewBag.malop&mahocsinh=@ViewBag.mahocsinh&formid=@ViewBag.formId&btnRefresh=@ViewBag.btnId','popup','width=950,height=250,scrollbars=yes,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=100,top=250'); return false">
       
            <input type="button" id="themmoi" value="Thêm mới quá trình" /> </a>
        </td>
        <td align=left>
         <!--  <input type="button" id="btnDelete" value="Xóa" /> -->
        <td colspan="4"></td> 
    </tr>
</table> 
 
</td></tr>
</table>
</form>
 </fieldset>

 </div>

 <!---khu vuc nhan xet ca nam cua giao vien chu nhiem gianh cho tung học sinh  -->


 <div id="nhanxetcanam">
    <fieldset>
         <table class="table table-bordered">
    <thead><th colspan="5"><input type="button" value="Lưu" id="luukhenthuong" style="float: right" /></th></thead>
    <thead>
      <tr>
        <th style="width: 4%; border: 1px solid #ccc; padding: 5px;">Tháng</th>         
        <th style="width: 30%; text-align: left; border: 1px solid #ccc; padding: 5px;">NX Kiến thức</th>
        <th style="width: 30%; text-align: left; border: 1px solid #ccc; padding: 5px;">NX Năng lực</th>
        <th style="width: 32%; text-align: left; border: 1px solid #ccc; padding: 5px;">NX Phẩm chất</th>
      </tr>
    </thead>
    <tbody>
     @{
         

             VnEduPlus.Models.GIAOVIENCHUNHIEMNHANXETHOCSINH giaoVienNhanXet = Model.giaoVienChuNhiemNhanXetHocSinh; 
            
                 <tr>
                    <td align="center" style="border: 1px solid #ccc; padding: 5px;">8</td> 
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="kt8" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang8.kienThuc : "")"
                         class="contentNhanXet KienThuc" rows="2" style="border-width:0;">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang8.kienThuc : "")</textarea>
                    </td>
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="pc8" 
                        title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang8.phamChat: "")" class="contentNhanXet KienThuc" rows="2"
                         style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang8.phamChat : "")</textarea>
                    </td>
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="nl8" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang8.nangLuc : "")"
                         class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang8.nangLuc : "")</textarea>
                    </td> 
                </tr>
            
                 <tr>
                    <td align="center" style="border: 1px solid #ccc; padding: 5px;">9</td>
                     
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="kt9" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang9.kienThuc : "")" 
                        class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang9.kienThuc : "")</textarea>
                    </td>
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="pc9" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang9.phamChat : "")"
                         class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang9.phamChat : "")</textarea>
                    </td>
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="nl9" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang9.nangLuc : "")" 
                        class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang9.nangLuc : "")</textarea>
                    </td> 
                </tr>
             
                <tr>
                    <td align="center" style="border: 1px solid #ccc; padding: 5px;">10</td>
                    
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="kt10" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang10.kienThuc : "")" 
                        class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang10.kienThuc : "")</textarea>
                    </td>
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="pc10" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang10.phamChat : "")" 
                        class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang10.phamChat : "")</textarea>
                    </td>
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="nl10" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang10.nangLuc : "")" 
                        class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang10.nangLuc : "")</textarea>
                    </td> 
                </tr>
             
             <tr>
                    <td align="center" style="border: 1px solid #ccc; padding: 5px;">11</td>
                    
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="kt11" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang11.kienThuc : "")" 
                        class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang11.kienThuc : "")</textarea>
                    </td>
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="pc11" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang11.phamChat : "")" 
                        class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang11.phamChat : "")</textarea>
                    </td>
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="nl11" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang11.nangLuc : "")" 
                        class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang11.nangLuc : "")</textarea>
                    </td> 
                </tr>
             
                <tr>
                    <td align="center" style="border: 1px solid #ccc; padding: 5px;">12</td>
                    
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="kt12" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang12.kienThuc : "")" 
                        class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang12.kienThuc : "")</textarea>
                    </td>
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="pc12" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang12.phamChat : "")"
                         class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang12.phamChat : "")</textarea>
                    </td>
                    <td style="border: 1px solid #ccc; padding: 5px;">
                        <textarea cols="40" data-toggle="tooltip" data-placement="top" id="nl12" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang12.nangLuc : "")"
                         class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang12.nangLuc : "")</textarea>
                    </td> 
                </tr>
            
                 <tr>
                        <td align="center" style="border: 1px solid #ccc; padding: 5px;">1</td>
                        
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="kt1" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang1.kienThuc : "")"
                             class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang1.kienThuc : "")</textarea>
                        </td>
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="pc1" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang1.phamChat : "")"
                             class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang1.phamChat : "")</textarea>
                        </td>
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="nl1" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang1.nangLuc : "")"
                             class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang1.nangLuc : "")</textarea>
                        </td> 
                    </tr>
             
                 <tr>
                        <td align="center" style="border: 1px solid #ccc; padding: 5px;">2</td>
                        
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="kt2" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang2.kienThuc : "")" 
                            class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang2.kienThuc : "")</textarea>
                        </td>
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="pc2" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang2.phamChat : "")"
                             class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang2.phamChat : "")</textarea>
                        </td>
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="nl2" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang2.nangLuc : "")" 
                            class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang2.nangLuc : "")</textarea>
                        </td> 
                    </tr>
             
                 <tr>
                        <td align="center" style="border: 1px solid #ccc; padding: 5px;">3</td>
                        
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="kt3" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang3.kienThuc : "")" 
                            class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang3.kienThuc : "")</textarea>
                        </td>
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="pc3" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang3.phamChat : "")" 
                            class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang3.phamChat : "")</textarea>
                        </td>
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="nl3" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang3.nangLuc : "")" 
                            class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang3.nangLuc : "")</textarea>
                        </td> 
                    </tr>
            
                 <tr>
                        <td align="center" style="border: 1px solid #ccc; padding: 5px;">4</td>
                        
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="kt4" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang4.kienThuc : "")" 
                            class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang4.kienThuc : "")</textarea>
                        </td>
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="pc4" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang4.phamChat : "")"
                             class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang4.phamChat : "")</textarea>
                        </td>
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="nl4" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang4.nangLuc : "")"
                             class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang4.nangLuc : "")</textarea>
                        </td> 
                    </tr>
           
         
                 <tr>
                        <td align="center" style="border: 1px solid #ccc; padding: 5px;">5</td>
                        
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="kt5" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang5.kienThuc : "")" 
                            class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang5.kienThuc : "")</textarea>
                        </td>
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="pc5" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang5.phamChat : "")" 
                            class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang5.phamChat : "")</textarea>
                        </td>
                        <td style="border: 1px solid #ccc; padding: 5px;">
                            <textarea cols="40" data-toggle="tooltip" data-placement="top" id="nl5" title="@(giaoVienNhanXet != null ? giaoVienNhanXet.thang5.nangLuc : "")" 
                            class="contentNhanXet KienThuc" rows="2" style="border-width:0">@(giaoVienNhanXet != null ? giaoVienNhanXet.thang5.nangLuc : "")</textarea>
                        </td> 
                    </tr> 
       
     }
      
    </tbody>
  </table>
       
      </fieldset>     
    </div>
<!-- ket thuc khu vuc nhan xet ca nam cua giao vien chu nhiem gianh cho từng học sinh -->
 </div>
 </div>

  











 
