﻿<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta charset="utf-8" />
    <title>Danh sách học sinh</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <!-- Trung lam -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
    <link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
    <!-- bootstrap ---------------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/throbber.css")" type="text/css">
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
    <!-------------edu css-------------------------------------------------------->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnReport").click(function () {
                //var isCheck = $('#chkLoaiBaoCao').prop('checked');
                var isCheckRutGon = $('#chkLoaiBaoCaoRutGon').prop('checked');
                var isCheckMoRong = $('#chkLoaiBaoCaoMoRong').prop('checked');
                if (isCheckRutGon == true && isCheckMoRong==false)
                {
                    DanhSachHocSinhTheoLop("0");
                }
                else {
                    DanhSachHocSinhTheoLop("1");
                }
            });

            $("#chkLoaiBaoCaoRutGon").change(function () {
                var isCheckRutGon = $('#chkLoaiBaoCaoRutGon').prop('checked');
                if (isCheckRutGon == true)
                    $('#chkLoaiBaoCaoMoRong').prop('checked', false);
            });
            $("#chkLoaiBaoCaoMoRong").change(function () {
                var isCheckMoRong = $('#chkLoaiBaoCaoMoRong').prop('checked');
                if (isCheckMoRong == true)
                    $('#chkLoaiBaoCaoRutGon').prop('checked', false);
            });

            $("#exportExcell").click(function () {
                //var isCheck = $('#chkLoaiBaoCao').prop('checked');
                var isCheckRutGon = $('#chkLoaiBaoCaoRutGon').prop('checked');
                var isCheckMoRong = $('#chkLoaiBaoCaoMoRong').prop('checked');
                if (isCheckRutGon == true && isCheckMoRong==false) {
                    DanhSachHocSinhTheoLopExcel();
                }
                else {
                    DanhSachHocSinhTheoLopMorongExcel();
                }
            });
            var MaKhoi = $("#MaKhoi").val();
            loadDSLop(MaKhoi);

            $("#MaKhoi").change(function () {
                var MaKhoi = $("#MaKhoi").val();
                loadDSLop(MaKhoi);
            });
        });

        function loadDSLop(mkhoi) {

            var dlop = $("#selectLop");
            dlop.empty();
            $.getJSON('@Url.Action("LoadLophoc", "hocsinh")', { id: mkhoi },
                function (khoiData) {
                    var select = $("#selectLop");
                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "Chọn lớp"
                    }));
                    $.each(khoiData, function (Mainview, itemData) {
                        select.append($('<option/>', {
                            value: itemData.Value,
                            text: itemData.Text
                        }));
                    });
                });
        }

        function DanhSachHocSinhTheoLop(MoRong) {
            $('#btnReport').attr("disabled", "disabled");
            debugger;
            var NamHoc = $("#NamHoc").val();
            var MaKhoi = $("#MaKhoi").val();
            var MaLop = $("#selectLop").val();
            if (MaLop == "Chọn lớp") { MaLop =''}
            var TenKhoi = $("#MaKhoi option:selected").text();
            var TenLop = $("#selectLop option:selected").text();
            debugger;
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("DanhSachHocSinhTheoLop", "hocsinh")',
                data: { MaKhoi: MaKhoi, TenKhoi: TenKhoi, MaLop: MaLop, MoRong: MoRong, TenLop: TenLop },
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $('#exportExcell').removeAttr("disabled");
                    $('.throbber-loader.edu-spinner-loader').hide();
                    $("#containerReport").empty();
                    $("#containerReport").html(data);
                    $('#btnReport').removeAttr("disabled");
                    $('#loading').css("display", "none");
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Hết phiên làm việc, đề nghị đăng nhập trở lại.')
                }

            });
        }

        function DanhSachHocSinhTheoLopExcel() {
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("DanhSachHocSinhTheoLopExcel", "hocsinh")',
                data: {},
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $('#loading').css("display", "none");
                    if (data != 'NoData')
                    {
                        window.location = '/TongHopDanhGia/DownloadFile?file=' + data;
                    }
                    else {
                        alert('Không có dữ liệu để xuất danh sách!');
                    }

                    return false;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Failed to retrieve specification options.')
                    return false;
                }
            });
        }

        function DanhSachHocSinhTheoLopMorongExcel() {
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("DanhSachHocSinhTheoLopMoRongExcel", "hocsinh")',
                data: {},
                beforeSend: function () {
                    $('#loading').css("display", "inherit");
                },
                success: function (data) {
                    $('#loading').css("display", "none");
                    if (data != 'NoData') {
                        window.location = '/TongHopDanhGia/DownloadFile?file=' + data;
                    }
                    else {
                        alert('Không có dữ liệu để xuất danh sách!');
                    }

                    return false;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loading').css("display", "none");
                    alert('Failed to retrieve specification options.')
                    return false;
                }
            });
        }

    </script>
</head>
@RenderPage("~/Views/Shared/_MainMenu.cshtml");
<div id="loading" style="position:absolute;padding-top: 220px;width: 100%;text-align: center; display:none" class="fa fa-refresh fa-spinner"><img src="../../Images/loading.gif" /></div>
<div style="margin-top: 20px; width: 100% !important">
    
    <table style="border: 0px; background: #fff; width: 100%;">

        <tr>
            <td style="border: 0px; padding: 25px 0px 0px 0px; font-size:16px; font-weight: bolder; text-transform: uppercase" align=center>
                <strong>DANH SÁCH HỌC SINH - Năm học @ViewBag.namhientai <input type="hidden" id="NamHoc" value="@ViewBag.namhientai"/> </strong>
            </td>
        </tr>
        <tr>
            @*<td align=center>Loại báo cáo: <input id="chkLoaiBaoCao" type="checkbox"/> (Đánh dấu là báo cáo theo danh sách mở rộng)</td>*@
            <td align=center>Rút gọn: <input id="chkLoaiBaoCaoRutGon" type="checkbox" checked="checked" /> Mở rộng: <input id="chkLoaiBaoCaoMoRong" type="checkbox" /></td>
        </tr>
        <tr>
            <td style="border: 0px; text-align: center;padding-top: 10px; width: 100%" id="fisrtline">
                <table border="0" style="background:#fff; text-align:center; width: 100%">
                    <tr valign="top">
                        
                        <td style="border: 0px; text-align: center;">
                            Chọn khối: &nbsp;
                            @Html.DropDownList("MaKhoi", ViewBag.KhoiLop as SelectList, new { @style= "height: 34px;" })
                            Chọn lớp: &nbsp;
                            <select id="selectLop" style="height: 34px;"></select>
                            <button style="height: 34px" type="button" id="btnReport" class="btn btn-primary btn-sm" data-toggle="modal">Xem</button>
                            <button type="button" id="exportExcell" class="btn btn-info" disabled data-toggle="modal">Xuất Excel</button>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
    <div id="containerReport" style="width:100%; padding-top: 40px; padding: 0 3px">

    </div>
    @*<div id="ThongKeChatLuong">
        <div id="TKChatLuongHocTap">

        </div>
        <div id="TKChatLuongNangLuc">

        </div>
        <div id="TKChatLuongPhamChat">

        </div>
        <div id="TKChatLuongKhac">

        </div>
    </div>*@
    
    <input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idTruong" />
    
</div>
