﻿@model List<VnEduPlus.Models.SearchHocSinhTheoKhoangDiem>
                

        <table id="gvhocsinh" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>
                        Stt
                    </th>
                    <th>
                        Mã Học Sinh
                    </th>
                    <th>
                        Họ Tên
                    </th>
                    <th>
                        Lớp
                    </th>
                    <th>
                        Năm học
                    </th>
                    <th>
                        M1
                    </th>
                    <th>
                        M2
                    </th>
                    <th>
                        M3
                    </th>
                    <th>
                        M4
                    </th>
                    <th>
                        M5
                    </th>
                    <th>
                        V15P1
                    </th>
                    <th>
                        V15P2
                    </th>
                    <th>
                        V15P3
                    </th>
                    <th>
                        V15P4
                    </th>
                    <th>
                        V15P5
                    </th>
                    <th>
                        V45P1
                    </th>
                    <th>
                        V45P2
                    </th>
                    <th>
                        V45P3
                    </th>
                    <th>
                        V45P4
                    </th>
                    <th>
                        V45P5
                    </th>
                    <th>
                        TH45P1
                    </th>
                    <th>
                        TH45P2
                    </th>
                    <th>
                        HK
                    </th>
                    <th>
                        TBM
                    </th>
                </tr>
            </thead>
            <tbody>

                @{
                    for (int i = 0; i < Model.Count; i++)
                    {
                        int stt = i+1;
                        <tr>
                            <td>@stt.ToString()</td>
                            <td>
                                @Model[i].MaHocSinh
                            </td>
                            <td>
                                @Model[i].HoTen
                            </td>
                            <td>
                                @Model[i].TenLop
                            </td>
                            <td>
                                @Model[i].NamHoc
                            </td>
                            <td>
                                @Model[i].M1
                            </td>
                            <td>
                                @Model[i].M2
                            </td>
                            <td>
                                @Model[i].M3
                            </td>
                            <td>
                                @Model[i].M4
                            </td>
                            <td>
                                @Model[i].M5
                            </td>
                            <td>
                                @Model[i].V15P3
                            </td>
                            <td>
                                @Model[i].V15P4
                            </td>
                            <td>
                                @Model[i].V15P5
                            </td>
                            <td>
                                @Model[i].TH15P1
                            </td>
                            <td>
                                @Model[i].TH15P2
                            </td>
                            <td>
                                @Model[i].V45P1
                            </td>
                            <td>
                                @Model[i].V45P2
                            </td>
                            <td>
                                @Model[i].V45P3
                            </td>
                            <td>
                                @Model[i].V45P4
                            </td>
                            <td>
                                @Model[i].V45P5
                            </td>
                            <td>
                                @Model[i].TH45P1
                            </td>
                            <td>
                                @Model[i].TH45P2
                            </td>
                            <td>
                                @Model[i].HK
                            </td>
                            <td>
                                @Model[i].TBM
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
