﻿@model VnEduPlus.Models.DiemdanhModel
<table width="100%" border="1">
    <tr>
        <td style="width: 5px">
        </td>
        <td style="width: 5px;">
        </td>
        @{
            string[] Thus = new string[] { "CN", "T2", "T3", "T4", "T5", "T6", "T7" };
            int[] Ngays = new int[28];
            string[] fullDays = new string[28];
            int songay = ViewBag.songay;

            int ngay = ViewBag.dayStart;
            DateTime fullDay = ViewBag.ngayBd;

            for (int j = 0; j < 28; j++)
            {
                var index = ((int)ViewBag.ThuBD + j) % 7;
                var thu = Thus[index];
                Ngays[j] = ngay;
                fullDays[j] = fullDay.ToString("dd/MM/yyyy");
                      
            <td>@ngay<br />@thu
            </td>
               
                fullDay.AddDays(1);
                ngay++;
                if (ngay > songay)
                {
                    ngay = 1;
                }

            }
        }
    </tr>
    @for (int i = 0; i < ViewBag.tongsohocsinh; i++)
    {
        int stt = i + 1;
        <tr>
            <td style="width: 5px">@stt
            </td>
            <td style="width: 170px;">
                @Model.ListHS[i].HoTen
                <input type="hidden"  name="MaHocSinh" value="@Model.ListHS[i].MaHocSinh" />
            </td>
            @for (int j = 0; j < 28; j++)
            {
                ngay = Ngays[j];

                string LoaiNghi = "";
                string LydoNghi = "";
                string IdLydoNghi = "Lydo" + Model.ListHS[i].MaHocSinh + ngay;
                string IdLoaiNghi = Model.ListHS[i].MaHocSinh + ngay;
                var nghihoc = Model.ListNghiHoc.Where(nh => nh.MaHocSinh == Model.ListHS[i].MaHocSinh && nh.Ngay.Day == ngay).SingleOrDefault();
                if (nghihoc != null)
                {
                    LoaiNghi = nghihoc.LoaiNghi;
                    LydoNghi = nghihoc.Ghichu;
                }
                <td>
                    <input type="hidden" value="@LydoNghi"  id="@IdLydoNghi"/>
                    <input type="text" value="@LoaiNghi"  id="@IdLoaiNghi"
                     onchange="check(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     ondblclick="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh','@fullDays[j]')" 
                     name="Diemdanh" style="width:100%;border:1px"/>
                </td>
            }
        </tr>
    
    }
</table>
