﻿@model VnEduPlus.Models.VIEWALSTUDENTINFOMATION      
 <style>
    /* Example Styles for Demo */
    .etabs { margin: 0; padding: 0; }
    .tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
    .tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
    .tab a:hover { text-decoration: underline; }
    .tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
    .tab a.active { font-weight: bold; }
    .tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
    .panel-container { margin-bottom: 10px; }
  </style>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validationEngine-vi.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hashchange.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tab-container').easytabs();
    });
</script>
 


<div id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#tabs1-html">Thông tin học sinh</a></li>
            <li class='tab'><a href="#tabs1-js">Quá trình học tập</a></li>
        </ul>
 <div class='panel-container'>
            <div id="tabs1-html" >
                
    
                    <fieldset>
                        <legend>Vui lòng chọn học sinh bên cột trái để xem và thay đổi</legend>

 <form id="form" method="post" action="Viewhocsinh">
  <table style="width: 100%; border: 0">
    <tr>
        <td style="border: 0" valign="top>
            <table border="0" style="width: 100%;">
                <tr>
                    <td style="border: 0">
                        <strong>Th&ocirc;ng tin chung</strong>
                    </td>
                </tr>
                <tr >
                    <td style="border: 0">
                        <table width="100%" border="0">
                            <tr >
                                <td style="width: 90px;border: 0;" valign="middle" align="center">
                                    <table width="45%" border="0">
                                        <tr>
                                            <td style="height: 113px; width: 85px;">
                                               
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0">&nbsp;
                                                H&igrave;nh &#7843;nh
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="32%" valign="top" style="border: 0;">
                                    <table width="100%" style="border: 0;">
                                        <tr>
                                            <td width="25%" style="border: 0;">
                                                STT: <span style="color: red;">*</span>
                                            </td>
                                            <td width="75%" style="border: 0">@Html.TextBoxFor(model => model.hocSinh.STT, new { @class = "validate[required] text-input vienhop", @readonly = "true" })
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Mã HS: <span style="color: red;">*</span>
                                            </td>
                                            <td style="border: 0;">
                                                @Html.TextBoxFor(model => model.hocSinh.MaHocSinh, new { @class = "validate[required] text-input vienhop", @readonly = "true" })
                                                
                                                @Html.HiddenFor(model => model.hocSinh.idTruong)
                                                @Html.HiddenFor(model => model.hocSinh.MaLop)
                                                @Html.HiddenFor(model => model.hocSinh.NamHoc)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                T&ecirc;n HS: <span style="color: red;">*</span>
                                            </td>
                                            <td style="border: 0;">@Html.TextBoxFor(model => model.hocSinh.HoTen, new { @class = "validate[required] text-input vienhop" })
                                                
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Ng&agrave;y sinh:
                                            </td>
                                            <td style="border: 0;">@Html.TextBox("hocSinh.NgaySinh", Model.hocSinh.NgaySinh.HasValue ? Model.hocSinh.NgaySinh.Value.ToString("dd/MM/yyyy") : "", new { @class = "date vienhop", @maxlength = 10 })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Gi&#7899;i t&iacute;nh
                                            </td>
                                            <td style="border: 0;">@Html.CheckBoxFor(model => model.hocSinh.GioiTinh) Nam
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                &#272;i&#7879;n tho&#7841;i
                                            </td>
                                            <td style="border: 0;">@Html.TextBoxFor(model => model.hocSinh.DienThoai, new {@class="vienhop"})
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Email:
                                            </td>
                                            <td style="border: 0;">@Html.TextBoxFor(model => model.hocSinh.Email, new {@class="vienhop"})
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Con li&#7879;t s&#297;
                                            </td>
                                            <td style="border: 0;">@Html.CheckBoxFor(model => model.hocSinh.ConLietSi)
                                                (Ch&#7885;n n&#7871;u l&agrave; li&#7879;t s&#297;)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                C&oacute; c&ocirc;ng CM
                                            </td>
                                            <td style="border: 0;">@Html.CheckBoxFor(model => model.hocSinh.CoCongCM)
                                                (Ch&#7885;n n&#7871;u c&oacute; c&ocirc;ng)
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="48%" align="right" valign="top" style="border: 0;">
                                    <table width="100%" border="0">
                                        <tr>
                                            <td width="35%" style="border: 0; padding-left: 15px;">
                                                D&acirc;n t&#7897;c:
                                            </td>
                                            <td width="65%" style="border: 0;"> 
                                          @Html.DropDownListFor(model => model.hocSinh.MaDanToc, (SelectList)ViewBag.MaDanToc,"Chọn dân tộc")    
                                          
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0; padding-left: 15px;">
                                                T&ocirc;n gi&aacute;o:
                                            </td>
                                            <td style="border: 0;">
                                               
                                                 @Html.DropDownListFor(model => model.hocSinh.MaTonGiao, (SelectList)ViewBag.MaTonGiao, "Chọn tôn giáo")    
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0; padding-left: 15px;">
                                                &#272;&#7889;i t&#432;&#7907;ng:
                                            </td>
                                            <td style="border: 0;">
                                                
                                                 @Html.DropDownListFor(model => model.hocSinh.MaChinhSach, (SelectList)ViewBag.MaChinhSach, "Chọn đối tượng chính sách")  

                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0; padding-left: 15px;">
                                                &#272;o&agrave;n &#273;&#7897;i:
                                            </td>
                                            <td style="border: 0;">
                                                 
                                                @Html.DropDownListFor(model => model.hocSinh.MaDoanDoi, (SelectList)ViewBag.MaDoanDoi, "Chọn đoàn đội")  
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0; padding-left: 15px;">
                                                N&#417;i sinh
                                            </td>
                                            <td style="border: 0;">
                                                @Html.TextBoxFor(model => model.hocSinh.NoiSinh, new {@class="vienhop"})
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0; padding-left: 15px;">
                                                N&#417;i &#7903;
                                            </td>
                                            <td style="border: 0;">
                                                <fieldset>
                                                    <table>
                                                        <tr>
                                                            <td style="border: 0;">
                                                                T&#7881;nh th&agrave;nh
                                                            </td>
                                                            <td style="border: 0;"> 
                                                                 @Html.DropDownListFor(model => model.hocSinh.NoiO_MaTinh, (SelectList)ViewBag.NoiO_MaTinh, "Chọn tỉnh/thành")  
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border: 0;">
                                                                Qu&#7853;n huy&#7879;n
                                                            </td>
                                                            <td style="border: 0;">
                                                                
                                                                @Html.DropDownListFor(model => model.hocSinh.NoiO_MaHuyen, (SelectList)ViewBag.NoiO_MaHuyen, "Chọn quận/ huyện")  
                                                            </td>
                                                        </tr>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Ph&#432;&#7901;ng x&atilde;
                                            </td>
                                            <td style="border: 0;">
                                               
                                                 @Html.DropDownListFor(model => model.hocSinh.NoiO_MaXa, (SelectList)ViewBag.NoiO_MaXa, "Chọn phường/xã")  
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 0;">
                                                Kh&#7889;i ph&#7889;
                                            </td>
                                            <td style="border: 0;">
                                                
                                                  @Html.DropDownListFor(model => model.hocSinh.NoiO_MaKP, (SelectList)ViewBag.NoiO_MaKP, "Chọn khối phố")  
                                            </td>
                                        </tr>
                                    </table>
                                    </fieldset>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <hr/>
    <tr>
        <td style="border: 0">
            <strong>Th&ocirc;ng tin gia &#273;&igrave;nh </strong>
        </td>
    </tr>
    <tr>
        <td style="border: 0">
            <table width="100%" border="0">
                <tr>
                    <td width="49%" style="border: 0">
                        <table width="100%"  style="border: 0">
                            <tr>
                                <td style="border: 0">
                                    H&#7885; t&ecirc;n cha
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.HoTenCha, new {@class="vienhop"})
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0">
                                    Ngh&#7873; nghi&#7879;p
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.NgheCha, new {@class="vienhop"})
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0">
                                    H&#7885; t&ecirc;n m&#7865;
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.HoTenMe, new {@class="vienhop"})
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0">
                                    Ngh&#7873; nghi&#7879;p
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.NgheMe, new {@class="vienhop"})
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="51%" valign="top" style="border: 0">
                        <table width="100%"  style="border: 0">
 							<tr>
                                <td style="border: 0; padding-left: 15px;">
                                    H&#7885; t&ecirc;n NDD
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.HoTenNDD, new {@class="vienhop"})
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0; padding-left: 15px;">
                                    Ngh&#7873; nghi&#7879;p
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.NgheNDD, new {@class="vienhop"})
                                </td>
                            </tr>

                            <tr>
                                <td style="border: 0; padding-left: 15px;">
                                    M&#7899;i chuy&#7875;n v&#7873;:
                                </td>
                                <td style="border: 0">@Html.CheckBoxFor(model => model.hocSinh.Moichuyenve)
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0; padding-left: 15px;">
                                    Ng&agrave;y chuy&#7875;n:
                                </td>
                                <td style="border: 0">@Html.TextBox("hocSinh.Ngaychuyen", Model.hocSinh.Ngaychuyen.HasValue ? Model.hocSinh.Ngaychuyen.Value.ToString("dd/MM/yyyy") : "", new { @class = "date vienhop", @maxlength = 10 })
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 0; padding-left: 15px;">
                                    T&#7915; tr&#432;&#7901;ng
                                </td>
                                <td style="border: 0">@Html.TextBoxFor(model => model.hocSinh.TuTruong, new {@class="vienhop"})
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
             
        </td>
    </tr>
    
</table>
</form>
     
  </fieldset> 
            </div>
            <div id="tabs1-js">
                

                    <fieldset>
                        <legend>Thông tin quá trình học sinh:</legend>
                   <input type="hidden" id="mhs" value="@ViewBag.mahocsinh" />
<input type="hidden" id="username" value="@ViewBag.username" />

<form id="formqt">
<table width="100%" border="0">
<tr><td id="viewdataqt"> 
<table width="100%" border="0" style="background-color: #fff;  border: 1px solid #ccc">
  <tr>
    <td width="5%" style=" border: 1px solid #ccc; text-align: center"><input type="checkbox" id="allcheck" /></td>
    <td width="7%" style=" border: 1px solid #ccc; text-align: center"><strong>Qu&aacute; tr&igrave;nh </strong></td>
    <td width="45%" style=" border: 1px solid #ccc; text-align: center"><strong>N&#7897;i dung </strong></td>
    <td width="7%" style=" border: 1px solid #ccc; text-align: center"><strong>T.g s&#7921; ki&#7879;n </strong></td>
    <td width="27%" style=" border: 1px solid #ccc; text-align: center"><strong>Ng&#432;&#7901;i t&#7841;o </strong></td>
    <td width="9%" style=" border: 1px solid #ccc; text-align: center"><strong>Ng&agrave;y t&#7841;o </strong></td>
  </tr>
  @for (int i = 0; i < Model.list_QTHT.Count; i++)
  {
       

  <tr id="idmqt">
  <input  type="hidden" id="test" value="@Model.list_QTHT[i].IDQuaTrinh" />
    <td  style=" border: 1px solid #ccc; text-align: center" width="5%"><input type="checkbox" id="@Model.list_QTHT[i].IDQuaTrinh" value="@Model.list_QTHT[i].IDQuaTrinh"  /></td>
    <td style=" border: 1px solid #ccc" width="7%"> @Model.list_QTHT[i].MaQuaTrinh</td>
    <td style=" border: 1px solid #ccc" width="45%" class="canhgiua hoverhang">
    
    @{if (ViewBag.WriteAccess == 1)
      {
           <a href="@Url.Action("SuaQuaTrinh", "hocsinh")"
        onclick="window.open('@Url.Action("SuaQuaTrinh", "hocsinh")?idquatrinh=@Model.list_QTHT[i].IDQuaTrinh&makhoi=@ViewBag.makhoi&malop=@ViewBag.malop&mahocsinh=@ViewBag.mahocsinh&formid=@ViewBag.formId&btnRefresh=@ViewBag.btnId','popup','width=950,height=750,scrollbars=yes,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=100,top=250'); return false">
       
            @Model.list_QTHT[i].Noidung</a>
            
          
      }
      else
      { 
          @Model.list_QTHT[i].Noidung
      
      }
  }
   
            
            </td>
    <td style=" border: 1px solid #ccc" width="7%"> 
    
     @if (@Model.list_QTHT[i].Thoigiansukien != null)
     { @Model.list_QTHT[i].Thoigiansukien.ToString("dd/MM/yyyy")}
    
    </td>
    <td style=" border: 1px solid #ccc" width="27%">@Model.list_QTHT[i].tenuser</td>
    <td style=" border: 1px solid #ccc; text-align: center" width="9%"> 
    
     @if (@Model.list_QTHT[i].DateCreated != null)
     { @Model.list_QTHT[i].DateCreated.ToString("dd/MM/yyyy")}
    </td>
  </tr>
  }    
    <input type="button" id="btnRefresh" name="btnRefresh" onclick="reloadata()" style="display:none;visibility:hidden" />
   
</table> 
 
</td></tr>
</table>
</form>
                    </fieldset>

                 
            </div>
        </div>
    </div>









 
