﻿@model List<VnEduPlus.Models.PhuHuynhPhanHoi>

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <!-- import css bootstrap css and js ( bat buoc phai co)-->
 <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
 <link href="@Url.Content("~/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
 
 <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
 <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
</head>

<script type="text/javascript">
    //Todo
    $(document).ready(function () {
      
    });           //end document
     
</script> 


    <table class="sochunhiem" style="width: 100%">
      <tbody>

           <tr>
				<td style="padding: 5px 0px 10px 0px;border-bottom: 1px solid #ccc; width: 33.33%;font-size: 12px; font-weight: bold; text-align:center; text-transform: uppercase;">@ViewBag.PhongGiaoDuc <br/>@ViewBag.tenTruong</td>
				<td style="padding: 5px 0px 10px 0px;border-bottom: 1px solid #ccc; width: 33.33%;font-size: 16px; font-weight: bold; text-align:center; text-transform: uppercase; vertical-align: top;">Ý KIẾN PHẢN HỒI PHỤ HUYNH</td>
				<td style="padding: 5px 0px 10px 0px;border-bottom: 1px solid #ccc; width: 33.33%;font-size: 12px; font-weight: bold; text-align:center; text-transform: uppercase;"><strong>Họ và tên</strong>: <span id="hotenGVGD">@ViewBag.tenuser </span><br><strong>Năm học</strong>: @ViewBag.namHoc</td>
				<td></td>
		   </tr>
	</tbody>
    </table>

 <div class="container" id="content_">  
    <table id="noiDungPhuHuynhPhanHoi" class="table table-striped table-bordered" style="table-layout: auto;" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="width: 4%;">STT</th>                             
                <th style="width: 20%;">Họ tên phụ huynh</th>
                <th style="width: 20%;">Họ tên học sinh</th>
                <th style="width: 48%;">Nội dung phản hồi</th>
                <th style="width: 12%;">Ngày tạo</th> 
            </tr>
        </thead>
        <tbody>
            @{
                 for (int i = 0; i < Model.Count(); i++)
                 {
                    
                     string STT = (i+1).ToString();
                    string hoTenPhuHuynh = Model[i].hoTenPhuHuynh;
                    string hoTenHocSinh = Model[i].hoTenHocSinh;
                    string noiDungComment = Model[i].noiDungPhanHoi;
                    string ngayTao = Model[i].ngayTao != null ? String.Format("{0:dd/MM/yyyy}", Model[i].ngayTao) : "Không xác định";
                   <tr>
                        <td align="center">@STT</td> 
                        <td>@hoTenPhuHuynh</td>
                        <td>@hoTenHocSinh</td>
                        <td style="word-wrap:break-word">@noiDungComment</td> 
                        <td>@ngayTao</td> 
                    </tr> 
                }
            }
        </tbody>
    </table>
    </div>
 

 