﻿ @model VnEduPlus.Models.BanDaiDien
@{
    ViewBag.Title = "Danh sách ban đại diện" ;
}
 
<!-- bootstrap ---------------------------------------------------------------->
<link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
<script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
<!------------------------------------------------------------------------------>
<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/kehoach.css")" rel="stylesheet" type="text/css" />
    
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>
     
    
</head>
  
    <script type="text/javascript">
        //Todo
        $(document).ready(function () {
            $('.nav-tabs li a').click(function (evt) {
                $('.nav-tabs li a').removeClass('selected');
                $(this).addClass('selected');
                $('#thoidiem').text(this.text);
            });

            $('#lopHoc').change(function () {
                var maLop = $('#lopHoc').val();
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("DanhSachBanDaiDien", "KeHoach")',
                    data: { maLop: maLop },
                    success: function (data) {
                        $('.danhSachBanDaiDien').empty();
                        $('.danhSachBanDaiDien').html(data);
                        $('#bandaidienphuhuynh').dataTable({
                            "sPaginationType": "full_numbers",
                            "bPaginate": true,
                            "bSort": false,
                            "bSortable": false,
                            "bFilter": false,
                            "bSearchable": false,
                            "bInfo": false,
 
                        });
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });

            });
        }); 
         
    </script>
<body >

 @RenderPage("~/Views/Shared/_MainMenu.cshtml");
 

 <div class="container">
     <div class="kehoach_header">
          <div class="namhoc">
            <span>
                <strong style="font-size: 14px; text-transform: uppercase;">DANH SÁCH BAN ĐẠI DIỆN - Năm học: @ViewBag.namHoc</strong>

            </span>
          </div>
          <div class="lop" style="text-align: center;">
             Chọn lớp:&nbsp;
             @Html.DropDownListFor(x => Model.lopHoc,new SelectList(ViewBag.lopHoc, "maLop", "tenLop")) 
          </div>
          <br />
 
     </div>
     <div class="danhSachBanDaiDien">
        <table class="table">
            <thead>
              <tr>
                    <th style="border: 1px solid #ccc; text-align: center;">Chức danh</th>
                    <th style="border: 1px solid #ccc; text-align: center;">Tên Phụ Huynh</th>
                    <th style="border: 1px solid #ccc; text-align: center;">Phụ Huynh của HS</th>
                    <th style="border: 1px solid #ccc; text-align: center;">Địa chỉ</th>
                    <th style="border: 1px solid #ccc; text-align: center;">Đơn vị CT</th>
                    <th style="border: 1px solid #ccc; text-align: center;">Điện thoại</th>
                    <th style="border: 1px solid #ccc; text-align: center;">Email</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7" style="border: 1px solid #ccc; text-align: center; height: 200px;">Vui lòng chọn lớp để xem giữ liệu</td>
                   
                </tr>
            </tbody>
             
        </table> 
      </div>
      
      <div id="thongTinPhuHuynh"></div>
 </div>
 
  </body>
</html>