﻿ @model VnEduPlus.Models.DanhSachBanDaiDien
@{
    ViewBag.Title = "Thống kê đầu năm";
}
 
<!-- bootstrap ---------------------------------------------------------------->
<link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
<script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
<!------------------------------------------------------------------------------> 
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>


<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="@Url.Content("~/font-awesome-4.6.3/css/font-awesome.min.css")">
</head>
   
<script type="text/javascript">
    //Todo
    $(document).ready(function () {

        $('#deleteAll').off('click').on('click', function(){
             var maLop = $('#lopHoc').val();
              $.ajax({
                type: 'get',
                url: '@Url.Action("XoaTatCaThongTinDaiDienTheoLopHoc", "KeHoach")',
                data: {maLop: maLop},
                success: function (data) {
                    debugger;
                    if (data != 'ERROR') {
                        alert('Bạn đã xóa dữ liệu thành công');
                        loadDuLieuBanDaiDien();
                    } else {
                        alert('Dữ liệu bạn xóa có vấn đề, liên hệ với quản trị để biết thêm thông tin');
                    }

                    return;
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            }); 

        });
     //------------------------------------------------
        $('.delete').off('click').on('click', function() {
          var id = this.id, // mã học sinh - mã lớp,
              maLop = id.split('-')[1],
              maHs = id.split('-')[0];

               $.ajax({
                type: 'get',
                url: '@Url.Action("XoaThongTinDaiDien", "KeHoach")',
                data: {maLop: maLop, maHs: maHs},
                success: function (data) {
                    debugger;
                    if (data != 'ERROR') {
                        alert('Bạn đã xóa dữ liệu thành công');
                        loadDuLieuBanDaiDien();
                    } else {
                        alert('Dữ liệu bạn xóa có vấn đề, liên hệ với quản trị để biết thêm thông tin');
                    }

                    return;
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            }); 
        });
        
        //----------------------------------------------------------

        $('td:not(.active)').click(function () {
            debugger;
            var id = $(this).parent().attr('id'),
                maLop = id.split('-')[0],
                maHS = id.split('-')[1];
            // call ajax to load du lieu len UI

            $.ajax({
                type: 'get',
                url: '@Url.Action("layDuLieuPhuHuynh", "KeHoach")',
                data: { maLop: maLop, maHS: maHS },
                success: function (data) {
                    debugger;
                    $('#thongTinPhuHuynh').empty();
                    $('#thongTinPhuHuynh').html(data);
                    return;
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            });


        });

        //-----------------------------------------------------------------------------------
        $('#thembandaidien').click(function () {

            $.ajax({
                type: 'post',
                url: '@Url.Action("ThemMoiThongTinDaiDien", "KeHoach")',
                data: $('#bandaidien').serialize(),
                success: function (data) {
                    debugger;
                    if (data != 'ERROR') {
                        $('#thongbao').empty();
                        alert(data);
                        loadDuLieuBanDaiDien();
                    } else {
                        alert('Dữ liệu phụ huynh của học sinh có thể đã tồn tại, liên hệ với quản trị để biết thêm thông tin');
                    }

                    return;
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            });
        });

//---------------------------------------------------------------------------------

    });

    function loadDuLieuBanDaiDien() {
         var maLop = $('#lopHoc').val();
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("DanhSachBanDaiDien", "KeHoach")',
                    data: { maLop: maLop },
                    success: function (data) {
                        $('.danhSachBanDaiDien').empty();
                        $('.danhSachBanDaiDien').html(data);
                        $('#bandaidienphuhuynh').dataTable({
                            "sPaginationType": "full_numbers",
                            "bPaginate": true,
                            "bSort": false,
                            "bSortable": false,
                            "bFilter": false,
                            "bSearchable": false,
                            "bInfo": false,
 
                        });
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });
       }

</script>

 <div>
      
           <table class="table table-bordered table-hover" id="bandaidienphuhuynh">
                <thead>
                  <tr>
                    <th style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">Chức danh</th>
                    <th style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">Tên Phụ Huynh</th>
                    <th style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">Phụ Huynh của HS</th>
                    <th style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">Địa chỉ</th>
                    <th style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">Đơn vị công tác</th>
                    <th style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">Điện thoại</th>
                    <th style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">Email</th>
                    <th  style="border: 1px solid #ccc; text-align: center; vertical-align: middle;"><button type="button" id="deleteAll" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Xóa tất cả</button></th>
                  </tr>
                </thead>
                <tbody>
                 @{ 
                     
                     if (@Model.danhSachHoiPhuHuynh.Count > 0) {
                         List <VnEduPlus.Models.DanhSachHoiPhuHuynh>danhSachHoiPhuHuynh = @Model.danhSachHoiPhuHuynh;

                         for (int i = 0; i < danhSachHoiPhuHuynh.Count; i++)
                         {
                             string id = danhSachHoiPhuHuynh[i].maLop + "-" + danhSachHoiPhuHuynh[i].maHocSinh;
                             string idButton = danhSachHoiPhuHuynh[i].maHocSinh + "-" + danhSachHoiPhuHuynh[i].maLop;
                                 <tr id="@id" class="personInfo">
                                    <td style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">@danhSachHoiPhuHuynh[i].chucDanh</td>
                                    <td style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">@danhSachHoiPhuHuynh[i].hoTenPH</td>
                                    <td style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">@danhSachHoiPhuHuynh[i].tenHocSinh</td>
                                    <td style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">@danhSachHoiPhuHuynh[i].diachi</td>
                                    <td style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">@danhSachHoiPhuHuynh[i].donviCongTac</td>
                                    <td style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">@danhSachHoiPhuHuynh[i].dienThoai</td>
                                    <td style="border: 1px solid #ccc; text-align: center; vertical-align: middle;">@danhSachHoiPhuHuynh[i].email</td>
                                    <td style="text-align: center;"><button type="button" id="@idButton" class="btn btn-info delete"><span class="glyphicon glyphicon-trash"></span> Xóa</button></td>
                                  </tr>
                                
                         }
                     }
                   }
                </tbody>
            </table> 
         
 </div>

  <div id="thongTinPhuHuynh">
       <form id="bandaidien" name="bandaidien" method="post">
            <input type="hidden" name ="idTruong" value="@ViewBag.idTruong" />
            <input type="hidden" name ="NamHoc" value="@ViewBag.NamHoc" />
            <input type="hidden" name ="maLop" value="@ViewBag.maLop" />
            <div class="tinhhinhdaunam">  
                <div id="tinhhinhdaunam" class="column1">
                <div class="thongtinthongke">
                    <div class="tieude"><span>Họ tên phụ huynh</span></div>
                    <div class="inputValues"><input style="width: 200px; height: 33px; font-size: 13px;" type="text" name="HoTenPH" value=""/></div>  
                </div> 

                <div class="thongtinthongke">
                    <div class="tieude"><span>Phụ huynh em</span></div>
                    <div class="inputValues">
                    @Html.DropDownListFor(x => Model.MaHocSinh, new SelectList(ViewBag.hocSinh, "MaHocSinh", "HoTen"), new { style = "width: 200px; height: 33px; font-size: 13px;" }) 
                    </div>  
                </div> 
                 
                <div class="thongtinthongke">
                    <div class="tieude"><span>Chức danh</span></div>
                    <div class="inputValues"><input style="width: 200px; height: 33px; font-size: 13px;"  type="text"  name="ChucDanh" value="" /></div>  
                </div> 

                <div class="thongtinthongke">
                    <div class="tieude"><span>Địa chỉ</span></div>
                    <div class="inputValues"><input style="width: 200px; height: 33px; font-size: 13px;"  type="text" name="Diachi" value="" /></div>  
                </div>  
            </div> 
            
            <div class="column2">
                <div class="thongtinthongke">
                    <div class="tieude"><span>Đơn vị CT</span></div>
                    <div class="inputValues"><input style="width: 200px; height: 33px; font-size: 13px;"  type="text" name="donViCongTac" value="" /></div>  
                </div>
               
                <div class="thongtinthongke">
                    <div class="tieude"><span>Điện thoại</span></div>
                    <div class="inputValues"><input style="width: 200px; height: 33px; font-size: 13px;"  type="text"  name="dienThoai" value="" /></div>  
                </div>  
               
                <div class="thongtinthongke">
                    <div class="tieude"><span>Email</span></div>
                    <div class="inputValues"><input style="width: 200px; height: 33px; font-size: 13px;"  type="text" name="email" value="" /></div>  
                </div> 
                <div class="thongtinthongke">
                    <div class="tieude"><span>&nbsp;</span></div>
                    <div class="inputValues"><input style="width: 200px;" type="button" value ="Thêm mới" id="thembandaidien"/></div>
                </div>
            </div> 

   
        </div>
        </form>
      <!-- nut lưu -->
      
      </div>     
 