﻿ @model VnEduPlus.Models.KeHoachGVCN
@{
    ViewBag.Title = "Kế hoạch chủ nhiệm";
}
 
<!-- bootstrap ---------------------------------------------------------------->
<link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
<script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
<!------------------------------------------------------------------------------>
 

<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/kehoach.css")" rel="stylesheet" type="text/css" />
    
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>
  
     
    
</head>
  
    <script type="text/javascript">

        $(document).ready(function () {
            $('#kehoachchunhiem').hide();
            $('.kehoachcanam').show();
            $("select option:first-child").attr("disabled", "disabled");
            $('select[id="lopHoc"]').find('option[value="@ViewBag.maLopMacDinh"]').attr("selected", true);
            // cấm phím mũi tên
            $('select').keydown(function(e){
                if(e.keyCode === 38 || e.keyCode === 40 || e.keyCode === 37 || e.keyCode === 39) { //up or down
                    e.preventDefault();
                    return false;
                }
            });

            var maLop = $('#lopHoc').val();

            if (maLop == '-1' || !maLop) {
                alert('Bạn không được phân công là giáo viên chủ nhiệm của lớp nào cả, vui lòng liên hệ admin');
                window.location.href = '@Url.Content("~/quanLyLopHoc/thongkelophoc/")';
                
            } else {
                //set nếu không có quyèn update thì disable text và button lưu đi, ngược lài thì enable nó lên
                if ('@ViewBag.rightAccess' == "True") {
                    $('#nd1').removeAttr('disabled');
                    $('#luukehoach').removeAttr('disabled');
                    $('#luukehoach1').removeAttr('disabled');
                    $('#luukehoach2').removeAttr('disabled');
                    $('#noidungkh').removeAttr('disabled');
                } else {
                    $('#nd1').attr('disabled', 'disabled');
                    $('#luukehoach').attr('disabled', 'disabled');
                    $('#luukehoach1').attr('disabled', 'disabled');
                    $('#luukehoach2').attr('disabled', 'disabled');
                    $('#noidungkh').attr('disabled', 'disabled');
                }

                $('select[id="lopHoc"]').find('option[value="@ViewBag.maLopMacDinh"]').attr("selected", true);

                $('.nav-tabs li a').click(function (evt) {
                    $('.nav-tabs li a').removeClass('selected');
                    $(this).addClass('selected');
                    $('#thoidiem').text(this.text);
                });

                $('#nd1').change(function () {
                    var text = $('#nd1').val();
                    $('#nd1').val(text);
                });

                $('#luukehoach, #luukehoach1, #luukehoach2').click(function () {
                    var maLop = $('#lopHoc').val(),
                        thoiDiem = $('.selected').attr('id'),
                        noiDungKH = $('#noidungkh').val();

                    if (thoiDiem == 'caNam') {
                        noiDungKH = $('#nd1').val();
                    }

                    $.ajax({
                        type: 'post',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        url: '@Url.Action("LuuKeHoachChuNhiem", "KeHoach")',
                        data: JSON.stringify({ maLop: maLop, thoiGian: thoiDiem, noiDung: noiDungKH }),
                        success: function (data) {
                            debugger;
                            alert(data);
                        },

                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Failed to retrieve specification options.')
                        }
                    });


                }); //end function luu ke hoach click 

                //---------------------------------------------------------------------------------

                $('#lopHoc').change(function () {
                    hienThiNoiDungKeHoach();
                });

                //--- khi người dùng thực hiện chọn tháng thì cũng load lại dữ liệu
                $('.nav-tabs li a').off('click').on('click', function () {
                    $('.nav-tabs li a').removeClass('selected');
                    $(this).addClass('selected');
                    hienThiNoiDungKeHoach();
                });
            }
            

        });

        //------------------------------------------------------------------------------------------
        function hienThiNoiDungKeHoach() {
            var maLop = $('#lopHoc').val(),
                thoiDiem = $('.selected').attr('id');

            if (thoiDiem == 'caNam') {
                $('#kehoachchunhiem').hide();
                $('.kehoachcanam').show();

            } else {
                $('#kehoachchunhiem').show();
                $('.kehoachcanam').hide();

            }

            
            $.ajax({
                type: 'GET',                    
                url: '@Url.Action("NoiDungKeHoachChuNhiem", "KeHoach")',
                data: { maLop: maLop, thoiDiem: thoiDiem },
                success: function (data) {
                    debugger;
                    if ('@ViewBag.rightAccess' == "True") {
                        $('#nd1').removeAttr('disabled');
                        $('#luukehoach').removeAttr('disabled');
                        $('#luukehoach1').removeAttr('disabled');
                        $('#luukehoach2').removeAttr('disabled');
                        $('#noidungkh').removeAttr('disabled');
                    } else {
                        $('#nd1').attr('disabled', 'disabled');
                        $('#luukehoach').attr('disabled', 'disabled');
                        $('#luukehoach1').attr('disabled', 'disabled');
                        $('#luukehoach2').attr('disabled', 'disabled');
                        $('#noidungkh').attr('disabled', 'disabled');
                    }
                    if (thoiDiem == 'caNam') {
                        if (data) {
                            $('#nd1').val(data);
                        } else {
                            alert('Failed to retrieve specification options.')
                        }

                    }
                    else {
                        $('#noidungkh').val('');
                        $('#noidungkh').val(data);
                    }
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                },
            });
            
          }

        //----------------------------------------------------------------------------------------------
        

    </script>
<body >

 @RenderPage("~/Views/Shared/_MainMenu.cshtml");
 
 <input type="hidden" id="maLopMD" value="@ViewBag.maLopMacDinh"/>
 <div class="container">
     <div class="kehoach_header">
        <div class="lophoc"> 
            Chọn lớp:&nbsp;
             @Html.DropDownListFor(x => Model.lopHoc, new SelectList(ViewBag.lopHoc, "maLop", "tenLop"))
             @*@Html.DropDownListFor(Model => Model.lopHoc, new SelectList(ViewBag.lopHoc as System.Collections.IEnumerable, "maLop", "tenLop", @ViewBag.lopMacDinh), "Chọn lớp ", new { id = "maLop" }) *@
        </div>
        
        <div class="namhoc">
            <span>
                Năm học: @ViewBag.namHoc

            </span>
        </div>
 
     </div>
     <div class="noidung_kehoach">
         <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home" id="caNam" class="selected" data-ui="cn">Cả năm</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="hk1">Học kỳ 1</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="hk2">Học kỳ 2</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="t8">Tháng 8</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="t9">Tháng 9</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="t10">Tháng 10</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="t11">Tháng 11</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="t12">Tháng 12</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="t1">Tháng 1</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="t2">Tháng 2</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="t3">Tháng 3</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="t4">Tháng 4</a></li>
            <li><a data-toggle="tab" href="#kehoachchunhiem" id="t5">Tháng 5</a></li>
 

        </ul>

        <div class="tab-content">
              <div id="kehoachchunhiem" class="tab-pane fade in active">
                <h3>Kế hoạch: <span id="thoidiem"></span> <input style="margin-left:390px;" type="button" value ="Lưu" id="luukehoach1"/></h3>
               <textarea rows="30" cols="150" id="noidungkh"></textarea>  
              </div> 
            @{
           
           
               string noidung1 = "";

               if (ViewBag.noiDungKeHoach !=null) {
                   string NDKH =(string) ViewBag.noiDungKeHoach;
                   if (NDKH != null && NDKH.Length > 0)
                   {
                       noidung1 = NDKH.ToString();
                    }

               }
           }

            <div class="kehoachcanam tab-pane fade in">
                <h3>Kế hoạch: <span id="thoidiem1"></span><input style="margin-left:390px;" type="button" value ="Lưu" id="luukehoach2"/> </h3>
                
                <div class="noiDung1">
                    <textarea rows="30" cols="150" id="nd1">
                        @{<text>@noidung1</text>}
                    </textarea>
                </div>

            </div>
        </div>
        
        <!-- nut lưu -->
        <div class="buttons"><input type="button" value ="Lưu" id="luukehoach"/></div>
     </div>
   
 </div>
 
  </body>
</html>
