﻿ @model VnEduPlus.TK_DauNamHoc
@{
    ViewBag.Title = "Thống kê đầu năm";
}
 
<!-- bootstrap ---------------------------------------------------------------->
<link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
<script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
<!------------------------------------------------------------------------------>
 

<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/kehoach.css")" rel="stylesheet" type="text/css" />
    
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>
     
    
</head>
  
    <script type="text/javascript">
        //Todo
        $(document).ready(function () {

            $('#luukehoach').click(function () {
                $.ajax({
                    type: 'post',
                    url: '@Url.Action("ThongKeDauNam", "KeHoach")',
                    data: $('#thongkedaunam').serialize(),
                    success: function (data) {
                        debugger;
                        if (data != 'ERROR') {
                            $('#thongbao').empty() ;
                            alert(data);
                        } else {
                            alert('Dữ liệu bạn đưa vào thống kê có vấn đề, liên hệ với quản trị để biết thêm thông tin');
                        }

                        return;
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });


            }); //end function luu ke hoach click 

            //---------------------------------------------------------------------------------
        });
 
    </script>
<body >

 @RenderPage("~/Views/Shared/_MainMenu.cshtml");
  
      <span><h3 id="thongbao">@ViewBag.thongbao</h3></span>
      @{
          string Total_HS = Model == null ? "" : Model.Total_HS.ToString();
          string Total_HSNu = Model == null ? "" : Model.Total_HSNu.ToString();
          string Total_DoiVien = Model == null ? "" : Model.Total_DoiVien.ToString();
          string Total_ConLietSi = Model == null ? "" : Model.Total_ConLietSi.ToString();
          string Total_ConTB = Model == null ? "" : Model.Total_ConTB.ToString();
          string Total_ConMoCoi = Model == null ? "" : Model.Total_ConMoCoi.ToString();
          string Total_KhuyetTatHoaNhap = Model == null ? "" : Model.Total_KhuyetTatHoaNhap.ToString();
          string Total_LenLopThang = Model == null ? "" : Model.Total_LenLopThang.ToString();
          string Total_ThiLai_LenLop = Model == null ? "" : Model.Total_ThiLai_LenLop.ToString();
          string Total_LuuBan = Model == null ? "" : Model.Total_LuuBan.ToString();
          string Total_MoiVao = Model == null ? "" : Model.Total_MoiVao.ToString();
          
          
        <form id="thongkedaunam" name="thongkedaunam" method="post">
            
            <input type="hidden" name="maLop"  value="@ViewBag.maLop"/>
            <div class="tinhhinhdaunam">  
              <div id="tinhhinhdaunam" class="column1">
                <div class="thongtinthongke">
                    <div class="tieude"><span>Tổng số học sinh</span></div>
                    <div class="inputValues"><input type="text" name="Total_HS" id="Total_HS" value="@Total_HS"/></div>  
                </div> 

                <div class="thongtinthongke">
                    <div class="tieude"><span>Tổng số học sinh nữ</span></div>
                    <div class="inputValues"><input type="text" id="Total_HSNu" name="Total_HSNu" value="@Total_HSNu" /></div>  
                </div> 
                 
                <div class="thongtinthongke">
                    <div class="tieude"><span>Tổng số đội viên</span></div>
                    <div class="inputValues"><input type="text" id="Total_DoiVien" name="Total_DoiVien" value="@Total_DoiVien" /></div>  
                </div> 

                <div class="thongtinthongke">
                    <div class="tieude"><span>Tổng số học sinh con liệt sĩ</span></div>
                    <div class="inputValues"><input type="text" id="Total_ConLietSi" name="Total_ConLietSi" value="@Total_ConLietSi" /></div>  
                </div> 

                <div class="thongtinthongke">
                    <div class="tieude"><span>Tổng số con thương binh</span></div>
                    <div class="inputValues"><input type="text" id="Total_ConTB" name="Total_ConTB" value="@Total_ConTB" /></div>  
                </div> 


               <div class="thongtinthongke">
                    <div class="tieude"><span>Tổng số con mồ côi</span></div>
                    <div class="inputValues"><input type="text" id="Total_ConMoCoi" name="Total_ConMoCoi" value="@Total_ConMoCoi" /></div>  
                </div>  
            </div> 
            
            <div class="column2">
                <div class="thongtinthongke">
                    <div class="tieude"><span>Tổng số khuyết tật hòa nhập</span></div>
                    <div class="inputValues"><input type="text" id="Total_KhuyetTatHoaNhap" name="Total_KhuyetTatHoaNhap" value="@Total_KhuyetTatHoaNhap" /></div>  
                </div>
               
                <div class="thongtinthongke">
                    <div class="tieude"><span>Tổng số lên lớp thẳng</span></div>
                    <div class="inputValues"><input type="text" id="Total_LenLopThang" name="Total_LenLopThang" value="@Total_LenLopThang" /></div>  
                </div>  
               
                <div class="thongtinthongke">
                    <div class="tieude"><span>Tổng số thi lại lên lớp</span></div>
                    <div class="inputValues"><input type="text" id="Total_ThiLai_LenLop" name="Total_ThiLai_LenLop" value="@Total_ThiLai_LenLop" /></div>  
                </div>  
               
                <div class="thongtinthongke">
                    <div class="tieude"><span>Lưu ban</span></div>
                    <div class="inputValues"><input type="text" id="Total_LuuBan" name="Total_LuuBan" value="@Total_LuuBan" /></div>  
                </div>    

                <div class="thongtinthongke">
                    <div class="tieude"><span>Mới vào</span></div>
                    <div class="inputValues"><input type="text" id="Total_MoiVao" name="Total_MoiVao" value="@Total_MoiVao" /></div>  
                </div>    
            </div> 
   
        </div>
    </form>
          }
       <!-- nut lưu -->
      <div class="buttons"><input type="submit" value ="Lưu" id="luukehoach"/></div>
  </body>
</html>
