﻿ @model VnEduPlus.DSHoiPhuHuynh
@{
    ViewBag.Title = "Thống kê đầu năm";
}
 
<!-- bootstrap ---------------------------------------------------------------->
<link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
<script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
<!------------------------------------------------------------------------------> 
<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>

<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
</head>
   
<script type="text/javascript">
    //Todo
    $(document).ready(function () {

        
         $('.delete').off('click').on('click',function() {
          var id = this.id, // mã học sinh - mã lớp,
              maLop = id.split('-')[1],
              maHs = id.split('-')[0];

               $.ajax({
                type: 'get',
                url: '@Url.Action("XoaThongTinDaiDien", "KeHoach")',
                data: {maLop: maLop, maHs: maHs},
                success: function (data) {
                    debugger;
                    if (data != 'ERROR') {
                        alert('Bạn đã xóa dữ liệu thành công');
                        loadDuLieuBanDaiDien();
                    } else {
                        alert('Dữ liệu bạn xóa có vấn đề, liên hệ với quản trị để biết thêm thông tin');
                    }

                    return;
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            });
//--------------------------------------------------------------------------

         $('td:not(.active)').click(function () {
         debugger;
            var id = $(this).parent().attr('id'),
                maLop = id.split('-')[0],
                maHS = id.split('-')[1];
            // call ajax to load du lieu len UI

            $.ajax({
                type: 'get',
                url: '@Url.Action("layDuLieuPhuHuynh", "KeHoach")',
                data: { maLop: maLop, maHS: maHS },
                success: function (data) {
                    return;
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            });

        });

        //-------------------------------------------------------------------------
        $('#luubandaidien').off('click').on('click',function () {

            $.ajax({
                type: 'post',
                url: '@Url.Action("LuuThongTinDaiDien", "KeHoach")',
                data: $('#thongtindaidien').serialize(),
                success: function (data) {
                    debugger;
                    if (data != 'ERROR') {
                        $('#thongbao').empty();
                        alert(data);
                        loadDuLieuBanDaiDien();
                    } else {
                        alert('Dữ liệu phụ huynh của học sinh có thể đã tồn tại, liên hệ với quản trị để biết thêm thông tin');
                    }

                    return;
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            });

        });
    });

    function loadDuLieuBanDaiDien() {
         var maLop = $('#lopHoc').val();
                $.ajax({
                    type: 'get',
                    url: '@Url.Action("DanhSachBanDaiDien", "KeHoach")',
                    data: { maLop: maLop },
                    success: function (data) {
                        $('.danhSachBanDaiDien').empty();
                        $('.danhSachBanDaiDien').html(data);
                        $('#bandaidienphuhuynh').dataTable({
                            "sPaginationType": "full_numbers",
                            "bPaginate": true,
                            "bSort": false,
                            "bSortable": false,
                            "bFilter": false,
                            "bSearchable": false,
                            "bInfo": false,
 
                        });
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });
       }
</script>

 <div class="container">
        <form id="thongtindaidien" name="thongtinphuhuynh" method="post">
          <input type="hidden" name ="idTruong" value="@ViewBag.idTruong" />
          <input type="hidden" name ="NamHoc" value="@ViewBag.NamHoc" />
          <input type="hidden" name ="maLop" value="@ViewBag.maLop" />
            <div class="tinhhinhdaunam">  
              <div id="tinhhinhdaunam" class="column1">
                <div class="thongtinthongke">
                    <div class="tieude"><span>Họ tên phụ huynh</span></div>
                    <div class="inputValues"><input style="width: 200px; height: 33px; font-size: 13px;"   type="text" name="HoTenPH" value="@Model.HoTenPH"/></div>  
                </div> 

                <div class="thongtinthongke">
                    <div class="tieude"><span>Phụ huynh em</span></div>
                    <div class="inputValues">
                         @Html.DropDownListFor(x => Model.MaHocSinh, new SelectList(ViewBag.hocSinh, "MaHocSinh", "HoTen"), new { style = "width: 200px; height: 33px; font-size: 13px;" }) 
                    </div>  
                </div> 
                 
                <div class="thongtinthongke">
                    <div class="tieude"><span>Chức danh</span></div>
                    <div class="inputValues"><input style="width: 200px; height: 33px; font-size: 13px;"  type="text"  name="ChucDanh" value="@Model.ChucDanh" /></div>  
                </div> 

                <div class="thongtinthongke">
                    <div class="tieude"><span>Địa chỉ</span></div>
                    <div class="inputValues"><input style="width: 200px; height: 33px; font-size: 13px;"   type="text" name="Diachi" value="@Model.Diachi" /></div>  
                </div>  
            </div> 
            
            <div class="column2">
                <div class="thongtinthongke">
                    <div class="tieude"><span>Đơn vị CT</span></div>
                    <div class="inputValues"><input  style="width: 200px; height: 33px; font-size: 13px;"  type="text" name="donViCongTac" value="@Model.DonviCongTac" /></div>  
                </div>
               
                <div class="thongtinthongke">
                    <div class="tieude"><span>Điện thoại</span></div>
                    <div class="inputValues"><input style="width: 200px; height: 33px; font-size: 13px;"   type="text"  name="dienThoai" value="@Model.DienThoai" /></div>  
                </div>  
               
                <div class="thongtinthongke">
                    <div class="tieude"><span>Email</span></div>
                    <div class="inputValues"><input  style="width: 200px; height: 33px; font-size: 13px;"  type="text"  name="email" value="@Model.Email" /></div>  
                </div>
                <!--
                <div class="thongtinthongke">
                    <div class="tieude"><span>&nbsp;</span></div>
                    <div class="inputValues"><input type="button" value ="Cập nhật" id="luubandaidien"/></div>
                </div>
                -->
            </div> 
   
        </div>
 </form>
 <!-- nut lưu -->
      
         
 </div>
 