﻿ @model VnEduPlus.TK_DauNamHoc
@{
    ViewBag.Title = "Thống kê đầu năm";
}
 
<!-- bootstrap ---------------------------------------------------------------->
<link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
<script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
<!------------------------------------------------------------------------------>
 

<html lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/kehoach.css")" rel="stylesheet" type="text/css" />
    
	<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
	<link href='@Url.Content("~/css/google.css")' rel='stylesheet' type='text/css'>
     
    
</head>
  
    <script type="text/javascript">
        //Todo
        $(document).ready(function () {
            $('.nav-tabs li a').click(function (evt) {
                $('.nav-tabs li a').removeClass('selected');
                $(this).addClass('selected');
                $('#thoidiem').text(this.text);
            });

            $('#MaLop').change(function () {
                var maLop = $(this).val();

                $.ajax({
                    type: 'get',
                    url: '@Url.Action("ThongKeTinhHinhDauNam", "KeHoach")',
                    data: { maLop: maLop},
                    success: function (data) {
                        $('.thongkedaunam').empty();
                        $('.thongkedaunam').html(data);
                        return;
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                }); 
            }); 
//----------------------------------------------------------------------------------------------------
        });
 
    </script>
<body >

 @RenderPage("~/Views/Shared/_MainMenu.cshtml");
 

 <div class="container">
     <div class="kehoach_header">
        <div class="namhoc">
            <h2>
               @ViewBag.tenTruong - Năm học: @ViewBag.namHoc
            </h2>
        </div>

       <div class="lophoc">
         Chọn lớp:&nbsp;
             @Html.DropDownListFor(x => Model.MaLop, new SelectList(ViewBag.lopHoc, "maLop", "tenLop")) 
       </div>
     </div>
      
      <div class="thongkedaunam"></div>      
     
 </div>
 
  </body>
</html>
