﻿#fix_header{
				position: fixed;
   				left: 0;
   				width: 100%;
   	

}
input[type="text"], input[type="password"] {
    background-color: transparent;
    border: 0;
    text-align: center;
    font-size: 12px;
	width: 98%;
}

input[type="text"]:readonly {
background: #e5e5e5;
}

input:focus{
				background-color: #FFFFFF;
				
}

table td {
    border: 1px solid #1a1a1a;
	padding: 0;
	background: #fff;
	vertical-align: middle;
	
}

.dinhdanghang{
	height: 25px;
}

.xoavien{
	border: 0;
}