﻿.thanhtieude_nen{
				background-image:url('../Images/edu_form/barnen.jpg');
				height: 28px;
				border-top: 1px solid #99bce8;
				border-bottom: 1px solid #99bce8;
				font-family: Tahoma;
				font-size: 12px; 
				font-weight: bold;
				text-decoration: none;
				vertical-align: middle;
				
			
				
}

.tieude_nen{
				background-image: url('../Images/edu_form/nen_tieude.jpg');
				height: 22px;
				border-bottom: 1px solid #c5c5c5;
				font-family:Arial, Helvetica, sans-serif;
}

.pcach {
				border-left: 1px solid #C0C0C0;
				
				text-align: center;
				font-size: 11px;  
				color: #666666;
				font-family: Arial, Helvetica, sans-serif;
}

.chu_tieude{
				text-align: center;
				font-size: 11px;  
				color: #666666;
				font-family: Arial, Helvetica, sans-serif;
}

.dulieu{
				padding-left: 10px;
				font-size: 11px;  
				color: #000;
				text-decoration: none;
				border-bottom: 1px solid  #C0C0C0;
				
}

.dulieu_trong{
				font-size: 11px;  
				font-family: Arial, Helvetica, sans-serif;

}

.canhgiua{
				text-align: center;
				text-decoration: none;
				border-bottom: 1px solid #CCCCCC;
}

.hoverhang{
				height: 30px;
}

tr:hover td.hoverhang {
				background-color: #fff;
}


.dropdown select{
				height: 22px; 
				font-size: 12px;
				font-family: Tahoma;
				-webkit-appearance: none;  /*Removes default chrome and safari style*/
				-moz-appearance: none;
				appearance:none;
}


input[type="text"], input[type="password"]
{
				background-color: #D7EEFB;
}
 
 
#fix_header{
				position: fixed;
   				top: 0;
   				left: 0;
   				
   	

}

tr.dorongbang{
				width: 100%; 
				background-color:#D7EEFB;
}

table{
	border: 0;
}
table td {
	border: 0px solid #0f0f0f;
}

@media (min-width:1200px) and (max-width: 1300px){
	.tongngay{
		content:'';
		height: 46px;	
	}
	
	.tongngay:after
	{
		content: 'Tổng số ngày nghỉ';
		text-align: center;
		font-size: 92%;
				

	}
}

@media (min-width: 1301px) and (max-width: 1400px){
	.tongngay{
		content:'';
	}
	
	.tongngay:after
	{
		  content: 'Tổng số ngày nghỉ của học sinh. Bên trái là có phép, bên phải là không';
		  text-align: center;
		  min-height: 60px;
		  
	}
}
	
@media (max-width:1119px){
	.tongngay{
		content:'';
	}
	
	.tongngay:after
	{
		  content: 'Tổng số ngày nghỉ';
		  text-align: center;
		  min-height: 60px;
		  
	}
}
