﻿.thanhtieude_nen{
				background-image:url('../Images/edu_form/barnen.jpg');
				height: 26px;
				border-top: 1px solid #99bce8;
				border-bottom: 1px solid #99bce8;
				font-family: Tahoma;
				font-size: 12px; 
				font-weight: bold;
				text-decoration: none;
				vertical-align: middle;
				
			
				
}

.tieude_nen{
				background-image: url('../Images/edu_form/nen_tieude.jpg');
				height: 22px;
				border-bottom: 1px solid #c5c5c5;
				font-family:Arial, Helvetica, sans-serif;
}

.pcach {
				border-left: 1px solid #C0C0C0;
				text-align: center;
				font-size: 11px;  
				color: #666666;
				font-family: Arial, Helvetica, sans-serif;
}

.chu_tieude{
				text-align: center;
				font-size: 11px;
				color: #666666;
				font-family: Arial, Helvetica, sans-serif;
}

.dulieu{
				padding-left: 10px;
				font-size: 11px;
				color: #000;
				text-decoration: none;
				border-bottom: 1px solid #C0C0C0;
								
				
}

.dulieu_trong{
				font-size: 11px;  
				font-family: Arial, Helvetica, sans-serif;

}

.canhgiua{
				text-align: center;
				text-decoration: none;
				border-bottom: 1px solid #CCCCCC;
}

img.icon_chucnang{
				width: 20px;
				height: 20px;
				
}

img.icon_chucnang a:hover{
				
				background-color: fuchsia
}

.hoverhang{
				height: 30px;
}

tr:hover td.hoverhang {
				background-color: #C1E0FF;
}



.icon_chucnang_canh{
				margin-bottom: -5px;
}

#fix_header{
				position: fixed;
   				left: 0;
   				width: 100%;
   	

}

.keobang{
				border-bottom: 1px solid #B3D3FF;
				border-left:1px solid #B3D3FF;
				border-collapse: collapse;
				text-align: center;
				
				
}

.hienhang{
				height: 22px;
}
.hienhang:hover{
				background: #E3EFFF url('../Images/hover.jpg');
				cursor: pointer;

}

.tieudejgrid{
				background: #E3EFFF url('../Images/nentren.jpg');
				cursor: pointer;

}

input[type="text"], input[type="password"] {
    background-color: transparent;
    border: 0;
    text-align: center;
    font-size: 12px;
	width: 92%;
	text-transform: UPPERCASE;
}

input:focus{
				background-color: #FFFFFF;
				
}

table td {
    border: 1px solid #1a1a1a;
	padding: 0px;
	background: #fff;
	vertical-align: middle;
	
}

.dinhdanghang{
	height: 25px;
}
 
.thuper{
	width: 4%;
}

.thuper1{
	width: 20%;
}