﻿nav ul ul {
	display: none;
	margin-top: 6px;
	
}

	nav ul li:hover > ul {
		display: block;
		max-width: 180px;
		z-index: 4;
	}
	

nav ul ul {
	background: #e5e8ea; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	nav ul ul li {
		float: none; 
		border: 1px solid #c0c0c0;
		position: relative;

	}
		nav ul ul li a {
			padding-top: 5px;
			color: #fff;
			background: #e5e8ea;
			text-align: left;
		}	
			nav ul ul li a:hover {
				background: #e5e8ea;
				
			}
	
	
	
/* Fixed top*/
#tablemn {
	top: 0;
	position: fixed;
	width: 100%;
	background-image: url('mnb.jpg');
	height: 46px;
	box-shadow: 0px 3px 3px #888888;
	
}

#tablemno {
	top: 0;
	position: relative;
	width: 100%;
	background-image: url('mnb.jpg');
	height: 46px;
	box-shadow: 0px 3px 3px #888888;
	
}

#tablemn1{
		width: 100%;
	background-image: url('mnb.jpg');
	height: 46px;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles */
body {
	background-color: #fff;
}
nav {
	height: 40px;
	width: 100%;
	font-size: 12px;
	font-family: Tahoma;
	position: relative;

}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 1180px;
	height: 40px;
	
}
nav li {
	/* display: inline; */
	float: left;

}
nav a {
	color: #fff;
	display: inline-block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	padding: 5px 20px;

}
nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	height: 46px;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background: #8c99a4 url('hv.jpg');
	height: 46px;
	
}
nav a#pull {
	display: none;
}

/*Styles for screen 600px and lower
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #283744;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}


