﻿ @model VnEduPlus.Models.HieuTruongUploadFiles
 <head>
  <script type="text/javascript">
    $(document).ready(function () {
              $('.deleteFile').click(function (evt) {

                  var id = this.id;
                  // call ajax to delete file upload nếu người dùng đồng ý xóa
                  if (confirm('Bạn có chắc muốn xóa file upload này không ?') == true) {
                      $.ajax({
                          url: '@Url.Action("DeleteFile", "QuanLyTaiLieu")',
                          data: { idFileUpload: id },
                          type: 'GET',
                          success: function (data) {
                              $('#viewdata').empty();
                              $('#viewdata').html(data);
                          }, // end sucess
                          error: function (data) {
                              alert('Xóa file không thành công');
                          } //end erros

                      }); // end $.ajax
                  }

              }); // end xóa file
      
       
      });
  </script>
 
 </head>
 <table class="table table-bordered">
      <thead>
      <tr>
        <th style="text-align: center">Mô tả</th>
        <th style="text-align: center">Tải về</th>
        <th style="text-align: center">Chức năng</th>
      </tr>
    </thead>
    <tbody>
    @{
        foreach(var item in Model.fileuploads)
        {
           <tr>
             <td style="text-align: center">@item.desciption</td>
             <td style="text-align: center"><a href="@item.path" >@item.fileName</a></td>
             <td style="text-align: center"><span class="deleteFile" id="@item.ID"><img style="cursor: pointer;" src="../../Images/Delete.png" style="width: 18px; margin-top: -2px;" alt="Xóa file" />Xóa file</span></td>
           </tr>      
        }
    }
     </tbody>

</table>