﻿@model VnEduPlus.Models.HieuTruongUploadFiles
  
@{
    ViewBag.Title = "Hồ sơ khối lớp";
}
<html lang="en">
<head>
<link rel="icon" media="all" href="@Url.Content("~/Images/favicon.ico")" type="image/x-icon"> 
<link rel="icon" href="@Url.Content("~/Images/favicon.ico")" type="image/icon">

    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
    
    <link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
    	

<!-- bootstrap ---------------------------------------------------------------->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
<!-------------------------------------------------------------------------------->
   
    
    <link rel="stylesheet" href="@Url.Content("~/css/giaovienchunhiemnhanxet.css")">
    
   <!-- Trung lam -->
    <link href="@Url.Content("~/Content/edu_form_qllh.css")" rel="stylesheet" type="text/css" />
  
  <!-- datatable with bootstrap --> 
  <script src="@Url.Content("~/Scripts/DataTablebootstrap/dataTables.bootstrap.min.js")" type="text/javascript"></script>
  <link href="@Url.Content("~/css/bootstrap/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
  
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validationEngine-vi.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hashchange.min.js")" type="text/javascript"></script>

  <script src="@Url.Content("~/Addons/file-upload/jquery.fileupload.js")"></script>
  <script src="@Url.Content("~/Addons/file-upload/jquery.fileupload-ui.js")"></script>
  <script src="@Url.Content("~/Addons/file-upload/jquery.iframe-transport.js")"></script>


    
    <style type="text/css">
    .transItems
    {
        border: 0;
        background: transparent;
        width: 28px;
    }
    
</style>
	 
	 @{
    ViewBag.Title = "Hồ sơ khối lớp";
}

    <script type="text/javascript">

        var jqXHRData;
        $(document).ready(function () {
            initAutoFileUpload();

            $('#taiFilie').click(function () {
                var mota = $('#mota').val();
                var fileName = $('#fileId').val();
                debugger;
                if (jqXHRData) {
                    jqXHRData.submit();
                }

            });

            $('.deleteFile').click(function (evt) {

                var id = this.id;
                // call ajax to delete file upload nếu người dùng đồng ý xóa
                if (confirm('Bạn có chắc muốn xóa file upload này không ?') == true) {
                    $.ajax({
                        url: '@Url.Action("DeleteFile", "QuanLyTaiLieu")',
                        data: { idFileUpload: id },
                        type: 'GET',
                         success: function (data) {
                            $('#viewdata').empty();
                            $('#viewdata').html(data);
                         }, // end sucess
                        error: function (data) {
                            alert('Xóa file không thành công');
                        } //end erros

                    }); // end $.ajax
                }

            }); // end xóa file 



        });                    //end document ready



        function initAutoFileUpload() {
            'use strict';
            debugger;
            var truong = document.getElementById("idTruong").value;
            var fileName = $('#fileId').val();
            debugger;

            // thuc hien post file mau len tren server      
            //----------------------------------------------------------------------------------------------
            $('.auto-upload').fileupload({
                url: '/File/HieuTruongUploadFileMau?truong=' + truong + '&fileName=' + fileName,
                dataType: 'json',
                add: function (e, data) {
                    jqXHRData = data;
                },
                done: function (event, data) {
                    if (data.result.isUploaded) {
                        //alert(data.result.message);
                        var path = data.result.message;
                        var description = $('#mota').val();
                        // sau khi tai file len server thi nó sẽ call một ajax để insert dư liệu vao database
                        $.ajax({
                            url: '@Url.Action("addFiles", "QuanLyTaiLieu")',
                            data: { idTruong: truong, fileName: fileName, description: description, path: path },
                            type: 'POST',
                            success: function (data) {
                                debugger;
                                if (data == "OK") {
                                    alert('Bạn đã thêm mới thành công dữ liệu');
                                    reLoaData(truong);
                                } else {
                                    alert('Bạn đã thêm mới không thành công dữ liệu');
                                }

                            } // end sucess
                       ,

                            error: function (data) {

                                alert('không thêm mới thành công');
                            } //end erros

                        }); // end $.ajax

                    }
                },
                fail: function (event, data) {
                    if (data.files[0].error) {
                        alert(data.files[0].error);
                    }
                }
            });     // end method file upload
            //-------------------------------------------------------------------------------------------------  

        } // end function initAutoFileUpload  
        //-----------------------------------------------------------------------------------------------

        function readURL(input) {
            var filename = input.value;

            var fileSpit = input.value.split('.');
            var extentionfile = fileSpit[1];
            var lastName = filename.substr(filename.lastIndexOf("\\") + 1, filename.length);
            var shortFileName = lastName.substr(0, lastName.indexOf("."));
            $('#fileId').val(shortFileName);
            debugger;
            if (extentionfile.toLowerCase() == 'xls'
            || extentionfile.toLowerCase() == 'dot'
            || extentionfile.toLowerCase() == 'doc'
            || extentionfile.toLowerCase() == 'docx'
            || extentionfile.toLowerCase() == 'dotx') {
                if (input.files && input.files[0]) {
                    debugger;
                    var fileSize = Math.round(input.files[0].size / 1024);
                    if (fileSize <= 2048) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            
                        };
                        reader.readAsDataURL(input.files[0]);
                        initAutoFileUpload();
                        return false;
                    }
                    else {
                        alert('Yêu cầu tải file có kích thước nhỏ! Kích thước tối đa 2MB');
                        return false;
                    }
                }
            }
            else {
                alert('Bạn phải chọn một tập tin hình ảnh có định dạng là excel hoặc doc!');
                return false;
            }
        } //--------------------- end function readURL --------------------------

        
         function reLoaData(idTruong){
            // thực hiện hiện thị dữ liệu sau khi đã thêm mới thành công
             $.ajax({
                 url: '@Url.Action("DanhSachTaiLieuMauMoiNhat", "QuanLyTaiLieu")',
                 data: { idTruong: idTruong},
                 type: 'GET',
                 success: function (data) {
                     debugger;
                     $('#viewdata').empty();
                     $('#viewdata').html(data);
                 } // end sucess
                       ,

                 error: function (data) {
                     alert('Có vấn đề trong truy vấn dữ liệu, đề nghị bạn liên hệ với admin');
                 } //end erros

             });   // end $.ajax
         }

  </script>


</head>
 

<!-- Trung lam -->
<form name="frmThongKeLopHoc" method=post action="">
 @RenderPage("~/Views/Shared/_MainMenu.cshtml");

<input type="hidden" id="idTruong" name="idTruong" value="@ViewBag.idTruong" />
<div class="contain">  
<fieldset style="margin-top: 50px">
 <legend>Hiệu Trưởng Thêm File Mẫu</legend>
<table width="50%" id="add" border="1" bgcolor="#e8eef7" style="margin-top: 0px;">
 <tr><td>Tên file cần tải lên:</td><td align="left">
  <input type="text" readonly="readonly" id="fileId" value="" style="width: 250px;" />
 </td> 
 <td style="padding: 10px 0px;">@Html.TextBoxFor(m =>Model.MyFile, new { @class = "auto-upload", onchange = "readURL(this)", type = "file" })</td>
 </tr>
 <tr><td>Mô tả:</td><td colspan="2"><input type="text" id="mota" value=""  style="width: 250px;"/> </td></tr>
 <tr><td  colspan="3" align="center"><input style="margin-top: 3px; height: 25px" type="button" id="taiFilie" value="Tải file lên" /></td></tr>
</table> 
</fieldset>
<div id="viewdata">
<table class="table table-bordered">
    <thead>
      <tr>
        <th style="text-align: center">Mô tả</th>
        <th style="text-align: center">Tải về</th>
        <th style="text-align: center">Chức năng</th>
      </tr>
    </thead>
    <tbody>
     @{
        foreach(var item in Model.fileuploads)
        {
           <tr>
             <td style="text-align: center">@item.desciption</td>
             <td style="text-align: center"><a href="@item.path" >@item.fileName</a></td>
             <td style="text-align: center;"><span style="cursor: pointer;" class="deleteFile" id="@item.ID"><img src="../../Images/Delete.png" style="width: 18px; margin-top: -2px;" alt="Xóa file" />  Xóa file</span></td>
           </tr>      
        }
     }
      
    </tbody>
  </table>
</div>
</div>
</form>
 
  