﻿@model VnEduPlus.Models.HieuTruongUploadFiles
  
@{
    ViewBag.Title = "Hồ sơ khối lớp";
}
<html lang="en">
<head>
<link rel="icon" media="all" href="@Url.Content("~/Images/favicon.ico")" type="image/x-icon"> 
<link rel="icon" href="@Url.Content("~/Images/favicon.ico")" type="image/icon">

    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
    
    <link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
    	
   
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">

    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>    
   
    
    <link rel="stylesheet" href="@Url.Content("~/css/giaovienchunhiemnhanxet.css")">
    
   <!-- Trung lam -->
    <link href="@Url.Content("~/Content/edu_form_qllh.css")" rel="stylesheet" type="text/css" />
  
  <!-- datatable with bootstrap --> 
  
      
    <style type="text/css">
    .transItems
    {
        border: 0;
        background: transparent;
        width: 28px;
    }
    
</style>
	 
	 @{
       ViewBag.Title = "Danh sách file mẫu";
}

   
</head>
 

<!-- Trung lam -->

 @RenderPage("~/Views/Shared/_MainMenu.cshtml");

<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
<input type="hidden" id="maLopSelected" name="maLop" value=""/>
  
 <table id="fix_header" width="100%" border="0" bgcolor="#e8eef7" style="margin-top: 47px;">
  <tr>
  	<!-- Trung lam -->
    <td style="width: 100%" class="thanhtieude_nen" colspan="3"  align="center">
    @ViewBag.tentruong &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Năm học: @ViewBag.namhientai &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
  </tr>
  
	<tr class="tieude_nen" style="margin-top: 33px;">
    <td style="font-size: 12px; font-weight: bold;" width="10%" class="chu_tieude">STT</td>
    <td style="font-size: 12px; font-weight: bold;" width="50%" class="pcach">Tên File</td>
    <td style="font-size: 12px; font-weight: bold;" width="50%" class="pcach">Download</td>
	</tr>
</table> 

 <table class="table table-bordered" style="margin-top:76px">

    <tbody>
     @{
                int i = 0;    
                foreach(var item in Model.fileuploads)
                    {
                       <tr class="hoverhang">
						 <td width="10%" class="canhgiua" style="border-right: 0px;border-left: 0px;">@(i+1)</td>
                         <td width="50%" class="canhgiua" style="border-right: 0px;border-left: 0px;">@item.desciption</td>
                         <td width="40%" class="canhgiua" style="border-right: 0px;border-left: 0px;"><a href="@item.path" ><img style="height: 24px;" src="../../Images/download.png" /></a></td>
                       </tr>      
                        i++;
                    }
                 }
      
    </tbody>
  </table>
 
 
