﻿@model VnEduPlus.Models.TaiLieuThamKhao
   
   <head>
  <!-- datatable with bootstrap --> 
  
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
 <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
 
<script src="@Url.Content("~/Addons/file-upload/jquery.fileupload.js")"></script>
<script src="@Url.Content("~/Addons/file-upload/jquery.fileupload-ui.js")"></script>
<script src="@Url.Content("~/Addons/file-upload/jquery.iframe-transport.js")"></script>
   </head>

   <script type="text/javascript">
       var jqXHRData;

       $(document).ready(function () {
           initAutoFileUpload();
           $('.uploadFile').click(function (evt) {
               $('#maLopSelected').val(this.id);
               $('#up_' + this.id).click();
           });
            
       });//end document ready


       function initAutoFileUpload() {
           'use strict';
           debugger;
           var maLop = $('#maLopSelected').val();
           var filename = "SoChuNhiem_" + maLop;
           var truong = document.getElementById("idtruong").value;
           var namHienTai = $('#namTaiLieu').val();

           // thuc hien post file mau len tren server      
           //----------------------------------------------------------------------------------------------
           $('.auto-upload').fileupload({
               url: '/File/UploadFileSoChuNhiem?maLop=' + maLop + '&filename=' + filename + '&truong=' + truong + '&namHienTai=' + namHienTai,
               dataType: 'json',
               add: function (e, data) {
                   jqXHRData = data;
                   if (jqXHRData) {
                       jqXHRData.submit();
                   }
               },
               done: function (event, data) {
                   if (data.result.isUploaded) {
                       $('#xemfile_' + maLop).show();
                       $('#xemfile_' + maLop).attr('href', data.result.message);
                       alert('Bạn đã tải file thành công !');
                   }
               },
               fail: function (event, data) {
                   if (data.files[0].error) {
                       alert(data.files[0].error);
                   }
               }
           });   // end method file upload
           //-------------------------------------------------------------------------------------------------  

       } // end function initAutoFileUpload  
       //-----------------------------------------------------------------------------------------------
       function readURL(input) {
           var filename = input.value;

           var fileSpit = input.value.split('.');
           var extentionfile = fileSpit[1];

           if (extentionfile.toLowerCase() == 'xls' || extentionfile.toLowerCase() == 'doc' || extentionfile.toLowerCase() == 'docx') {
               if (input.files && input.files[0]) {
                   debugger;
                   var fileSize = Math.round(input.files[0].size / 1024);
                   if (fileSize <= 2048) {
                       var reader = new FileReader();
                       reader.onload = function (e) {

                       };
                       reader.readAsDataURL(input.files[0]);
                       initAutoFileUpload();
                       return false;
                   }
                   else {
                       alert('Yêu cầu tải file có kích thước nhỏ! Kích thước tối đa 2MB');
                       return false;
                   }
               }
           }
           else {
               alert('Bạn phải chọn một tập tin hình ảnh có định dạng là excel hoặc doc!');
               return false;
           }
       } //--------------------- end function readURL --------------------------


</script>

            <table width="100%" border="0" bgcolor="#e8eef7" style="margin-top: 30px;" class="thongKeLopHoc">
               
                @{
                    string danhsachTL = ViewBag.danhsachTailieu;
                    foreach (var item in Model.taiLieuMau)
                    {
                            string danhSachGv = "";
                            string fileId = "xemfile_" + item.malop;
                            <tr class="hoverhang">
                                <td width="7%"  class="canhgiua" style="padding-left:30px">@item.makhoi</td>
                                <td width="7%"  class="canhgiua" style="padding-left:70px">@item.tenLop</td>
                                <td width="20%"  class="dulieu" style="padding-left:50px"> 
    
                                    @foreach (var tenGiaoVien in @item.tenGiaoVienLists)
                                    {
                                        danhSachGv += tenGiaoVien.fullName.ToString() + ",";

                                    }
                                    @{
                                    if (danhSachGv != null && danhSachGv.Length > 0)
                                    {
                                        danhSachGv = danhSachGv.Substring(0, danhSachGv.Length - 1);// loai bo dau phay sau cung 
                                    }
                                    }
                                    @danhSachGv
                                </td>
                                
                             <td width="20%"  class="canhgiua hoverhang">
                                    @{
                                        string fileName = ViewBag.namTaiLieu +"_SoChuNhiem_" + item.malop;
                                        if (danhsachTL.Contains(fileName) == true)
                                        {
                                            string fileNamFull = Array.Find(danhsachTL.Split(','),
                                                       element => element.StartsWith(fileName, StringComparison.Ordinal));
                                            string path = ViewBag.path + item.malop + "/" + fileNamFull;
                                            <a style="" id="@fileId" href="@path">@fileName</a>
                                        }
                                         else
                                        {
                                            <a style="display:none" id="@fileId" href="#">@fileName</a>
                                        }
                                         
                                     }
                                </td>

                                <td width="40%"   class="canhgiua hoverhang" style="text-align: center;"> 
                                @if (@item.quyenUploadFile == true)
                                {
                                <div >
                                <img id="@item.malop" class="uploadFile" src="@Url.Content("~/Images/file_upload_icon.png")" style="height: 20px;"/>
                        
                                @Html.TextBoxFor(m => item.MyFile, new { id = "up_" + @item.malop, @class = "auto-upload", style = "display: none;", onchange = "readURL(this)", type = "file" })</div>
                                }
                                 
                                </td>

                               
                          
                            </tr>
                        }
                }
            </table> 
 
