﻿@model IEnumerable<VnEduPlus.Models.Viewthongkelophoc>
  
@{
    ViewBag.Title = "Hồ sơ khối lớp";
}
<html lang="en">
<head>
<link rel="icon" media="all" href="@Url.Content("~/Images/favicon.ico")" type="image/x-icon"> 
<link rel="icon" href="@Url.Content("~/Images/favicon.ico")" type="image/icon">

    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
    
    <link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
    	
   
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">

    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>    
   
    
    <link rel="stylesheet" href="@Url.Content("~/css/giaovienchunhiemnhanxet.css")">
    
   <!-- Trung lam -->
    <link href="@Url.Content("~/Content/edu_form_qllh.css")" rel="stylesheet" type="text/css" />
  
  <!-- datatable with bootstrap --> 
  
 <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/template.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validationEngine-vi.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hashchange.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Addons/file-upload/jquery.fileupload.js")"></script>
<script src="@Url.Content("~/Addons/file-upload/jquery.fileupload-ui.js")"></script>
<script src="@Url.Content("~/Addons/file-upload/jquery.iframe-transport.js")"></script>


    
    <style type="text/css">
    .transItems
    {
        border: 0;
        background: transparent;
        width: 28px;
    }
    
</style>
	 
	 @{
    ViewBag.Title = "Hồ sơ khối lớp";
}

    <script type="text/javascript">
        var jqXHRData;
        $(document).ready(function () {
            initAutoFileUpload();
            $('.uploadFile').click(function (evt) {
                $('#maLopSelected').val(this.id);
                $('#up_' + this.id).click();
            });

        });

        
        function initAutoFileUpload() {
            'use strict';
            debugger;
            var maLop = $('#maLopSelected').val();
            var filename = "SoChuNhiem_" + maLop;
            var truong = document.getElementById("idtruong").value;
           
           // thuc hien post file mau len tren server      
           //----------------------------------------------------------------------------------------------
            $('.auto-upload').fileupload({
                url: '/File/UploadFileSoChuNhiem?maLop=' + maLop + '&filename=' + filename + '&truong=' + truong,
                dataType: 'json',
                add: function (e, data) {
                    jqXHRData = data;
                    if (jqXHRData) {
                        jqXHRData.submit();
                    }
                },
                done: function (event, data) {
                    if (data.result.isUploaded) {
                        $('#xemfile_' + maLop).show();
                        $('#xemfile_' + maLop).attr('href', data.result.message);
                    }
                },
                fail: function (event, data) {
                    if (data.files[0].error) {
                        alert(data.files[0].error);
                    }
                }
            });  // end method file upload
        //-------------------------------------------------------------------------------------------------  

        } // end function initAutoFileUpload  
        //-----------------------------------------------------------------------------------------------
        function readURL(input) {
            var filename = input.value;
            
            var fileSpit = input.value.split('.');
            var extentionfile = fileSpit[1];

            if (extentionfile.toLowerCase() == 'xls' || extentionfile.toLowerCase() == 'doc' || extentionfile.toLowerCase() == 'docx') {
                if (input.files && input.files[0]) {
                    debugger;
                    var fileSize = Math.round(input.files[0].size / 1024);
                    if (fileSize <= 2048) {
                        var reader = new FileReader();
                        reader.onload = function (e) {

                        };
                        reader.readAsDataURL(input.files[0]);
                        initAutoFileUpload();
                        return false;
                    }
                    else {
                        alert('Yêu cầu tải file có kích thước nhỏ! Kích thước tối đa 2MB');
                        return false;
                    }
                }
            }
            else {
                alert('Bạn phải chọn một tập tin hình ảnh có định dạng là excel hoặc doc!');
                return false;
            }
        } //--------------------- end function readURL --------------------------


</script>
</head>
 

<!-- Trung lam -->
<form id="form" name="tailieumau" method=post action="">
 @RenderPage("~/Views/Shared/_MainMenu.cshtml");

<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
<input type="hidden" id="maLopSelected" name="maLop" value=""/>
  
 <table id="fix_header" width="100%" border="0" bgcolor="#e8eef7" style="margin-top: 47px;">
  <tr>
  	<!-- Trung lam -->
    <td style="width: 100%" class="thanhtieude_nen" colspan="11"  align="center">
    Trường : @ViewBag.tentruong &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="button" style="display:none" id="taiFile" value="Tai file" />
      Năm học: @ViewBag.namhientai &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
  </tr>
  
	<tr class="tieude_nen" style="margin-top: 33px">
    <td width="7%" class="chu_tieude"><strong>Kh&#7889;i</strong></td>
    <td width="7%" class="pcach"><strong>L&#7899;p</strong></td>
    <td width="20%" class="pcach"><strong>GVCN</strong></td>
    <td width="20%"  class="pcach"><strong>Xem File </strong></td>
    <td width="40%"  class="pcach"><strong>Gửi File</strong></td>
    
    
	</tr>
</table>
   

<table width="100%" border="0" bgcolor="#e8eef7" style="margin-top: 46px;">
    <tr><td id="viewdata">
            <table width="100%" border="0" bgcolor="#e8eef7" style="margin-top: 30px;" class="thongKeLopHoc">
               
                @{
                    string danhsachTL = ViewBag.danhsachTailieu;
                    foreach (var item in Model)
                    {
                            string danhSachGv = "";
                            string fileId = "xemfile_" + item.malop;
                            <tr class="hoverhang">
                                <td width="7%"  class="canhgiua">@item.makhoi</td>
                                <td width="7%"  class="canhgiua">@item.tenLop</td>
                                <td width="20%"  class="dulieu"> 
    
                                    @foreach (var tenGiaoVien in @item.tenGiaoVienLists)
                                    {
                                        danhSachGv += tenGiaoVien.fullName.ToString() + ",";

                                    }
                                    @{
                                    if (danhSachGv != null && danhSachGv.Length > 0)
                                    {
                                        danhSachGv = danhSachGv.Substring(0, danhSachGv.Length - 1);// loai bo dau phay sau cung 
                                    }
                                    }
                                    @danhSachGv
                                </td>
                                
                             <td width="20%"  class="canhgiua hoverhang">
                                    @{
                                        string fileName = "SoChuNhiem_" + item.malop;
                                        if (danhsachTL.Contains(fileName) == true)
                                        {
                                            string fileNamFull = Array.Find(danhsachTL.Split(','),
                                                       element => element.StartsWith(fileName, StringComparison.Ordinal));
                                            string path = ViewBag.path + item.malop + "/" + fileNamFull;
                                            <a style="" id="@fileId" href="@path">@fileName</a>
                                        }
                                        else
                                        {
                                            <a style="display:none" id="@fileId" href="#">@fileName</a>
                                        }
                                     }
                                </td>

                                <td width="40%"   class="canhgiua hoverhang" style="text-align: center;"> 
                        
                                <div>
                                <img id="@item.malop" class="uploadFile" src="@Url.Content("~/Images/file_upload_icon.png")" style="height: 20px;"/>
                        
                                @Html.TextBoxFor(m => item.MyFile, new { id = "up_" + @item.malop, @class = "auto-upload", style = "display: none;", onchange = "readURL(this)", type = "file" })</div>
                                </td>

                               
                          
                            </tr>
                        }
                }
            </table>

        </td></tr>
          

</table>

</form>
 
