﻿@model IList<VnEduPlus.Models.ChuongTrinh>
@{
    ViewBag.Title = "Khung Chương trình";
}
  
  <h1>@ViewBag.thang</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 5%;">Tuần</th>
        <th style="width: 95%;">Nội dung</th>
        
      </tr>
    </thead>
    <tbody>
     @{
        
         for (int i = 0; i < Model.Count(); i++)
         {
            <tr>
            <td>@Model[i].tuan</td>
            <td>@Model[i].noidung</td>
             
            </tr>
         }
      }
    </tbody>
  </table>

  
 

