﻿@model IEnumerable<VnEduPlus.Models.ChuongTrinhKhungLop>
@{
    ViewBag.Title = "Khung Chương trình";
}
  
  <h1>@ViewBag.thang</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th style="width: 5%;">Môn</th>
        <th style="width: 95%;">Nội dung</th>
        
      </tr>
    </thead>
    <tbody>
     @{
        
         List<VnEduPlus.Models.ChuongTrinhKhungLop> CT =(List<VnEduPlus.Models.ChuongTrinhKhungLop>) Model.ToList();
         for (int i = 0; i < CT.Count(); i++)
         {
             List<VnEduPlus.Models.ChuongTrinh> khungCT = (List<VnEduPlus.Models.ChuongTrinh>) CT[i].khungCT;
             if (khungCT.Count>0) {
                     <tr>
                        <td>@CT[i].maMon<td>
                            <table>
                                @{ for (int j = 0; j < khungCT.Count; j++ )
                                   {
                                       <tr><td>@khungCT[j].tuan</td>
                                        <td>@khungCT[j].noidung</td>
                                       </tr>
                                   }
                                }
                            </table>
                        </td>
             
                    </tr>
             }
         }
      }
    </tbody>
  </table>

  
 

