﻿@model VnEduPlus.Models.ViewModelAll
@{
    ViewBag.Title = "Thông tin cá nhân";
}
<style>
    /* Example Styles for Demo */
    .etabs { margin: 0; padding: 0 10px; }
    .tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #c0c0c0; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
    .tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
    .tab a:hover { text-decoration: underline; }
    .tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #c0c0c0; }
    .tab a.active { font-weight: bold; }
    .tab-container .panel-container { background: #fff; border-top: solid #c0c0c0 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
    .panel-container { margin-bottom: 0px; }
  </style>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hashchange.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>

<!-- Trung lam -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>


<script type="text/javascript">
    $(document).ready(function () {
        $('#tab-container').easytabs();
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#ngaysinh").datepicker(
            {
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1940:2500'
            });
        $("#ngaycap").datepicker(
            {
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '1980:2500'
            });


        $("#savecauhinh").click(function () {

            
            var allinfo_user = "";
            var hoten = document.getElementById("hoten").value;
            allinfo_user = allinfo_user + hoten;
            var ngaysinh = document.getElementById("ngaysinh").value;
            allinfo_user = allinfo_user + "," + ngaysinh;
            var gioitinh = document.getElementById("gioitinh").checked;
            allinfo_user = allinfo_user + "," + gioitinh;
            var cmnd = document.getElementById("cmnd").value;
            allinfo_user = allinfo_user + "," + cmnd;
            var ngaycap = document.getElementById("ngaycap").value;
            allinfo_user = allinfo_user + "," + ngaycap;
            var noicap = document.getElementById("noicap").value;
            allinfo_user = allinfo_user + "," + noicap;
            var dienthoai = document.getElementById("dienthoai").value;
            allinfo_user = allinfo_user + "," + dienthoai;

            var email = document.getElementById("email").value;
            allinfo_user = allinfo_user + "," + email;

            var p1 = document.getElementById("p1").value;
            allinfo_user = allinfo_user + "," + p1;

            var p1 = document.getElementById("p1").value;
            var p2 = document.getElementById("p2").value;
            if (p1 != p2) {
                alert("Mật khẩu nhập không trùng khớp nhau. Xin vui lòng xem lại thông tin mật khẩu!");
            }
            else {
                $.ajax({ type: 'Post',
                    url: '@Url.Action("SaveCauhinh", "UserProfile")',
                    data: {userinfo: allinfo_user },
                    success: function (data) {
                        if (data = "success")
                            alert("Lưu thành công");
                    }
                });

            }

        });

        $("#savetaikhoan").click(function () {
            var allinfo_user = "";
            var p1 = document.getElementById("p1").value;
            var p2 = document.getElementById("p2").value;
            var p3 = document.getElementById("p3").value;
            allinfo_user = allinfo_user + p1 + "," + p3;

            if (p1 != p2) {
                alert("Mật khẩu nhập không trùng khớp nhau. Xin vui lòng xem lại thông tin mật khẩu!");
            }
            else if(!p3) {
            alert('Bạn phải cung cấp mật khẩu trước đây của bạn ');
            } else  
            
            {
                $.ajax({ type: 'Post',
                    url: '@Url.Action("SaveTaikhoan", "UserProfile")',
                    data: { password: p1, userinfo: allinfo_user },
                    success: function (data) {
                     
                        if (data.toString() == "success") {
                            alert("Lưu thành công");
                        }
                        else {
                          alert("Mật khẩu cũ không đúng");
                          $("#p3").val('');
                        }

                    },
                    
                });
            }

        });
    });
       
      


       
</script>
<body>

<!-- Trung lam -->
@RenderPage("~/Views/Shared/_MainMenu.cshtml"); 
    <div style="margin-top: 63px; padding: 0;" id="tab-container" class='tab-container'>
        <ul class='etabs'>
            <li class='tab'><a href="#tabs1-html">Thay đổi thông tin cấu hình</a></li>
            <li class='tab'><a href="#tabs1-js">Thay đổi mật khẩu</a></li>
        </ul>
        <div class='panel-container'>
            <div id="tabs1-html">
                @using (Html.BeginForm("SaveCauhinh", "UserProfile", FormMethod.Post, new { id = "UserProfile" }))
                {
                    
                    <fieldset>
                        <legend>Thay đổi thông tin cá nhân:</legend>
                        <table width="100%">
                            <tr>
                                <td>
                                    Họ tên
                                </td>
                                <td>
                                    <input type=text id="hoten" name="hoten" value="@Model.scrUser.FullName" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ngày sinh
                                </td>
                                <td>
                                    <input type=text id="ngaysinh" name="ngaysinh" @if (@Model.scrUser.NgaySinh.HasValue)
                                                                                   { <text>value="@Model.scrUser.NgaySinh.Value.ToString("dd/MM/yyyy")"</text>} />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Giới tính
                                </td>
                                <td>
                                    <input type=checkbox name="gioitinh" id="gioitinh" value="@Model.scrUser.GioiTinh" @if (@Model.scrUser.GioiTinh == true)
                                                                                                                       {<text>checked=true</text>} >Nam
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CMND
                                </td>
                                <td>
                                    <input type=text id="cmnd" name="cmnd" value="@Model.scrUser.CMND" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Ngày cấp
                                </td>
                                <td>
                                    <input type=text id="ngaycap" name="ngaycap"  @if (@Model.scrUser.NgayCap.HasValue)
                                                                                  { <text>value="@Model.scrUser.NgayCap.Value.ToString("dd/MM/yyyy")"</text>}  />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nơi cấp
                                </td>
                                <td>
                                    <input type=text id="noicap" name="noicap" value="@Model.scrUser.NoiCap" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Điện thoại
                                </td>
                                <td>
                                    <input id="dienthoai" name="dienthoai" type=text value="@Model.scrUser.DienThoai" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Email
                                </td>
                                <td>
                                    <input id="email" name="email" type=text value="@Model.scrUser.Email" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value="Lưu" id="savecauhinh"  />
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                }
            </div>
            <div id="tabs1-js">
                @using (Html.BeginForm("SaveTaikhoan", "UserProfile", FormMethod.Post, new { id = "UserProfiletk" }))
                {
  

                    <fieldset>
                        <legend>Thay đổi mật khẩu:</legend>
                        <table width="100%">
                            <tr>
                                <td>
                                    Tài khoản đăng nhập :
                                </td>
                                <td>
                                    <input size="30" style="background: #e5e5e5" type=text value="@Model.scrUser.UserName" readonly />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mật khẩu cũ:
                                </td>
                                <td>
                                    <input type="password" id="p3" name="p3" value="" size="30" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mật khẩu mới:
                                </td>
                                <td>
                                    <input type="password" id="p1" name="p1" value="" size="30" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nhập lại mật khẩu:
                                </td>
                                <td>
                                    <input type="password" id="p2" value="" size="30" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="button" value="Lưu" id="savetaikhoan" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                }
            </div>
        </div>
    </div>
</body>
