﻿@{
    Layout = null;
}
@model VnEduPlus.Models.GiaoVien
<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btnSend").click(function () {
            SendEmail();
        });
    });

    function SendEmail()
    {
        var hoten = $("#hoten").val();
        var truong = $("#truong").val();
        var sodienthoai = $("#sodienthoai").val();
        var email = $("#email").val();
        var noidung = $("#noidung").val();
        var chucvu = $("#chucvu").val();
        $.ajax({
            cache: false,
            type: "GET",
            url: '@Url.Action("SendEmailDetail", "UserProfile")',
            data: { hoten: hoten, truong: truong, sodienthoai: sodienthoai, email: email, noidung: noidung, chucvu: chucvu },
            success: function (data) {
                
                $("#noidung").val("");
                alert('Nội dung của bạn đã được gửi đi! Chân thành cám ơn.');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve specification options.')
            }
        });
    }
</script>

<style>
    /* Example Styles for Demo */
    .etabs {
        margin: 0;
        padding: 0 10px;
    }

    .tab {
        display: inline-block;
        zoom: 1;
        *display: inline;
        background: #eee;
        border: solid 1px #c0c0c0;
        border-bottom: none;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
    }

        .tab a {
            font-size: 14px;
            line-height: 2em;
            display: block;
            padding: 0 10px;
            outline: none;
        }

            .tab a:hover {
                text-decoration: underline;
            }

        .tab.active {
            background: #fff;
            padding-top: 6px;
            position: relative;
            top: 1px;
            border-color: #c0c0c0;
        }

        .tab a.active {
            font-weight: bold;
        }

    .tab-container .panel-container {
        background: #fff;
        border-top: solid #c0c0c0 1px;
        padding: 10px;
        -moz-border-radius: 0 4px 4px 4px;
        -webkit-border-radius: 0 4px 4px 4px;
    }

    .panel-container {
        margin-bottom: 0px;
    }
</style>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.hashchange.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>

<!-- Trung lam -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">

<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<style>
    input[type="text"], input[type="email"], textarea {
        font-family: Arial, Sans-Serif !important;
        font-size: 12px !important;
        margin-bottom: 5px;
        display: block;
        padding: 4px;
        border: solid 1px #85b1de;
        width: 600px !important;
        background-color: #EDF2F7;
    }
</style>
<body>
    @RenderPage("~/Views/Shared/_MainMenu.cshtml");
    <div style="margin-top: 63px; padding: 0;" id="tab-container" class='tab-container'>
<div style="text-align: center; font-size: 16px; width: 100%; font-weight: bold; padding: 10px;">GỬI EMAIL GÓP Ý - HỖ TRỢ</div>
        @*@using (Html.BeginForm("SendEmailDetail", "UserProfile", System.Web.Mvc.FormMethod.Post))
        {*@
            <table width="100%">
                <tr>
                    <td style="width:20%; text-align: right; vertical-align: top;">
                        Họ tên:
                    </td>
                    <td style="width:80%">
                        <input type=text id="hoten" style="width: 400px;" name="hoten" value="@Model.hoten" />
                    </td>
                </tr>
                <tr>
                    <td style ="width:20%; text-align: right; vertical-align: top;">
                        Trường:
                    </td>
                    <td style="width:80%">
                        <input type=text id="truong" style="width: 400px;" name="truong" value="@Model.truong" />
                        <input type="hidden" name="chucvu" id="chucvu" value="@Model.chucvu" />
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; text-align: right; vertical-align: top;">
                        Email:
                    </td>
                    <td style="width:80%">
                        <input type="email" id="email" style="width: 400px;" name="email" value="@Model.email" />
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; text-align: right; vertical-align: top;">
                        Số điện thoại:
                    </td>
                    <td style="width:80%">
                        <input type=text id="sodienthoai" style="width: 400px;" name="sodienthoai" value="@Model.sodienthoai" />
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; text-align: right; vertical-align: top;">
                        Nội dung:
                    </td>
                    <td style="width:80%">
                        
                        <textarea id="noidung" style="height:300px" placeholder="Vui lòng cung cấp username/mật khẩu và mô tả cụ thể các yêu cầu!"></textarea>
                    </td>
                </tr>
                <tr>
					<td style="width:20%"></td>
                    <td style="width:80%; text-align: left;">
                        <input type="button" id="btnSend" value="Gửi email" />
                    </td>
                </tr>
            </table>
        @*}*@

    </div>
</body>
