<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
  
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
 
    <link href="@Url.Content("~/jGrid/css/redmond/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    
    <link href="@Url.Content("~/jGrid/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    
     <script src="@Url.Content("~/jGrid/js/i18n/grid.locale-en.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/jGrid/js/jquery.jqGrid.min.js")" type="text/javascript"></script>



</head>
<body>
    <div class="page">
       
        <section id="main">
            @RenderBody()
        </section>
<!--
        <footer>
        </footer>
-->
    </div>
</body>
</html>