﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
  
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
  
    <link href="@Url.Content("~/jGrid/css/redmond/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
     <script src="@Url.Content("~/jGrid/js/jquery-1.4.2.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/jGrid/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/Content/jqGrid/jquery-ui-jqgrid.css")" rel="stylesheet" type="text/css" />

     <script src="@Url.Content("~/jGrid/js/i18n/grid.locale-en.js")" type="text/javascript"></script>
     
     <script src="@Url.Content("~/Scripts/jquery-1.5.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.multiselect.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.jqGrid-4.1.2.min.js")" type="text/javascript"></script>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
       
</head>
<body>
 
    <div class="page">
       <li>@Html.ActionLink("CRUD [Form Editing]", "TongiaoList", "Tongiao")</li>
       <li>@Html.ActionLink("Thoát", "LogOff", "Account")</li>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>

    <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.jqGrid.locale-en-4.1.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid-4.1.2.min.js")" type="text/javascript"></script>
    @RenderSection("JavaScript", false)

</body>
</html>
