<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
  
   <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    <link rel="stylesheet" href="@Url.Content("~/css/jquery-1.11.4-ui.css")" type="text/css" >
    
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
 
    <link href="@Url.Content("~/jGrid/css/redmond/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    
    <link href="@Url.Content("~/jGrid/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    
     <script src="@Url.Content("~/jGrid/js/i18n/grid.locale-en.js")" type="text/javascript"></script>
<meta name="google-site-verification" content="DxY_MU5it5erDGAHngZ6kLcE36WCC9H8swGIDhzz7v4" />
      
</head>
<body>
    <div class="page">
       
        <section id="main">
            @RenderBody()
        </section>
<!--
        <footer>
        </footer>
-->
    </div>
</body>
</html>