
<head>
    <meta charset="utf-8" />

    <style type="text/css">
    table td
    {
          border: thin solid black;
          border-collapse: collapse;
    }
    
    body
    {
        font-family: Tahoma;
    }
    h2
    {
        color: red;
    }
    table
    {
        border: thin solid black;
        border-spacing: 0;
        border-collapse: collapse;
        
    }
    td
    {
        color: Black;
        font-size: .8em;
        padding: 5px;
    }
    .heading
    {
        background: #000;
    }
</style>

</head>

<body>
    @RenderBody()
</body>
