﻿<div id="tablemn" style="z-index:4;">

	<nav class="clearfix" style="top: -40px;">
			<ul class="clearfix">
		
          <li><a style="color: #fff; text-decoration: none" href="@Url.Content("~/quanLyLopHoc/thongkelophoc/") ">
			<img src="@Url.Content("~/menucss/48/hskl.png")" style="height: 36px; float:left"/>&nbsp;Hồ sơ khối lớp</a>
            <ul>
			@* <li style="width: 220px;"><a href="@Url.Content("~/QuanLyTaiLieu/TaiLieuMau/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Sổ chủ nhiệm</a></li>
		*@	 @{ 
                
                 bool isHieuTruong = false;

                 isHieuTruong = (ViewBag.isHieuTruong !=null && ViewBag.isHieuTruong == true) ? true : false;
               
			   if (isHieuTruong == true){
                   @* <li style="width: 220px;"><a href="@Url.Content("~/QuanLyTaiLieu/DanhSachTaiLieuMau/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Hiệu Trưởng Thêm file mẫu</a></li>*@
                }
                else
                {
             @*       <li style="width: 220px;"><a href="@Url.Content("~/QuanLyTaiLieu/TaiLieuMauGiaoVien/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">File Mẫu</a></li>   
             *@   }
             }

             <li style="width: 220px;"><a href="@Url.Content("~/KeHoach/KeHoachChuNhiem/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Kế hoạch chủ nhiệm</a></li>  
             
          @*  @{  if (ViewBag.userISGVCN == "1"){
                    
                 }
             }*@
                <li style="width: 220px;"><a href="@Url.Content("~/KeHoach/TinhHinhDauNam/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Tình hình đầu năm</a></li>  
             <li style="width: 220px;"><a href="@Url.Content("~/KeHoach/BanDaiDien/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Danh sách ban đại diện</a></li>  

           </ul>

							
			</li>

            	<li>
				<a style="color: #fff; text-decoration: none" href="@Url.Content("~/hocsinh/danhsachhocsinh/")">
				<img src="@Url.Content("~/menucss/48/student.png")" style="height: 30px; float:left"/>&nbsp;Hồ sơ học sinh
				</a>

			</li>

			<li><a style="color: #fff; text-decoration: none" href="#">
			<img src="@Url.Content("~/menucss/48/Document-48.png")" style="height: 36px; float:left"/>&nbsp;Mẫu câu nhận xét</a>
							<ul>
							<li style="width: 220px;"><a href="@Url.Content("~/GiaoVienBoMon/GiaoVienBoMon/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Mẫu nhận xét môn học</a></li>
                            <li style="width: 220px;"><a href="@Url.Content("~/GiaoVienChuNhiem/TemplateNhanXetThang/")" style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Mẫu nhận xét chủ nhiệm</a></li>
							<li style="width: 220px;"><a href="@Url.Content("~/GiaoVienChuNhiem/TemplateNhanXetKy/")" style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Mẫu nhận xét cuối kỳ - cuối năm</a></li>
							</ul>			
							
			</li>
            
            <li><a style="color: #fff; text-decoration: none" href="#">
			<img src="@Url.Content("~/menucss/48/Calendar-Date-04-48.png")" style="height: 36px; float:left"/>&nbsp;Đánh giá thường xuyên</a>
							<ul>
						    <li style="width: 220px;"><a href="@Url.Content("~/GiaoVienBoMon/NhanXetLopHoc/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">GVBM nhận xét thường xuyên</a></li>
                            <li style="width: 220px;"><a href="@Url.Content("~/GiaoVienChuNhiemVaLopHoc/TemplateNhanXetThang/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">GVCN nhận xét thường xuyên</a></li>
							@*<li><a href="@Url.Content("~/GiaoVienChuNhiem/TemplateNhanXetKy/")" style="font-family: tahoma; color: #1a1a1a; text-decoration: none">GVCN nhận xét HK</a></li>*@
							</ul>			
							
			</li>
            
            <li><a style="color: #fff; text-decoration: none" href="#">
			<img src="@Url.Content("~/menucss/48/Calendar-Date-03-48.png")" style="height: 36px; float:left"/>&nbsp;Đánh giá định kỳ</a>
							<ul>
						    <li><a href="@Url.Content("~/GiaoVienBoMon/NhapDiemHocSinh/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Sổ Điểm</a></li>
                            <li><a href="@Url.Content("~/TongHopDanhGia/GVBMTongHopDanhGia/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none"> Đánh giá môn học</a></li>
                            <li><a href="@Url.Content("~/TongHopDanhGia/TongHopDanhGia/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Đánh giá tổng hợp</a></li>                            
                            <li><a href="@Url.Content("~/TongHopDanhGia/khenThuongHocSinh/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Khen Thưởng</a></li>
                            <li><a href="@Url.Content("~/TongHopDanhGia/TongHopNhanXetHocSinh/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Nhận xét học bạ</a></li>  
                            <li><a href="@Url.Content("~/PhieuLienLac/SoLienLac/") " style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Sổ liên lạc</a></li>
                            </ul>			
							
			</li>

             <li><a style="color: #fff; text-decoration: none" href="#">
            <img src="@Url.Content("~/menucss/48/student.png")" style="height: 36px; float:left"/>&nbsp;Hồ sơ cá nhân</a>
							<ul>
							<li>
							<a style="font-family: tahoma; color: #1a1a1a;text-decoration: none" href="@Url.Content("~/userprofile/index")">&nbsp;Thông tin cá nhân</a></li>
							<li><a href="@Url.Content("~/userprofile/SendEmail/")" style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Gửi email góp ý</a></li>
							<li><a href="http://c1.dng.edumanager.vn/docs/huong_dan_su_dung_edu_c1.ppt" style="font-family: tahoma; color: #1a1a1a; text-decoration: none">Hướng dẫn sử dụng</a></li>
							
							</ul>			
							
			</li>	
            	
			<li>
				<a style="color: #fff; text-decoration: none" href="@Url.Action("LogOff", "Account")">
				<img src="@Url.Content("~/menucss/48/logout.png")" style="height: 30px; float:left"/>&nbsp;Thoát
				</a>

			</li>	
		</ul>

	</nav>
 </div>