﻿<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
<table width="100%" border="0" bgcolor="#e8eef7">
    <tr>
        <td colspan="5" align="center">
            <strong>Quản lý nghi hoc:@ViewBag.tenlop - Năm học: @ViewBag.namhoc</strong>
        </td>
    </tr>
</table>
<table id="jqghocsinh" cellpadding="0" cellspacing="0" width="100%">
</table>
<script type="text/javascript">
    $(document).ready(function () {

        $("#fromdate").datepicker(
            {
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '2000:2500'
            });

        $("#todate").datepicker(
            {
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '2000:2500'
            });

        $('#jqghocsinh').jqGrid({
            //url from wich data should be requested
            url: '@Url.Action("Viewchitietnghiphep")?malop=@ViewBag.malop&mahocsinh=@ViewBag.mahocsinh&namhoc=@ViewBag.namhoc&idtruong=@ViewBag.idtruong&fromDate=@ViewBag.fromDate&toDate=@ViewBag.toDate',
            //type of data
            datatype: 'json',
            //url access method type
            mtype: 'POST',
            //columns names
            colNames: [
                    'STT',
                    'Ngày nghỉ',
                    'Loại nghỉ',
                    'Ly do nghi',

                ],
            //columns model
            colModel: [
                    { name: 'Stt', width: '40px', index: 'stt', key: false, align: 'left' },
                    { name: 'NgayNghi', width: '100px', index: 'stt', key: false, align: 'left', formatter: 'date', formatoptions: { newformat: 'd/m/Y'} },
                    { name: 'Loainghi', width: '80px', index: 'stt', key: false, align: 'left' },
                    { name: 'Lydonghi', width: '770px', index: 'Lydonghi', key: false, align: 'left' }
                    ],
            //pager for grid
            pager: $('#jqghocsinh'),
            //number of rows per page
            rowNum: 30,
            //initial sorting column
            sortname: 'Stt',
            //initial sorting direction
            sortorder: 'asc',
            //we want to display total records count
            viewrecords: true,
            //grid height
            height: '100%'
            //   width:'800px'
        });




    });

       
</script>
