﻿@model IEnumerable<VnEduPlus.Models.Viewthongkemonhoc>
  
@{
    ViewBag.Title = "danhsachhocsinh";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/swfobject.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.hashchange.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.validationEngine-vi.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>
    <script src="~/../../js/jquery.tinyscrollbar.min" type="text/javascript"></script>
    
    <style type="text/css">
    .transItems
    {
        border: 0;
        background: transparent;
        width: 28px;
    }
    
      .transItems
        {
            border: 0;
            background: transparent;
            width:28px;
        }
        .row
        {
            background-color:#eee;
        }
        .altrow
        {
            background-color:#fff;
        }
    
</style>

 

</head>
<script type="text/javascript">

   

</script>


<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
  <table width="100%" border="0">
  <tr bgcolor="#99CCCC">
    <td colspan="3"><div align="left"><strong>Tr&#432;&#7901;ng:</strong>&nbsp;&nbsp;  @ViewBag.tentruong</div></td>
    <td><div align="center"><strong>L&#7899;p :</strong>&nbsp;&nbsp;  @ViewBag.tenlop</div></td>
    <td><div align="center"><strong>T&#7893;ng s&#7889; m&ocirc;n h&#7885;c : </strong>&nbsp;&nbsp;  @ViewBag.tongso</div></td>
    <td><div align="center"><strong>N&#259;m h&#7885;c :</strong>&nbsp;&nbsp;  @ViewBag.namhoc</div></td>
    <td><div align="center"><strong>Ng&#432;&#7901;i &#273;&#259;ng nh&#7853;p: </strong>&nbsp;&nbsp;  @ViewBag.tendangnhap</div></td>
     
    <td>&nbsp;</td>
    <td>&nbsp;</td>
 </tr>
  <tr>
    <td><div align="center"><strong>STT</strong></div></td>
    <td><div align="center"><strong>Mã môn học </strong></div></td>
    <td><div align="center"><strong>Tên môn học</strong></div></td>
    <td><div align="center"><strong> </strong></div></td>
    <td><div align="center"><strong></strong></div></td>
    <td><div align="center"><strong> </strong></div></td>
    <td><div align="center"><strong></strong></div></td>
    <td><div align="center"><strong></strong></div></td>
    <td><div align="center"><strong> </strong></div></td>
  </tr>
    @{
        int stt = 0;
         
    }
  @if (ViewBag.tongso > 0)
  {
      
  foreach (var item in Model)
  {
      stt++;
      string classrow = (stt % 2) == 1 ? "row" : "altrow";
      
  <tr class=@classrow>
    <td>@stt</td>
    <td>@item.mamon</td>
    <td>@item.tenmonhoc</td>
    <td>
    
              </td>
    <td></td>
    <td> 
    
    </td>
    <td></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  }
  
  }
  else
  { 
  
  <tr><td colspan="9" align="center"> <strong>Không tồn tại môn học nào cho lớp này</strong></td></tr>
  }
</table>