﻿@model IList<VnEduPlus.Models.MonHocDS>
@{
    ViewBag.Title = "Danh sách môn học";
}
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <!-- import css bootstrap css and js ( bat buoc phai co)-->
 <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">
 <link href="@Url.Content("~/css/jquery.dataTables.css")" rel="stylesheet" type="text/css" />
 
 <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>
 <script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")" type="text/javascript"></script>
</head>

<script type="text/javascript">
  
  </script>

<form id="listhocsinh" style="padding: 5px 0px 10px 0px;">

<table width="100%" border="0">
    <tr bgcolor="#fff">
        <td style="width: 33.33%; text-align: center; font-size: 12px; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
				<strong style="text-transform: uppercase;">@ViewBag.PhongGiaoDuc</strong><br>
                <strong style="text-transform: uppercase;">@ViewBag.tentruong</strong>
        </td>
        <td style="width: 33.33%; text-align: center; font-size: 12px; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
				<strong style="text-transform: uppercase; font-size: 16px;">DANH SÁCH MÔN HỌC</strong>
                <BR>
                <strong>Lớp: @ViewBag.tenlop - T&#7893;ng s&#7889; môn học: @ViewBag.tongso</strong>
		</td>
        <td style="width: 33.33%; text-align: center; font-size: 12px; border-bottom: 1px solid #ddd; padding-bottom: 5px;">
           
                <strong style="text-transform: uppercase;">Ng&#432;&#7901;i &#273;&#259;ng nh&#7853;p: @ViewBag.tendangnhap</strong><br>
                <strong style="text-transform: uppercase;">N&#259;m h&#7885;c: @ViewBag.namhoc</strong>
        </td>
    </tr>
</table>
 
</form>
<input type="hidden" id="idtruong" value="@ViewBag.idtruong" />
<input type="hidden" id="idnamh" value="@ViewBag.namhoc" />
<input type="hidden" id="makhoi" value="@ViewBag.makhoi" />

<div class="container">
<table id="thongTinMonHoc" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th style="width: 5%; text-align: center;">STT</th>
                <th style="width: 10%; text-align: center;">Mã môn</th>
                <th style="width: 30%; text-align: center;">Tên Môn Học</th>
                <th style="width: 55%; text-align: center;">Giáo viên giảng dạy</th>               
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 0; i < Model.Count(); i++)
                {
                    string tenGiaovien = "";
                    if (@Model[i].tenGiaoVienLists!=null && @Model[i].tenGiaoVienLists.Count() > 0) {
                        
                        List<VnEduPlus.Models.user> giaoviens = @Model[i].tenGiaoVienLists.ToList();
                    
                        foreach (VnEduPlus.Models.user giaovien in giaoviens) {
                            tenGiaovien += giaovien.fullName + ";" ;
                         
                        }
                        if (tenGiaovien.Trim().Length >0) {
                            tenGiaovien = tenGiaovien.Substring(0, tenGiaovien.Length - 1);
                        }
                    }
                     
                    <tr>
                        <td align="center">@(i + 1)</td>
                        <td align="center">@Model[i].Mamonhoc</td>                        
                        <td align="center">@Model[i].Tenmonhoc</td>
                        <td align="center">@tenGiaovien</td>
                         
                    </tr>
                }
            }
        </tbody>
    </table>
	</div>