﻿@{
    ViewBag.Title = "Sổ điểm danh";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/swfobject.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.hashchange.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easytabs.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/validationEngine.jquery.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/template.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.validationEngine-vi.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validationEngine.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/swfobject.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.uploadify-3.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/uploadify.css")" rel="stylesheet" type="text/css" media="screen"/>
</head>
<style type="text/css">
    .transItems
    {
        border: 0;
        background: transparent;
        width: 28px;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {

        var mkhoi = $("#makhoi").val();
        if (mkhoi != "") {
            loadDSLop(mkhoi);
        }

        $("#makhoi").change(function () {
            var mkhoi = $("#makhoi").val();
            loadDSLop(mkhoi);
        });

 
        $("#mathang").change(function () {
        
            var list = $("#nhan");
            var mt = document.getElementById("mathang").value;
            var lop = document.getElementById("malop").value;
           
            var nams;
            list.empty();
            var tile = "<strong>SỔ ĐIỂM DANH- Tháng  " + mt;
            if(mt>=8 && mt<=12)
            {
                tile+=" Năm "+@ViewBag.namtruoc;
                nams=@ViewBag.namtruoc;
            }
            if(mt>=1 && mt<=5){
                tile+=" Năm "+@ViewBag.namsau;
                nams=@ViewBag.namsau;
            }
            tile+=" Lớp "+ lop+"</strong>";
            list.append(tile);

         
            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ViewDiemdanhhocsinh", "quanLyLopHoc")',
                data: { thang: mt, nam: nams,malop:lop },
                success: function (data) {
                    $("#viewdata").html(data);
                    $("#actionContainer").show();

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve specification options.')
                }
            });
        });

    });

    function loadDSLop(mkhoi) {

        var dlop = $("#malop");
        dlop.empty();
        $.getJSON('@Url.Action("LoadLophoc", "quanLyLopHoc")', { id: mkhoi },
            function (khoiData) {
                var select = $("#malop");
                select.empty();
                select.append($('<option/>', {
                    value: 0,
                    text: "Chọn lớp"
                }));
                $.each(khoiData, function (Mainview, itemData) {
                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
    }


    // Array Remove - By John Resig (MIT Licensed)
    Array.prototype.remove = function (from, to) {
        var rest = this.slice((to || from) + 1 || this.length);
        this.length = from < 0 ? this.length + from : from;
        return this.push.apply(this, rest);
    };

    function GetPosition(e) { 
	    var left = 0; 
	    var top  = 0; 
	    while (e.offsetParent){ 
	        left += e.offsetLeft; 
	        top  += e.offsetTop; 
	        e     = e.offsetParent; 
	    } 
	    left += e.offsetLeft; 
        top  += e.offsetTop; 
	    return {x:left, y:top}; 
	}

    var hiddenObjectIdLydo;
    var indexLydoNghi;
    var curInput;
    var isLydoPopupOpen;

    function closeNhapLyDo()
    {
        var popup = $("#popup");
        $(popup).css('display', 'none');
        $(popup).css('visibility', 'hidden');
        isLydoPopupOpen =false;

        var lydo =$("#textAreaLydo").val();
        $("#"+hiddenObjectIdLydo).val(lydo)


        if (LyDoNghis[indexLydoNghi]!=lydo)
        {
             LyDoNghis[indexLydoNghi] = lydo;
             curInput.style.color = "blue";
        }

    }

    function openNhapLyDo(sender, maHs, ngay) {
        if ($(sender).val()=="")
            return;

        var popup = $("#popup");
        $(popup).css('display', '');
        $(popup).css('visibility', 'visible');
        isLydoPopupOpen =true;

        var targetPos = GetPosition(sender)

        $(popup).css('top', (targetPos.y ) + 'px');
        $(popup).css('left', (targetPos.x) + 'px');

        curInput = sender;

        hiddenObjectIdLydo = "Lydo"+sender.id;
        $("#textAreaLydo").val($("#"+hiddenObjectIdLydo).val());

        var update = false;

         for (var i = 0; i < MaHSs.length; i++) {
            if (MaHSs[i] == maHs && Ngays[i] == ngay) {
                update = true;
                indexLydoNghi=i;
                break;
            }
        }
        if (!update) {
            MaHSs.push(maHs);
            Ngays.push(ngay);
            LoaiNghis.push($(sender).val());        
            LyDoNghis.push($("#textAreaLydo").val());
            indexLydoNghi = MaHSs.length-1;
        }

    }

    var MaHSs = [];
    var Ngays = []
    var LyDoNghis = [];
    var LoaiNghis = [];
    var MaHSDeleteds = [];
    var NgayDeleteds = [];

    function check(input, maHs, ngay) {
        var value = input.value.toLocaleUpperCase();

        if (value != "") {
            if (value != "CP" && value != "K") {
                alert('Vui lòng nhập CP (có phép) hoặc K (không phép)');
                input.value="";
                input.focus();
            }
            else {
                input.style.color = "blue";
                var update = false;
                for (var i = 0; i < MaHSs.length; i++) {
                    if (MaHSs[i] == maHs && Ngays[i] == ngay) {
                        LoaiNghis[i] = value;
                        update = true;
                        break;
                    }
                }
                if (!update) {
                    MaHSs.push(maHs);
                    Ngays.push(ngay);
                    LoaiNghis.push(value);        
                    LyDoNghis.push($("#Lydo"+input.id).val());
                }
                for (var i = 0; i < MaHSs.length; i++) {
                    if (MaHSDeleteds[i] == maHs && NgayDeleteds[i] == ngay) {
                        MaHSDeleteds.remove(i);
                        NgayDeleteds.remove(i);
                        LyDoNghis.remove(i);
                    }
                }
            }
        }
        else {
            var deleted = true;
            for (var i = 0; i < MaHSs.length; i++) {
                if (MaHSs[i] == maHs && Ngays[i] == ngay) {
                    MaHSs.remove(i);
                    LoaiNghis.remove(i);
                    Ngays.remove(i);
                    LyDoNghis.remove(i);
                    deleted = false;
                    break;
                }
            }
            if (deleted) {
                MaHSDeleteds.push(maHs);
                NgayDeleteds.push(ngay);

            }
        }


    }

    $(document).ready(function () {

      $(document).mousedown(function (e) {

            if (isLydoPopupOpen) {
                if (e == null) var e = window.event;
                // IE uses srcElement, others use target
                var target = e.target != null ? e.target : e.srcElement;
                var clickOnStatusPopup;
                // if (target.tagName == "TD") {
                    var clikOnStatusPopup = false;
                    while (target.offsetParent) {
                        if (target.id == "popup") {
                            clickOnStatusPopup = true;
                            break;
                        }
                         
                        target = target.offsetParent;
                    }
                    if (!clickOnStatusPopup) {
                          closeNhapLyDo();
                    }
                }
        //    }
        });
        


        $("#btnSave").click(function () {
            $.ajax({
                url: '@Url.Action("SaveDiemDanh", "hocsinh")',
                data: { idtruong: $("#idtruong").val(),
                    thang: $("#thang").val(),
                    nam: $("#nam").val(),
                    namhoc: $("#namhoc").val(),
                    malop: $("#malop").val(),
                    Ngays: Ngays,
                    MaHocSinhs: MaHSs,
                    LoaiNghis: LoaiNghis,
                    LyDoNghis: LyDoNghis,
                    MaHocSinhDeleteds: MaHSDeleteds,
                    NgayDeleteds:NgayDeleteds,
                },
                traditional: true,
                type: 'POST',
                success: function (data) {
                    if (data = "success") {
                        alert('Bạn đã cập nhập thành công dữ liệu');
                    }
                    else
                        alert('Cập nhập dữ liệu bị lỗi. Xin vui lòng thử lại');
                }
            });
        });

        $("#btnExport").click(function () {

            var idtruong = $("#idtruong").val();
            var thang = $("#thang").val();
            var nam = $("#nam").val();
            var namhoc= $("#namhoc").val();
            var malop = $("#malop").val();

            window.location = '@Url.Action("ExportDiemDanh", "quanLyLopHoc")?idtruong='+idtruong +
                                                                '&thang=' + thang +
                                                                '&nam=' + nam +
                                                                '&namhoc=' + namhoc +
                                                                '&malop=' + malop ;
        });


        $("#file_upload").uploadify({
            'swf': '@Url.Content("~/Content/uploadify/uploadify.swf")',
            'uploader': '@Url.Action("ImportDiemDanh", "HocSinh")',
            "multi": "false",
            "auto": true,
            'fileTypeDesc': 'Excel',
            'fileTypeExts': '*.xls; *.xlsx',
            'buttonText': 'Import Excel',
            "onUploadSuccess": function (fileObj, response, data) {
                var modelData = jQuery.parseJSON(response);
                // document.getElementById("ui").checked = modelData.viewAllColumns;
                // fillGrid(modelData.dblist);
                  
            }
        });

    });

 
        
</script>
<h2>
    Danh sách học sinh</h2>
<form id="form">
<div id="popup" style="position: absolute; display: none; visibility: hidden; background-color: green">
    <table>
        <tr style="background-color: #000099">
            <td style=" color: white">
                <strong>Lý do nghỉ học</strong>
      
           <div style="float: right">
               <input id="btnClose" type="button" onclick="closeNhapLyDo()"
                                    value="x" title="Click to close" />
           </div>
           
            </td>
        </tr>
        <tr>
            <td >
                <textarea id="textAreaLydo" cols="25" rows="8"></textarea>
            </td>
        </tr>
    </table>
</div>
<input type="hidden" id="namhoc" name="idtruong" value="@ViewBag.namhientai" />
<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
<input type="hidden" id="tongso" name="tongso" value="@ViewBag.tongsohocsinh" />
<table width="100%">
    <tr>
        <td colspan="6">
            <table width="100%">
                <tr>
                    <td>
                        Chọn khối
                    </td>
                    <td>
                        @Html.DropDownList("makhoi", "Chọn khối")
                    </td>
                    <td>
                        Chọn lớp
                    </td>
                    <td>
                        @Html.DropDownList("malop", "Chọn lớp")
                    </td>
                    <td>
                        Chọn tháng
                    </td>
                    <td>
                        <select id="mathang" name="mathang">
                            <option selected="selected" value="0">Chọn tháng</option>
                            <option value="8">Tháng 08 - @ViewBag.namtruoc</option>
                            <option value="09">Tháng 09 - @ViewBag.namtruoc</option>
                            <option value="10">Tháng 10 - @ViewBag.namtruoc</option>
                            <option value="11">Tháng 11 - @ViewBag.namtruoc</option>
                            <option value="12">Tháng 12 - @ViewBag.namtruoc</option>
                            <option value="01">Tháng 01 - @ViewBag.namsau</option>
                            <option value="02">Tháng 02 - @ViewBag.namsau</option>
                            <option value="03">Tháng 03 - @ViewBag.namsau</option>
                            <option value="04">Tháng 04 - @ViewBag.namsau</option>
                            <option value="05">Tháng 05 - @ViewBag.namsau</option>
                        </select>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="6" id="nhan" align="center">
        </td>
    </tr>
    <tr style="display: none" id="actionContainer">
        <td colspan="3" width="70%">
        </td>
        <td>
           
        </td>
        <td>
            <input type="button" id="btnExport" value="Export" />
        </td>
        <td>
            <input type="file" name="file_upload" id="file_upload" />
        </td>
    </tr>
    <tr>
        <td colspan="6" id="viewdata" align="center">
        </td>
    </tr>
</table>
</form>
