﻿<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
<table width="100%" border="0" bgcolor="#fff">
    <tr>
        <td colspan="5" align="center">
            <strong>Quản lý chuyên cần lớp:@ViewBag.tenlop - Năm học: @ViewBag.namhoc @ViewBag.maky</strong>
        </td>
    </tr>
    <tr>
        <td>
            Từ ngày
        </td>
        <td>
            <input type="text" id="fromdate" name="fromdate" />
        </td>
        <td>
            Đến ngày
        </td>
        <td>
            <input type="text" id="todate" name="todate" />
        </td>
        <td>
            <input type="button" id="btnView" name="btnView" value="Thống kê" />
        </td>
    </tr>
</table>
<table id="jqghocsinh" cellpadding="0" cellspacing="0" width="100%">
</table>
<script type="text/javascript">
    $(document).ready(function () {

       $.urlParam = function(name){
                var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
                return results[1] || 0;
            }

        $("#fromdate").datepicker(
            {
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '2000:2500'
            });

        $("#todate").datepicker(
            {
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: '2000:2500'
            });


        var strFromDateNow = '' ;
        var strToDateNow = '';

        $("#btnView").click(function () {

            var strFromDate = $("#fromdate").val();
            var strToDate = $("#todate").val();


            //Kiêm tra dữ liệu
            if (strFromDate == "") {
                alert("Vui lòng nhập từ ngày");
             //   $("#fromdate").focus();
                return false;
            }
            if (strToDate == "") {
                alert("Vui lòng nhập đến ngày");
             //   $("#todate").focus();
                return false;
            }


            var strFromDates = strFromDate.split("/");
            var strToDates = strToDate.split("/");
            //date format(Fullyear,month,date)

            var fromDate = new Date(strFromDates[2], (strFromDates[1] - 1), strFromDates[0]);

            var toDate = new Date(strToDates[2], (strToDates[1] - 1), strToDates[0])

            if (fromDate > toDate) {
                alert("Từ ngày phải nhỏ hơn đến ngày");
              //  $("#fromdate").focus();
                return false;
            }

            strFromDateNow = strFromDate;
            strToDateNow = strToDate;

            //request server va refresh luoi du lieu
            $("#jqghocsinh").setGridParam({ url: '@Url.Action("ViewDanhSachHocSinhChuyenCan")?malop=@ViewBag.malop&namhoc=@ViewBag.namhoc&idtruong=@ViewBag.idtruong' + '&fromDate=' + strFromDate + "&toDate=" + strToDate });
            $('#jqghocsinh').trigger("reloadGrid");
        });


        function viewGioiTinh(cellvalue, options, rowObject) {
            if (cellvalue == true)
                return "Nam";
            else
                return "Nữ";
        }

        $('#jqghocsinh').jqGrid({
            //url from wich data should be requested
            url: '@Url.Action("ViewDanhSachHocSinhChuyenCan")?malop=@ViewBag.malop&namhoc=@ViewBag.namhoc&idtruong=@ViewBag.idtruong',
            //type of data
            datatype: 'json',
            //url access method type
            mtype: 'POST',
            //columns names
            colNames: [
                    'STT',
                    'Họ Tên',
                    'Ngày sinh',
                    'Giới tính',
                    'Số ngày có phép',
                    'Tổng số ngày không phép',
                ],
            //columns model
            colModel: [
                    { name: 'Stt', width: '40px', index: 'stt', key: false, align: 'left' },
                    { name: 'Hoten', width: '200px', index: 'Hoten', key: false, align: 'left', editable: false },
                    { name: 'NgaySinh', width: '150px', index: 'ngaysinh', key: false, align: 'left', formatter: 'date', formatoptions: { newformat: 'd/m/Y'} },
                    { name: 'Gioitinh', width: '80px', index: 'Gioitinh', align: 'left', formatter: viewGioiTinh },
                    { name: 'Ngaycophep', width: '200px', index: 'Ngaycophep', key: false, align: 'right', editable: false },
                    { name: 'Ngaykhongphep', width: '200px', index: 'Ngaykhongphep', key: false, align: 'right', editable: false }

                    ],
            //pager for grid
            pager: $('#jqghocsinh'),
            //number of rows per page
            rowNum: 30,
            //initial sorting column
            sortname: 'Stt',
            //initial sorting direction
            sortorder: 'asc',
            //we want to display total records count
            viewrecords: true,
            //grid height
            height: '100%',
            //   width:'800px'

           onSelectRow: function (mahocsinh) {         
                window.open('@Url.Action("chitietnghiphep")?malop='+$.urlParam('malop')+'&mahocsinh='+mahocsinh+"&strFromDate="+strFromDateNow+"&strToDateNow="+strToDateNow,'_blank','width=950,height=750,scrollbars=yes,resizable=no,toolbar=no,directories=no,location=no,menubar=no,status=no,left=100,top=250');
            },
        });
        $('#jqghocsinh').jqGrid('navGrid', '#jqghocsinh', { add: false, del: false, edit: false, search: false });



    });

       
</script>
