﻿@model IEnumerable<VnEduPlus.Models.Viewthongkelophoc>
  
@{
    ViewBag.Title = "Hồ sơ khối lớp";
}
<html lang="en">
<head>
<link rel="icon" media="all" href="@Url.Content("~/Images/favicon.ico")" type="image/x-icon"> 
<link rel="icon" href="@Url.Content("~/Images/favicon.ico")" type="image/icon">

    <meta charset="utf-8" />
    <title>jQuery UI Autocomplete - Combobox</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    
    
    <link rel="stylesheet" href="@Url.Content("~/menucss/normalize.css")">
	<link rel="stylesheet" href="@Url.Content("~/menucss/stylemenu.css")">
    	
   
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap/bootstrap.min.css")">

    <script src="@Url.Content("~/js/bootstrap/js/bootstrap.min.js")"></script>    
   
    
    <link rel="stylesheet" href="@Url.Content("~/css/giaovienchunhiemnhanxet.css")">
    
   <!-- Trung lam -->
    <link href="@Url.Content("~/Content/edu_form_qllh.css")" rel="stylesheet" type="text/css" />
  
  <!-- datatable with bootstrap --> 
  <script src="@Url.Content("~/Scripts/DataTablebootstrap/dataTables.bootstrap.min.js")" type="text/javascript"></script>
  <link href="@Url.Content("~/css/bootstrap/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
  

    
    <style type="text/css">
    .transItems
    {
        border: 0;
        background: transparent;
        width: 28px;
    }
    
</style>
	 
	 @{
    ViewBag.Title = "Hồ sơ khối lớp";
}

    <script type="text/javascript">

        $(document).ready(function () {
            
            $( '.modal' ).modal( 'hide' ).data( 'bs.modal', null );

            // click on icon học sinh thì hiện thị lớp học đó lên

            $('.hocsinh').click(function () {
                var value = $(this).attr('data-value'); 
                                  
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("index", "hocsinh")',
                    data: { malop: value },
                    success: function (data) {
                        $("#danhsachhocsinh").empty();
                        $("#danhsachhocsinh").html(data);
                        $('#Thongtinhocsinh').dataTable({
                            "sPaginationType": "full_numbers",
                            "bPaginate": true,
                            "bSort": false,
                            "bSortable": false,
                            "bFilter": false,
                            "bSearchable": false,
                            "bInfo": false,
                        });
                                 
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });
            });

            // danh sach cac mon hoc
            $('.monhoc').click(function () {
                var value = $(this).attr('data-value'); 
                debugger;
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("danhsachmonhoc", "quanLyLopHoc")',
                    data: { malop: value },
                    success: function (data) {
                        $("#danhsachmonhoc").empty();
                        $("#danhsachmonhoc").html(data);
                        $('#thongTinMonHoc').dataTable({
                            "sPaginationType": "full_numbers",
                            "bPaginate": true,
                            "bSort": false,
                            "bSortable": false,
                            "bFilter": false,
                            "bSearchable": false,
                            "bInfo": false,
                        });
                                 
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });
            });


             // Sổ chủ nhiệm
            $('.sochunhiem').click(function () {
                var value = $(this).attr('data-value'); 
                var d = new Date();
                var thang =  d.getMonth() +1 ;
                var idTruong = $('#idtruong').val();
               
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("soChuNhiem", "GiaoVienChuNhiemVaLopHoc")',
                    data: { idTruong: idTruong, thang: thang, maLop: value },
                    success: function (data) {
                        $("#soCN").empty();
                        $("#soCN").html(data);
                        $('#thongTinSoChuNhiem').dataTable({
                            "sPaginationType": "full_numbers",
                            "bPaginate": true,
                            "bSort": false,
                            "bSortable": false,
                            "bFilter": false,
                            "bSearchable": false,
                            "bInfo": false,
                        });
                                 
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });
            });


              // Sổ bo mon
            $('.sobomon').click(function () {
                var value = $(this).attr('data-value'); 
                var d = new Date();
                var thang =  d.getMonth() + 1 ;
                var idTruong = $('#idtruong').val();
               
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("soBoMon", "GiaoVienBoMon")',
                    data: { idTruong: idTruong, thang: thang, maLop: value },
                    success: function (data) {
                        $("#soBM").empty();
                        $("#soBM").html(data);
                        $('#thongTinSoBomon').dataTable({
                            "sPaginationType": "full_numbers",
                            "bPaginate": true,
                            "bSort": false,
                            "bSortable": false,
                            "bFilter": false,
                            "bSearchable": false,
                            "bInfo": false,
                        });
                                 
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });
            });

            $('.phanhoiph').click(function () {
                var value = $(this).attr('data-value'); 
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '@Url.Action("danhSachPhanHoi", "PhuHuynh")',
                    data: { malop: value },
                    success: function (data) {
                        $("#phuhuynhphanhoi").empty();
                        $("#phuhuynhphanhoi").html(data);
                        $('#noiDungPhuHuynhPhanHoi').dataTable({
                            "sPaginationType": "full_numbers",
                            "bPaginate": true,
                            "bSort": false,
                            "bSortable": false,
                            "bFilter": false,
                            "bSearchable": false,
                            "bInfo": false,
                        });
                                 
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to retrieve specification options.')
                    }
                });
            });
 

            $('select[name="mahocky"]').find('option[value="@ViewBag.currenHocKy"]').attr("selected", true);


            $("#mahocky").change(function () {
                var hk = $("#mahocky").val();
                if(hk!= "-1") {
                    
                            $.ajax({
                            cache: false,
                            type: "GET",
                            url: '@Url.Action("thongKeLopHocTheoHocKy", "quanLyLopHoc")',
                            data: {
                                hocky: hk

                            },
                            success: function (data) {
                                $("#viewdata").html(data);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Failed to retrieve specification options.')
                            }
                        }); // end ajax
                
                }
                

            }); // end function change()

        });       //end document ready


</script>
</head>
 

<!-- Trung lam -->
<form name="frmThongKeLopHoc" method=post action="">
 @RenderPage("~/Views/Shared/_MainMenu.cshtml");

<input type="hidden" id="idtruong" name="idtruong" value="@ViewBag.idtruong" />
  
 <table id="fix_header" width="100%" border="0" bgcolor="#e8eef7" style="margin-top: 47px;">
  <tr>
  	<!-- Trung lam -->
    <td style="width: 100%" class="thanhtieude_nen" colspan="11"  align="center">
    
    HỒ SƠ KHỐI LỚP &nbsp;&nbsp; @ViewBag.tentruong &nbsp;
   @* Học kỳ: 
     <select id="mahocky" name="mahocky">
      <option value="-1">Chọn kỳ</option>
      <option value="HK1">Học kỳ 1</option>
      <option value="HK2">Cuối năm</option>
    </select> *@

    
      Năm học: @ViewBag.namhientai &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
  </tr>
  
	<tr class="tieude_nen" style="margin-top: 33px">
    <td width="7%" class="chu_tieude"><strong>Kh&#7889;i</strong></td>
    <td width="7%" class="pcach"><strong>L&#7899;p</strong></td>
    <td width="15%" class="pcach"><strong>GVCN</strong></td>
    <td width="5%"  class="pcach"><strong>S&#297; S&#7889; </strong></td>
    <td width="8%"  class="pcach"><strong>H&#7885;c sinh </strong></td>
    <td width="8%"  class="pcach"><strong>M&ocirc;n h&#7885;c </strong></td>
    @*<td width="8%"  class="pcach"><strong>Sổ &#273;i&#7875;m </strong></td>
    <td width="11.33%"  class="pcach"><strong>Chuy&ecirc;n c&#7847;n </strong></td>*@
    <td width="14%%"  class="pcach"><strong>Sổ chủ nhiệm  </strong></td>
    <td width="14%"  class="pcach"><strong>Sổ bộ môn </strong></td>
     <td width="14%"  class="pcach"><strong>Phản hồi PH </strong></td>
    <td width="8%"  class="pcach"><strong>Nh&#7855;n tin </strong></td>
	</tr>
</table>
  <!-- Trung lam 
  position: absolute; overflow: auto; z-index:-1 (Tuan)
  -->

<table width="100%" border="0" bgcolor="#e8eef7" style="margin-top: 46px;">
    <tr><td id="viewdata">
            <table width="100%" border="0" bgcolor="#e8eef7" style="margin-top: 30px;" class="thongKeLopHoc">
   
                @{
                    
                    string userLopHoc = ViewBag.userISGVCN;
                     
                    foreach (var item in Model)
                {
                    string danhSachGv = "";
                    <tr class="hoverhang">
                        <td width="7%"  class="canhgiua">@item.makhoi</td>
                        <td width="7%"  class="canhgiua">@item.tenLop</td>
                        <td width="15%"  class="dulieu"> 
    
                            @foreach (var tenGiaoVien in @item.tenGiaoVienLists)
                            {
                                danhSachGv += tenGiaoVien.fullName.ToString() + ",";

                            }
                            @{
                                if (danhSachGv != null && danhSachGv.Length > 0)
                                {
                                    danhSachGv = danhSachGv.Substring(0, danhSachGv.Length - 1);// loai bo dau phay sau cung 
                                }
                            }
                            @danhSachGv
                        </td>
                        <td width="5%"  class="canhgiua hoverhang">@item.siso</td>
                        <td width="8%"   class="canhgiua hoverhang"> 
                        <a href="#" @{if(userLopHoc=="0") {<text> style="pointer-events: none; cursor: default;" </text> }}><img alt="học sinh" data-toggle="modal" data-value="@item.malop" data-target="#lophoc" class="icon_chucnang icon_chucnang_canh hocsinh" src='@Url.Content("~/Images/edu_form/info.png")' border="0"></a>
                        </td>
                        <td width="8%"  class="canhgiua hoverhang">
                            <a href="#" @{if(userLopHoc=="0") {<text> style="pointer-events: none; cursor: default;" </text> }}><img  alt="Danh sách môn học" data-toggle="modal" data-value="@item.malop" data-target="#monhocs" class="icon_chucnang icon_chucnang_canh monhoc" src='@Url.Content("~/Images/edu_form/info.png")' border="0"></a>
                        </td>
                     
                        <td width="14%"   class="canhgiua hoverhang">  
     
                            <a href="#" @{if(userLopHoc=="0") {<text> style="pointer-events: none; cursor: default;" </text> }}>
                                <img alt="Sổ chủ nhiệm" data-toggle="modal" data-value="@item.malop" data-target="#sochunhiem" class="icon_chucnang icon_chucnang_canh sochunhiem" src='@Url.Content("~/Images/edu_form/info.png")' border="0"></a>
    
                        </td>

                        <td width="14%"   class="canhgiua hoverhang">  
                            <a href="#" @{if(userLopHoc=="0") {<text> style="pointer-events: none; cursor: default;" </text> }}>
                                <img alt="Sổ bộ môn" data-toggle="modal" data-value="@item.malop" data-target="#sobomon" class="icon_chucnang icon_chucnang_canh sobomon" src='@Url.Content("~/Images/edu_form/info.png")' border="0">
                            </a>
    
                        </td>

                        <td width="14%"  class="canhgiua hoverhang"> 
                          <img alt="phản hồi của phụ huynh" data-toggle="modal" data-value="@item.malop" data-target="#phuHuynhPH" class="icon_chucnang icon_chucnang_canh phanhoiph" src='@Url.Content("~/Images/edu_form/info.png")'>
                        </td>

                        <td width="8%"  class="canhgiua hoverhang"> 
                         <a href="http://smshoctap.com" target="_blank">
                            <img alt="SMS Học Tập" class="icon_chucnang icon_chucnang_canh" src='@Url.Content("~/Images/edu_form/info.png")'>
                        </a>
                        </td>
  
                    </tr>
                }
             }
            </table>

        </td></tr>
          

</table>

</form>
 
 <!-- Cac modal cho cac muc  --->


 <div class="modal fade modalCenter" id="lophoc" role="dialog">
    <div class="modal-dialog" style="width:95%">
      <!-- Modal content-->
      <div class="modal-content" style="background: #e5e5e5;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>     
        <div class="row">
        <div class="col-sm-12" style="width:100%" id="danhsachhocsinh" ></div>
        </div>
      </div>
     </div>
 </div>

 <!---modal mon hoc -->

 <div class="modal fade modalCenter" id="monhocs" role="dialog">
    <div class="modal-dialog" style="width:95%">
      <!-- Modal content-->
      <div class="modal-content" style="background: #e5e5e5;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>     
        <div class="row">
        <div class="col-sm-12" style="width:100%" id="danhsachmonhoc"></div>
        </div>
      </div>
     </div>
 </div>


 <!---modal So chủ nhiệm -->

 <div class="modal fade modalCenter" id="sochunhiem" role="dialog">
    <div class="modal-dialog" style="width:95%">
      <!-- Modal content-->
      <div class="modal-content" style="background: #e5e5e5;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>     
        <div class="row">
        <div class="col-sm-12" style="width:100%" id="soCN"></div>
        </div>
      </div>
     </div>
 </div>
  

 <!---modal sổ bộ môn-->

 <div class="modal fade modalCenter" id="sobomon" role="dialog">
    <div class="modal-dialog" style="width:95%">
      <!-- Modal content-->
      <div class="modal-content" style="background: #e5e5e5;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>     
        <div class="row">
        <div class="col-sm-12" style="width:100%" id="soBM"></div>
        </div>
      </div>
     </div>
 </div>


  <!---modal phản hồi của phụ huynh học sinh-->

 <div class="modal fade modalCenter" id="phuHuynhPH" role="dialog">
    <div class="modal-dialog" style="width:95%">
      <!-- Modal content-->
      <div class="modal-content" style="background: #e5e5e5;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>     
        <div class="row">
        <div class="col-sm-12" style="width:100%" id="phuhuynhphanhoi"></div>
        </div>
      </div>
     </div>
 </div>