﻿@model VnEduPlus.Models.LopThongTu58
<script type="text/javascript">

    function XepLoaiCaLop() {
        var MaHocSinhs = "";
        $("input[name=MaHocSinhs]").each(function () {
            MaHocSinhs = MaHocSinhs + "," + $(this).val();
        });
        XepLoaiHS(MaHocSinhs);
    }

    function XepLoaiHS(maHocSinh) {

        var malop = document.getElementById("malop").value;
        var mahocky = document.getElementById("MaHocKy").value;
        var namhoc = document.getElementById("namhoc").value;
        var idTruong = document.getElementById("idtruong").value;

        $("body").addClass("loading");
        $.ajax({
            cache: false,
            type: "POST",
            url: '@Url.Action("XeploaiThongtu58", "Thongke")',
            data: { malop: malop, namhoc: namhoc, idTruong: idTruong, hocky: mahocky, MaHocSinhs: maHocSinh },
            success: function (data) {
                $.each(data, function (i, itemData) {
                    $("#TB" + itemData.MaHocSinh).html(itemData.TBHK);
                    $("#XL" + itemData.MaHocSinh).html(itemData.XepLoai);
                });
                $("body").removeClass("loading");

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve specification options.')
                $("body").removeClass("loading");
            }
        });

    }
     
</script>
<style type="text/css">
    table
    {
	border-collapse:collapse;
    }

    table td
    {
        border: 1px solid #0c0c0c;
	height: 20px;
    }

    tr{
	
}

tr.hang:hover{
	background: #d7d8d8;

}

	td.cot:hover{
	background: #6ec6f8;
	cursor: pointer;
}
</style>
@{
    if (ViewBag.exportExcel != null && ViewBag.exportExcel == true)
    {
        Layout = "~/Views/Shared/_LayoutExcel.cshtml";
    }
}
<body >

</body>
<table width="100%" border="0" style="font-size: 11px; font-family: arial;">

	<tr>

        <td style="border: 0;" colspan=29>
             <strong>@ViewBag.hocky </strong> - <strong>@ViewBag.tenkhoi </strong> - Lớp: <strong>@ViewBag.tenlop </strong>
        </td>
 
    </tr>
	    <tr>
	     @{if (ViewBag.hk == "CN")
       {
    <td colspan=29>
                  &nbsp;&nbsp;- Được lên lớp: @ViewBag.tonghsLL
                  <br />
                  &nbsp;&nbsp;- Ở lại lớp : @ViewBag.tonghsOL
                  <br />
                  &nbsp;&nbsp;- Được lên lớp sau khi kiểm tra lại các môn học hoặc rèn luyện hè : @ViewBag.tonghsLLSauThiLai  học sinh;
	</td>
       }}
	</tr>
	
    <tr>
        <td style="width: 40px;" align="center">
            <strong>STT</strong>
        </td>
        <td style="width: 180px;" align="center">
            <strong>H&#7885; T&ecirc;n </strong>
        </td>
        <td style="width: 100px;" align="center">
            <strong>Ng&agrave;y sinh </strong>
        </td>
        @foreach (var mon in Model.DsMon)
        {
            <td style="width: 30px;" align="center">
                <strong>@mon.Tenmonhoc</strong>
            </td>
        }
        <td style="width: 40px;" align="center">
            <strong>TB các môn</strong>
        </td>
       
         @{if (ViewBag.hk=="CN"){
        <td style="width: 40px;" align="center">
          <strong> Điểm Các môn thi lại</strong>
        </td>  
          }}
        <td style="width: 40px; font-weight: bold" align="center">Xếp loại HK</td>
        <td style="width: 40px; font-weight: bold" align="center">Xếp loại HL</td>
         <td style="width: 40px;" align="center">
            <strong>Kết quả xếp loại </strong>
        </td>
        <td style="width: 40px; font-weight: bold" align="center">Số ngày nghỉ (CP/KP)</td>
        @{if (ViewBag.hk=="CN"){
              
          <td style="width: 40px; font-weight: bold" align="center">Lên Lớp</td>    
          <td style="width: 40px; font-weight: bold" align="center">Ở lại-TL</td>
          
          <td style="width: 40px; font-weight: bold" align="center">Xếp loại HL lại</td>    
          <td style="width: 40px; font-weight: bold" align="center">Xếp loại HK lại</td>
          <td style="width: 40px; font-weight: bold" align="center">Ở lại lên lớp</td>
          <td style="width: 40px; font-weight: bold" align="center">Danh Hiệu</td>
          <td style="width: 40px; font-weight: bold" align="center">Tổng hợp chung</td>    
            
          } 
            }

             
    </tr>
    <tr><td colspan=29></td>

    </tr>
    @foreach (var item in Model.KQHT)
    {
        bool canXepLoai = true;
        <tr class="hang">
            <td style="text-align: center;">@item.stt
            </td>
            <td>&nbsp; &nbsp; @item.Hoten
            </td>
            <td style="text-align: center;">@string.Format("{0:dd/MM/yyyy}", item.Ngaysinh)
            </td>
            @foreach (var mon in Model.DsMon)
            {
                var dtbm = item.DtbMons.ToList().Where(dtb => dtb.MaMon == mon.Mamonhoc).FirstOrDefault();
                if (dtbm != null)
                {
                    if (string.IsNullOrWhiteSpace(dtbm.Dtb))
                    {
                        canXepLoai = false;
                    }
                    <td class="cot" align="center">
                        @*@dtbm.Dtb*@
                       @* @(string.IsNullOrEmpty(item.CheckXepLoai) ?  : (item.CheckXepLoai == "KXL" ? "--" : dtbm.Dtb))*@
                        @(item.CheckXepLoai == "" ? ((string.IsNullOrWhiteSpace(item.XepLoai) || item.XepLoai.ToString().Equals("ChuaXL")) ? "--" : dtbm.Dtb) : (item.CheckXepLoai.Equals("KXL")) ? "--" : dtbm.Dtb)
                    </td>
                }
                else
                {
                    canXepLoai = false;
                    <td>
                    </td>
                }
            }
                 @{
            string IdTBHK = "TB" + item.MaHocSinh;
            string IdXepLoai = "XL" + item.MaHocSinh;          
            }
            <td class="cot" align="center" id="@IdTBHK">
                
                @(item.CheckXepLoai == "" ? ((string.IsNullOrWhiteSpace(item.XepLoai) || item.XepLoai.ToString().Equals("ChuaXL")) ? "--" : item.TBHK) : (item.CheckXepLoai.Equals("KXL")) ? "--" : item.TBHK)
            </td>
             @{if (ViewBag.hk=="CN"){
             
                 
            <td style="text-align: center;">
              @{  string diemthilai = "";
                  foreach (var dmtl in item.listMonThiLai)
                  {
                      if (dmtl.DTL != null && dmtl.DTL.Length > 0)
                      {
                          diemthilai += dmtl.maMon + ":" + dmtl.DTL + ",";
                      }
                  } 
                       <text>@diemthilai</text>                      
               }
               
            </td>  
             }
             }
            <td class="cot" style="text-align: center;">@{
                 
                if (item.maHanhKiem != null)
                  { 
                         @item.maHanhKiem.ToUpper()
                     
                  }
         
           }  
                </td>
            <td class="cot" style="text-align: center;">@{
                
                if (item.HocLuc != null){
                     
                          
                          @(string.IsNullOrEmpty(item.CheckXepLoai) ? ((string.IsNullOrWhiteSpace(item.XepLoai) || item.XepLoai.ToString().Equals("ChuaXL")) ? "--" : item.HocLuc.ToUpper()) : (item.CheckXepLoai.Equals("KXL")) ? "--" : item.HocLuc.ToUpper())
                     
                }
                
                }           
            </td>
                 
            
            <td class="cot" style="text-align: center;" id="@IdXepLoai">
                 
                @(string.IsNullOrEmpty(item.CheckXepLoai) ? ((string.IsNullOrWhiteSpace(item.XepLoai) || item.XepLoai.ToString().Equals("ChuaXL")) ? "--" : item.XepLoai) : (item.CheckXepLoai.Equals("KXL")) ? "--" : item.XepLoai)
            </td>
            
            <td class="cot" style="text-align: center;">
                @item.soNgayCP.ToString()/@item.soNgayKP

            </td>
             @{if (ViewBag.hk == "CN")
               {
              
                <td> 
                     @if (item.lenLop != null)
                        {
                            @(string.IsNullOrEmpty(item.CheckXepLoai) ? ((string.IsNullOrWhiteSpace(item.lenLop) || item.lenLop.ToString().Equals("ChuaXL")) ? "--" : item.XepLoai) : (item.CheckXepLoai.Equals("KXL")) ? "--" : item.lenLop)
                        }
              
                </td>    
                 
                <td> 
                     
                 @if (item.lenLop != null)
                 {
                            @(string.IsNullOrEmpty(item.CheckXepLoai) ? ((string.IsNullOrWhiteSpace(item.lenLop) || item.lenLop.ToString().Equals("ChuaXL")) ? "--" : item.XepLoai) : (item.CheckXepLoai.Equals("KXL")) ? "--" : item.lenLop)
                 }
              
 
                  </td> 
                <td style="width: 40px; font-weight: bold" align="center"> 
                
                  @if (item.XLHLLai != null)
                 {
                            @(string.IsNullOrEmpty(item.CheckXepLoai) ? ((string.IsNullOrWhiteSpace(item.XLHLLai) || item.XLHLLai.ToString().Equals("ChuaXL")) ? "--" : item.XLHLLai) : (item.CheckXepLoai.Equals("KXL")) ? "--" : item.XLHLLai)
                 }
                
                </td>    
              <td style="width: 40px; font-weight: bold" align="center"> 
                @if (item.XLHKlai != null)
                 {
                            @(string.IsNullOrEmpty(item.CheckXepLoai) ? ((string.IsNullOrWhiteSpace(item.XLHKlai) || item.XLHKlai.ToString().Equals("ChuaXL")) ? "--" : item.XLHKlai) : (item.CheckXepLoai.Equals("KXL")) ? "--" : item.XLHKlai)
                 }
              
              </td>
              <td style="width: 40px; font-weight: bold" align="center">
                 @if (item.xeplaiOlaiLenLop != null)
                 {
                         @(string.IsNullOrEmpty(item.CheckXepLoai) ? ((string.IsNullOrWhiteSpace(item.xeplaiOlaiLenLop) || item.xeplaiOlaiLenLop.ToString().Equals("ChuaXL")) ? "--" : item.XepLoai) : (item.CheckXepLoai.Equals("KXL")) ? "--" : item.xeplaiOlaiLenLop)
                 }
                 </td>
                 
                 <td class="cot" style="text-align: center;"> 
                 
            @if (item.danhHieu != null)
            {
                 @(string.IsNullOrEmpty(item.CheckXepLoai) ? ((string.IsNullOrWhiteSpace(item.danhHieu) || item.danhHieu.ToString().Equals("ChuaXL")) ? "--" : item.danhHieu) : (item.CheckXepLoai.Equals("KXL")) ? "--" : item.danhHieu)
            }
                 
                 
                 </td>
                 
                 
                 <td class="cot"   style="text-align: center;"> 
                
                  </td>
                 
                 
            
               }
            
            }


        </tr>
    }
</table>