﻿@model VnEduPlus.Models.DiemdanhModel

<input type="hidden" id="nam" name="nam" value="@ViewBag.nam" />
<input type="hidden" id="thang" name="thang" value="@ViewBag.thang" />
<input type="hidden" id="songay" name="songay" value="@ViewBag.songay" />

<table width="100%" border="1">
    <tr>
        <td style="width: 5px">
        </td>
        <td style="width: 5px;">
        </td>
        @{
            string[] Thus = new string[] { "CN", "T2", "T3", "T4", "T5", "T6", "T7" };


            for (int j = 1; j <= ViewBag.songay; j++)
            {
                var index = ((int)ViewBag.ThuBD + j - 1) % 7;
                var thu = Thus[index];
            <td>@j<text><br/></text>@thu
            </td>
            }
        }
    </tr>
    @for (int i = 0; i < ViewBag.tongsohocsinh; i++)
    {
        int stt = i + 1;
        <tr>
            <td style="width: 5px">@stt
            </td>
            <td style="width: 170px;">
                @Model.ListHS[i].HoTen
                <input type="hidden"  name="MaHocSinh" value="@Model.ListHS[i].MaHocSinh" />
            
            </td>
            @for (int j = 1; j <= ViewBag.songay; j++)
            {
                //string id
                string LoaiNghi = "";
                string LydoNghi = "";
                string IdLydoNghi = "Lydo" + Model.ListHS[i].MaHocSinh + j;
                var nghihoc = Model.ListNghiHoc.Where(nh => nh.MaHocSinh == Model.ListHS[i].MaHocSinh && nh.Ngay.Day == j).SingleOrDefault();
                if (nghihoc != null)
                {
                 //   IdLydoNghi = "Lydo" + Model.ListHS[i].MaHocSinh + j;
                    LoaiNghi = nghihoc.LoaiNghi;

                    LydoNghi = nghihoc.Ghichu;
                }
                <td>
                     <input type="hidden" value="@LydoNghi"  id="@IdLydoNghi"/>
                     

                    <input type="text"  value="@LoaiNghi"  id="@Model.ListHS[i].MaHocSinh@j"
                     onchange="check(this,'@Model.ListHS[i].MaHocSinh',@j)" 
                     ondblclick="openNhapLyDo(this,'@Model.ListHS[i].MaHocSinh',@j)" 
                      name="Diemdanh"  readonly="readonly" style="width:100%;border:1px"/>
                </td>
            }
        </tr>
    
    }
</table>
